include /jade/blocks_meik.pug
include ../invo/pages_invoices.pug

ng-controller(ng-controller="InvoicesController as ng")
	+modal_info()
	+modal_simple()
	+admin_content("{{ng.ctrl.pagetitle}}")
		+pages_invoice_all()
