//- ----------------------------------------------------------------------------
//- 300 - Invoice Pages
//- -------------------

mixin pages_invoice_all()
	+pages_invoice_index
	+pages_invoice_show_one
	+pages_invoice_show_all
	+pages_invoice_create
	+pages_invoice_storno
	+pages_invoicerequest_all
	
//- 300 - Invoice Index
//- -----------------------------------
mixin pages_invoice_index()
	+page_invoice_index
	
mixin page_invoice_index()
	- locals.page = "300"
	+page_header
		.row
			+admin_tile_ma_id("1", "Rechnungen erfassen","fa-file-text-o","ng.ctrl.modules.invoices.createInvoices()","badge-blue","")
			+admin_tile_ma_id("2", "Rechnungen anzeigen","fa-files-o","ng.ctrl.modules.invoices.loadIndex()","badge-blue","")
			//- +admin_tile_ma_id("3", "Rechnungsläufe anzeigen","fa-files-o","ng.ctrl.modules.invoices.indexRequests()","badge-blue","")
		+buttonrow_1("Zurück", "back")

//- 310 - Invoice Show One
//- -----------------------------------
mixin pages_invoice_show_one
	+page_invoice_show_one

mixin page_invoice_show_one()
	- locals.page = "310"
	+page_header
		+corner_button("modules.customers.editCustomer(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_customer_show_one")
			.card-block
				h4.card-title Rechnung Nr. {{ng.ctrl.model.fields.number}}
				hr.mb-2
				+customer_card_collapse("model.fields.customer")
				.card
					.card-block
						h4 Positionen
						hr.mb-2
						table.table.table-sm
							thead
								tr
									th Datum
									th Bezeichnung
									th Dauer
									th Betrag
							tbody
								tr(ng-repeat="pos in ng.ctrl.model.fields.invoicepositions track by $index")
									td {{ng.ctrl.dateString(pos.date)}}
									td 
										ng-if(ng-if="pos.tariff == '590'") {{pos.tariffposition_title}}
										ng-if(ng-if="pos.tariff == '999'") {{pos.title}}
									td {{pos.duration}} min.
									td CHF {{pos.price.toFixed(2)}}
								//-span(ng-if="0" ng-repeat-end)
							tfoot
								tr
									td(colspan="4") 
										b Total: 
										| CHF {{ng.ctrl.model.fields.value.toFixed(2)}}
				
				.card
					.card-block
						+showonly_div("Rechnungsdatum", "{{ng.ctrl.model.fields.date}}", "fa-calendar")
						+showonly_div("Status", "{{ng.ctrl.modules.invoices.statusLabel(ng.ctrl.model.fields.status)}}", "fa-info-circle")
						+pdfdownloadbutton("modules.invoices.invoiceDownloadSrc('file')", "PDF Rechnung")
						ng-if(ng-if="ng.ctrl.model.fields.status == 're1' || ng.ctrl.model.fields.status == 're2'")
							+pdfdownloadbutton("modules.invoices.invoiceDownloadSrc('file_reminder_1')", "PDF Erste Mahnung")
						ng-if(ng-if="ng.ctrl.model.fields.status == 're2'")
							+pdfdownloadbutton("modules.invoices.invoiceDownloadSrc('file_reminder_2')", "PDF Zweite Mahnung")
					//-
						.card(ng-repeat="part in booking.bookingparts track by $index")
							.card-block
								h4 Leistung {{$index + 1}}
								hr.mb-2
								+select_input_int_repeat("Tarif", "tariff", "productTariffs", "label", "bookingparts")
								// +number_input_repeat("Tarif", "tariff", "bookingparts")
								span(ng-show="ng.ctrl.model.fields.bookingparts[$index].tariff == 590")
									+select_input_int_repeat("Tarifposition", "tariffposition_id", "modules.bookings.tariffpositions", "label", "bookingparts")
								span(ng-show="ng.ctrl.model.fields.bookingparts[$index].tariff == 999")
									+string_input_repeat("Tariftitel", "title", "bookingparts")
								+individual_input_changecheck_repeat("Dauer", "duration", "number", "updatePriceDuration()", "bookingparts")
								span(ng-show="ng.ctrl.settings.organization.mwst == true")
									+select_input_int_repeat("MWST", "mwst_group", "mwstGroups", "label", "bookingparts")
				//-
					+showonly_textvar_input("Geschlecht", "genderLabel(ng.ctrl.model.fields.gender)", "fa-venus-mars")
					+showonly_input_birthday("birth_day", "birth_month", "birth_year")
					+showonly_textarea_adress()
					+showonly_textvar_input("Anrede", "modules.customers.adressLabel()", "fa-comment-o")
					+showonly_input("Telefon", "phone_home", "fa-phone")
					+showonly_input("Mobile", "phone_mobile", "")
					+showonly_input("Geschäftlich", "phone_work", "")
					+showonly_input("E-Mail", "email", "fa-envelope")
					+showonly_input("Sekundäre E-Mail", "email_second", "")
					+showonly_textvar_input("Krankenkasse", "modules.customers.insuranceLabel()", "fa-medkit")
					+showonly_textarea("Bekannt durch", "known_from", "fa-group")
				
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Rechnung erneut senden", "modules.invoices.resendInvoice(ng.ctrl.model.fields)", "fa-mail-forward")
					+action_drop_position("Rechnung stornieren", "modules.invoices.stornoInvoice()", "fa-remove")
					+action_drop_position("Mahnung auslösen", "modules.invoices.remindInvoice(ng.ctrl.model.fields)", "fa-remove")
	//-
		+page_header
			+content_box_list
				+content_box("http://constey.de/wp-content/uploads/2012/03/adphoto-leer.jpg")
					+content_box_textfield_bold("{{ng.ctrl.model.fields.address}} {{ng.ctrl.model.fields.firstname}} {{ng.ctrl.model.fields.name}}")
					+content_box_textfield_label_model("Adresse", "street")
					+content_box_textfield_label("" ,"{{ng.ctrl.model.fields.zip}} {{ng.ctrl.model.fields.city}}")
					+content_box_textfield_label("Geburtstag" ,"{{ng.ctrl.model.fields.birth_day}}.{{ng.ctrl.model.fields.birth_month}}.{{ng.ctrl.model.fields.birth_year}}")
					+content_box_textfield_label_model("Email", "email")
					+content_box_textfield_label_model("Email 2", "email_2")
		// TODO: Posten der Rechnung mit Edit-Funktion
			+textblock_default("Total: {{ng.ctrl.model.fields.value}}")
			+action_dropup("Wählen Sie eine Aktion")
				+action_drop_position("Erneut senden", "ng.ctrl.editCustomer(ng.ctrl.model.fields.id)")
				+action_drop_position("Drucken", "ng.ctrl.addCustomerEvent(ng.ctrl.model.fields.id)")
				+action_drop_position("Stornieren", "")
				+action_drop_position("Mahnung auslösen", "")
			+buttonrow_1("zurück", "back")

//- 320 Invoice Show All
//- -----------------------------------
mixin pages_invoice_show_all()
	+page_invoice_show_all()

mixin page_invoice_show_all()
	- locals.page = "320"
	+page_header
		+searchblock
		+sortable_table
			+sortable_table_header
				+sortable_table_header_cell("Rechnung Nr.", "number")
				+sortable_table_header_cell("Kunde", "custname")
				+sortable_table_header_cell("Betrag", "value")
				+sortable_table_header_cell("Status", "status")
			+sortable_table_content("ng.ctrl.modules.invoices.showInvoice(tablerow.id)")
				+sortable_table_content_cell("number")
				+sortable_table_content_cell("customer_name")
				+sortable_table_content_cell("valueLabel")
				+sortable_table_content_cell("statusLabel")
		+buttonrow_1("Zurück", "back")

//- 340 - Invoice Create
//- -----------------------------------
mixin pages_invoice_create()
	+page_invoice_create_choose_bookings
	+page_invoice_create_define_print
	+page_invoice_create_confirmation_pdf

mixin page_invoice_create_choose_bookings()
	- locals.page = "340"
	+page_header
		span(ng-if="ng.ctrl.modules.invoices.invoCheckboxes.length > 0")
			+form("form", "weiter")
				.card(ng-repeat="box in ng.ctrl.modules.invoices.invoCheckboxes")
					.card-block
						h4.card-title {{box.content[0].bookings[0].customer.firstname}} {{box.content[0].bookings[0].customer.name}}
						+cb_checkbox_repeat_ngrepeat("box")
				+textblock_default("Total diese Rechnungsstellung: {{ng.ctrl.modules.invoices.choosenInvoValue().toFixed(2)}}")
		span(ng-if="ng.ctrl.modules.invoices.invoCheckboxes.length <= 0")
			+textblock_warning("Derzeit existieren keine offenen Buchungen, die verrechnet werden könnten!")
			+buttonrow_1("Zurück", "back")

mixin page_invoice_create_define_print()
	- locals.page = "341"
	+page_header
		+form_back("form", "Rechnungen erstellen")
			.card(ng-repeat="customer in ng.ctrl.model.fields.customers track by $index")
				.card-block
					h4.card-title {{customer.firstname}} {{customer.name}}
					div(ng-repeat="case in customer.cases track by $index")
						+content_box_list_form()
							+content_box_text("{{case.label}}")
							+content_box_extension()
								+checkbox_repeat("Rechnung per Mail", "customers[$parent.$index].cases[$index].sendmail", "{{$parent.$index}}_{{$index}}")
								+checkbox_repeat("Rechnung drucken", "customers[$parent.$index].cases[$index].print", "{{$parent.$index}}_{{$index}}")
			//+checkbox("Kopien für Krankenkassen drucken", "printInsuCopy")
			+checkbox("Archivkopien drucken", "printPrivCopy")

mixin page_invoice_create_confirmation_pdf()
	- locals.page = "342"
	+page_header
		+textblock_success("Die Rechnungen wurden erfolgreich erstellt und verschickt!")
		.row
			.col-xs-12
				+pdfdownloadbutton("modules.invoices.invoiceDownloadSrc('file')", "PDF Datei für Druck downloaden")
		+buttonrow_1("Ok", "cancel")

//- 360 - Invoice Delete / Storno
//- -----------------------------------
mixin pages_invoice_storno()
	+page_invoice_storno

mixin page_invoice_storno()
	- locals.page = "360"
	+page_header
		+form_wo_cardblock("form_invoice_storno")
			.card-block
				+form_message
				//-
					+cb_input_checkbox("modules.invoices.stornoCheckbox", "Welche Positionen sollen storniert werden?")
				+text_input("Bemerkung", "comment")
				+form_cta_back("Rechnung stornieren")

//- 370 - Invoicerequest Pages
//- -----------------------------------
mixin pages_invoicerequest_all()
	+page_invoicerequest_show_one
	+page_invoicerequest_show_all

mixin page_invoicerequest_show_one()
	- locals.page = "371"
	+page_header

mixin page_invoicerequest_show_all()
	- locals.page = "372"
	+page_header
