mixin md_navbar()
	nav.navbar.navbar-dark.navbar-fixed-top.scrolling-navbar
		// Collapse button
		button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#collapseEx')
			i.fa.fa-bars
		.container
			// Collapse content
			#collapseEx.collapse.navbar-toggleable-xs
				// Navbar Brand
				img.img-fluid(style="max-height: 50px",src="/admin/img/logo.png")
				// Links
			//-
				ul.nav.navbar-nav.smooth-scroll
					li.nav-item
						a.nav-link(href='#home')
							| Home 
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='#best-features') Features
					li.nav-item
						a.nav-link(href='#examples-of-use') Examples
					li.nav-item
						a.nav-link(href='#testimonials') Testimonials
					li.nav-item
						a.nav-link(href='#pricing') Pricing
					li.nav-item
						a.nav-link(href='#our-team') Team
					li.nav-item
						a.nav-link(href='#contact') Contact
				// Navbar icons
				ul.nav.navbar-nav.nav-flex-icons
					li.nav-item
						a.nav-link
							i.fa.fa-facebook
					li.nav-item
						a.nav-link
							i.fa.fa-twitter
					li.nav-item
						a.nav-link
							i.fa.fa-instagram
			// /.Collapse content
	// /.Navbar
	
mixin md_navbar_new(title)
	header.ng-tns-c3-0
		nav.navbar.navbar-dark.elegant-color.navbar-fixed-top.bg-faded
			.container
				.img-fluid.logo.logo-center
					h2.title.title-hide= title
				.user-menu
					ul.navbar-nav.mr-auto
						li.nav-item.btn-group
							a.nav-link.dropdown-toggle(aria-expanded="false" aria-haspopup="true" data-toggle="dropdown")
								i.fa.fa-user
							.dropdown-menu
								a.dropdown-item Ausloggen

mixin md_navbar_admin()
	nav.navbar.navbar-dark.elegant-color.navbar-fixed-top.bg-faded
		.container
			img.img-fluid.mx-auto(style="max-height: 50px",src="/admin/img/logo_white.png")

mixin md_navbar_admin_title(title)
	header(ng-cloak)
		nav.bb_mainnav.navbar.navbar-dark.elegant-color.double-nav.navbar-fixed-top(ng-cloak)
			.sidenav-button.hidden-lg-up(ng-if="ng.ctrl.hasSideNav()")
				a.button-collapse(href="#" data-activates="slide-out" style="cursor: pointer;")
					i.fa.fa-bars
			.img-fluid.logo.logo-left.hidden-md-down(ng-if="ng.ctrl.hasSideNav() == false" style="cursor: pointer; width: 80%; margin:auto;" ng-click="ng.ctrl.gotoDesktop()")
				h2(ng-cloak).title.hidden-md-down.title-show=title
			.img-fluid.logo.logo-left.hidden-md-down(ng-if="ng.ctrl.hasSideNav() == true" style="cursor: pointer; width: 80%; margin:auto; background:none !important;" ng-click="ng.ctrl.gotoDesktop()")
				h2(ng-cloak).title.hidden-md-down.title-show=title
			.img-fluid.logo-middle.hidden-lg-up(style="cursor: pointer; width: 70%; margin:auto;" ng-click="ng.ctrl.gotoDesktop()")
			.user-menu.hidden-md-down(ng-cloak)
				| {{ng.ctrl.appVersion()}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
				a(style="cursor: pointer;" ng-click="ng.ctrl.logout()")
					i.fa.fa-sign-out(aria-hidden="true")
					| &nbsp;Abmelden
			.user-menu.hidden-lg-up
				a(style="cursor: pointer;" ng-click="ng.ctrl.logout()")
					i.fa.fa-sign-out(aria-hidden="true")

mixin md_navbar_admin_title_meik(title)
	nav.navbar.navbar-fixed-top.navbar-dark.elegant-color.scrolling-navbar.toggleable-sm
		.container.row
			.col-xs-3.col-md-2
				img.img-fluid(src="/admin/img/logo_white.png")
			.col-xs-6.col-md-8.text-xs-center
				h3(style="color: white; margin-top: 10px; font-weight: bold;")=title
			.col-xs-3.col-md-2
