<div class="description">
  <h2 class="h2-responsive wow fadeInLeft">{{'PAGE.LOGIN.LOGIN-INFO-FORM.TITLE'|translate}}</h2>
  <hr class="hr-dark wow fadeInLeft"/>
  <p class="wow fadeInLeft" data-wow-delay="0.4s">{{'PAGE.LOGIN.LOGIN-INFO-FORM.DESCRIPTION'|translate}}</p>
  <br/>
  <a href="http://www.bluebamboo.ch" class="btn btn-outline-white btn-lg wow fadeInLeft" data-wow-delay="0.7s">{{'PAGE.LOGIN.LOGIN-INFO-FORM.INFORMATION'|translate}}</a>
</div>
