<div [@animationSequence]="animationBinding"
     (@animationSequence.start)="onAnimationProgressChange(true)"
     (@animationSequence.done)="onAnimationProgressChange(false)"
      #animationElement class="snackbar">
  <div class="animationContainer"
       [ngClass]="{'danger-color': getTemper('danger'),
                    'info-color': getTemper('info'),
                    'warning-color': getTemper('warning'),
                    'success-color': getTemper('sucess'),
                    'stylish-color': getTemper('depressed')
                  }" #container>
    <div id="snackInjected">
      <div class="snackHeader">
        <ng-content select=".snack-header"></ng-content>
      </div>
      <div class="snackBody">
        <ng-content select=".snack-body"></ng-content>
      </div>
      <div class="snackControlls">
        <ng-content select=".snack-controlls"></ng-content>
      </div>
      <div class="snackFooter">
        <ng-content select=".snack-footer"></ng-content>
      </div>
    </div>
  </div>
</div>
