.snackbar {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  left: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;

  .animationContainer {
    display: block;
  }

  #snackInjected {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;

    .snackControlls {
      text-align: center;
    }

    .snackFooter{
    }

    .snackBody{
    }

    .snackBtn{
      background-color: rgba(250,250,250,0.9);
      border: 1px solid #fff;
    }
  }

  .flashed{
    -webkit-animation: flash linear 1s;
    animation: flash linear 1s;
  }

  @-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
  }

  @keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
  }

  .notDisplayed {
    display:none;
  }

  .blockDisplayed {
    display:block;
  }

}
