admin-employee-form {
  .date {
    padding: 0 15px;
  }

  .email {
    display: flex;
    flex-flow: row;

    mdb-input {
      flex-grow: 2;
    }

    .radio {
	    width: auto;
  	  height: 3.45rem;
      padding: 0.5rem 0.75rem;
      background-color: #e0e0e0;
      display:flex;
      justify-content:center;
      align-items:center;
    }

    .radio label {
      position: relative;
      padding: 0;
      cursor: pointer;
      display: inline-block;
      height: 1.1rem;
      width: 1.5rem;
      line-height: 25px;
      font-size: 1rem;
    }

    .text {
      font-weight: normal;
      width: auto;
	    height: 3.45rem;
      padding: 0.5rem 0.75rem;
      background-color: rgb(204, 204, 204);
      display:flex;
      justify-content:center;
      align-items:center;
      font-family: Roboto,sans-serif;
      font-size: 1rem;
    }
  }

  .table-list {
    td.icon {
      border-top: 0;
      width: 20px;
    }

    td.title {
      border-top: 0;
      border-bottom: 1px solid #d3d3d3;
    }
  }

  common-card-page {
    [readonly] {
      color: #55595c;
      font-weight: 600;
    }
  }
}
