<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="false">
  <mdb-photo-upload [is-edit]="true" [photo]="employee.foto" (photoChange)="onPhotoChange($event)"></mdb-photo-upload>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.SALUTATION'|translate}}" [(ngModel)]="employee.address" name=" 'employee.address' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.NAME'|translate}} *" [(ngModel)]="employee.name" name=" 'employee.name' " required></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.FIRST-NAME'|translate}} *" [(ngModel)]="employee.firstname" name=" 'employee.firstname' " required></mdb-input>
  <mdb-select title="{{'PAGE.EMPLOYEE-FORM.FORM.GENDER'|translate}}" [(ngModel)]="employee.gender" name=" 'employee.gender' ">
    <mdb-select-item title="{{'PAGE.EMPLOYEE-FORM.FORM.GENDER-MAN'|translate}}" code="male"></mdb-select-item>
    <mdb-select-item title="{{'PAGE.EMPLOYEE-FORM.FORM.GENDER-WOMAN'|translate}}" code="female"></mdb-select-item>
  </mdb-select>
  <div class="md-form">
    <div class="row date">
      <div class="col-md-3">
        <label>{{'PAGE.EMPLOYEE-FORM.FORM.BIRTH'|translate}}</label>
      </div>
      <div class="col-md-3">
        <div class="md-form">
          <input class="form-control" type="number" [(ngModel)]="employee.birth_day" placeholder="{{'PAGE.EMPLOYEE-FORM.FORM.BIRTH_DAY'|translate}}"
            name=" 'employee.birth_day' "  max="31" min="1">
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form">
          <input class="form-control" type="number" [(ngModel)]="employee.birth_month" placeholder="{{'PAGE.EMPLOYEE-FORM.FORM.BIRTH_MONTH'|translate}}"
            max="12" min="1" name=" 'employee.birth_month' ">
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form">
          <input class="form-control" type="number" [(ngModel)]="employee.birth_year" placeholder="{{'PAGE.EMPLOYEE-FORM.FORM.BIRTH_YEAR'|translate}}"
            max="2100" min="1900" name=" 'employee.birth_year' ">
        </div>
      </div>
    </div>
  </div>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.ADDRESS-LINE'|translate}}" [(ngModel)]="employee.address_line" name=" 'employee.address_line' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.STREET'|translate}}" [(ngModel)]="employee.street" name=" 'employee.street' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.ZIP'|translate}}" [(ngModel)]="employee.zip" name=" 'employee.zip' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.CITY'|translate}}" [(ngModel)]="employee.city" name=" 'employee.city' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.STATE'|translate}}" [(ngModel)]="employee.state" name=" 'employee.state' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.COUNTRY'|translate}}" [(ngModel)]="employee.country" name=" 'employee.country' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.PRIVATE'|translate}}" [(ngModel)]="employee.phone_home" name=" 'employee.phone_home' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.MOBILE'|translate}}" [(ngModel)]="employee.phone_mobile" name=" 'employee.phone_mobile' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.WORK'|translate}}" [(ngModel)]="employee.phone_work" name=" 'employee.phone_work' "></mdb-input>
  <div class="email">
    <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIVATE'|translate}}" [(ngModel)]="employee.email" name=" 'employee.email' "></mdb-input>
    <div class="text" *ngIf="employee.email_primary == 1">{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIMARY'|translate}}</div>
    <div class="radio">
      <input name="group1" type="radio" id="radio1" value="1" [checked]="employee.email_primary == 1" (click)="employee.email_primary=1;">
      <label for="radio1"></label>
    </div>
  </div>
  <div class="email">
    <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.SECOND'|translate}}" [(ngModel)]="employee.email_2" name=" 'employee.email_2' "></mdb-input>
    <div class="text" *ngIf="employee.email_primary == 2">{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIMARY'|translate}}</div>
    <div class="radio">
      <input name="group1" type="radio" id="radio2" value="2" [checked]="employee.email_primary == 2" (click)="employee.email_primary=2;">
      <label for="radio2"></label>
    </div>
  </div>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.AHV'|translate}}" [(ngModel)]="employee.ahv" name=" 'employee.ahv' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.ZSR'|translate}}" [(ngModel)]="employee.zsr" name=" 'employee.zsr' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.EGK'|translate}}" [(ngModel)]="employee.egk" name=" 'employee.egk' "></mdb-input>
  <div class="text-left mt-2 mb-2">
    <mdb-checkbox title="{{'PAGE.EMPLOYEE-FORM.FORM.HASTARIFF590'|translate}}" [(ngModel)]="employee.hasTariff590" name=" 'employee.hasTariff590' "></mdb-checkbox>
  </div>
  <div class="text-left mt-2 mb-2">
    <mdb-checkbox title="{{'PAGE.EMPLOYEE-FORM.FORM.ACTIVE'|translate}}" [(ngModel)]="employee.active" name=" 'employee.active' "></mdb-checkbox>
  </div>
  <common-selected
    headerName="{{'PAGE.EMPLOYEE-FORM.FORM.LOCATION'|translate}}"
    [list]="locations"
    [(ngModel)]="selectedLocations"
    [selectFirst] = "!this.employee.id"
    [name]=" 'selectedLocations' ">
  </common-selected>
  <common-selected
    headerName="{{'PAGE.EMPLOYEE-FORM.FORM.PRODUCT'|translate}}"
    [list]="products"
    [selectFirst] = "!this.employee.id"
    [(ngModel)]="selectedProducts"
    [name]=" 'selectedProducts' ">
  </common-selected>
  <!--mdb-textarea title="{{'PAGE.EMPLOYEE-FORM.FORM.EXPERIENCE'|translate}}" [(ngModel)]="employee.experience"></mdb-textarea>
  <mdb-textarea title="{{'PAGE.EMPLOYEE-FORM.FORM.SPECIALTY'|translate}}" [(ngModel)]="employee.specialty"></mdb-textarea>
  <mdb-textarea title="{{'PAGE.EMPLOYEE-FORM.FORM.CAREER'|translate}}" [(ngModel)]="employee.career"></mdb-textarea-->
</common-form>
<common-card-page *ngIf="isView && employee.id">
  <mdb-photo-upload [photo]="employee.foto"></mdb-photo-upload>
  <h4 class="card-title">{{employee.address}} {{employee.firstname}} {{employee.name}}</h4>
  <hr class="mb-2" />
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.GENDER'|translate}}"
    readonly="true"
    icon="prefix active fa fa-venus-mars"
    [ngModel]="genderText|translate">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.BIRTH'|translate}}"
    readonly="true"
    icon="prefix fa fa-birthday-cake"
    [ngModel]="birthdayText">
  </mdb-input>
  <mdb-textarea
    title="{{'PAGE.EMPLOYEE-FORM.FORM.ADDRESS'|translate}}"
    icon="fa fa-map-marker prefix active"
    readonly=true
    [ngModel]="employee|address">
  </mdb-textarea>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.PRIVATE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-phone"
    [ngModel]="employee.phone_home">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.MOBILE'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="employee.phone_mobile">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.WORK'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="employee.phone_work">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIVATE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-envelope"
    [ngModel]="(employee.email || '') + (employee.email_primary === 1 ? (' (' + ('PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIMARY'|translate) + ')') : '')">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.SECOND'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="(employee.email_2 || '') + (employee.email_primary === 2 ? (' (' + ('PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIMARY'|translate) + ')') : '')">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.AHV'|translate}}"
    readonly="true"
    icon="prefix active fa fa-address-card-o"
    [ngModel]="employee.ahv">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.ZSR'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="employee.zsr">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.EGK'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="employee.egk">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.IS_ACTIVE.TITLE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-info-circle"
    [ngModel]="('PAGE.EMPLOYEE-FORM.FORM.IS_ACTIVE.' + (employee.active ? 'YES' : 'NO'))|translate">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.EMPLOYEE-FORM.FORM.IS_TARIFF590.TITLE'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="('PAGE.EMPLOYEE-FORM.FORM.IS_TARIFF590.' + (employee.hasTariff590 ? 'YES' : 'NO'))|translate">
  </mdb-input>
  <h3 class="mt-2 h3-responsive">{{'PAGE.EMPLOYEE-FORM.FORM.PRODUCTS'|translate}}:</h3>
  <hr class="mb-2" />
  <table class="table table-sm table-list" *ngIf="viewProducts.length">
    <tbody>
    <tr *ngFor="let product of viewProducts">
      <td class="text-left align-top icon">
          <span class="fa-stack fa-lg text-primary">
            <i class="fa fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse fa-signing"></i>
          </span>
      </td>
      <td class="align-middle title">
        {{product.title}}
        <br/>
        <small>{{(product.duration || '0')|valuePrefix:('PAGE.EMPLOYEE-FORM.FORM.MIN'|translate)}}, {{(product.price || 0).toFixed(2)|valuePrefix:('PAGE.EMPLOYEE-FORM.FORM.CHF'|translate)}}</small>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="!viewProducts.length">{{'PAGE.EMPLOYEE-FORM.FORM.NO_PRODUCTS'|translate}}</p>
  <h3 class="mt-2 h3-responsive">{{'PAGE.EMPLOYEE-FORM.FORM.LOCATIONS'|translate}}:</h3>
  <hr class="mb-2" />
  <table class="table table-sm table-list" *ngIf="viewLocations.length">
    <tbody>
    <tr *ngFor="let location of viewLocations">
      <td class="text-left align-top icon">
          <span class="fa-stack fa-lg text-primary">
            <i class="fa fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse fa-map-marker"></i>
          </span>
      </td>
      <td class="align-middle title">
        {{location.title}}
        <br/>
        <small>{{location.street}}, {{location.zip}} {{location.city}}</small>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="!viewLocations.length">{{'PAGE.EMPLOYEE-FORM.FORM.NO_LOCATIONS'|translate}}</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
          <!--<a class="dropdown-item" (click)="delete()">
            <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;Delete
          </a>-->
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
