<div class="card-wrapper">
  <div class="card-rotating effect__click" [class.flipped]="flipped">
    <div class="face front">
      <ng-content select="[front]"></ng-content>
    </div>
    <div class="face back">
      <ng-content select="[back]"></ng-content>
    </div>
  </div>
</div>
