<div class="card-wrapper desktop-tile" (click)="click()">
  <div class="card-rotating effect__click">
    <div class="face front card">
      <div class="card-up grey lighten-4"><i class="align-middle fa fa-3x" (click)="click()" [ngClass]="module.icon + ' ' + module.color"></i>
        <h4 class="text-xs-center" [innerHtml]="'PAGE.DESKTOP.MODULE.ITEMS.'+module.code+'.TITLE'|translate"></h4>
      </div>
      <div class="content">
        <div class="hidden-xs-down text-xs-center">
          <p [innerHtml]="'PAGE.DESKTOP.MODULE.ITEMS.'+module.code+'.DESCRIPTION'|translate"></p>
        </div>
        <div class="text-xs-center"><a class="btn btn-sm btn-primary waves-effect" (click)="click()">{{'PAGE.DESKTOP.MODULE.ACTION'|translate}}</a></div>
      </div>
    </div>
  </div>
</div>
