admin-desktop-module {

  @media only screen and (max-width : 540px) {
    .desktop-tile {
      height: 14em;
      cursor: pointer;

      i {
        font-size: 2em;
      }

      h4 {
        min-height: 3em;
        font-size: 1.25em;
      }

      p {
        min-height: 0em;
      }

      a {
        margin-top: 3em;
      }

      .card-up {
        line-height: 4em;
      }
    }
  }

  @media only screen and (min-width : 541px) and (max-width: 720px) {
    .desktop-tile {
      height: 24em;
      cursor: pointer;

      i {
        font-size: 3em;
      }

      h4 {
        min-height: 3em;
        font-size: 1.8em;
      }

      p {
        min-height: 4em;
      }

      a {
        margin-top: 3em;
      }

      .card-up {
        line-height: 8em;
      }
    }
  }

  @media only screen and (min-width : 721px) and (max-width: 960px) {
    .desktop-tile {
      height: 30em;
      cursor: pointer;

      i {
        font-size: 4em;
      }

      h4 {
        min-height: 3em;
        font-size: 1.3em;
      }

      p {
        min-height: 7em;
      }

      a {
        margin-top: 2em;
      }

      .card-up {
        line-height: 10em;
      }
    }
  }

  @media only screen and (min-width : 961px) and (max-width: 1140px) {
    .desktop-tile {
      height: 24em;
      cursor: pointer;

      i {
        font-size: 4em;
      }

      h4 {
        min-height: 3em;
        font-size: 1.3em;
      }

      p {
        min-height: 6em;
      }

      a {
        margin-top: 3em;
      }

      .card-up {
        line-height: 10em;
      }
    }
  }

  @media only screen and (min-width : 1141px) {
    .desktop-tile {
      height: 30em;
      cursor: pointer;

      i {
        font-size: 4em;
      }

      h4 {
        min-height: 5em;
        font-size: 1.5em;
      }

      p {
        min-height: 5em;
      }

      a {
        margin-top: 3em;
      }

      .card-up {
        line-height: 10em;
      }
    }
  }
}
