<common-form [hidden]="isView" (back)="back()" (save)="save()" [can-delete]="false">
  <div class="mb-2">
    <common-customer-card [customer]="_case.customer"></common-customer-card>
  </div>
  <mdb-input title="{{'PAGE.CASE-FORM.FORM.TITLE'|translate}}" [(ngModel)]="_case.title" name="title" required></mdb-input>
  <mdb-select title="{{'PAGE.CASE-FORM.FORM.TYPE'|translate}}" [options]="typeList" [(ngModel)]="_case.type" name="type"></mdb-select>
  <mdb-input-datepicker [hidden]="_case.type != 2" title="{{'PAGE.CASE-FORM.FORM.ACCIDENT-DATE'|translate}}" [(ngModel)]="_case.accident_date" name="accident_date"></mdb-input-datepicker>
  <mdb-select title="{{'PAGE.CASE-FORM.FORM.PAYMENT-TYPE'|translate}}" [options]="paymentTypeList" [(ngModel)]="_case.payment_type" name="payment_type"></mdb-select>
  <mdb-select title="{{'PAGE.CASE-FORM.FORM.LAW'|translate}}" [options]="lawList" [(ngModel)]="_case.law" name="law"></mdb-select>
  <mdb-select title="{{'PAGE.CASE-FORM.FORM.THERAPY-TYPE'|translate}}" [options]="therapyTypeList" [(ngModel)]="_case.therapy_type" name="therapy_type"></mdb-select>
  <mdb-select title="{{'PAGE.CASE-FORM.FORM.DIAGNOSIS-TYPE'|translate}}" [options]="diagnosisTypeList" [(ngModel)]="_case.diagnosis_type" name="diagnosis_type"></mdb-select>
  <mdb-input title="{{'PAGE.CASE-FORM.FORM.DIAGNOSIS-TEXT'|translate}}" [(ngModel)]="_case.diagnosis_text" name="diagnosis_text"></mdb-input>
  <mdb-textarea title="{{'PAGE.CASE-FORM.FORM.COMMENT'|translate}}" [(ngModel)]="_case.comment" name="comment"></mdb-textarea>
  <mdb-textarea title="{{'PAGE.CASE-FORM.FORM.COMMENT-INVOICE'|translate}}" [(ngModel)]="_case.comment_invoice" name="comment_invoice"></mdb-textarea>
  <mdb-upload [photo]="_case.image" (photoChange)="onImageChange($event)" accept="image/*"></mdb-upload>

  <mdb-card>
    <h4 class="text-center">{{'PAGE.CASE-FORM.FORM.REFERRAL.TITLE'|translate}}</h4>
    <hr class="mt-2 mb-2" />
    <mdb-select title="{{'PAGE.CASE-FORM.FORM.REFERRAL.TYPE'|translate}}" [options]="referralTypeList" [(ngModel)]="_case.referral_type" name="referral_type"></mdb-select>
    <mdb-input title="{{'PAGE.CASE-FORM.FORM.REFERRAL.NAME'|translate}}" [(ngModel)]="_case.referral_name" name="referral_name"></mdb-input>
    <mdb-input title="{{'PAGE.CASE-FORM.FORM.REFERRAL.ZSR'|translate}}" [(ngModel)]="_case.referral_zsr" name="referral_zsr"></mdb-input>
    <mdb-input title="{{'PAGE.CASE-FORM.FORM.REFERRAL.GLN'|translate}}" [(ngModel)]="_case.referral_gln" name="referral_gln"></mdb-input>
  </mdb-card>
  <div class="text-left mt-2">
    <mdb-checkbox title="{{'PAGE.CASE-FORM.FORM.IS-OPEN'|translate}}" [(ngModel)]="_case.isOpen" name="isOpen"></mdb-checkbox>
  </div>
  <div class="text-left">
    <mdb-checkbox title="{{'PAGE.CASE-FORM.FORM.IS-CURRENT'|translate}}" [(ngModel)]="_case.isCurrent" name="isCurrent"></mdb-checkbox>
  </div>
</common-form>
<common-card-page *ngIf="isView && _case.id">
  <div class="mb-2">
    <common-customer-card [customer]="_case.customer"></common-customer-card>
  </div>
  <h4 class="card-title">{{_case.title}}</h4>
  <hr class="mb-2" />
  <mdb-input icon="prefix active fa fa-wpforms" title="{{'PAGE.CASE-FORM.FORM.TYPE'|translate}}" [ngModel]="typeText" readonly="true"></mdb-input>
  <mdb-input icon="prefix active" title="{{('PAGE.CASE-FORM.FORM.DIAGNOSIS-TEXT'|translate) + ' ' + diagnosisTypeText}}" [ngModel]="_case.diagnosis_text" readonly="true"></mdb-input>
  <mdb-input *ngIf="_case.type === 2" icon="prefix active fa fa-calendar" title="{{'PAGE.CASE-FORM.FORM.ACCIDENT-DATE'|translate}}" [ngModel]="_case.accident_date|date:'d.MM.y'" readonly="true"></mdb-input>
  <mdb-input icon="prefix active fa fa-money" title="{{'PAGE.CASE-FORM.FORM.PAYMENT-TYPE'|translate}}" [ngModel]="paymentTypeText" readonly="true"></mdb-input>
  <mdb-input icon="prefix active" title="{{'PAGE.CASE-FORM.FORM.LAW'|translate}}" [ngModel]="lawText" readonly="true"></mdb-input>
  <mdb-textarea icon="prefix fa active fa-sticky-note-o" title="{{'PAGE.CASE-FORM.FORM.COMMENT'|translate}}" [ngModel]="_case.comment" readonly="true"></mdb-textarea>
  <mdb-textarea icon="prefix active" title="{{'PAGE.CASE-FORM.FORM.COMMENT-INVOICE'|translate}}" [ngModel]="_case.comment_invoice" readonly="true"></mdb-textarea>
  <mdb-upload [is-edit]="false" [photo]="_case.image"></mdb-upload>

  <mdb-card>
    <h4 class="text-center">{{'PAGE.CASE-FORM.FORM.REFERRAL.TITLE'|translate}}</h4>
    <hr class="mt-2 mb-2" />
    <mdb-input icon="prefix active fa fa-user-md" title="{{'PAGE.CASE-FORM.FORM.REFERRAL.TYPE'|translate}}" [ngModel]="referralTypeText" readonly="true"></mdb-input>
    <mdb-input icon="prefix active" title="{{'PAGE.CASE-FORM.FORM.REFERRAL.NAME'|translate}}" [ngModel]="_case.referral_name" readonly="true"></mdb-input>
    <mdb-input icon="prefix active" title="{{'PAGE.CASE-FORM.FORM.REFERRAL.ZSR'|translate}}" [ngModel]="_case.referral_zsr" readonly="true"></mdb-input>
    <mdb-input icon="prefix active" title="{{'PAGE.CASE-FORM.FORM.REFERRAL.GLN'|translate}}" [ngModel]="_case.referral_gln" readonly="true"></mdb-input>
  </mdb-card>
  <div class="text-left mt-2">
    <mdb-checkbox icon="prefix active fa fa-folder-open-o" title="{{'PAGE.CASE-FORM.FORM.IS-OPEN'|translate}}" [ngModel]="_case.isOpen" readonly="true"></mdb-checkbox>
  </div>
  <div class="text-left">
    <mdb-checkbox icon="prefix active fa fa-clock-o" title="{{'PAGE.CASE-FORM.FORM.IS-CURRENT'|translate}}" [ngModel]="_case.isCurrent" readonly="true"></mdb-checkbox>
  </div>
  <h3 class="mt-2 h3-responsive">{{'PAGE.CASE-FORM.FORM.BOOKINGS'|translate}}</h3>
  <hr class="mb-2" />
  <table class="table table-sm table-list" *ngIf="_case.bookings.length">
    <tbody>
      <tr *ngFor="let item of _case.bookings" (click)="goToReport(item.id, item.report_id)">
        <td class="text-left align-top icon">
          <span class="fa-stack fa-lg" ngClass="{{item.report_id ? 'text-primary' : 'text-grey'}}">
            <i class="fa fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse fa-calendar"></i>
          </span>
        </td>
        <td class="align-middle title">{{item.date|date:'dd.MM.y'}}: {{item.title}}</td>
        <td class="text-right align-middle action">
          <i class="fa fa-chevron-right" *ngIf="item.report_id"></i>
          <i class="fa fa-plus" *ngIf="!item.report_id"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!_case.bookings.length">{{'PAGE.CASE-FORM.FORM.NO-BOOKINGS'|translate}}</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>

