app-case-form {
  .table-list {
    td.icon {
      border-top: 0;
      width: 20px;
    }

    td.title {
      border-top: 0;
      border-bottom: 1px solid #d3d3d3;
    }

    td.action {
      width: 20px;
      border-top: 0;
      border-bottom: 1px solid #d3d3d3;
    }
  }

  common-card-page {
    [readonly] {
      color: #55595c;
      font-weight: 600;
    }
  }
}
