include /jade/blocks_meik.pug
include ../organization/pages_organization.pug

ng-controller(ng-controller="OrganizationController as ng")
	+admin_content("{{ng.ctrl.pagetitle}}")
		+ng_conditional_page_header("1")
			+page_organization_edit
