//- ----------------------------------------------------------------------------
//- 500 - Organization Pages
//- -------------------

mixin page_organization_edit()
	+form("form", "speichern")
		+string_input("Name", "name")
		+image_input("logo")
		+string_input("Zweite Adresszeile", "address_line")
		+string_input("Strasse & Nr.", "street")
		+string_input("Postleitzahl", "zip")
		+string_input("Ort", "city")
		+string_input("Kanton", "state")
		+string_input("Land", "country")
		+phone_input("Telefon", "phone")
		+email_input("E-Mail", "email")
		+string_input("IBAN", "bankaccount_iban")
		+string_input("BIC", "bankaccount_bic")
		+string_input("Bank", "bankaccount_bank")
		+string_input("Kontoinhaber", "bankaccount_owner")
		+checkbox("MWST-Pflichtig?", "mwst")
		span(ng-if="ng.ctrl.model.fields.mwst == true")
			+string_input("MWST Nr.", "mwst_nr")
		+number_input_unit("Zahlungsfrist für Rechnungen", "payment_term", "Tage", "0")
		+float_input_unit("Kosten erste Mahnung", "cost_reminder_first", "CHF", "0")
		+number_input_unit("Zahlungsfrist erste Mahnung", "payment_term_reminder_first", "Tage", "0")
		+float_input_unit("Kosten zweite Mahnung", "cost_reminder_second", "CHF", "0")
		+number_input_unit("Zahlungsfrist zweite Mahnung", "payment_term_reminder_second", "Tage", "0")
