@import "services-list/booking-services-list";

booking-place{
  .info{

    .title{
      font-weight: bold;
    }

    .stars{

    }

    .location{
      font-style: italic;
    }

    .description{
      @extend .mt-1;
      text-align: justify;
    }

    .contact{
      min-width: 200px;
      text-align: center;
    }
  }
}