<div class="container p-0 mt-2">
    <div class="row info">
        <div class="col col-md-auto">
            <a [href]="place.contact.www"><img [src]="place.image" class="img-fluid z-depth-1"></a>
        </div>
        <div class="col">
            <div class="title">{{place.name}}</div>
            <!-- <div class="stars"><stars [count]="place.stars"></stars></div> -->
            <div class="location"><i class="fa fa-map-marker"></i> {{place.location}}</div>
            <div class="description" [innerHTML]="place.description"></div>
            <div class="d-flex flex-wrap">
                <div class="contact"><a href="mailto:{{place.contact.email}}"><i class="fa fa-envelope-o"></i> {{place.contact.email}}</a></div>
                <div class="contact"><a href="tel:{{place.contact.phone}}"><i class="fa fa-phone"></i> {{place.contact.phone}}</a></div>
                <div class="contact"><a href="{{place.contact.www}}"><i class="fa fa-paperclip"></i> Mini Website</a></div>
            </div>

        </div>
    </div>
    <div class="row mt-1">
        <div class="col p-0">
            <booking-services-list [services]="place.services" ></booking-services-list>
        </div>
    </div>
</div>
