.admin-booking-row-head {
  border-bottom: solid 1px #e0e0e0;
  min-height: 57px;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    font-weight: bold;
  }

  .admin-booking-checkbox {
    font-weight: bold;
    width: 50px;
    text-align: center;

    &.twice {
      width: 100px;
    }
  }

  .admin-booking-day {
    font-weight: bold;
    width: 100px;
    text-align: center;
  }

  .admin-booking-time {
    font-weight: bold;
    flex-grow: 2;
  }

  .admin-booking-command {
    font-weight: bold;
    width: 60px;
    text-align: center;
  }
}

.admin-booking-row-data {
  min-height: 57px;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
  }

  &:nth-child(2n+1) {
    background-color: #f5f5f5;
  }

  .admin-booking-checkbox {
    width: 50px;
    text-align: center;

    &.twice {
      width: 100px;
    }
  }

  .admin-booking-day {
    width: 100px;
    text-align: center;
  }

  .admin-booking-time {
    flex-grow: 2;
    text-align: left;
  }

  .admin-booking-command {
    width: 60px;
    text-align: right;
  }
}
