<div class="md-form input-group">
  <span class="input-group-addon"><i class="fa fa-search"></i></span>
  <input type="text" class="form-control" placeholder="{{'PAGE.CUSTOMER-CONFIGURATION.SEARCH'|translate}}" aria-describedby="basic-addon1" [(ngModel)]="search">
</div>
<bb-grid (on-row-click)="gridRowClick($event)" #grid [modules]="gridModules">
  <bb-grid-column title="{{'PAGE.CUSTOMER-CONFIGURATION.NAME'|translate}}" field="name"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.CUSTOMER-CONFIGURATION.FIRST-NAME'|translate}}" field="firstname"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.CUSTOMER-CONFIGURATION.CITY'|translate}}" field="city"></bb-grid-column>
  <bb-grid-column title="Action buttons::" [cell-template] = "gridControlsTemplate" *ngIf="bookingId" >
  </bb-grid-column>
  <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
</bb-grid>
<div class="row mt-1">
  <div class="push-lg-8 col-lg-4 hidden-md-down">
    <button class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="add()">{{'PAGE.CUSTOMER-CONFIGURATION.ADD'|translate}}</button>
  </div>
  <div class="col-xs-12 col-md-4 pull-lg-4">
    <button class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.CUSTOMER-CONFIGURATION.BACK'|translate}}</button>
  </div>
</div>
<div class="fixed-action-btn hidden-md-up" style="bottom: 15px; right: 15px;">
  <a class="btn-floating btn-large primary-color waves-effect waves-light" (click)="add()">
    <i class="fa fa-plus"></i>
  </a>
</div>
<div class="fixed-action-btn hidden-lg-up hidden-sm-down" style="bottom: 15px; right: calc((100% - 450px) / 4 - 30px);">
  <a class="btn-floating btn-large primary-color waves-effect waves-light" (click)="add()">
    <i class="fa fa-plus"></i>
  </a>
</div>
