<div class="card card-block" (click)="click()">
  <button type="button" class="btn btn-primary btn-lg waves-effect" (click)="click()"><i class="fa fa-chevron-right"></i></button>
  <h4 class="card-title">{{item.title}}</h4>
  <p class="card-text">{{item.description}}</p>
</div>
