<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="location.id !== undefined">
  <mdb-input title="{{'PAGE.LOCATION-FORM.FORM.NAME'|translate}} *" [(ngModel)]="location.title" name=" 'location.title' " required></mdb-input>
  <mdb-textarea title="{{'PAGE.LOCATION-FORM.FORM.DESCRIPTION'|translate}}" [(ngModel)]="location.description" name=" 'location.description' "></mdb-textarea>
  <div class="row">
    <div class="col-12 col-md-4 push-md-8">
      <button type="button"
        class="btn btn-primary btn-block waves-effect waves-light mb-2"
        (click) = "onFillLocationData()"
        type="button">
        {{'PAGE.LOCATION-FORM.FORM.TAKE-ORG-BUTTON'|translate}}
      </button>
    </div>
    <div class="col-12 col-md-8 pull-md-4">
      <mdb-input title="{{'PAGE.LOCATION-FORM.FORM.STREET'|translate}}" [(ngModel)]="location.street" name=" 'location.street' "></mdb-input>
      <mdb-input title="{{'PAGE.LOCATION-FORM.FORM.ZIP'|translate}}" [(ngModel)]="location.zip" name=" 'location.zip' "></mdb-input>
      <mdb-input title="{{'PAGE.LOCATION-FORM.FORM.CITY'|translate}}" [(ngModel)]="location.city" name=" 'location.city' "></mdb-input>
      <mdb-input title="{{'PAGE.LOCATION-FORM.FORM.STATE'|translate}}" [(ngModel)]="location.state" name=" 'location.state' "></mdb-input>
      <mdb-input title="{{'PAGE.LOCATION-FORM.FORM.COUNTRY'|translate}}" [(ngModel)]="location.country" name=" 'location.country' "></mdb-input>
    </div>
  </div>
  <mdb-input title="{{'PAGE.LOCATION-FORM.FORM.EMAIL'|translate}}" [(ngModel)]="location.email" name=" 'location.email' "></mdb-input>
  <mdb-input title="{{'PAGE.LOCATION-FORM.FORM.PHONE'|translate}}" [(ngModel)]="location.phone" name=" 'location.phone' "></mdb-input>
</common-form>
<common-card-page *ngIf="isView && location.id">
  <h4 class="card-title">{{'PAGE.LOCATION-FORM.FORM.LOCATION'|translate}}: {{location.title}}</h4>
  <hr class="mb-2" />
  <mdb-textarea
    title="{{'PAGE.LOCATION-FORM.FORM.DESCRIPTION'|translate}}"
    icon="prefix fa active fa-group"
    readonly=true
    [ngModel]="location.description">
  </mdb-textarea>
  <mdb-textarea
    title="{{'PAGE.LOCATION-FORM.FORM.ADDRESS'|translate}}"
    icon="fa fa-map-marker prefix active"
    readonly=true
    [ngModel]="location|address">
  </mdb-textarea>
  <mdb-input
    title="{{'PAGE.LOCATION-FORM.FORM.PHONE'|translate}}"
    icon="prefix active fa fa-phone"
    readonly=true
    [ngModel]="location.phone">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.LOCATION-FORM.FORM.EMAIL'|translate}}"
    icon="prefix active fa fa-envelope"
    readonly=true
    [ngModel]="location.email">
  </mdb-input>
  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
          <a class="dropdown-item" (click)="delete()">
            <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.DELETE'|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
