<common-form (back)="back()" (save)="save()" can-delete="false">
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.NAME'|translate}} *" [(ngModel)]="organization.name" name=" 'orgName' " id="orgName"
    required>
  </mdb-input>

  <mdb-upload [photo]="organization.logo" (photoChange)="onLogoChange($event)" accept="image/*"></mdb-upload>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.ADDRESS_LINE'|translate}}" [(ngModel)]="organization.address_line" name=" 'organization.address_line' ">
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.STREET'|translate}} *" [(ngModel)]="organization.street" name=" 'organization.street' "
    required>
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.ZIP'|translate}} *" [(ngModel)]="organization.zip" name=" 'organization.zip' "
    required>
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.CITY'|translate}} *" [(ngModel)]="organization.city" name=" 'organization.city' "
    required>
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.STATE'|translate}}" [(ngModel)]="organization.state" name=" 'organization.state' "></mdb-input>
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.COUNTRY'|translate}}" [(ngModel)]="organization.country" name=" 'organization.country' "></mdb-input>
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.PHONE'|translate}}" [(ngModel)]="organization.phone" name=" 'organization.phone' "></mdb-input>
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.EMAIL'|translate}}" [(ngModel)]="organization.email" name=" 'organization.email' "></mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.BANKACCOUNT.IBAN'|translate}}" [(ngModel)]="organization.bankaccount_iban"
    name=" 'organization.bankaccount_iban' "></mdb-input>
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.BANKACCOUNT.BIC'|translate}}" [(ngModel)]="organization.bankaccount_bic"
    name=" 'organization.bankaccount_bic' "></mdb-input>
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.BANKACCOUNT.BANK'|translate}}" [(ngModel)]="organization.bankaccount_bank"
    name=" 'organization.bankaccount_bank' "></mdb-input>
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.BANKACCOUNT.OWNER'|translate}}" [(ngModel)]="organization.bankaccount_owner"
    name=" 'organization.bankaccount_owner' "></mdb-input>

  <span
    mdbTooltip
    data-trigger="manual"
    data-placement="top"
    data-animation="false"
    [show]="organization.mwst"
    title="{{'PAGE.ORGANIZATION-FORM.FORM.MWST-ALERT'|translate}}">
    <mdb-checkbox title="{{'PAGE.ORGANIZATION-FORM.FORM.MWST'|translate}}" [ngModel]="organization.mwst" (change)="onMWSTChanged(mwst)"
      class="mb-2" name=" 'organization.mwst' " #mwst>
    </mdb-checkbox>
  </span>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.MWST_NR'|translate}} *" [(ngModel)]="organization.mwst_nr" [hidden]="!isMWSTRequired"
    name=" 'organization.mwst_nr' " [required]="isMWSTRequired" #mwst_nr>
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.PAYMENT.TERM'|translate}} *" [(ngModel)]="organization.payment_term" type="number"
    name=" 'organization.payment_term' " required>
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.PAYMENT.REMINDER_FIRST'|translate}} *" [(ngModel)]="organization.payment_term_reminder_first"
    type="number" name=" 'organization.payment_term_reminder_first' " required>
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.PAYMENT.REMINDER_SECOND'|translate}} *" [(ngModel)]="organization.payment_term_reminder_second"
    type="number" name=" 'organization.payment_term_reminder_second' " required>
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.COST.REMINDER_FIRST'|translate}} *" [(ngModel)]="organization.cost_reminder_first"
    type="number" name=" 'organization.cost_reminder_first' " required>
  </mdb-input>

  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.COST.REMINDER_SECOND'|translate}} *" [(ngModel)]="organization.cost_reminder_second"
    type="number" name=" 'organization.cost_reminder_second' " required>
  </mdb-input>
</common-form>
