<common-form [hidden]="isView || !showMainScreen" (back)="back()" (save)="save()" (delete)="delete()">
  <mdb-photo-upload [is-edit]="true" [photo]="customer.foto" (photoChange)="onPhotoChange($event)"></mdb-photo-upload>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.SALUTATION.TITLE'|translate}}" [(ngModel)]="customer.address" name="address"></mdb-input>
  <div class="text-left mb-2">
    <mdb-checkbox title="{{'PAGE.CUSTOMER-FORM.FORM.SALUTATION.QUESTION'|translate}}" [(ngModel)]="customer.address_you" name="address_you"></mdb-checkbox>
  </div>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.NAME'|translate}} *" [(ngModel)]="customer.name" name="name" required></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.FIRST-NAME'|translate}} *" [(ngModel)]="customer.firstname" name="firstname" required></mdb-input>
  <mdb-select title="{{'PAGE.CUSTOMER-FORM.FORM.GENDER'|translate}}" [(ngModel)]="customer.gender" name="gender">
    <mdb-select-item title="{{'PAGE.CUSTOMER-FORM.FORM.GENDER-MAN'|translate}}" code="male"></mdb-select-item>
    <mdb-select-item title="{{'PAGE.CUSTOMER-FORM.FORM.GENDER-WOMAN'|translate}}" code="female"></mdb-select-item>
  </mdb-select>
  <div class="md-form">
    <div class="row date">
      <div class="col-md-3">
        <label>{{'PAGE.CUSTOMER-FORM.FORM.BIRTH'|translate}}</label>
      </div>
      <div class="col-md-3">
        <div class="md-form">
          <input class="form-control" type="number" [(ngModel)]="customer.birth_day" placeholder="{{'PAGE.CUSTOMER-FORM.FORM.BIRTH_DAY'|translate}}"
                 name="birth_day" max="31" min="1">
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form">
          <input class="form-control" type="number" [(ngModel)]="customer.birth_month" placeholder="{{'PAGE.CUSTOMER-FORM.FORM.BIRTH_MONTH'|translate}}"
                 max="12" min="1" name="birth_month">
        </div>
      </div>
      <div class="col-md-3">
        <div class="md-form">
          <input class="form-control" type="number" [(ngModel)]="customer.birth_year" placeholder="{{'PAGE.CUSTOMER-FORM.FORM.BIRTH_YEAR'|translate}}"
                 max="2100" min="1900" name="birth_year">
        </div>
      </div>
    </div>
  </div>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.ADDRESS-LINE'|translate}}" [(ngModel)]="customer.address_line" name="address_line"></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.STREET'|translate}}" [(ngModel)]="customer.street" name="street"></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.ZIP'|translate}}" [(ngModel)]="customer.zip" name="zip"></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.CITY'|translate}}" [(ngModel)]="customer.city" name="city"></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.STATE'|translate}}" [(ngModel)]="customer.state" name="state"></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.COUNTRY'|translate}}" [(ngModel)]="customer.country" name="country"></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.PHONE.PRIVATE'|translate}}" [(ngModel)]="customer.phone_home" name="phone_home"></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.PHONE.MOBILE'|translate}}" [(ngModel)]="customer.phone_mobile" name="phone_mobile"></mdb-input>
  <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.PHONE.WORK'|translate}}" [(ngModel)]="customer.phone_work" name="phone_work"></mdb-input>
  <div class="email">
    <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.EMAIL.PRIVATE'|translate}}" [(ngModel)]="customer.email" name="email"></mdb-input>
    <div class="text" *ngIf="customer.email_primary == 1">{{'PAGE.CUSTOMER-FORM.FORM.EMAIL.PRIMARY'|translate}}</div>
    <div class="radio">
      <input name="group1" type="radio" id="radio1" value="1" [checked]="customer.email_primary == 1" (click)="customer.email_primary=1;">
      <label for="radio1"></label>
    </div>
  </div>
  <div class="email">
    <mdb-input title="{{'PAGE.CUSTOMER-FORM.FORM.EMAIL.SECOND'|translate}}" [(ngModel)]="customer.email_second" name="email_second"></mdb-input>
    <div class="text" *ngIf="customer.email_primary == 2">{{'PAGE.CUSTOMER-FORM.FORM.EMAIL.PRIMARY'|translate}}</div>
    <div class="radio">
      <input name="group1" type="radio" id="radio2" value="2" [checked]="customer.email_primary == 2" (click)="customer.email_primary=2;">
      <label for="radio2"></label>
    </div>
  </div>
  <mdb-select
    title="{{'PAGE.CUSTOMER-FORM.FORM.INSURANCE'|translate}}"
    [options]="insuranceList"
    [(ngModel)]="customer.insurance_id">
  </mdb-select>
  <mdb-textarea
    title="{{'PAGE.CUSTOMER-FORM.FORM.KNOWN-FROM'|translate}}"
    name="known_from"
    [(ngModel)]="customer.known_from">
  </mdb-textarea>
  <div class="md-form input-group mb-0">
    <input class="form-control" type="text" style="border-bottom: 1px solid #ccc; color: #55595c; cursor: text; padding-left:0;" [value]="customer.guardian?.fullName" (click)="chooseCustomer('guardian')" readonly="readonly" />
    <span class="input-group-btn">
      <button class="btn btn-primary btn-lg px-1" type="button" (click)="chooseCustomer('guardian')">
        <i class="fa fa-chevron-right"></i>
      </button>
    </span>
    <span class="input-group-btn">
      <button class="btn btn-danger btn-lg ml-1 px-1" type="button" (click)="removeModelField('guardian')">
        <i class="fa fa-remove"></i>
      </button>
    </span>
    <label [class.active]="customer.guardian">{{'PAGE.CUSTOMER-FORM.FORM.GUARDIAN'|translate}}</label>
  </div>
  <div class="md-form input-group mb-0">
    <input class="form-control" type="text" style="border-bottom: 1px solid #ccc; color: #55595c; cursor: text; padding-left:0;" [value]="customer.caregiver?.fullName" (click)="chooseCustomer('caregiver')" readonly="readonly" />
    <span class="input-group-btn">
      <button class="btn btn-primary btn-lg px-1" type="button" (click)="chooseCustomer('caregiver')">
        <i class="fa fa-chevron-right"></i>
      </button>
    </span>
    <span class="input-group-btn">
      <button class="btn btn-danger btn-lg ml-1 px-1" type="button" (click)="removeModelField('caregiver')">
        <i class="fa fa-remove"></i>
      </button>
    </span>
    <label [class.active]="customer.caregiver">{{'PAGE.CUSTOMER-FORM.FORM.CAREGIVER'|translate}}</label>
  </div>
  <mdb-textarea
    title="{{'PAGE.CUSTOMER-FORM.FORM.COMMENT'|translate}}"
    name="comment"
    [(ngModel)]="customer.comment">
  </mdb-textarea>
</common-form>
<common-card-page *ngIf="isView && customer.id">
  <mdb-photo-upload [photo]="customer.foto"></mdb-photo-upload>
  <h4 class="card-title">{{customer.address}} {{customer.firstname}} {{customer.name}}</h4>
  <hr class="mb-2" />
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.GENDER'|translate}}"
    readonly="true"
    icon="prefix active fa fa-venus-mars"
    [ngModel]="genderText|translate">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.BIRTH'|translate}}"
    readonly="true"
    icon="prefix fa fa-birthday-cake"
    [ngModel]="birthdayText">
  </mdb-input>
  <mdb-textarea
    title="{{'PAGE.CUSTOMER-FORM.FORM.ADDRESS'|translate}}"
    icon="fa fa-map-marker prefix active"
    readonly=true
    [ngModel]="customer|address">
  </mdb-textarea>
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.SALUTATION.TITLE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-comment-o"
    [ngModel]="salutationText|translate">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.PHONE.PRIVATE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-phone"
    [ngModel]="customer.phone_home">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.PHONE.MOBILE'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="customer.phone_mobile">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.PHONE.WORK'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="customer.phone_work">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.EMAIL.PRIVATE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-envelope"
    [ngModel]="(customer.email || '') + (customer.email_primary == 1 ? (' (' + ('PAGE.CUSTOMER-FORM.FORM.EMAIL.PRIMARY'|translate) + ')') : '')">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.EMAIL.SECOND'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="(customer.email_second || '') + (customer.email_primary == 2 ? (' (' + ('PAGE.CUSTOMER-FORM.FORM.EMAIL.PRIMARY'|translate) + ')') : '')">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.CUSTOMER-FORM.FORM.INSURANCE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-medkit"
    [ngModel]="insuranceText">
  </mdb-input>
  <mdb-textarea
    title="{{'PAGE.CUSTOMER-FORM.FORM.KNOWN-FROM'|translate}}"
    readonly="true"
    icon="prefix active fa fa-handshake-o"
    [ngModel]="customer.known_from">
  </mdb-textarea>
  <mdb-textarea
    title="{{'PAGE.CUSTOMER-FORM.FORM.COMMENT'|translate}}"
    readonly="true"
    icon="prefix active fa fa-sticky-note-o"
    [ngModel]="customer.comment">
  </mdb-textarea>
  <div *ngIf="customer.guardian">
    <h4>{{'PAGE.CUSTOMER-FORM.FORM.GUARDIAN'|translate}}</h4>
    <hr class="mb-1">
    <div class="mb-2">
      <common-customer-card [customer]="customer.guardian"></common-customer-card>
    </div>
  </div>
  <div *ngIf="customer.caregiver">
    <h4>{{'PAGE.CUSTOMER-FORM.FORM.CAREGIVER'|translate}}</h4>
    <hr class="mb-1">
    <div class="mb-2">
      <common-customer-card [customer]="customer.caregiver"></common-customer-card>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['./dossier']">
            <i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.CUSTOMER-FORM.FORM.DOSSIER'|translate}}
          </a>
          <a class="dropdown-item" [routerLink]="['./case/add']">
            <i class="fa fa-folder-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.CUSTOMER-FORM.FORM.ADD-CASE'|translate}}
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="delete()">
            <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;Delete
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
