$primary-color: #4285f4;

mdb-checkbox {
  display: inline-block;

  label {
    margin-bottom: 0;
    top: 0 !important;
    line-height: normal !important;
    height: 16px !important;
  }

  [type="checkbox"].filled-in {
    &:checked + label:after {
      border-color: $primary-color;
      background-color: $primary-color;
    }

    + label:before {
      transition: none;
    }
  }

  [type="checkbox"].indeterminate {
    + label:after {
      border-radius: 2px;
    }

    + label:before,
    + label:after {
      content: '';
      left: 0;
      position: absolute;
      z-index: 1;
    }

    + label:before {
      background: $primary-color url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 2'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E") no-repeat;
      margin: 3px 0 0 2px;
      border: none;
      transform: none;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      transition: none;
    }

    + label:after {
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid $primary-color;
      background-color: $primary-color;
      z-index: 0;
    }
  }
}
