<div class="md-form">
  <i *ngIf="icon" [ngClass]="icon"></i>
  <input
    type="checkbox"
    [id]="id"
    [(ngModel)]="value"
    [disabled]="readonly == 'true'"
    (click)="click($event)"
    [class.filled-in]="!indeterminate"
    [class.indeterminate]="indeterminate"
    #inputElem>
  <label [for]="id" [innerHtml]="title"></label>
</div>
