<div class="d-flex flex-row justify-content-around admin-booking-row-head">
  <div class="align-self-stretch admin-booking-day">{{'COMMON.BOOKING.GRID.DAY'|translate}}</div>
  <div class="align-self-stretch admin-booking-checkbox twice">{{'COMMON.BOOKING.GRID.OPEN'|translate}}</div>
  <div class="align-self-stretch admin-booking-time">{{'COMMON.BOOKING.GRID.TIME'|translate}}</div>
  <div class="align-self-stretch admin-booking-command">{{'COMMON.BOOKING.GRID.COPY'|translate}}</div>
  <div class="align-self-stretch admin-booking-command">{{'COMMON.BOOKING.GRID.PASTE'|translate}}</div>
</div>
<div class="d-flex flex-row justify-content-around admin-booking-row-data" *ngFor="let day of days">
  <div class="align-self-stretch admin-booking-day">{{day.day}}</div>
  <div class="align-self-stretch admin-booking-checkbox twice">
    <mdb-checkbox title="" [(ngModel)]="day.isOpen"></mdb-checkbox>
  </div>
  <div class="align-self-stretch admin-booking-time">
    <booking-location-work-time [(ngModel)]="day.time" *ngIf="day.isOpen"></booking-location-work-time>
  </div>
  <div class="align-self-stretch admin-booking-command">
    <a class="btn-floating btn-sm blue waves-effect waves-light" (click)="copy(day)" [ngClass]="{'orange': ( getCopyObj() ? getCopyObj().day : '') == day.day, 'blue': ( getCopyObj() ? getCopyObj().day : '') != day.day}"><i class="fa fa-copy"></i></a>
  </div>
  <div class="align-self-stretch admin-booking-command">
    <a class="btn-floating btn-sm blue waves-effect waves-light" *ngIf="canPaste()" (click)="paste(day)"><i class="fa fa-paste"></i></a>
  </div>
</div>
