<div class="report-base-list-item col-md-3" *ngFor="let item of list">
  <div class="card-wrapper" (click)="item.click()">
    <div class="card-rotating effect__click">
      <div class="face front card">
        <div class="card-up grey lighten-4">
          <i class="align-middle fa fa-file-pdf-o fa-3x black-text"></i>
        </div>
        <div class="content">
          <h4>{{item.title}}</h4>
          <div class="text-xs-center"><a class="btn btn-block btn-blue-grey">{{'PAGE.REPORT-BASE-LIST.ACTION'|translate}}</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <a class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()">{{'PAGE.REPORT-BASE-LIST.BACK'|translate}}</a>
</div>
