admin-report-base-list {
  .btn-back {
    width: 200px;
    margin-top: 10px;
  }

  .report-base-list-item {
    float: none !important;
    display: inline-block;

    &.not-implemented {
      opacity: 0.4;
      * {
        cursor: not-allowed;
      }
    }

    .card-wrapper{
      height: 15em;
      cursor: pointer;

      .face {
        .card-up {
          height: 80px;
          padding-top: 20px;
        }
      }

      .content{
        h4{
          min-height: 2.5em;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: center;
        }
      }
    }
  }
}
