mdb-card-collapse {
  .card-header {
    background: none;
    border-bottom: 0;

    a {
      &:not(.collapsed) {
        .rotate-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  .card-block {
    padding-top: 0;
    margin-top: -0.75rem;
  }
}
