<div class="card">
  <ng-content select="[card-photo]"></ng-content>
  <div class="card-header">
    <a data-toggle="collapse" href="#{{id}}" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
      <h4 class="card-title text-center">
        <ng-content select="[card-header]"></ng-content> <i class="fa fa-angle-down rotate-icon pull-right"></i>
      </h4>
    </a>
  </div>
  <div id="{{id}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="card-block">
      <ng-content select="[card-block]"></ng-content>
    </div>
  </div>
</div>
