<div class="view hm-black-strong">
  <div class="full-bg-img flex-center">
    <div class="container" style="margin-top: 40px;">
      <div class="row" id="home">
        <div class="col-md-6 wow fadeInRight push-md-6">
          <mdb-card-rotate [flipped]="flipped">
            <div front>
              <div *ngIf="view == 'login'">
                <admin-login-form (flip)="setMode($event)"></admin-login-form>
              </div>
              <div *ngIf="view == 'confirm_registration'">
                <div class="mx-auto img-fluid admin-app-login-logo"></div>
                <admin-login-confirm-reg-form (flip)="setMode($event)"></admin-login-confirm-reg-form>
              </div>
              <div *ngIf="view == 'confirm_registration_auto'">
                <div class="mx-auto img-fluid admin-app-login-logo"></div>
                <admin-login-confirm-reg-auto-form (flip)="setMode($event)"></admin-login-confirm-reg-auto-form>
              </div>
            </div>
            <div back>
              <div *ngIf="view == 'register'">
                <div class="mx-auto img-fluid admin-app-login-logo"></div>
                <admin-registration-form (flip)="setMode($event)"></admin-registration-form>
              </div>
              <div *ngIf="view == 'request_password_reset'">
                <div class="mx-auto img-fluid admin-app-login-logo"></div>
                <admin-login-pwdrequest-form (flip)="setMode($event)"></admin-login-pwdrequest-form>
              </div>
              <div *ngIf="view == 'password_reset'">
                <div class="mx-auto img-fluid admin-app-login-logo"></div>
                <admin-login-pwdreset-form (flip)="setMode($event)"></admin-login-pwdreset-form>
              </div>
              <div *ngIf="view == 'auto_logout'">
                <div class="mx-auto img-fluid admin-app-login-logo"></div>
                <admin-logout-auto-form (flip)="setMode($event)"></admin-logout-auto-form>
              </div>
              <div *ngIf="view == 'user_logout'">
                <div class="mx-auto img-fluid admin-app-login-logo"></div>
                <admin-logout-user-form (flip)="setMode($event)"></admin-logout-user-form>
              </div>
            </div>
          </mdb-card-rotate>
        </div>
        <div class="col-md-6 pull-md-6">
          <admin-login-info-form></admin-login-info-form>
        </div>
      </div>
    </div>
  </div>
</div>
