admin-login-page{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  .admin-app-login-logo {
    width: 112px;
    height: 70px;
    background-image: url('./logo.png');
    background-size: contain;
    margin-bottom: 20px;
  }


  .card-wrapper{
    height: 560px;

    .face {
      padding: 1rem !important;
    }
  }
}
