<form id="upload" method="post" enctype="multipart/form-data">
  <div id="drop" ng2FileDrop [uploader]="uploader" (onFileDrop)="dropped($event)">
    Drop Here

    <label for="upload-input" class="browse-btn">Browse</label>
    <input type="file" id="upload-input" name="upl" accept="{{accept}}"  ng2FileSelect [uploader]="uploader" (change)="onFileSelected($event)" #fileInput/>

  </div>

  <ul>
    <!-- The file uploads will be shown here -->
  </ul>

  <progress *ngIf="uploader.isUploading" id="file-upload-progress" value="{{uploader.progress}}" min="0" max="100"></progress>


</form>
