app-module-mprime {

    .order_row {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .teaser {
      margin-top: 20px;
      margin-bottom: 50px;
    }

    .docs{
      overflow:hidden;
      clear:both;
      margin-bottom:20px;
    }

    .ctaBanner{
      background: #dee5a4;
      margin:0 0 20px 0;
      padding:30px;
    }

    .doc{
      margin-bottom:20px;
    }

    .payments{
      overflow: hidden;
      clear:both;
    }

    ul li:before {
      font-family: "Arial";
      content: '✔';
      margin-left: -1em;
      margin-right: 1em;
    }

    ul {
     padding-left: 2.3em;
     text-indent: -0.9em;
     list-style: none;
     list-style-position: outside;
    }

    h2 {
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid;
    }

  }
