<common-card-page>
  <!-- TITLE ========================================================================= -->
  <div class="row">
    <div class="col-xs-12">
      <h1>mPRIME Zahlterminal buchen</h1>
    </div>
  </div>

  <div class="ctaBanner" *ngIf="!adminOrdered">
    <h1> {{'PAGE.MPRIME.PURCHASE-ADMIN.HEADER' | translate}}</h1>
    <p>{{'PAGE.MPRIME.PURCHASE-ADMIN.TEXT' | translate}} </p>
    <button type="button" class="btn btn-secondary" (click)="redirectToAdmin()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.MPRIME.PURCHASE-ADMIN.BUTTON' | translate}}
    </button>
  </div>

  <div  *ngIf="adminOrdered">
    <!-- INTRO text ==================================================================== -->
    <div class="row teaser">
      <div class="col-xs-12">
        <p>Für die mPRIME Benutzung müssen Sie folgende Dokumente ausfüllen und an SIX Payment Services senden. Bei Fragen unterstützen wir Sie gerne.</p>
      </div>
    </div>

    <!-- PAYMENT-SCHEME ================================================================ -->

    <div class="row">
      <div class="col-xs-12 col-md-6">
          <mdb-radio title="Monatlich (9.90 CHF / Monat)" [(ngModel)]="paymentScheme" return-value="3"></mdb-radio>
      </div>
      <div class="col-xs-12 col-md-6">
          <mdb-radio title="Einmalzahlung (220.- CHF)" [(ngModel)]="paymentScheme" return-value="4"></mdb-radio>
      </div>
    </div>

    <!-- PAYMENT-METHOD ================================================================ -->

    <div class="row">
      <div class="col-xs-12 col-md-6" *ngIf="paymentScheme != 3">
          <mdb-radio title="Rechnung" [(ngModel)]="paymentMethod" return-value="inv"></mdb-radio>
      </div>
      <div class="col-xs-12 col-md-6">
          <mdb-radio title="Kreditkarte" [(ngModel)]="paymentMethod" return-value="cc"></mdb-radio>
      </div>
    </div>

    <!-- related docs ================================================================== -->

    <div class="docs">
      <h2>Vertragsdokumente für das mPRIME Angebot</h2>
        <div class="row">
          <div class="col-md-12 doc col-xs-12">
            <p>Für die Nutzung des mPRIME füllen Sie bitte folgende Dokumente aus und senden diese an SIX Payment Services AG. Erst mit diesen Dokumenten wird die Bestellung ausgelöst.<p>
            <p><a target="_blank" href="https://bluebamboo.blob.core.windows.net/public/Vertragsdokumente%20mPRIME.zip">SIX Payment Services Vertragsdokumente</a></p>
          </div>
        </div>
      </div>

    <!-- CTA =========================================================================== -->
    <div class="row order_row">
      <div class="col-xs-12 col-md-4">
        <button type="button" class="btn btn-success btn-block waves-effect waves-light" [disabled]="btnOrderDisabled()" (click)="executeOrder()">
          <i class="fa fa-cart-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          {{'COMPONENT.MY_ACCOUNT.COMMON.ORDER' | translate}}
        </button>
      </div>
      <div class="col-xs-12 col-md-8">Fragen? Rufen Sie uns an: +41 43 543 81 18</div>
    </div>
  </div>
</common-card-page>

<!-- BACK button =================================================================== -->
<div class="row">
  <div class="col-xs-12 col-md-3">
    <button type="button" class="btn btn-primary btn-block waves-effect waves-light" (click)="executeBack()">
      <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
      {{'COMPONENT.COMMON-FORM.BACK' | translate}}
    </button>
  </div>
</div>


