@import "mdb-input/mdb-input.component";
@import "mdb-textarea/mdb-textarea.component";
//@import "calendar/calendar";
//@import "mdb-select/mdb-select";
//@import "mdb-checkbox/mdb-checkbox";
//@import "mdb-radio/mdb-radio";
//@import "modal/modal";
//@import "stars/stars";
//@import "time-slots/time-slots";
//@import "time/time";
//@import "slide-panel/slide-panel";

.required-label{
  &:after{
    content: '*';
    color: red;
    font-style: normal;
    margin-left: 5px;
  }
}
