<common-form [hidden]="!showMainScreen" (back)="back()" (save)="save()" [can-delete]="false">
  <div class="mb-2">
    <common-customer-card [customer]="booking.customer"></common-customer-card>
  </div>
  <div class="list-group mt-0 mb-2">
    <a class="list-group-item" (click)="chooseCase()">
    <table class="w-100">
      <tr class="row">
        <td *ngIf="caseText" class="col-xs-9" style="vertical-align: middle;">
          {{'PAGE.BOOKING-REPORT-CASE-FORM.FORM.CASE'|translate}}: {{caseText}}
        </td>
        <td *ngIf="!caseText" class="col-xs-9" style="vertical-align: middle;">
          {{'PAGE.BOOKING-REPORT-CASE-FORM.FORM.CASE-CHOOSE'|translate}}
        </td>
        <td class="col-xs-3" style="vertical-align: middle; text-align: right; padding: 0; margin: 0;">
          <button class="btn btn-primary btn-lg" (click)="chooseCase()">
            <i class="fa fa-chevron-right"></i>
          </button>
        </td>
      </tr>
    </table></a>
  </div>
  <div class="mb-2">
    <booking-card [booking]="booking"></booking-card>
  </div>
  <mdb-textarea title="{{'PAGE.BOOKING-REPORT-CASE-FORM.FORM.TEXT'|translate}}" [(ngModel)]="report.text" name="text"></mdb-textarea>
  <mdb-textarea title="{{'PAGE.BOOKING-REPORT-CASE-FORM.FORM.COMMENT'|translate}}" [(ngModel)]="report.comment" name="comment"></mdb-textarea>
  <mdb-upload [photo]="report.image" (photoChange)="onImageChange($event)" accept="image/*"></mdb-upload>
</common-form>
<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
