<div class="md-form">
  <i *ngIf="icon" [ngClass]="icon"></i>
  <textarea [id]="id" class="md-textarea form-control" [(ngModel)]="value" (focus)="onTouched()" [name]="name" [readonly]="readonly == 'true'" #inputElem></textarea>
  <label [for]="id" class="" [innerHtml]="title"></label>
</div>
