//output:$1.html
include /jade/blocks.pug

mixin templates_header
	.row
		.col-md-offset-2.col-md-8
			+admin_content("{{ctrl.pagetitle}}")
				block

mixin templates_page_index
	.row
		.col-xs-10.col-xs-offset-2
			button.btn.btn-default.btn-sm(ng-click="ctrl.addTemplate();")
				i.fa.fa-plus
				| &nbsp;&nbsp;Neue Vorlage hinzufügen

	.row(ng-repeat="r in ctrl.templates")
		.col-xs-2
		.col-xs-4 {{r.title}}
		.col-xs-1
			button.btn.btn-default.btn-xs(ng-click="ctrl.previewTemplate(r.id);")
				i.fa.fa-file
		.col-xs-1
			button.btn.btn-default.btn-xs(ng-click="ctrl.editTemplate(r.id);")
				i.fa.fa-edit
		.col-xs-1
			button.btn.btn-default.btn-xs(ng-click="ctrl.ctaDeleteTemplate(r.id);")
				i.fa.fa-close
		.col-xs-1
			button.btn.btn-default.btn-xs(ng-click="ctrl.addTemplate(r.id);")
				i.fa.fa-plus

	.row
		.col-xs-10.col-xs-offset-2
			button.btn.btn-default.btn-sm(ng-click="ctrl.pageBack();")
				i.fa.fa-chevron-left
				| &nbsp;&nbsp;Zurück

mixin templates_page_addedit_template
	+form("speichern")
		+string_input("Name", "title")(required=true, autofocus=true)

		.row
			.col-xs-12
				b Schriftstile

		.row(ng-repeat="r in ctrl.model.fields.template.fontstyles track by $index")
			.col-xs-4 {{r.name}}
			.col-xs-3(ng-style="ctrl.fontStyle(r);") ABCabc123
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.editSubobject('template.fontstyles', 3, $index)")
					i.fa.fa-edit
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.deleteSubobject('template.fontstyles', $index)")
					i.fa.fa-close
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.addFontstyleFromElement($index)")
					i.fa.fa-plus

		.row
			.col-xs-12
				button.btn.btn-default.btn-sm(ng-click="ctrl.addSubobject('template.fontstyles', 3);")
					i.fa.fa-plus
					| &nbsp;&nbsp;Neuen Stil hinzufügen

		.row
			.col-xs-12 &nbsp;

		.row
			.col-xs-12
				b Rahmenstile

		.row(ng-repeat="s in ctrl.model.fields.template.borderstyles track by $index")
			.col-xs-4 {{s.name}}
			.col-xs-3
				div(ng-style="ctrl.borderStyle(s)" style="width: 50px; height: 15px; margin: 2px; display: block; background-color: #ddd;") &nbsp;
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.editSubobject('template.borderstyles', 4, $index)")
					i.fa.fa-edit
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.deleteSubobject('template.borderstyles', $index)")
					i.fa.fa-close
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.addBorderstyleFromElement($index)")
					i.fa.fa-plus

		.row
			.col-xs-12
				button.btn.btn-default.btn-sm(ng-click="ctrl.addSubobject('template.borderstyles', 4);")
					i.fa.fa-plus
					| &nbsp;&nbsp;Neuen Stil hinzufügen

		.row
			.col-xs-12 &nbsp;

		.row
			.col-xs-12
				b Elemente

		.row(ng-repeat="t in ctrl.model.fields.template.elements track by $index")
			.col-xs-3 {{t.name}}
			.col-xs-3 {{t.type}}
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.previewElement($index)")
					i.fa.fa-file
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.editElement($index)")
					i.fa.fa-edit
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.deleteSubobject('template.elements', $index)")
					i.fa.fa-close
			.col-xs-1
				button.btn.btn-default.btn-xs(ng-click="ctrl.addElementFromElement($index)")
					i.fa.fa-plus

		.row
			.col-xs-12
				button.btn.btn-default.btn-sm(ng-click="ctrl.addSubobject('template.elements', 5);")
					i.fa.fa-plus
					| &nbsp;&nbsp;Element hinzufügen

		.row
			.col-xs-12 &nbsp;

mixin templates_page_addedit_fontstyle
	+form("Speichern")
		+string_input("Name", "name")(required=true, autofocus=true)
		+string_input("Schriftart", "face")
		+string_input("Schriftgröße", "size")
		+string_input("Schriftfarbe", "color")

		+checkbox("Fett", "bold")
		+checkbox("Kursiv", "italic")
		+checkbox("Unterstrichen", "underlined")

		.row
			.col-xs-12 &nbsp;

		.row
			.col-xs-2
			.col-xs-8(ng-style="ctrl.fontStyle(ctrl.model.fields);" style="text-align:center;") ABCabc123
			.col-xs-2

		.row
			.col-xs-12 &nbsp;

mixin templates_page_addedit_borderstyle
	+form("Speichern")
		+string_input("Name", "name")(required=true, autofocus=true)
		+string_input("Rahmenbreite gesamt", "width")
		+string_input("Rahmenbreite oben", "top.width")
		+string_input("Rahmenbreite links", "left.width")
		+string_input("Rahmenbreite rechts", "right.width")
		+string_input("Rahmenbreite unten", "bottom.width")
		+string_input("Rahmenfarbe", "color")
		
		.row
			.col-xs-12 &nbsp;
		
		.row
			.col-xs-2
			.col-xs-8(ng-style="ctrl.borderStyle(ctrl.model.fields);") &nbsp;
			.col-xs-2

		.row
			.col-xs-12 &nbsp;

mixin templates_page_add_element
	+form("Weiter")
		+select_input("Art", "type", "ctrl.elementTypes", "label")(required=true, autofocus=true)

mixin templates_page_addedit_stringelement
	+form("Speichern")
		+string_input("Name", "name")(required=true, autofocus=true)
		+text_input("Inhalt", "content")(required=true)
		+string_input("Abstand links", "location.x")(required=true)
		+string_input("Abstand oben", "location.y")(required=true)
		+select_input("Schriftstil", "fontstyle", "ctrl.fontstylenames", "id")
		+select_input("Rahmenstil", "borderstyle", "ctrl.borderstylenames", "id")

mixin templates_page_addedit_tableelement
	+form("Speichern")
		+string_input("Name", "name")(required=true, autofocus=true)
		+string_input("Abstand links", "location.x")(required=true)
		+string_input("Abstand oben", "location.y")(required=true)

		+select_input("Schriftstil", "fontstyle", "ctrl.fontstylenames", "id")
		+select_input("Rahmenstil", "borderstyle", "ctrl.borderstylenames", "id")

		+string_input("Spalten", "colcount")
		button.btn.btn-default.btn-xs(ng-click="ctrl.addsubTablecell(1)")
			i.fa.fa-plus
		button.btn.btn-default.btn-xs(ng-click="ctrl.addsubTablecell(-1)")
			i.fa.fa-minus
		+string_input("Spaltenbreiten", "colwidth")

		//-
			.row
				.col-xs-12
					.form-group(ng-class="'required': true, 'has-error': ctrl.fieldHasError('colwidth'), 'has-feedback': ctrl.fieldHasError('colwidth')}")
						label.col-sm-4.control-label= label
						.col-sm-8.input-group
							div(ng-repeat="r in ctrl.model.fields.colwidth track by $index")
								input.form-control(type="text" ng-model="ctrl.model.fields.colwidth[$index]")

		.row
			.col-xs-12
				b Header

		.row
			.col-xs-11.col-xs-offset-1
				button.btn.btn-sm.btn-default(ng-click="ctrl.editTableContent(1);")
					i.fa.fa-plus
					| &nbsp;&nbsp;Header bearbeiten

		.row
			.col-xs-12 &nbsp;

		.row
			.col-xs-12
				b Inhalt

		.row(ng-show="ctrl.model.fields.type == 'table'")
			.col-xs-11.col-xs-offset-1
				button.btn.btn-sm.btn-default(ng-click="ctrl.editTableContent(3);")
					i.fa.fa-plus
					| &nbsp;&nbsp;Inhalt bearbeiten
					
		.row(ng-show="ctrl.model.fields.type == 'dynamictable'")
			.col-xs-11.col-xs-offset-1
				+select_input("Schriftstil", "content.fontstyle", "ctrl.fontstylenames", "id")
				+select_input("Rahmenstil", "content.borderstyle", "ctrl.borderstylenames", "id")

			.col-xs-11.col-xs-offset-1
				+string_input("Variablenname Inhalt", "content.rows")

		.row
			.col-xs-12 &nbsp;

		.row
			.col-xs-12
				b Footer

		.row
			.col-xs-11.col-xs-offset-1
				button.btn.btn-sm.btn-default(ng-click="ctrl.editTableContent(2);")
					i.fa.fa-plus
					| &nbsp;&nbsp;Footer bearbeiten

		.row
			.col-xs-12 &nbsp;

mixin templates_page_addedit_imageelement
	.TODO
	
mixin templates_page_edit_tableheaderfooter
	+form("Speichern")
		+checkbox("Header anzeigen", "show")
		+select_input("Schriftstil", "fontstyle", "ctrl.fontstylenames", "id")
		+select_input("Rahmenstil", "borderstyle", "ctrl.borderstylenames", "id")

		.row(ng-repeat="cell in ctrl.model.fields.cells track by $index")
			.col-xs-12
				b Zelle {{$index + 1}}

			.col-xs-11.col-xs-offset-1
				+text_input("Inhalt", "cells[$index].value")
				+select_input("Schriftstil", "cells[$index].fontstyle", "ctrl.fontstylenames", "id")
				+select_input("Rahmenstil", "cells[$index].borderstyle", "ctrl.borderstylenames", "id")

			.col-xs-12 &nbsp;

mixin templates_page_edit_tablecontent
	+form("Speichern")
		+select_input("Schriftstil", "fontstyle", "ctrl.fontstylenames", "id")
		+select_input("Rahmenstil", "borderstyle", "ctrl.borderstylenames", "id")

		button.btn.btn-default.btn-sm(ng-click="ctrl.addTablerow(-1, 0)")
			i.fa.fa-plus
			| &nbsp;&nbsp; Reihe hinzufügen
		.row(ng-repeat="row in ctrl.model.fields.rows track by $index")
			.col-xs-12
				b Reihe {{$index + 1}}

			.col-xs-11.col-xs-offset-1
				+select_input("Schriftstil", "cells[$index].fontstyle", "ctrl.fontstylenames", "id")
				+select_input("Rahmenstil", "cells[$index].borderstyle", "ctrl.borderstylenames", "id")

			.col-xs-12 &nbsp;
			
			.col-xs-11.col-xs-offset-1
				.row(ng-repeat="cell in ctrl.model.fields.rows[$index].cells track by $index")
					.col-xs-12
						b Zelle {{$index + 1}}
					.col-xs-11.col-xs-offset-1
						+text_input("Inhalt", "rows[$parent.$index].cells[$index].value")
						+select_input("Schriftstil", "rows[$parent.$index].cells[$index].fontstyle", "ctrl.fontstylenames", "id")
						+select_input("Rahmenstil", "rows[$parent.$index].cells[$index].borderstyle", "ctrl.borderstylenames", "id")
			.col-xs-12
				button.btn.btn-default.btn-sm(ng-click="ctrl.addTablerow(-1, $index + 1)")
					i.fa.fa-plus
					| &nbsp;&nbsp; Reihe hinzufügen

ng-controller(ng-controller="TemplatesController as ctrl")
	ng-include(src="'/admin/admin_incls/generic/gsc_dialog_confirm.html'")
	+templates_header
		div(ng-show="ctrl.page == 1")
			+templates_page_index
		div(ng-show="ctrl.page == 2")
			+templates_page_addedit_template
		div(ng-show="ctrl.page == 3")
			+templates_page_addedit_fontstyle
		div(ng-show="ctrl.page == 4")
			+templates_page_addedit_borderstyle
		div(ng-show="ctrl.page == 5")
			+templates_page_add_element
		div(ng-show="ctrl.page == 6")
			+templates_page_addedit_stringelement
		div(ng-show="ctrl.page == 7")
			+templates_page_addedit_tableelement
		div(ng-show="ctrl.page == 8")
			+templates_page_addedit_imageelement
		div(ng-show="ctrl.page == 9")
			+templates_page_edit_tableheaderfooter
		div(ng-show="ctrl.page == 10")
			+templates_page_edit_tablecontent
