<form #form="ngForm">
  <div class="card-block">
    <div *ngIf="subpage == 0">
      <div class="text-xs-center">
        <h3>{{'PAGE.LOGIN.LOGIN-PWDREQUEST-FORM.TITLE'|translate}}</h3>
        <hr/>
      </div>
      <div class="errorMessage" *ngIf="message != ''">
        {{message}}
      </div>
      <mdb-input title="{{'PAGE.LOGIN.LOGIN-FORM.EMAIL'|translate}}" icon="fa fa-envelope prefix" [(ngModel)]="model.email" name="email" required></mdb-input>
      <div class="text-xs-center">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-ins btn-lg pull-left" (click)="login()" [disabled]="processing">{{'PAGE.LOGIN.REGISTRATION-FORM.LOGIN'|translate}}</button>
            <button type="button" class="btn btn-ins btn-lg pull-right" (click)="request()" [disabled]="!form.form.valid">{{'PAGE.LOGIN.LOGIN-PWDREQUEST-FORM.REQUEST'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="subpage == 1">
      <div class="text-xs-center">
        <h3>Link per E-Mail angefordert</h3>
        <hr/>
      </div>
      <div class="text-xs-left">
        <p class="infoText">Sie bekommen nächstens eine E-Mail mit dem Link zum Neusetzen Ihres Passworts.</p>
        <p class="infoText">Bei Fragen stehen wir Ihnen gerne zur Verfügung.</p>
        <p class="infoText"><b>Herzlichst, Ihr bluebamboo Team</b></p>
      </div>
    </div>
  </div>
</form>
