<div class="card-wrapper" (click)="click()">
  <div class="card-rotating effect__click">
    <div class="face front card">
      <div class="card-up grey lighten-4">
        <i class="align-middle fa fa-3x black-text" [ngClass]="item.icon"></i>
      </div>
      <div class="content">
        <h4 [innerHtml]="resourcePath + '.'+item.code+'.TITLE'|translate"></h4>
        <div class="text-xs-center"><a class="btn btn-block btn-blue-grey">{{'COMPONENT.COMMON-MENU-ITEM.ACTION'|translate}}</a></div>
      </div>
    </div>
  </div>
</div>
