
<common-form (back)="back()" (save)="save()" can-delete="false">
      <div class="text-xs-center">
        <h3>{{'PAGE.MY_ACCOUNT.PASSWORD.TITLE' | translate}}</h3>
        <hr/>
        <p>
        Bitte beachten Sie die Mindestanforderungen für ein sicheres Passwort.<br>
        Das Passwort muss mindestens:
        </p>
        <ul>
          <li>6 Zeichen lang sein</li>
          <li>eine Ziffer beinhalten</li>
          <li>einen Grossbuchstaben beinhalten</li>
          <li>einen Kleinbuchstaben beinhalten.</li>
        </ul>
      </div>
      <div class="errorMessage" *ngIf="message != ''">
        {{message}}
      </div>

      <mdb-input title="Bisheriges Passwort" icon="fa fa-lock prefix" type="password" [(ngModel)]="model.passwordOld" name="password1" required></mdb-input>
      <mdb-input title="Neues Passwort" icon="fa fa-lock prefix" type="password" [(ngModel)]="model.passwordNew" name="password2" required></mdb-input>
      <mdb-input title="Neues Passwort (Wiederholung)" icon="fa fa-lock prefix" type="password" [(ngModel)]="passwordRepeat" name="password3" required></mdb-input>
</common-form>


