<common-card-page>
  <form #form="ngForm" name="form">
    <ng-content></ng-content>
  </form>
  <div class="row">
    <div class="col-xs-12 col-lg-4 push-lg-8">
      <button type="submit" class="btn btn-success btn-block waves-effect waves-light"
        (click)="executeSave()" [disabled]="!form.valid">
         <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
         {{'COMPONENT.COMMON-FORM.SAVE'|translate}}
      </button>
      <div class="mb-1 hidden-xs-down"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="executeBack()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4" *ngIf="canDelete.toString() == 'true'">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit"
        class="btn btn-danger btn-block waves-effect waves-light"
        (click)="executeDelete()">
           <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;
           {{'COMPONENT.COMMON-FORM.DELETE'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
