<common-card-page>
  <h4>{{'PAGE.INVOICE-VIEW.FORM.TITLE'|translate:{number: invoice.number} }}</h4>
  <hr class="mb-2">
  <div class="mb-2">
    <common-customer-card [customer]="invoice.customer"></common-customer-card>
  </div>
  <mdb-card>
    <h4>{{'PAGE.INVOICE-VIEW.POSITIONS.TITLE'|translate}}</h4>
    <hr class="mb-2">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>{{'PAGE.INVOICE-VIEW.POSITIONS.DATE'|translate}}</th>
          <th>{{'PAGE.INVOICE-VIEW.POSITIONS.DESCRIPTION'|translate}}</th>
          <th>{{'PAGE.INVOICE-VIEW.POSITIONS.DURATION'|translate}}</th>
          <th>{{'PAGE.INVOICE-VIEW.POSITIONS.AMOUNT'|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let position of invoice.invoicepositions">
          <td>{{position.date|momentDate}}</td>
          <td>{{position.title || position.tariffposition_title}}</td>
          <td>{{position.duration}}</td>
          <td>{{position.total_price|number:'1.2'}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"><span innerHtml="{{'PAGE.INVOICE-VIEW.POSITIONS.TOTAL'|translate}}"></span> {{invoice.positions_total_price|number:'1.2'}}</td>
        </tr>
      </tfoot>
    </table>
  </mdb-card>
  <mdb-card>
    <mdb-input title="{{'PAGE.INVOICE-VIEW.FORM.DATE'|translate}}" icon="fa fa-calendar prefix active" ngModel="{{invoice.date|momentDate}}"
      readonly="true"></mdb-input>
    <mdb-input title="{{'PAGE.INVOICE-VIEW.FORM.STATUS'|translate}}" icon="fa fa-info-circle prefix active" ngModel="{{'ENUM.INVOICE_STATE.'+invoice.status+'.TITLE'|translate}}"
      readonly="true"></mdb-input>
    <div *ngFor="let payment of invoice.payments">
      <mdb-input title="{{'PAGE.INVOICE-VIEW.FORM.PAYMENT_DATE'|translate}}" icon="fa fa-money prefix active" ngModel="{{payment.payment.payed_at | date:'dd.MM.yyyy'}}"
        readonly="true"></mdb-input>

      <mdb-input title="{{'PAGE.INVOICE-VIEW.FORM.PAYMENT_METHOD'|translate}}" icon="fa prefix active" ngModel="{{payment.payment.payed_by | paymentFormatter | translate}}"
        readonly="true"></mdb-input>

      <mdb-input title="{{'PAGE.INVOICE-VIEW.FORM.COMMENT'|translate}}" icon="fa prefix active" ngModel="{{payment.payment.comment}}"
        readonly="true"></mdb-input>
    </div>
    <a class="btn btn-default btn-lg waves-effect waves-light" type="button" target="_blank" href="{{pdfPath}}">
      {{'PAGE.INVOICE-VIEW.FORM.DOWNLOAD_PDF'|translate}}
    </a>

    <a *ngIf="invoice.file_reminder_1" class="btn btn-default btn-lg waves-effect waves-light" type="button" target="_blank" href="{{pdfReminder1Path}}">
      {{'PAGE.INVOICE-VIEW.FORM.FILE_REMINDER1'|translate}}
    </a>

    <a *ngIf="invoice.file_reminder_2" class="btn btn-default btn-lg waves-effect waves-light" type="button" target="_blank" href="{{pdfReminder2Path}}">
      {{'PAGE.INVOICE-VIEW.FORM.FILE_REMINDER2'|translate}}
    </a>

    <a *ngIf="invoice.file_copy_insurance" class="btn btn-default btn-lg waves-effect waves-light" type="button" target="_blank" href="{{pdfCopyInsurancePath}}">
      {{'PAGE.INVOICE-VIEW.FORM.FILE_COPY_INSURANCE'|translate}}
    </a>

    <a *ngIf="invoice.file_copy_archive" class="btn btn-default btn-lg waves-effect waves-light" type="button" target="_blank" href="{{pdfCopyArchivePath}}">
      {{'PAGE.INVOICE-VIEW.FORM.FILE_COPY_ARCHIVE'|translate}}
    </a>

  </mdb-card>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4 push-lg-8 push-sm-6">
      <div class="dropdown dropup">
        <button
          [class.disabled]="!isRemindActive && !isPayActive && !isRemindActive && !isCancelActive"
          class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a *ngIf="isResendActive" class="dropdown-item" (click)="resendInvoice()">
            <i class="fa fa-mail-forward"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.INVOICE-VIEW.FORM.RESEND-INVOICE'|translate}}
          </a>
          <a *ngIf="isPayActive" class="dropdown-item" (click)="payInvoice()">
            <i class="fa fa-money"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.INVOICE-VIEW.FORM.PAY-INVOICE'|translate}}
          </a>
          <a *ngIf="isRemindActive" class="dropdown-item" (click)="remindInvoice()">
            <i class="fa fa-clock-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.INVOICE-VIEW.FORM.REMIND-INVOICE'|translate}}
          </a>
          <a *ngIf="isCancelActive" class="dropdown-item" (click)="cancelInvoice()">
            <i class="fa fa-times"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.INVOICE-VIEW.FORM.CANCEL-INVOICE'|translate}}
          </a>
        </div>
      </div>
      <div class="mb-1 hidden-sm-up"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4 pull-sm-6">
      <a class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.INVOICE-VIEW.BACK'|translate}}</a>
    </div>
  </div>
</common-card-page>
