$element-over: #ef5350 solid 1px;

report-designer-element{
  display: inline-block;
  cursor: pointer;

  &:hover{
    outline: $element-over;
    z-index: 1;
  }

  &.report-designer-element-selected, .report-designer-element-selected {
    outline: $element-over;
    z-index: 1;
  }

  .report-table-header{
    display: flex;
    flex-flow: row;

    &:hover{
      outline: $element-over;
      z-index: 1;
    }

    .report-table-header-cell{
      display: inline-block;
      &:hover{
        outline: $element-over;
        z-index: 1;
      }
    }
  }

  .report-table-footer{
    display: flex;
    flex-flow: row;

    &:hover{
      outline: $element-over;
      z-index: 1;
    }

    .report-table-footer-cell{
      display: inline-block;

      &:hover{
        outline: $element-over;
        z-index: 1;
      }
    }
  }

  .report-table-row{
    display: flex;
    flex-flow: row;
    &:hover{
      outline: $element-over;
    }

    .report-table-row-cell{
      display: inline-block;
      &:hover{
        outline: $element-over;
        z-index: 1;
      }
    }
  }
}
