<div *ngIf="element.type == 'dynamictable'">
    <div class="report-table-header"
         *ngIf="element.header.show"
         [report-schema]="element.reportSchema"
         [report-fontstyle]="element.header.fontstyle"
         [report-borderstyle]="element.header.borderstyle"
    >
        <div class="report-table-header-cell"
             *ngFor="let cell of element.header.cells"
             [style.width]="cell.width+'mm'"
             [style.textAlign]="cell.textalign"
             [report-fontstyle]="cell.fontstyle"
             [innerHtml]="element.getCellContent(cell)"
             [ngClass]="{'report-designer-element-selected': page.elementIsSelected(cell)}"
             (click)="select($event, 'header-cell', cell)"
        ></div>
    </div>
    <div
        *ngFor="let row of element.rows"
        class="report-table-row"
        [report-schema]="element.reportSchema"
        [report-fontstyle]="element.content.fontstyle"
        [report-borderstyle]="element.content.borderstyle"
    >
        <div class="report-table-row-cell"
             *ngFor="let cell of row.schema.cells"
             [innerHtml]="cell.getValue(row.data, data.values)"
             [style.width]="cell.width+'mm'"
             [style.textAlign]="cell.textalign"
             [report-schema]="element.reportSchema"
             [report-fontstyle]="cell.fontstyle"
             [report-borderstyle]="cell.borderstyle"
             [ngClass]="{'report-designer-element-selected': page.elementIsSelected(cell)}"
             (click)="select($event, 'row-cell', cell)"
        ></div>
    </div>
    <div *ngIf="element.footer != null && element.footer.show"
         class="report-table-footer"
         [report-schema]="element.reportSchema"
         [report-fontstyle]="element.footer.fontstyle"
         [report-borderstyle]="element.footer.borderstyle"
    >
        <div class="report-table-footer-cell"
             *ngFor="let cell of element.footer.cells"
             [style.width]="cell.width+'mm'"
             [style.textAlign]="cell.textalign"
             [report-fontstyle]="cell.fontstyle"
             [innerHtml]="element.getCellContent(cell)"
             [ngClass]="{'report-designer-element-selected': page.elementIsSelected(cell)}"
             (click)="select($event, 'footer-cell', cell)"
        ></div>
    </div>
</div>
