<mdb-checkbox title="Show" [(ngModel)]="section.show"></mdb-checkbox>
<slide-panel *ngIf="section.show">
    <div slide-panel-type="title">
      {{'PAGE.REPORT-FORM.PROPERTIES.FONT-STYLE'|translate}}
    </div>
    <div slide-panel-type="content">
        <report-designer-font-list-editor [(ngModel)]="section.fontstyle.face"></report-designer-font-list-editor>
        <report-designer-font-size-editor [(ngModel)]="section.fontstyle.size"></report-designer-font-size-editor>
        <mdb-color-picker [(ngModel)]="section.fontstyle.color" title="{{'PAGE.REPORT-FORM.PROPERTIES.COLOR'|translate}}"></mdb-color-picker>
        <mdb-color-picker [(ngModel)]="section.fontstyle.backgroundcolor" title="{{'PAGE.REPORT-FORM.PROPERTIES.BGCOLOR'|translate}}"></mdb-color-picker>
        <mdb-input title="{{'PAGE.REPORT-FORM.PROPERTIES.LINE-HEIGHT'|translate}}" [(ngModel)]="section.fontstyle.lineheight"></mdb-input>
        <mdb-input title="{{'PAGE.REPORT-FORM.PROPERTIES.LETTER-SPACING'|translate}}" [(ngModel)]="section.fontstyle.letterspacing"></mdb-input>
        <report-designer-text-align-editor [(ngModel)]="section.fontstyle.textalign"></report-designer-text-align-editor>
        <mdb-checkbox title="{{'PAGE.REPORT-FORM.PROPERTIES.BOLD'|translate}}" [(ngModel)]="section.fontstyle.bold"></mdb-checkbox>
    </div>
</slide-panel>
<slide-panel *ngIf="section.show">
    <div slide-panel-type="title">
      {{'PAGE.REPORT-FORM.PROPERTIES.BORDER-STYLE'|translate}}
    </div>
    <div  slide-panel-type="content">
        <mdb-color-picker [(ngModel)]="section.borderstyle.color" title="{{'PAGE.REPORT-FORM.PROPERTIES.COLOR'|translate}}"></mdb-color-picker>
        <mdb-input title="{{'PAGE.REPORT-FORM.PROPERTIES.WIDTH'|translate}}" [(ngModel)]="section.borderstyle.width"></mdb-input>
    </div>
</slide-panel>
