<form #form="ngForm">
  <div class="card-block">
    <div class="text-xs-center">
      <h3>{{'PAGE.LOGIN.LOGOUT-AUTO-FORM.TITLE'|translate}}</h3>
      <hr/>
      <p>{{'PAGE.LOGIN.LOGOUT-AUTO-FORM.TEXT'|translate}}</p>
      <p>&nbsp;</p>
    </div>
    <div class="text-xs-center">
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-ins btn-lg" (click)="login()">{{'PAGE.LOGIN.LOGOUT-AUTO-FORM.RELOGIN'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</form>
