.messageBody {
  background-color: #e9f7fd;
  display: block;
  width: 100%;
  padding: 20px;
  margin: 20px;
}

.messageBodyRecommend {
  background-color: #F0FEAE;
  display: block;
  width: 100%;
  padding: 20px;
  margin: 20px;
}

