<common-card-page>
  <div class="row mt-1">
    <div class="messageBody" *ngIf="stars == 5">
      <h1>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TITLE_5'|translate}}</h1>
      <p>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TEXT_5'|translate}}</p>
    </div>
    <div class="messageBody" *ngIf="stars == 4">
      <h1>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TITLE_4'|translate}}</h1>
      <p>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TEXT_4'|translate}}</p>
    </div>
    <div class="messageBody" *ngIf="stars == 3">
      <h1>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TITLE_3'|translate}}</h1>
      <p>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TEXT_3'|translate}}</p>
    </div>
    <div class="messageBody" *ngIf="stars == 2">
      <h1>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TITLE_2'|translate}}</h1>
      <p>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TEXT_2'|translate}}</p>
    </div>
    <div class="messageBody" *ngIf="stars == 1">
      <h1>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TITLE_1'|translate}}</h1>
      <p>{{'PAGE.FEEDBACK.THANKS-MESSAGE.TEXT_1'|translate}}</p>
    </div>
    <div class="col-xs-12 messageBodyRecommend" *ngIf="stars > 3">
      <h2>Dürfen wir Sie bitten, uns weiterzuempfehlen?</h2>
      <p>Mit unserem Weiterempfehlungsprogramm streben wir an, unsere Marketing-Kosten so tief wie möglich zu halten.
      <br>Damit wir Ihnen möglichst viel Leistung zu einem super attraktiven Preis bieten können.</p>
      <p>Zudem honorieren wir erfolgreiche Weiterempfehlungen und Sie reduzieren die Kosten für die Nutzung unserer Lösung weiter!</p>
      <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" (click)="invite()">{{'PAGE.FEEDBACK.THANKS-MESSAGE.BTN_RECOMMEND'|translate}}</button>
    </div>
    <div class="col-xs-12" *ngIf="stars > 3">
      <button type="button" class="btn btn-secondary btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.DESKTOP.MESSAGES.BACK'|translate}}</button>
    </div>
    <div class="col-xs-12" *ngIf="!(stars > 3)">
      <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.DESKTOP.MESSAGES.BACK'|translate}}</button>
    </div>
  </div>
</common-card-page>
