<div>
  <admin-common-menu-item *ngFor="let item of list" [item]="item" [resource-path]="resourcePath" (action)="executeAction($event)"></admin-common-menu-item>
</div>
<div class="common-menu-page-command">
  <a class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()">{{'COMPONENT.COMMON-MENU-PAGE.BACK'|translate}}</a>
</div>
