app-modules {

  h2 {
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
  }

  .special2017offerold {
    background-color: #bae4a4;
    display: block;
    width: 100%;
    padding: 50px 50px 10px 50px;
    margin: 20px;
  }

  .special2017offer {
    background-color: #E2E398;
    display: block;
    width: 100%;
    padding: 50px 50px 10px 50px;
    margin: 20px;
  }

  ul li {
    list-style-type: square;
    margin-left: 30px;
  }

  a {
    text-decoration: underline;
    color: #27a6e1;
  }

  .special_offer {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100px;
  }

  .back_cta_row {
    margin-bottom: 20px;
  }

}
