<common-card-page>

  <!-- TITLE ========================================================================= -->
  <div class="row">
    <div class="col-xs-12">
      <h1>Ihre Module / Pakete</h1>
    </div>
  </div>

  <!-- INTRO text ==================================================================== -->
  <div class="row" style="font-weight: 300; font-size: 1.3rem;">
    <div class="col-sm-6">
      <b>Infos:</b>
      <ul>
        <li>In der Tabelle sehen Sie den Status Ihrer Module / Buchungen.</li>
        <li>Sobald Sie ein Modul buchen wollen und in der nachfolgenden Modul-Auflistung auf den <b>Button "BUCHEN..."</b> rechts des Moduls klicken, können Sie alle Details Ihrer Buchung festlegen.</li>
        <li>Unterhalb der Modul-Auflistung finden Sie nützliche Links zu <b>weiteren Dokumenten</b>.</li>
        <li>Bei Fragen stehen wir Ihnen gerne zur Verfügung:<br>
            direkt telefonisch: <a style="font-weight: bold; color: #2BBBAD;" href="tel:+41435438118">+41 43 543 81 18</a><br>
            für Rückruf / E-Mail <a style="font-weight: bold; color: #2BBBAD;" (click)="support()">hier klicken</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <b>Vorteile:</b>
      <ul>
        <li>Bei erfolgreichen <b>Weiterempfehlungen</b> erhalten Sie Gutschriften!</li>
        <li><b>Weiterempfehlungen</b> können Sie <a style="font-weight: bold; color: #2BBBAD;" (click)="invite()">hier</a> machen - danke!</li>
        <li>Gutschriften können somit dazu führen, dass Sie Ihre bluebamboo Lösung <b>völlig kostenfrei</b> nutzen können.<br>
            Die Gutschriften betragen <b>maximal 100% Ihrer bluebamboo Rechnung</b>.</li>
        <li>Sobald ein <b>Verband</b> mit bluebamboo eine Partnerschaft eingeht, bei dem Sie Mitglied sind, bekommen Sie ebenfalls eine Gutschrift.</li>
      </ul>
    </div>
  </div>

  <!-- SPECIAL OFFER text ============================================================ -->
  <div class="row" *ngIf="!adminOrdered">
    <div class="col-xs-12 special2017offer">
      <img class="special_offer" src="assets/special_offer.png">
      <p>Wenn Sie das Administrations-Modul jetzt für 2018 buchen (12 x 19.50 CHF) und den Jahresbetrag 2018 bis 15.1.2018 begleichen, dann bezahlen Sie statt 234.- CHF nur 199.- CHF für das ganze Jahr 2018 und können den Rest von 2017 die Software kostenfrei nutzen.</p>
      <p>Bei erfolgreichen Weiterempfehlungen bekommen Sie die Gutschriften ausgezahlt.</p>
      <p>Wenn Sie Mitglied eines Partner-Verbandes sind, dann bekommen Sie den entsprechenden Rabatt zusätzlich gutgeschrieben.</p>
      <p><button type="button" class="btn btn-success" (click)="bookAdmin()">Administrations-Modul für 2018 jetzt buchen...</button></p>
    </div>
  </div>

  <!-- MODULES table ================================================================= -->
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead style="background-color: #2BBBAD;">
          <tr class="text-white">
            <th>Modul<br>Status</th>
            <th>Kosten (CHF) / Monat<br>Laufzeit</th>
            <th>Gutschriften</th>
            <th>Aktionen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let module of visibleModules">
            <td>{{ module.label }}<br>{{ module.availability }}</td>
            <td>{{ module.booking.price }}<br>{{ module.booking.state }}</td>
            <td>{{ module.booking.discounts }}</td>
            <td>
              <button *ngIf="canBook(module)" type="button" class="btn btn-success" (click)="bookModule(module.code)">Buchen...</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Needed Files ===================================================== -->
  <div class="row">
    <div class="col-xs-12">
      <h2>Infomaterial</h2>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><a target="_blank" href="https://bluebamboo.blob.core.windows.net/public/Vertragsdokumente%20mPRIME.zip">SIX Payment Services Vertragsdokumente</a></li>
          </ul>
        </div>
        <div class="col-md-6">
         <!-- <ul>
            <li><a >Datei 2</a></li>
          </ul>-->
        </div>
      </div>
    </div>
  </div>

  <!-- ADDITIONAL links and info ===================================================== -->
  <div class="row">
    <div class="col-xs-12">
      <h2>Nützliche Links</h2>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li><a (click)="showRecommendPage()">Weiterempfehlung - herzlichen Dank!</a></li>
            <li><a (click)="showSupportPage()">Support / Hilfe - wir sind gerne für Sie da!</a></li>
            <li><a (click)="showFeedbackPage()">Ihr Feedback - wir hören auf Sie!</a></li>
            <li><a (click)="showPdfManual()">PDF Anleitung</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li><a (click)="showVideosPage()">Videos</a></li>
            <li><a (click)="showAGB()">AGB</a></li>
            <li><a (click)="showLicence()">Nutzungsbedingungen</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</common-card-page>

  <!-- BACK button =================================================================== -->
  <div class="row back_cta_row">
    <div class="col-xs-12 col-md-3">
      <button type="button" class="btn btn-primary btn-block waves-effect waves-light" (click)="executeBack()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK' | translate}}
      </button>
    </div>
  </div>


  <router-outlet></router-outlet>
