<common-card-page>
  <div class="row mt-1">
    <div class="messageBody">
      <h1>{{'PAGE.PURCHASED-CC.THANKS-MESSAGE.TITLE'|translate}}</h1>
      <p>{{'PAGE.PURCHASED-CC.THANKS-MESSAGE.TEXT'|translate}}</p>
      <iframe [src]="url | safeUrl" style="width: 800px; height: 600px;"></iframe>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.DESKTOP.MESSAGES.BACK'|translate}}</button>
    </div>
  </div>
</common-card-page>
