<mdb-card-collapse>
  <mdb-photo-upload [photo]="customer.foto" [expand]="false" card-photo></mdb-photo-upload>
  <span card-header>{{customer.firstname}} {{customer.name}}</span>
  <div card-block>
    <hr class="mb-2">
    <mdb-textarea
      title="{{'COMPONENT.COMMON-CUSTOMER-CARD.ADDRESS'|translate}}"
      icon="fa fa-map-marker prefix active"
      [ngModel]="customer|shortAddress"
      readonly="true">
    </mdb-textarea>
    <mdb-input
      title="{{'COMPONENT.COMMON-CUSTOMER-CARD.EMAIL'|translate}}"
      icon="fa fa-envelope prefix active"
      [ngModel]="customer.email"
      readonly="true">
    </mdb-input>
    <mdb-input
      title="{{'COMPONENT.COMMON-CUSTOMER-CARD.PHONE'|translate}}"
      icon="fa fa-phone prefix active"
      [ngModel]="customer.phone_home"
      readonly="true">
    </mdb-input>
  </div>
</mdb-card-collapse>
