<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="false">
<!--
  public type: string;
  public eventdate: date;
  public location: string;
  public amount: number;
  public desc: string:
  public comment: string;
  public chargeCustomer: boolean;
-->
  <mdb-input title="Ort" [(ngModel)]="item.place" name=" 'item.place' "></mdb-input>
  <mdb-input title="Bezeichnung" [(ngModel)]="item.name" name=" 'item.name' "></mdb-input>
  <mdb-input title="Betrag" [(ngModel)]="item.amount" name=" 'item.amount' "></mdb-input>
  <mdb-input title="Distanz" [(ngModel)]="item.distance" name=" 'item.distance' "></mdb-input>
  <mdb-textarea title="Teilnehmer" [(ngModel)]="item.participants" name=" 'item.participants' "></mdb-textarea>
  <mdb-textarea title="Notizen" [(ngModel)]="item.notes" name=" 'item.notes' "></mdb-textarea>

<!--
  <mdb-photo-upload [is-edit]="true" [photo]="employee.foto" (photoChange)="onPhotoChange($event)"></mdb-photo-upload>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.ADDRESS'|translate}}" [(ngModel)]="employee.address" name=" 'employee.address' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.NAME'|translate}} *" [(ngModel)]="employee.name" name=" 'employee.name' " required></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.FIRST-NAME'|translate}} *" [(ngModel)]="employee.firstname" name=" 'employee.firstname' " required></mdb-input>
  <mdb-select title="{{'PAGE.EMPLOYEE-FORM.FORM.GENDER'|translate}}" [(ngModel)]="employee.gender" name=" 'employee.gender' ">
    <mdb-select-item title="{{'PAGE.EMPLOYEE-FORM.FORM.GENDER-MAN'|translate}}" code="male"></mdb-select-item>
    <mdb-select-item title="{{'PAGE.EMPLOYEE-FORM.FORM.GENDER-WOMAN'|translate}}" code="female"></mdb-select-item>
  </mdb-select>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.ADDRESS-LINE'|translate}}" [(ngModel)]="employee.address_line" name=" 'employee.address_line' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.STREET'|translate}}" [(ngModel)]="employee.street" name=" 'employee.street' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.ZIP'|translate}}" [(ngModel)]="employee.zip" name=" 'employee.zip' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.CITY'|translate}}" [(ngModel)]="employee.city" name=" 'employee.city' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.STATE'|translate}}" [(ngModel)]="employee.state" name=" 'employee.state' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.COUNTRY'|translate}}" [(ngModel)]="employee.country" name=" 'employee.country' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.PRIVATE'|translate}}" [(ngModel)]="employee.phone_home" name=" 'employee.phone_home' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.MOBILE'|translate}}" [(ngModel)]="employee.phone_mobile" name=" 'employee.phone_mobile' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.PHONE.WORK'|translate}}" [(ngModel)]="employee.phone_work" name=" 'employee.phone_work' "></mdb-input>
  <div class="email">
    <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIVATE'|translate}}" [(ngModel)]="employee.email" name=" 'employee.email' "></mdb-input>
    <div class="text" *ngIf="employee.email_primary == 1">{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIMARY'|translate}}</div>
    <div class="radio">
      <input name="group1" type="radio" id="radio1" value="1" [checked]="employee.email_primary == 1" (click)="employee.email_primary=1;">
      <label for="radio1"></label>
    </div>
  </div>
  <div class="email">
    <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.SECOND'|translate}}" [(ngModel)]="employee.email_2" name=" 'employee.email_2' "></mdb-input>
    <div class="text" *ngIf="employee.email_primary == 2">{{'PAGE.EMPLOYEE-FORM.FORM.EMAIL.PRIMARY'|translate}}</div>
    <div class="radio">
      <input name="group1" type="radio" id="radio2" value="2" [checked]="employee.email_primary == 2" (click)="employee.email_primary=2;">
      <label for="radio2"></label>
    </div>
  </div>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.AHV'|translate}}" [(ngModel)]="employee.ahv" name=" 'employee.ahv' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.ZSR'|translate}}" [(ngModel)]="employee.zsr" name=" 'employee.zsr' "></mdb-input>
  <mdb-input title="{{'PAGE.EMPLOYEE-FORM.FORM.EGK'|translate}}" [(ngModel)]="employee.egk" name=" 'employee.egk' "></mdb-input>
  <div class="text-left mt-2 mb-2">
    <mdb-checkbox title="{{'PAGE.EMPLOYEE-FORM.FORM.HASTARIFF590'|translate}}" [(ngModel)]="employee.hasTariff590" name=" 'employee.hasTariff590' "></mdb-checkbox>
  </div>
  <div class="text-left mt-2 mb-2">
    <mdb-checkbox title="{{'PAGE.EMPLOYEE-FORM.FORM.ACTIVE'|translate}}" [(ngModel)]="employee.active" name=" 'employee.active' "></mdb-checkbox>
  </div>
-->
</common-form>
