<div class="md-form">
  <i *ngIf="icon" [ngClass]="icon"></i>
  <select #selectElem [disabled]="disabled">
      <option value="" disabled selected>{{select_option}}</option>
      <option *ngFor="let option of options" [value]="option.code" [selected]="value === option.code">{{option.title}}</option>
  </select>
  <label *ngIf="title">{{title}}</label>
</div>
