<form #form="ngForm">
  <div class="card-block">
    <div *ngIf="subpage == 0">
      <div class="text-xs-center">
        <h3>Abschliessen Ihrer Registration</h3>
        <hr/>
      </div>
      <div class="errorMessage" *ngIf="message != ''">
        {{message}}
      </div>
    </div>
    <div *ngIf="subpage == 1">
      <div class="text-xs-center">
        <h3>Registrierung erfolgreich abgeschlossen.</h3>
        <hr/>
      </div>
      <div class="text-xs-left">
        <p class="infoText">Die Registrierung ist erfolgreich abgeschlossen worden.</p>
        <p class="infoText">Sie können sich nun anmelden und mit der Nutzung loslegen, viel Spass und Erfolg!</p>
        <p class="infoText">Bei Fragen stehen wir Ihnen gerne zur Verfügung.</p>
        <p class="infoText"><b>Herzlichst, Ihr bluebamboo Team</b></p>
      </div>
      <div class="text-xs-center">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-ins btn-lg" (click)="login()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
