time-slots{
  display: block;
  overflow: auto;
  margin: auto;
  max-height: 500px;
  max-width: 90%;

  .time-slots-container {
    max-width:100%;
  }

  .time-slot-hour{
    white-space: nowrap;
    display: inline-block;

    .time-slot-selected {
      border: 2px solid #076d99 !important;
      border-radius: 20px;
      color: orange;
    }

    .time-slot-time{
      display: inline-block;
      padding: 0.3rem;
      //margin: 0.3rem;
      //border: solid 1px color('grey','lighten-4');
      cursor: pointer;
      border: solid 3px transparent;
      border-radius: 20px;

      &:hover{
        background-color: color('grey','lighten-3');
      }

      &:not(.selectable) {
        color: #999999;
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}
