<div class="time-slots-container row">
    <div *ngFor="let slot of timeData" class="time-slot-hour" [ngClass] = "{'col-xs-1': cols === 12, 'col-xs-2': cols === 6, 'col-xs-3': cols === 4 || !cols, 'col-xs-6': cols === 2, 'col-xs-12': cols === 1}">
        <div class="time-slot-time"
          (click)="select(slot)"
          [ngClass] = "{'time-slot-selected': slot.time === selectedTime, 'selectable': slot.available}">
          {{slot.time}}
        </div>
    </div>
</div>
