<slide-panel>
    <div slide-panel-type="title">
        {{'PAGE.REPORT-FORM.PROPERTIES.LOC_TITLE'|translate}}
    </div>
    <div slide-panel-type="content">
        <mdb-input [type]="'number'" title="{{'PAGE.REPORT-FORM.PROPERTIES.X'|translate}}" [(ngModel)]="x"></mdb-input>
        <mdb-input [type]="'number'" title="{{'PAGE.REPORT-FORM.PROPERTIES.Y'|translate}}" [(ngModel)]="y"></mdb-input>
        <mdb-input [type]="'number'" title="{{'PAGE.REPORT-FORM.PROPERTIES.WIDTH'|translate}}" *ngIf="show.showProperty('location','width')" [(ngModel)]="width"></mdb-input>
        <mdb-input [type]="'number'" title="{{'PAGE.REPORT-FORM.PROPERTIES.HEIGHT'|translate}}" *ngIf="show.showProperty('location','height')" [(ngModel)]="height"></mdb-input>
        <mdb-input [type]="'number'" title="{{'PAGE.REPORT-FORM.PROPERTIES.LENGTH'|translate}}" *ngIf="show.showProperty('location','length')" [(ngModel)]="length"></mdb-input>
        <mdb-input [type]="'number'" title="{{'PAGE.REPORT-FORM.PROPERTIES.THICKNESS'|translate}}" *ngIf="show.showProperty('location','thickness')" [(ngModel)]="thickness"></mdb-input>
        <mdb-checkbox title="{{'PAGE.REPORT-FORM.PROPERTIES.KEEP_RATIO'|translate}}" *ngIf="show.showProperty('location','keepRatio')" [(ngModel)]="keepRatio"></mdb-checkbox>
    </div>
</slide-panel>
