<div class="container p-0">
    <booking-service *ngFor="let service of services.slice(0, getTop())" [service]="service"></booking-service>
    <div class="command-panel d-flex flex-row-reverse">
        <div>
            <button class="btn-flat btn-lg m-0" (click)="toggle()"><i class="fa" [ngClass]="{'fa-angle-down': !showAll, 'fa-angle-up': showAll}"></i></button>
        </div>
        <div class="p-1">
            {{'PAGE.FRONT.ALL' |translate}} <span class="count">{{services.length}}</span> {{'PAGE.FRONT.SHOW_OFFERS' |translate}}
        </div>
    </div>
</div>
