@import "./service/booking-service";

booking-services-list{
  .command-panel{
    display: block;
    border-top: solid 1px color('grey', 'lighten-2');
    border-bottom: solid 3px color('grey', 'lighten-2');

    .count{
      font-weight: bold;
    }
  }
}