include /jade/blocks_meik.pug
include ../customers/pages_customers.pug
include ../customers/pages_dossiers.pug

ng-controller(ng-controller="CustomersController as ng")
	+modal_simple
	+modal_imageUpload
	+loadingSpinner
	+admin_content("{{ng.ctrl.pagetitle}}")
		+pages_customer_all
		+pages_dossier_all
