//output:$1.html, doctype: html
include /jade/blocks_meik.pug

mixin page_index ()
	.row
		+admin_tile("Kunden erfassen","fa-user-plus","ng.ctrl.addCustomer()","badge-blue","")
		+admin_tile("Kunden anzeigen","fa-users","ng.ctrl.loadPage(2)","badge-blue","")
		+admin_tile("Krankenkassen verwalten", "fa-medkit", "ng.ctrl.manageInsurances()", "badge-blue", "")
	+buttonrow_1("zurück", "pageBack")
	
mixin page_show_all ()
	+searchblock
	+sortable_table
		+sortable_table_header
			+sortable_table_header_cell("Name", "name")
			+sortable_table_header_cell("Vorname", "firstname")
			+sortable_table_header_cell("Ort", "city")
		+sortable_table_content("ng.ctrl.showCustomer(tablerow.id)")
			+sortable_table_content_cell("name")
			+sortable_table_content_cell("firstname")
			+sortable_table_content_cell("city")
	+buttonrow_1("Zurück", "pageBack")

mixin page_show_one ()
	+content_box_list
		+content_box("http://constey.de/wp-content/uploads/2012/03/adphoto-leer.jpg")
			+content_box_textfield_bold("{{ng.ctrl.model.fields.address}} {{ng.ctrl.model.fields.firstname}} {{ng.ctrl.model.fields.name}}")
			+content_box_textfield_label_model("Adresse", "street")
			+content_box_textfield_label("" ,"{{ng.ctrl.model.fields.zip}} {{ng.ctrl.model.fields.city}}")
			+content_box_textfield_label("Geburtstag" ,"{{ng.ctrl.model.fields.birth_day}}.{{ng.ctrl.model.fields.birth_month}}.{{ng.ctrl.model.fields.birth_year}}")
			+content_box_textfield_label_model("Telefon Privat", "phone_home")
			+content_box_textfield_label_model("Telefon Mobil", "phone_mobile")
			+content_box_textfield_label_model("Telefon Arbeit", "phone_work")
			+content_box_textfield_label_model("Email", "email")
			+content_box_textfield_label_model("Email 2", "email_2")
			+content_box_textfield_label_model("Bekannt durch", "known_from")
	+action_dropup("Wählen Sie eine Aktion")
		+action_drop_position("Daten anpassen", "ng.ctrl.editCustomer(ng.ctrl.model.fields.id)")
		+action_drop_position("Termin erstellen", "ng.ctrl.addCustomerEvent(ng.ctrl.model.fields.id)")
		// +action_drop_position("Offene Leistungen anzeigen", "")
		// +action_drop_position("Klienten Dossier anzeigen", "")
		// +action_drop_position("Rechnungen anzeigen", "")
		+action_drop_position("Kunden löschen", "ng.ctrl.deleteCustomer(ng.ctrl.model.fields.id)")
	+buttonrow_1("zurück", "pageBack")

mixin page_addCustomer ()
	+form("addform", "Weiter")
		+string_input("Nachname", "name")
		+string_input("Vorname", "firstname")

mixin page_similarCustomers ()
	+textblock_default("Ist der Kunde evtl. schon erfasst?")
	+content_box_list_dynamic_extension_hideable("contentBoxList")
		+content_box_list_extension_row_action("Bearbeiten", "ng.ctrl.editCustomer(cblRow.id)")
		+content_box_list_extension_row_action("Termin planen", "ng.ctrl.addCustomerEvent(cblRow.id)")
	+buttonrow_2("neuen erfassen", "addNewCustomer", "abbrechen", "cancel")

mixin page_editCustomer ()
	+form_back("editform", "speichern")
		+string_input("Anrede", "address")
		+checkbox("Anrede Du?", "address_you")
		+string_input("Nachname", "name")
		+string_input("Vorname", "firstname")
		+select_input("Geschlecht", "gender", "genders", "label")
		+birthday_input("Geburtstag", "birth_day", "birth_month", "birth_year")
		+string_input("Strasse & Nr.", "street")
		+string_input("Postleitzahl", "zip")
		+string_input("Ort", "city")
		+string_input("Telefon", "phone_home")
		+string_input("Mobile", "phone_mobile")
		+string_input("Geschäftlich", "phone_work")
		+string_input("E-Mail", "email")
		+string_input("Sekundäre E-Mail", "email_second")
		+select_input_int("Krankenkasse", "insurance_id", "ng.ctrl.insurances", "name")
		+text_input("Bekannt durch", "known_from")

mixin page_confirmSavedCustomer ()
	+textblock_success("Der Kunde wurde erfasst!")
	+textblock_default("Wollen Sie gleich einen Termin planen?")
	+content_box_list_dynamic_iconbutton("contentBoxList", "addTherapy(cblRow.id)", "addTherapy(cblRow.id)", "fa-chevron-right")
	+buttonrow_1("nein, danke","cancel")

div(ng-controller="CustomersController as ng")
	+ng_conditional_page_header("1")
		+page_index
	+ng_conditional_page_header("2")
		+page_show_all
	+ng_conditional_page_header("3")
		+page_show_one
	+ng_conditional_page_header("4")
		+page_addCustomer
	+ng_conditional_page_header("5")
		+page_similarCustomers
	+ng_conditional_page_header("6")
		+page_editCustomer
	+ng_conditional_page_header("7")
		+page_confirmSavedCustomer
