//- ----------------------------------------------------------------------------
//- 400 - Dossier, case and report pages
//- -------------------

mixin pages_dossier_all()
	+pages_dossier_show_one
	+pages_dossier_edit
	+pages_dossier_case
	+pages_dossier_report

//- Dossier Show One
//- -----------------------------------
mixin pages_dossier_show_one()
	+page_dossier_show_one

mixin page_dossier_show_one()
	- locals.page = "410"
	- var page = locals.page

	+page_header
		+lightbox_ui
		+corner_button("modules.dossiers.editDossier(ng.ctrl.model.fields)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_dossier_show_one")
			.card-block
				h4 Klientendossier
				hr.mb-1
				+customer_card_collapse("model.fields.customer")
				+showonly_textarea("Medizinische Vorgeschichte", "medical_history", "fa-heartbeat")
				+showonly_textarea("Medikamente", "medicines", "fa-medkit")
				+showonly_textarea("Allergien", "allergies", "")
				+showonly_image_input("Bild", "image")

				+cbl_list_icon("modules.dossiers.cblCases", "modules.dossiers.showCase(cblRow.id)", "Noch keine Fälle angelegt.", "fa-folder-open", "Fälle")
				//- +cbl_list_icon("modules.dossiers.cblWOCase", "modules.dossiers.showReport(cblRow.id)", "Alle Behandlungen sind Fällen zugewiesen.", "fa-calendar", "Unzugeordnete Behandlungen")
				ng-if(ng-if="ng.ctrl.modules.dossiers.cblWOCase.content.length > 0")
					+cbl_list_booking_report_addedit("modules.dossiers.cblWOCase", "modules.dossiers.addeditReportCasechoose(cblRow)", "Alle Behandlungen sind Fällen zugewiesen.", "fa-calendar", "Unzugeordnete Behandlungen")
				.mb-2
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Daten anpassen", "modules.dossiers.editDossier(ng.ctrl.model.fields)", "fa-pencil")
					+action_drop_position("Neuen Fall eröffnen", "modules.dossiers.addCase(ng.ctrl.model.fields.customer)", "fa-folder-open")

//- Dossier Edit
//- -----------------------------------
mixin pages_dossier_edit()
	+page_dossier_edit

mixin page_dossier_edit()
	- locals.page = "450"
	- var page = locals.page
	+page_header
		+form("form_dossier_edit", "speichern")
			+customer_card_collapse("model.fields.customer")
			+text_input("Medizinische Vorgeschichte", "medical_history")
			+text_input("Medikamente", "medicines")
			+text_input("Allergien", "allergies")
			+image_input("image")

//- Cases
//- -----------------------------------
mixin pages_dossier_case()
	+page_dossier_case_show_one
	+page_dossier_case_add
	+page_dossier_case_edit
	+page_dossier_case_choose_one
	
mixin page_dossier_case_show_one()
	- locals.page = "471"
	- var page = locals.page
	+page_header
		+lightbox_ui
		+corner_button("modules.dossiers.editCase(ng.ctrl.model.fields)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_dossier_case_show_one")
			.card-block
				+customer_card_collapse("model.fields.customer")
				h4.card-title {{ng.ctrl.model.fields.title}}
				hr.mb-2
				+showonly_textvar_input("Behandlungsgrund", "modules.dossiers.typeLabel(ng.ctrl.model.fields.type)", "fa-wpforms")
				+showonly_div("Diagnose {{ng.ctrl.modules.dossiers.diagnosisTypeLabel(ng.ctrl.model.fields.diagnosis_type)}}", "{{ng.ctrl.model.fields.diagnosis_text}}", "")
				ng-if(ng-if="ng.ctrl.model.fields.type == 2")
					+showonly_input("Unfalldatum", "accident_date", "fa-calendar")
				+showonly_textvar_input("Vergütungsart", "modules.dossiers.paymentLabel(ng.ctrl.model.fields.payment_type)", "fa-money")
				+showonly_div("Gesetz", "{{ng.ctrl.modules.dossiers.lawLabel(ng.ctrl.model.fields.law)}}", "")
				+showonly_textarea("Notizen", "comment", "fa-sticky-note-o")
				+showonly_textarea("Rechnungsbemerkung", "comment_invoice", "")
				+showonly_image_input("Bild", "image")
				.card
					.card-block
						+form_subheader("Zuweiser")
						+showonly_textvar_input("Art", "modules.dossiers.referralLabel(ng.ctrl.model.fields.referral_type)", "fa-user-md")
						+showonly_input("Name", "referral_name", "")
						+showonly_input("ZSR-Nr.", "referral_zsr", "")
						+showonly_input("GLN-Nr.", "referral_gln", "")
				+showonly_checkbox("Fall offen?", "isOpen", "fa-folder-open-o")
				+showonly_checkbox("Aktueller Fall?", "isCurrent", "fa-clock-o")
				+cbl_list_booking_report_addedit("modules.dossiers.cblBookings", "modules.dossiers.showaddReport(cblRow)", "Noch keine Behandlungen für diesen Fall vorhanden.", "fa-calendar", "Behandlungen")
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Daten anpassen", "modules.dossiers.editCase(ng.ctrl.model.fields)", "fa-pencil")
					//- +action_drop_position("Unzugeordnete Behandlungen zuweisen", "modules.dossiers.chooseUnassignedBookings(ng.ctrl.model.fields.customer_id)", "fa-folder-open")

mixin page_dossier_case_choose_one()
	- locals.page = "473"
	- var page = locals.page
	+page_header
		+corner_button("modules.dossiers.addCase(ng.ctrl.model._chooseProps.customer_id)", "fa-plus", "blue")
		+content_box_list_dynamic_iconbutton("modules.dossiers.cblCases", "cta(cblRow)", "cta(cblRow)", "fa-chevron-right")
		//- +buttonrow_1("Zurück", "pageBack")
		+buttonrow_2_floating("Zurück", "pageBack()", "Neuen anlegen", "modules.dossiers.addCase(ng.ctrl.model._chooseProps.customer_id)", "fa-plus")

mixin page_dossier_case_add()
	- locals.page = "474"
	- var page = locals.page
	+page_header
		+form("form_dossier_case_add", "speichern")
			+customer_card_collapse("model.fields.customer")
			+string_input("Falltitel *", "title")
			+select_input("Behandlungsgrund", "type", "modules.dossiers.types", "label")
			ng-show(ng-show="ng.ctrl.model.fields.type == 2")
				+date_input("Unfalldatum", "accident_date")
			+select_input("Vergütungsart", "payment_type", "modules.dossiers.paymentTypes", "label")
			+select_input("Gesetz", "law", "modules.dossiers.laws", "label")
			+select_input("Therapie", "therapy_type", "modules.dossiers.therapyTypes", "label")
			+select_input("Diagnose Textformat", "diagnosis_type", "modules.dossiers.diagnosisTypes", "label")
			+string_input("Diagnose", "diagnosis_text")
			+text_input("Notizen", "comment")
			+text_input("Rechnungsbemerkung", "comment_invoice")
			+image_input("image")
			.card.mb-2
				.card-block
					+form_subheader("Zuweiser")
					+select_input("Art", "referral_type", "modules.dossiers.referralTypes", "label")
					+string_input("Name", "referral_name")
					+string_input("ZSR-Nr.", "referral_zsr")
					+string_input("GLN-Nr.", "referral_gln")
			+checkbox("Fall offen?", "isOpen")
			+checkbox("Als aktuellen Fall setzen?", "isCurrent")

mixin page_dossier_case_edit()
	- locals.page = "475"
	- var page = locals.page
	+page_header
		+form("form_dossier_case_edit", "speichern")
			+customer_card_collapse("model.fields.customer")
			+string_input("Falltitel *", "title")
			+select_input("Behandlungsgrund", "type", "modules.dossiers.types", "label")
			ng-show(ng-show="ng.ctrl.model.fields.type == 2")
				+date_input("Unfalldatum", "accident_date")
			+select_input("Vergütungsart", "payment_type", "modules.dossiers.paymentTypes", "label")
			+select_input("Gesetz", "law", "modules.dossiers.laws", "label")
			+select_input("Therapie", "therapy_type", "modules.dossiers.therapyTypes", "label")
			+select_input("Diagnose Textformat", "diagnosis_type", "modules.dossiers.diagnosisTypes", "label")
			+string_input("Diagnose", "diagnosis_text")
			+text_input("Notizen", "comment")
			+text_input("Rechnungsbemerkung", "comment_invoice")
			+image_input("image")
			.card.mb-2
				.card-block
					+form_subheader("Zuweiser")
					+select_input("Art", "referral_type", "modules.dossiers.referralTypes", "label")
					+string_input("Name", "referral_name")
					+string_input("ZSR-Nr.", "referral_zsr")
					+string_input("GLN-Nr.", "referral_gln")
			+checkbox("Fall offen?", "isOpen")
			+checkbox("Aktueller Fall?", "isCurrent")

//- Reports
//- -----------------------------------
mixin pages_dossier_report()
	+page_dossier_report_show_one
	+page_dossier_report_add
	+page_dossier_report_add_casechoose
	+page_dossier_report_edit
	+page_dossier_report_edit_casechoose

mixin page_dossier_report_show_one()
	- locals.page = "481"
	- var page = locals.page
	+page_header
		+lightbox_ui
		+corner_button("modules.dossiers.editReport(ng.ctrl.model.fields.booking.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_dossier_case_show_one")
			.card-block
				+customer_card_collapse("model.fields.booking.customer")
				+form_subheader("Behandlung")
				+therapy_card("model.fields.booking")
				h4.card-title {{ng.ctrl.model.fields.title}}
				hr.mb-2
				+showonly_input("Behandlungsbericht", "text", "fa-wpforms")
				+showonly_image_input("Bild", "image")
				+showonly_input("Interner Kommentar", "comment", "fa-sticky-note-o")
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Daten anpassen", "modules.dossiers.editReport(ng.ctrl.model.fields.booking.id)", "fa-pencil")


mixin page_dossier_report_add()
	- locals.page = "484"
	- var page = locals.page
	+page_header
		+form("form_dossier_report_add", "speichern")
			+customer_card_collapse("model.fields.booking.customer")
			+form_subheader("Behandlung")
			+therapy_card("model.fields.booking")
			+text_input("Behandlungsbericht", "text")
			+text_input("Interner Kommentar", "comment")
			+image_input("image")

mixin page_dossier_report_edit()
	- locals.page = "485"
	- var page = locals.page
	+page_header
		+form("form_dossier_report_edit", "speichern")
			+customer_card_collapse("model.fields.booking.customer")
			+form_subheader("Behandlung")
			+therapy_card("model.fields.booking")
			+text_input("Behandlungsbericht", "text")
			+text_input("Interner Kommentar", "comment")
			+image_input("image")

mixin page_dossier_report_add_casechoose()
	- locals.page = "487"
	- var page = locals.page
	+page_header
		+form("form_dossier_report_add", "speichern")
			+customer_card_collapse("model.fields.booking.customer")
			+content_box_list_form()
				+content_box_forward("{{ng.ctrl.modules.dossiers.labelCase()}}", "modules.dossiers.chooseCase(ng.ctrl.model.fields.booking.customer.id)")
			+form_subheader("Behandlung")
			+therapy_card("model.fields.booking")
			+text_input("Behandlungsbericht", "text")
			+text_input("Interner Kommentar", "comment")
			+image_input("image")

mixin page_dossier_report_edit_casechoose()
	- locals.page = "488"
	- var page = locals.page
	+page_header
		+form("form_dossier_report_edit", "speichern")
			+customer_card_collapse("model.fields.booking.customer")
			+content_box_list_form()
				+content_box_forward("{{ng.ctrl.modules.dossiers.labelCase()}}", "modules.dossiers.chooseCase(ng.ctrl.model.fields.booking.customer.id)")
			+form_subheader("Behandlung")
			+therapy_card("model.fields.booking")
			+text_input("Behandlungsbericht", "text")
			+text_input("Interner Kommentar", "comment")
