//- ----------------------------------------------------------------------------
//- 200 - Customer Pages
//- -------------------
mixin pages_customer_all()
	+pages_customer_index
	+pages_customer_show_one
	+pages_customer_show_all
	+pages_customer_choose_one
	+pages_customer_add
	+pages_customer_edit
	+pages_customer_other

//- 200 - Customer Index
//- -----------------------------------
mixin pages_customer_index()
	+page_customer_index

mixin page_customer_index()
	- locals.page = "200"
	+page_header
		.row
			+admin_tile_ma_id("10", "Kunden erfassen","fa-user-plus","ng.ctrl.modules.customers.addCustomer()","badge-blue","")
			+admin_tile_ma_id("11", "Kunden anzeigen","fa-address-book","ng.ctrl.modules.customers.loadIndex(220)","badge-blue","")
		+buttonrow_1("zurück", "back")

//- 210 - Customer Show One
//- -----------------------------------
mixin pages_customer_show_one()
	+page_customer_show_one
	+page_customer_bookinglist

mixin page_customer_show_one()
	- locals.page = "210"
	+page_header
		+corner_button("modules.customers.editCustomer(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_card("form_customer_show_one")
			.card.testimonial-card
				+form_image_header_contact("foto")
				.card-block.text-xs-left
					h4.card-title {{ng.ctrl.model.fields.address}} {{ng.ctrl.model.fields.firstname}} {{ng.ctrl.model.fields.name}}
					hr.mb-2
					+showonly_textvar_input("Geschlecht", "genderLabel(ng.ctrl.model.fields.gender)", "fa-venus-mars")
					+showonly_input_birthday("birth_day", "birth_month", "birth_year")
					+showonly_textarea_adress()
					+showonly_textvar_input("Anrede", "modules.customers.adressLabel()", "fa-comment-o")
					+showonly_input("Telefon privat", "phone_home", "fa-phone")
					+showonly_input("Telefon mobil", "phone_mobile", "")
					+showonly_input("Telefon geschäftlich", "phone_work", "")
					//- +showonly_input("E-Mail privat", "email", "fa-envelope")
					//- +showonly_input("E-Mail geschäftlich", "email_second", "")
					+showonly_block("E-Mail privat", "fa-envelope")
						p {{ng.ctrl.model.fields.email}}&nbsp;
							ng-if(ng-if="ng.ctrl.model.fields.email_primary == 1") (Primär)
					+showonly_block("E-Mail geschäftlich", "")
						p {{ng.ctrl.model.fields.email_second}}&nbsp;
							ng-if(ng-if="ng.ctrl.model.fields.email_primary == 2") (Primär)
					+showonly_textvar_input("Krankenkasse", "modules.customers.insuranceLabel()", "fa-medkit")
					+showonly_textarea("Bekannt durch", "known_from", "fa-handshake-o")
					+showonly_textarea("Bemerkungen", "comment", "fa-sticky-note-o")
					ng-if(ng-if="ng.ctrl.isModelEmpty('guardian') == false")
						h4 Vormund
						hr.mb-1
						+customer_card_collapse("model.fields.guardian")
					ng-if(ng-if="ng.ctrl.isModelEmpty('caregiver') == false")
						h4 Bezugsperson / Betreuer
						hr.mb-1
						+customer_card_collapse("model.fields.caregiver")
					+buttonrow_action_dropup_back("Aktionen")
						+action_drop_position("Daten anpassen", "modules.customers.editCustomer(ng.ctrl.model.fields.id)", "fa-pencil")
						+action_drop_divider
						+action_drop_position("Klientendossier", "modules.dossiers.showDossier(ng.ctrl.model.fields.id)", "fa-file-text-o")
						+action_drop_position("Fall eröffnen", "modules.dossiers.addCase(ng.ctrl.model.fields)", "fa-folder-open")
						+action_drop_divider
						+action_drop_position("Terminliste", "modules.customers.showBookinglist(ng.ctrl.model.fields.id)", "fa-list")
						+action_drop_position("Termin erstellen", "modules.customers.addCustomerEvent(ng.ctrl.model.fields.id)", "fa-calendar-plus-o")
						// +action_drop_position("Offene Leistungen anzeigen", "")
						// +action_drop_position("Rechnungen anzeigen", "")
						+action_drop_divider
						+action_drop_position("Kunden löschen", "modules.customers.deleteCustomer(ng.ctrl.model.fields.id)", "fa-remove")

mixin page_customer_bookinglist()
	- locals.page = "211"
	+page_header
		//- Maybe Corner Button to make Booking for this customer?
			+corner_button("modules.customers.editCustomer(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		.row
			.col-md-8.offset-sm-2
				.card
					.card-block
						+appointment_list_row("prevdate", "calendarStyleObj(prevdate.product_color)")(ng-repeat="prevdate in ng.ctrl.model.fields.before track by $index" ng-click="ng.ctrl.modules.customers.showBooking(prevdate.id)")
						.row.row-eq-height.mx-0.mb-1(id="todayrow")
							.col-xs-3.px-0
								h4.mb-0 Heute
							.col-xs-9.circle-border
						+appointment_list_row("afterdate", "calendarStyleObj(afterdate.product_color)")(ng-repeat="afterdate in ng.ctrl.model.fields.after track by $index" ng-click="ng.ctrl.modules.customers.showBooking(afterdate.id)")
						+buttonrow_1("Zurück", "pageBack")
				

//- 220 Customer Show All
//- -----------------------------------
mixin pages_customer_show_all()
	+page_customer_show_all()
	
mixin page_customer_show_all()
	- locals.page = "220"
	+page_header
		//- +corner_button("modules.customers.addNewCustomer()", "fa-plus", "blue")
		+searchblock
		+sortable_table
			+sortable_table_header
				+sortable_table_header_cell("Name", "name")
				+sortable_table_header_cell("Vorname", "firstname")
				+sortable_table_header_cell("Ort", "city")
			+sortable_table_content("ng.ctrl.modules.customers.showCustomer(tablerow.id)")
				+sortable_table_content_cell("name")
				+sortable_table_content_cell("firstname")
				+sortable_table_content_cell("city")
		//- +buttonrow_1("Zurück", "back")
		+buttonrow_2_floating("Zurück", "back()", "Neu anlegen", "modules.customers.addNewCustomer()", "fa-plus")

//- 230 - Customer Choose One
//- -----------------------------------
mixin pages_customer_choose_one()
	+page_customer_choose_one
	
mixin page_customer_choose_one()
	- locals.page = "230"
	+page_header
		//- +corner_button("modules.customers.addCustomer()", "fa-plus", "blue")
		+searchblock
		+sortable_table
			+sortable_table_header
				+sortable_table_header_cell("Name", "name")
				+sortable_table_header_cell("Vorname", "firstname")
				+sortable_table_header_cell("Ort", "city")
			+sortable_table_content("ng.ctrl.cta(tablerow)")
				+sortable_table_content_cell("name")
				+sortable_table_content_cell("firstname")
				+sortable_table_content_cell("city")
		//- +buttonrow_1("Zurück", "pageBack")
		+buttonrow_2_floating("Zurück", "pageBack()", "Neu anlegen", "modules.customers.addCustomer()", "fa-plus")

//- 240 - Customer Add
//- -----------------------------------
mixin pages_customer_add
	+page_customer_add
	+page_customer_add_name
	+page_customer_add_show_similar
	
mixin page_customer_add()
	- locals.page = "240"
	+page_header
		//- +form_back("addform", "speichern")
		+form_wo_card("form_customer_add")
			.card.testimonial-card
				+form_image_header_contact_uploadbutton("foto")
				.card-block.text-xs-left
					+string_input("Anrede", "address")
					+checkbox("Anrede per Du?", "address_you")
					+string_input("Nachname *", "name")
					+string_input("Vorname *", "firstname")
					+select_input_geschlecht("Geschlecht", "gender", "genders", "label")
					+birthday_input("Geburtstag", "birth_day", "birth_month", "birth_year")
					+string_input("Zweite Adresszeile", "address_line")
					+string_input("Strasse & Nr.", "street")
					+string_input("Postleitzahl", "zip")
					+string_input("Ort", "city")
					+string_input("Kanton", "state")
					+string_input("Land", "country")
					+string_input("Telefon privat", "phone_home")
					+string_input("Telefon mobil", "phone_mobile")
					+string_input("Telefon geschäftlich", "phone_work")
					+email_input_standardcheck("E-Mail privat", "email", "email_primary", "1", "Primär")
					+email_input_standardcheck("E-Mail geschäftlich", "email_second", "email_primary", "2", "Primär")
					+select_input_int("Krankenkasse", "insurance_id", "ng.ctrl.modules.customers.insurances", "name")
					+text_input("Bekannt durch", "known_from")
					+choose_input("Vormund", "guardian_id", "modules.customers.labelGuardianChoose()", "modules.customers.chooseCustomer('guardian')", "fa-chevron-right", true)
					+choose_input("Bezugsperson", "caregiver_id", "modules.customers.labelCaregiverChoose()", "modules.customers.chooseCustomer('caregiver')", "fa-chevron-right", true)
					//-
						+content_box_list_form()
							+content_box_forward("{{ng.ctrl.modules.customers.labelGuardianChoose()}}", "modules.customers.chooseCustomer('guardian')")
							+content_box_forward("{{ng.ctrl.modules.customers.labelCaregiverChoose()}}", "modules.customers.chooseCustomer('caregiver')")
					+text_input("Bemerkungen", "comment")
					+form_message()
					+form_cta_back("speichern")

mixin page_customer_add_name()
	- locals.page = "241"
	+page_header
		+form("addform", "Weiter")
			+string_input("Nachname", "name")
			+string_input("Vorname", "firstname")

mixin page_customer_add_show_similar()
	- locals.page = "242"
	+page_header
		+form_back("form_customer_add_show_similar", "Neuen erfassen")
			+form_heading("Ist der Kunde schon erfasst?")
			+content_box_list_dynamic_extension_hideable("modules.customers.contentBoxList")
				+content_box_list_extension_row_action("Bearbeiten", "ng.ctrl.modules.customers.editCustomer(cblRow.id)")
				+content_box_list_extension_row_action("Termin planen", "ng.ctrl.modules.customers.addCustomerEvent(cblRow.id)")

//-
	mixin page_customer_addedit()
		+form_back("editform", "speichern")
			+string_input("Anrede", "address")
			+checkbox("Anrede Du?", "address_you")
			+string_input("Nachname", "name")
			+string_input("Vorname", "firstname")
			+select_input_geschlecht("Geschlecht", "gender", "genders", "label")
			+birthday_input("Geburtstag", "birth_day", "birth_month", "birth_year")
			+string_input("Strasse & Nr.", "street")
			+string_input("Postleitzahl", "zip")
			+string_input("Ort", "city")
			+string_input("Telefon", "phone_home")
			+string_input("Mobile", "phone_mobile")
			+string_input("Geschäftlich", "phone_work")
			+string_input("E-Mail", "email")
			+string_input("Sekundäre E-Mail", "email_second")
			+select_input_int("Krankenkasse", "insurance_id", "ng.ctrl.insurances", "name")
			+text_input("Bekannt durch", "known_from")

//- 250 - Customer Edit
//- -----------------------------------
mixin pages_customer_edit()
	+page_customer_edit

mixin page_customer_edit()
	- locals.page = "250"
	+page_header
		+form_wo_card("form_customer_edit")
			.card.testimonial-card
				+form_image_header_contact_uploadbutton("foto")
				.card-block.text-xs-left
					+string_input("Anrede", "address")
					+checkbox("Anrede per Du?", "address_you")
					+string_input("Nachname *", "name")
					+string_input("Vorname *", "firstname")
					//- +image_input("foto")
					+select_input_geschlecht("Geschlecht", "gender", "genders", "label")
					+birthday_input("Geburtstag", "birth_day", "birth_month", "birth_year")
					+string_input("Zweite Adresszeile", "address_line")
					+string_input("Strasse & Nr.", "street")
					+string_input("Postleitzahl", "zip")
					+string_input("Ort", "city")
					+string_input("Kanton", "state")
					+string_input("Land", "country")
					+string_input("Telefon privat", "phone_home")
					+string_input("Telefon mobil", "phone_mobile")
					+string_input("Telefon geschäftlich", "phone_work")
					//- +string_input("E-Mail privat", "email")
					//- +string_input("E-Mail geschäftlich", "email_second")
					+email_input_standardcheck("E-Mail privat", "email", "email_primary", "1", "Primär")
					+email_input_standardcheck("E-Mail geschäftlich", "email_second", "email_primary", "2", "Primär")
					+select_input_int("Krankenkasse", "insurance_id", "ng.ctrl.modules.customers.insurances", "name")
					+text_input("Bekannt durch", "known_from")
					+choose_input("Vormund", "guardian_id", "modules.customers.labelGuardianChoose()", "modules.customers.chooseCustomer('guardian')", "fa-chevron-right", true)
					+choose_input("Bezugsperson", "caregiver_id", "modules.customers.labelCaregiverChoose()", "modules.customers.chooseCustomer('caregiver')", "fa-chevron-right", true)
					//-
						+content_box_list_form()
							+content_box_forward("{{ng.ctrl.modules.customers.labelGuardianChoose()}}", "modules.customers.chooseCustomer('guardian')")
							+content_box_forward("{{ng.ctrl.modules.customers.labelCaregiverChoose()}}", "modules.customers.chooseCustomer('caregiver')")
					+text_input("Bemerkungen", "comment")
					+form_message()
					+form_cta_back("speichern")

//- 270 - Customer Choose One
//- -----------------------------------
mixin pages_customer_other()
	+page_customer_confirm_saved

mixin page_customer_confirm_saved()
	- locals.page = "270"
	+page_header
		+textblock_success("Der Kunde wurde erfasst!")
		+textblock_default("Wollen Sie gleich einen Termin planen?")
		+content_box_list_dynamic_iconbutton("modules.customers.contentBoxList", "modules.customers.addTherapy(cblRow.id)", "modules.customers.addTherapy(cblRow.id)", "fa-chevron-right")
		+buttonrow_1("Nein, danke","cancel")
