<common-form [hidden]="isView" (back)="back()" (save)="save()" [can-delete]="false">
  <div class="mb-2">
    <common-customer-card [customer]="booking.customer"></common-customer-card>
  </div>
  <div class="mb-2">
    <booking-card [booking]="booking"></booking-card>
  </div>
  <mdb-textarea title="{{'PAGE.BOOKING-REPORT-FORM.FORM.TEXT'|translate}}" [(ngModel)]="report.text" name="text"></mdb-textarea>
  <mdb-textarea title="{{'PAGE.BOOKING-REPORT-FORM.FORM.COMMENT'|translate}}" [(ngModel)]="report.comment" name="comment"></mdb-textarea>
  <mdb-upload [photo]="report.image" (photoChange)="onImageChange($event)" accept="image/*"></mdb-upload>
</common-form>
<common-card-page *ngIf="isView && report.id">
  <div class="mb-2">
    <common-customer-card [customer]="booking.customer"></common-customer-card>
  </div>
  <div class="mb-2">
    <booking-card [booking]="booking"></booking-card>
  </div>
  <mdb-textarea icon="prefix active fa fa-wpforms" title="{{'PAGE.BOOKING-REPORT-FORM.FORM.TEXT'|translate}}" [ngModel]="report.text" readonly="true"></mdb-textarea>
  <mdb-upload [is-edit]="false" [photo]="report.image" (photoChange)="onImageChange($event)"></mdb-upload>
  <mdb-textarea icon="prefix active fa fa-sticky-note-o" title="{{'PAGE.BOOKING-REPORT-FORM.FORM.COMMENT'|translate}}" [ngModel]="report.comment" readonly="true"></mdb-textarea>

  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
