<mdb-select class="col-xs-6" select-option="{{'PAGE.BOOKING-EMPLOYEE-REASON.EMPTY'|translate}}" [(ngModel)]="value">
  <mdb-select-item code="1" title="{{'PAGE.BOOKING-EMPLOYEE-REASON.HOLIDAY'|translate}}"></mdb-select-item>
  <mdb-select-item code="2" title="{{'PAGE.BOOKING-EMPLOYEE-REASON.SICKNESS'|translate}}"></mdb-select-item>
  <mdb-select-item code="3" title="{{'PAGE.BOOKING-EMPLOYEE-REASON.EDUCATION'|translate}}"></mdb-select-item>
  <mdb-select-item code="4" title="{{'PAGE.BOOKING-EMPLOYEE-REASON.PUBLIC_HOLIDAY'|translate}}"></mdb-select-item>
  <mdb-select-item code="0" title="{{'PAGE.BOOKING-EMPLOYEE-REASON.OTHER'|translate}}"></mdb-select-item>
</mdb-select>
