<div class="relative-container">
    <report-designer-font-style-editor
      *ngIf="show.showFont"
      [show]="show"
      [element]="element"
      [page]="page">
    </report-designer-font-style-editor>

    <report-designer-border-style-editor
      *ngIf="show.showBorder"
      [show]="show"
      [element]="element"
      [page]="page">
    </report-designer-border-style-editor>

    <report-designer-location-editor
      *ngIf="show.showLocation"
      [show]="show"
      [element]="element"
      [page]="page">
    </report-designer-location-editor>

    <report-designer-common-editor
      *ngIf="show.showCommon"
      [show]="show"
      [element]="element"
      [page]="page"
      [templateVars]="templateVars"
      >
    </report-designer-common-editor>

    <report-designer-grid-editor
      *ngIf="show.showGrid"
      [show]="show"
      [element]="element"
      [page]="page">
    </report-designer-grid-editor>

    <report-designer-grid-action-editor
      *ngIf="show.showGridAction"
      [show]="show"
      [element]="element"
      [page]="page">
    </report-designer-grid-action-editor>
</div>
