common-selected {
  .common-selected-all {
    display: flex;
    justify-content: center;

    .common-selected-all-title {
      flex-grow: 2;
    }

    .common-selected-all-checkbox {
      justify-content: center;
    }
  }

  .common-selected-toggle {
    padding: 3px;
    text-align: center;
  }

  .common-selected-item {
    display: flex;

    .list-group-item-title {
      flex-grow: 2;
    }

    .list-group-item-checbox {

    }
  }
  .error-message{
    color: #CC0000;
    background-color: #ffcdd2;
  }
}
