<div class="md-form">
  <p>{{headerName}}</p>
  <div class="list-group">
    <a class="list-group-item">
      <div class="common-selected-all">
        <div class="common-selected-all-title">
          <span *ngIf="title === undefined">{{'COMPONENT.COMMON-SELECTED.ALL'|translate}}</span>
          <span *ngIf="title !== undefined">{{title}}</span>
        </div>
        <div class="common-selected-all-checkbox">
          <mdb-checkbox [indeterminate]="indeterminate" (onCheckBoxClick)="onAllClick($event)" readonly="{{isAllReadOnly}}" [(ngModel)]="isAllSelected"></mdb-checkbox>
        </div>
      </div>
      <div class="common-selected-toggle" (click)="toggle()">
        <i class="fa fa-chevron-up" [class.fa-chevron-down]="isCollapse" [class.fa-chevron-up]="!isCollapse"></i>
      </div>
    </a>
  </div>
  <div class="list-group" *ngIf="!isCollapse">
    <a class="list-group-item" *ngFor="let item of list">
      <div class="common-selected-item">
        <div class="list-group-item-title">{{item.title}}</div>

        <div class="list-group-item-checkbox">
          <mdb-checkbox [(ngModel)]="item.value" readonly="{{item.errorMessages && item.errorMessages.length !== 0}}"></mdb-checkbox>
        </div>
      </div>

      <div class="" *ngIf="item.errorMessages && item.errorMessages.length">
        <div>
            {{"PAGE.MISSING-FIELDS.HEADER"|translate }}
        </div>
        <div class="error-message" *ngFor="let message of item.errorMessages">
          {{ ("PAGE.MISSING-FIELDS."+ message)|translate }}
        </div>
      </div>
    </a>
  </div>
</div>
