<common-card-page>
  <div class="row mt-1">
    <div class="messageBody">
      <h1>{{'PAGE.MY_ACCOUNT.MODULE-WEB.PURCHASED.THANKS-MESSAGE.TITLE'|translate}}</h1>
      <p [innerHTML]="'PAGE.MY_ACCOUNT.MODULE-WEB.PURCHASED.THANKS-MESSAGE.TEXT'|translate"></p>
    </div>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.DESKTOP.MESSAGES.BACK'|translate}}</button>
  </div>
</common-card-page>
