<div class="slide-panel-header">
    <i class="fa slide-panel-header-toggle" aria-hidden="true" [ngClass]="{'fa-angle-up': open, 'fa-angle-down': !open}" (click)="toggle()"></i>
    <ng-content select="[slide-panel-type=title]"></ng-content>
</div>
<div class="slide-panel-content" *ngIf="open">
    <ng-content select="[slide-panel-type=content]"></ng-content>
</div>