slide-panel{
  .slide-panel-header{
    padding: 5px;
    background-color: #eeeeee;
    font-weight: bold;
    margin-bottom: 10px;

    .slide-panel-header-toggle{
      float: right;
      cursor: pointer;
    }
  }
  .slide-panel-content{
    padding: 5px;

    .slide-panel-header{
      font-style: italic;
      font-size: smaller;
    }

    mdb-input{
      .md-form{
        input{
          margin-bottom: 0;
        }
      }
    }
  }
}
