<common-form (back)="back()" (save)="save()" can-delete="false">
  <p>&nbsp;</p>

  <!-- FEEDBACK-TYPE ================================================================= -->
  <div class="row" style="margin-bottom: 20px;">
    <div class="col-xs-12 col-md-4">
        <mdb-radio title="Einfach so" [(ngModel)]="feedbackMessage.type" return-value="1"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-4">
        <mdb-radio title="Wunsch" [(ngModel)]="feedbackMessage.type" return-value="2"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-4">
        <mdb-radio title="Fehler" [(ngModel)]="feedbackMessage.type" return-value="3"></mdb-radio>
    </div>
  </div>

  <!-- COMMENT ======================================================================= -->
  <mdb-textarea
    title="{{'PAGE.FEEDBACK.FEEDBACK-MESSAGE'|translate}} *"
    [(ngModel)]="feedbackMessage.comment"
    name=" 'comment' "
    required>
  </mdb-textarea>

  <!-- RATING ======================================================================== -->
  <div class="stars-bar">
    <h6>{{'PAGE.FEEDBACK.RATING-MESSAGE'|translate}}</h6>
    <app-ui-stars
      [rate]="feedbackMessage.rating"
      [rated] = "'fa-star'"
      [unrated] = "'fa-star-o'"
      (updatedRate)="onRate($event)">
    </app-ui-stars>
  </div>
</common-form>
