<common-card-page>

    <app-ui-grid
      [headersOfTable]="nickNamesForRows"
      [withControlls]="true"
      [withSorting]="true"
      [elementsToDisplay]="7"
      [withSearch]="true">
        <ng-template #controlls let-controlls>
          <a class="btn-floating btn-sm white btn-command invoiceActionButton"
            *ngIf="controlls.item_id"
            (click)="emailClick(controlls)"
            data-toggle="tooltip"
            data-placement="top"
            title="{{'PAGE.INVOICE_EMAILS.ACTIONS.SHOW'|translate}}">
            <i class="fa fa-search invoiceActionButton"></i>
          </a>
        </ng-template>
    </app-ui-grid>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.INVOICE-VIEW.BACK'|translate}}</a>
          </div>
    </div>
</common-card-page>
