
<app-ui-snackbar
  [display]="snackState.display"
  [autoHide]="snackState.getAutohide()">
    <h1 class="snack-header">{{snackState.getHeader()}}</h1>
    <div class="snack-body">{{snackState.getMessage()}}</div>
</app-ui-snackbar>
<common-card-page>
  <form #form="ngForm" name="form">
    <mdb-select
      [options]="emailTemplatesOptions"
      [ngModel]="roleId"
      (ngModelChange)="onRoleChange($event)"
      name="role"
      title="{{'PAGE.EMAIL-TEMPLATES-CONFIGURATION.TEMPLATE-SELECTOR'|translate}}"
      required>
    </mdb-select>
    <mdb-input
      *ngIf ="template"
      title="{{'PAGE.EMAIL-TEMPLATES-CONFIGURATION.SUBJECT'|translate}}"
      name="subj"
      [(ngModel)]="template.subject">
    </mdb-input>
    <div class="mb-1">
      <textarea [froalaEditor]="config" name="editor" (froalaModelChange)="onEditorChange($event)" [froalaModel]="editorText"></textarea>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-4 push-lg-8">
        <button type="submit" class="btn btn-success btn-block waves-effect waves-light"
                (click)="save()" [disabled]="!form.valid">
          <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          {{'PAGE.EMAIL-TEMPLATES-CONFIGURATION.SAVE'|translate}}
        </button>
        <div class="mb-1 hidden-xs-down"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
        <div class="mt-1 hidden-sm-up"></div>
        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
          <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          {{'PAGE.EMAIL-TEMPLATES-CONFIGURATION.BACK'|translate}}
        </button>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
        <div class="mt-1 hidden-sm-up"></div>
        <button type="submit"
                class="btn btn-danger btn-block waves-effect waves-light"
                (click)="reset()" [disabled]="!template || template.template === template.templatebase.template">
          <i class="fa fa-undo"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          {{'PAGE.EMAIL-TEMPLATES-CONFIGURATION.RESET'|translate}}
        </button>
      </div>
    </div>
  </form>
</common-card-page>

