<common-form [hidden]="isView" (back)="back()" (save)="save()" [can-delete]="false">
  <div class="mb-2">
    <common-customer-card [customer]="dossier.customer"></common-customer-card>
  </div>
  <mdb-textarea title="{{'PAGE.DOSSIER-FORM.FORM.MEDICAL-HISTORY'|translate}}" [(ngModel)]="dossier.medical_history" name="medical_history"></mdb-textarea>
  <mdb-textarea title="{{'PAGE.DOSSIER-FORM.FORM.MEDICINES'|translate}}" [(ngModel)]="dossier.medicines" name="medicines"></mdb-textarea>
  <mdb-textarea title="{{'PAGE.DOSSIER-FORM.FORM.ALLERGIES'|translate}}" [(ngModel)]="dossier.allergies" name="allergies"></mdb-textarea>
  <mdb-upload [photo]="dossier.image" (photoChange)="onImageChange($event)" accept="image/*"></mdb-upload>
</common-form>
<common-card-page *ngIf="isView">
  <div class="mb-2">
    <common-customer-card [customer]="dossier.customer"></common-customer-card>
  </div>
  <h4 class="card-title">{{dossier.title}}</h4>
  <hr class="mb-2" />
  <mdb-textarea icon="prefix active fa fa-heartbeat" title="{{'PAGE.DOSSIER-FORM.FORM.MEDICAL-HISTORY'|translate}}" [ngModel]="dossier.medical_history" readonly="true"></mdb-textarea>
  <mdb-textarea icon="prefix active fa fa-medkit" title="{{'PAGE.DOSSIER-FORM.FORM.MEDICINES'|translate}}" [ngModel]="dossier.medicines" readonly="true"></mdb-textarea>
  <mdb-textarea icon="prefix active" title="{{'PAGE.DOSSIER-FORM.FORM.ALLERGIES'|translate}}" [ngModel]="dossier.allergies" readonly="true"></mdb-textarea>
  <mdb-upload [is-edit]="false" [photo]="dossier.image" (photoChange)="onImageChange($event)"></mdb-upload>

  <h3 class="mt-2 h3-responsive">{{'PAGE.DOSSIER-FORM.FORM.CASES'|translate}}</h3>
  <hr class="mb-2" />
  <table class="table table-sm table-list" *ngIf="dossier.cases.length">
    <tbody>
      <tr *ngFor="let item of dossier.cases" [routerLink]="['../case/' + item.id]">
        <td class="text-left align-top icon">
          <span class="fa-stack fa-lg text-primary">
            <i class="fa fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse fa-folder-open"></i>
          </span>
        </td>
        <td class="align-middle title">{{item.title}}</td>
        <td class="text-right align-middle action">
          <i class="fa fa-chevron-right"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!dossier.cases.length">{{'PAGE.DOSSIER-FORM.FORM.NO-CASES'|translate}}</p>
  <div *ngIf="dossier.bookings.length">
    <h3 class="mt-2 h3-responsive">{{'PAGE.DOSSIER-FORM.FORM.BOOKINGS'|translate}}</h3>
    <hr class="mb-2" />
    <table class="table table-sm table-list">
      <tbody>
        <tr *ngFor="let item of dossier.bookings" (click)="goToReport(item.id)">
          <td class="text-left align-top icon">
          <span class="fa-stack fa-lg" ngClass="{{item.report_id ? 'text-primary' : 'text-grey'}}">
            <i class="fa fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse fa-calendar"></i>
          </span>
          </td>
          <td class="align-middle title">{{item.date|date:'dd.MM.y'}}: {{item.title}}</td>
          <td class="text-right align-middle action">
            <i class="fa fa-chevron-right" *ngIf="item.report_id"></i>
            <i class="fa fa-plus" *ngIf="!item.report_id"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
          <a class="dropdown-item" [routerLink]="['../case/add']">
            <i class="fa fa-folder-open"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.DOSSIER-FORM.FORM.ADD-CASE'|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>

