booking-settings {
  @import "../style/common";

  .btn-back {
    width: 200px;
  }

  .admin-booking-holidays-title{
    font-weight: bold;
  }

  .admin-booking-holidays-select{
    flex-grow: 2;

    mdb-select{
      >div {
        width: 200px;
      }
    }
  }
}
