<common-form (back)="back()" (save)="save()" can-delete="false">
  <mdb-textarea name="include_code" title="{{'PAGE.BOOKING-SETTINGS.FORM.INCLUDE-CODE'|translate}}" [(ngModel)]="settings.include_code" readonly="true"></mdb-textarea>
  <mdb-select name="time_period" [(ngModel)]="settings.time_period" title="{{'PAGE.BOOKING-SETTINGS.FORM.TIME-PERIODS'|translate}}">
    <mdb-select-item code="5" title="5"></mdb-select-item>
    <mdb-select-item code="10" title="10"></mdb-select-item>
    <mdb-select-item code="15" title="15"></mdb-select-item>
    <mdb-select-item code="30" title="30"></mdb-select-item>
    <mdb-select-item code="60" title="60"></mdb-select-item>
  </mdb-select>
  <mdb-input name="min_time_from_now" type="number" title="{{'PAGE.BOOKING-SETTINGS.FORM.MIN-TIME-BEFORE'|translate}}" [(ngModel)]="settings.min_time_from_now"></mdb-input>
  <mdb-input name="max_time_from_now" type="number" title="{{'PAGE.BOOKING-SETTINGS.FORM.MAX-TIME-BEFORE'|translate}}" [(ngModel)]="settings.max_time_from_now"></mdb-input>
  <mdb-input name="max_cancel_before" type="number" title="{{'PAGE.BOOKING-SETTINGS.FORM.CANCEL-TIME'|translate}}" [(ngModel)]="settings.max_cancel_before"></mdb-input>
  <mdb-select name="auto_confirm" [(ngModel)]="settings.auto_confirm" title="{{'PAGE.BOOKING-SETTINGS.FORM.AUTO-CONFIRMATION'|translate}}">
    <mdb-select-item code="-1" title="{{'PAGE.BOOKING-SETTINGS.FORM.DEACTIVATED'|translate}}"></mdb-select-item>
    <mdb-select-item code="0" title="{{'PAGE.BOOKING-SETTINGS.FORM.IMMEDIATELY'|translate}}"></mdb-select-item>
    <mdb-select-item code="1" title="1"></mdb-select-item>
    <mdb-select-item code="2" title="2"></mdb-select-item>
    <mdb-select-item code="3" title="3"></mdb-select-item>
    <mdb-select-item code="4" title="4"></mdb-select-item>
    <mdb-select-item code="5" title="5"></mdb-select-item>
    <mdb-select-item code="6" title="6"></mdb-select-item>
    <mdb-select-item code="12" title="12"></mdb-select-item>
    <mdb-select-item code="24" title="24"></mdb-select-item>
  </mdb-select>
  <mdb-radio-group title="{{'PAGE.BOOKING-SETTINGS.FORM.EMAIL'|translate}}" [inline]="true">
    <mdb-radio title="{{'PAGE.BOOKING-SETTINGS.FORM.EMAIL_USE_EXISTING'|translate}}" [(ngModel)]="useEmail" return-value="existing"></mdb-radio>
    <mdb-radio title="{{'PAGE.BOOKING-SETTINGS.FORM.EMAIL_USE_OTHER'|translate}}" [(ngModel)]="useEmail" return-value="other"></mdb-radio>
  </mdb-radio-group>
  <mdb-input title="{{'PAGE.BOOKING-SETTINGS.FORM.EMAIL_OTHER'|translate}}" [hidden]="useEmail === 'existing'" name="email_sender" [(ngModel)]="settings.email_sender" type="email"></mdb-input>
  <div class="text-left mt-2 mb-2">
    <mdb-checkbox name="employee_notification" title="{{'PAGE.BOOKING-SETTINGS.FORM.NOTIFY-EMPLOYEE'|translate}}" [(ngModel)]="settings.employee_notification"></mdb-checkbox>
  </div>
  <mdb-select name="send_reminder_mail" [(ngModel)]="settings.send_reminder_mail" title="{{'PAGE.BOOKING-SETTINGS.FORM.REMINDER-EMAIL'|translate}}">
    <mdb-select-item code="0" title="{{'PAGE.BOOKING-SETTINGS.FORM.DEACTIVATED'|translate}}"></mdb-select-item>
    <mdb-select-item code="1" title="1"></mdb-select-item>
    <mdb-select-item code="2" title="2"></mdb-select-item>
    <mdb-select-item code="3" title="3"></mdb-select-item>
    <mdb-select-item code="4" title="4"></mdb-select-item>
    <mdb-select-item code="5" title="5"></mdb-select-item>
    <mdb-select-item code="6" title="6"></mdb-select-item>
  </mdb-select>
  <div class="text-left mt-2 mb-2">
    <mdb-checkbox name="must_accept" title="{{'PAGE.BOOKING-SETTINGS.FORM.MUST_ACCEPT'|translate}}" [(ngModel)]="settings.must_accept"></mdb-checkbox>
  </div>
  <mdb-textarea [hidden]="settings.must_accept === false" name="terms_of_use" title="{{'PAGE.BOOKING-SETTINGS.FORM.TERMS-OF-USE'|translate}}" [(ngModel)]="settings.terms_of_use"></mdb-textarea>
</common-form>

<app-ui-snackbar
[display]="snackState.display"
[autoHide]="snackState.getAutohide()">
  <h1 class="snack-header">{{snackState.getHeader()}}</h1>
  <div class="snack-body">{{snackState.getMessage()}}</div>
</app-ui-snackbar>
