<div>

	<div class="row">
		<div class="col">
			Im ersten Schritt wählen Sie bitte die Web Auftritt Variante, die Ihnen am meisten gefällt. Natürlich werden Sie dann Ihre Farben, Bilder und Texte völlig frei wählen.
		</div>
	</div>

	<div class="row">
		<div class="col">
      <form #bbForm="ngForm">
        <mdb-select name="templSel" [options]="templateOptions" [(ngModel)]="templateId" title=""></mdb-select>
      </form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
      <div>
        <iframe src="http://912.bluebamboo.ch/de/home" class="previewFrame"></iframe>
      </div>
    </div>
  </div>

	<div class="row">
		<div class="col-md-4">
      <div>
        <a class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()">Zurück</a>
      </div>
    </div>
  </div>

</div>
