h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

app-portal-setup {


  .previewFrame {
    width: 133%;
    height: 750px;

    -webkit-transform:scale(0.75);
    -moz-transform:scale(0.75);
    -o-transform:scale(0.75);
    transform:scale(0.75);

    margin-left: -16%;
    margin-top: -5%;
  }


}
