<div><a (click)="goToGridProperty()">{{'PAGE.REPORT-FORM.PROPERTIES.GOTO_PROP'|translate}}</a></div>
<div><a *ngIf="show.showProperty('grid-action','insert-column-left')" (click)="addColumnOnLeftSide()">{{'PAGE.REPORT-FORM.PROPERTIES.GRID_ADD_COLUMN_LEFT'|translate}}</a></div>
<div><a *ngIf="show.showProperty('grid-action','insert-column-right')" (click)="addColumnOnRightSide()">{{'PAGE.REPORT-FORM.PROPERTIES.GRID_ADD_COLUMN_RIGHT'|translate}}</a></div>
<div><a *ngIf="show.showProperty('grid-action','insert-data-column-left') && element.check('count')" (click)="addDataColumnOnLeftSide()">{{'PAGE.REPORT-FORM.PROPERTIES.GRID_ADD_COLUMN_LEFT'|translate}}</a></div>
<div><a *ngIf="show.showProperty('grid-action','insert-data-column-right') && element.check('count')" (click)="addDataColumnOnRightSide()">{{'PAGE.REPORT-FORM.PROPERTIES.GRID_ADD_COLUMN_RIGHT'|translate}}</a></div>
<div><a *ngIf="show.showProperty('grid-action','remove')" (click)="removeColumn()">{{'PAGE.REPORT-FORM.PROPERTIES.GRID_REMOVE_COLUMN'|translate}}</a></div>
<div><a *ngIf="show.showProperty('grid-action','remove-data-column')" (click)="removeDataColumn()">{{'PAGE.REPORT-FORM.PROPERTIES.GRID_REMOVE_DATA_COLUMN'|translate}}</a></div>