admin-sysmessages-list {
  .btn-back {
    width: 200px;
    margin-top: 10px;
    display: inline-block;
  }

  .btn-command {
    margin: 0;
    margin-left: 10px;
    i {
      color: rgba(0,0,0,0.5);
    }
  }

  bb-grid {
    &.selected-row {
      table {
        tbody {
          tr {
            display: none;

            &.selected-row {
              display: table-row;
              .btn-command {
                display: none;
              }
            }
          }
        }
      }

      bb-grid-pagination {
        display: none;
      }
    }
  }

  .command{
    position: fixed;
    top: 0px;
    right: 100px;
    left: 0;
    z-index: 10000;
  }
}
