  <bb-grid (on-row-click)="gridRowClick($event)" [modules]="gridModules" #grid [class.selected-row]="row != null">
    <bb-grid-column title="Titel" field="title"></bb-grid-column>
    <bb-grid-column title="Funktionen" [cell-template]="templateAction"></bb-grid-column>
    <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
  </bb-grid>

  <div class="row mt-1">
	  <div class="col-md-6">
		  <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()">Zurück</button>
	  </div>
	  <div class="col-md-6">
		  <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="addEntry()">Neue Meldung</button>
	  </div>
  </div>
