<app-ui-modal>
    <div class="app-modal-header">Header</div>
    <div class="app-modal-body">body</div>
    <div class="app-modal-footer">footer</div>
</app-ui-modal>


<section class="container">

    <header class="row">
        <div class="col-md-8" *ngIf="importItem">
            <h3>Filename: {{importItem.filename}}</h3>
            <h5>Target: {{importItem.target.label}}</h5>
            <span>Upload date: {{importItem.created_at}}</span>
            <div>
                <mdb-checkbox
                        [(ngModel)]="hasHeader"
                        [ngModelOptions]="{standalone: true}"
                        title="Has header"
                        (onCheckBoxClick)="onHasHeaderChange($event)"
                ></mdb-checkbox>
                <mdb-checkbox
                        [(ngModel)]="isImportAll"
                        [ngModelOptions]="{standalone: true}"
                        title="Import All"
                        (onCheckBoxClick)="onImportAllChange($event)"
                ></mdb-checkbox>
            </div>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary btn-block waves-effect waves-light" type="button"
                    (click)="router.navigate(['../../mapping/' + importItem.id], {relativeTo: activeRoute})">
                Update Mapping
            </button>
        </div>

    </header>

    <main class="row">

        <div class="table-scrollable col-xs-12">
            <app-ui-grid
                    [headersOfTable]="nickNamesForRows"
                    [withControlls]="true"
                    [withSorting]="true"
                    [elementsToDisplay]="10"
                    [withSearch]="false">
                <ng-template #controlls let-data>
                    <td *ngIf="false">
                        <button (click)="editAction(data)">edit</button>
                        <a href="">x</a>
                    </td>
                    <td>{{data.id}}</td>
                    <td>
                        <mdb-checkbox
                                [(ngModel)]="data.import"
                                [ngModelOptions]="{standalone: true}"
                                readonly="{{data.duplication}}"
                                title=""
                                (onCheckBoxClick)="onRecordImportChange(data)"
                        ></mdb-checkbox>
                    </td>
                    <td>{{ (data.imported == true) ? "JA" : "NEIN" }}</td>
                    <td *ngFor="let col of recordsMappedKeys">
                        {{data[col]}}
                    </td>
                </ng-template>
            </app-ui-grid>
        </div>
    </main>

    <footer>
        <div class="row mt-2 ng-tns-c32-26">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <button class="btn btn-primary btn-block waves-effect waves-light" type="button"
                        (click)="router.navigate(['../../'], {relativeTo: activeRoute})">
                    Cancel
                </button>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-6">
                <button class="btn btn-primary btn-block waves-effect waves-light" type="button"
                        (click)="importToCustomer()">
                    Save / Import
                </button>
            </div>
        </div>
    </footer>
</section>

<app-ui-snackbar
        [display]="snackState.display"
        [autoHide]="snackState.autoHide"
        [eventData]="snackState.eventData"
        [temper]="snackState.temper">
    <h1 class="snack-header">{{snackState.header}}</h1>
    <div class="snack-body">{{snackState.message}}</div>
</app-ui-snackbar>