<form #form="ngForm">
  <div class="card-block">
    <div *ngIf="subpage == 0">
      <div class="text-xs-center">
        <h3>{{'PAGE.LOGIN.REGISTRATION-FORM.TITLE'|translate}}</h3>
        <hr/>
      </div>
      <div class="errorMessage" *ngIf="message != ''">
        {{message}}
      </div>
      <mdb-input
        title="{{'PAGE.LOGIN.REGISTRATION-FORM.EMAIL'|translate}}" icon="fa fa-envelope prefix"
        [(ngModel)]="model.email"
        name="email"
        type="email"
        required>
      </mdb-input>
      <mdb-input
        title="{{'PAGE.LOGIN.REGISTRATION-FORM.PASSWORD'|translate}}"
        icon="fa fa-lock prefix"
        type="password"
        [(ngModel)]="model.password"
        name="password"
        required
        validateEqual="again" reverse="true"
      ></mdb-input>
      <mdb-input
        title="{{'PAGE.LOGIN.REGISTRATION-FORM.PASSWORD-AGAIN'|translate}}"
        icon="fa fa-lock prefix"
        type="password"
        [(ngModel)]="model.again"
        name="again"
        required
        validateEqual="password" reverse="false"
      ></mdb-input>
      <div class="text-xs-center">
<!--
        <a class="pull-left" (click)="login()">{{'PAGE.LOGIN.REGISTRATION-FORM.LOGIN'|translate}}</a>
-->
        <button type="button" class="btn btn-ins btn-lg pull-left" (click)="login()" [disabled]="processing">{{'PAGE.LOGIN.REGISTRATION-FORM.LOGIN'|translate}}</button>
        <button type="button" class="btn btn-ins btn-lg pull-right" (click)="register()" [disabled]="!form.form.valid || processing">{{'PAGE.LOGIN.REGISTRATION-FORM.REGISTRATION'|translate}}</button>
      </div>
    </div>
    <div *ngIf="subpage == 1">
      <div class="text-xs-center">
        <h3>Besten Dank für Ihre Registrierung</h3>
        <hr/>
      </div>
      <div class="text-xs-left">
        <p class="infoText">Sie bekommen nächstens ein E-Mail an Ihre E-Mail Adresse.<br>Falls dieses E-Mail nicht in den nächsten Minuten bei Ihnen ankommt, dann schauen Sie bitte auch im Spam-Ordner nach.</p>
        <p class="infoText">In diesem E-Mail befindet sich ein Link, den Sie zum Abschliessen Ihrer Registration anklicken müssen.</p>
        <p class="infoText">Bei Fragen stehen wir Ihnen gerne zur Verfügung.</p>
        <p class="infoText"><b>Herzlichst, Ihr bluebamboo Team</b></p>
      </div>
    </div>
  </div>
</form>
