<div class="modal fade show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {{text|translate}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect waves-light" (click)="no()">{{text_no|translate}}</button>
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="yes()">{{text_yes|translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>
