<booking-period-selector [(ngModel)]="selectedPeriod"></booking-period-selector>
<div class="d-flex flex-row justify-content-around admin-booking-row-head">
  <div class="align-self-stretch admin-booking-day">{{'COMMON.BOOKING.GRID.DAY'|translate}}</div>
  <div class="align-self-stretch admin-booking-checkbox twice">{{'COMMON.BOOKING.GRID.STANDARD'|translate}}</div>
  <div class="align-self-stretch admin-booking-checkbox twice">{{'COMMON.BOOKING.GRID.USER_DEFINED'|translate}}</div>
  <div class="align-self-stretch admin-booking-checkbox twice">{{'COMMON.BOOKING.GRID.CLOSED'|translate}}</div>
  <div class="align-self-stretch admin-booking-time">{{'COMMON.BOOKING.GRID.TIME_REASON'|translate}}</div>
  <div class="align-self-stretch admin-booking-command">{{'COMMON.BOOKING.GRID.COPY'|translate}}</div>
  <div class="align-self-stretch admin-booking-command">{{'COMMON.BOOKING.GRID.PASTE'|translate}}</div>
</div>
<div class="d-flex flex-row justify-content-around admin-booking-row-data" *ngFor="let day of days">
  <div class="align-self-stretch admin-booking-day">{{day.date}} ({{day.day}})</div>
  <div class="align-self-stretch admin-booking-checkbox twice">
    <mdb-radio [(ngModel)]="day.mode" return-value="standard"></mdb-radio>
  </div>
  <div class="align-self-stretch admin-booking-checkbox twice">
    <mdb-radio [(ngModel)]="day.mode" return-value="user_defined"></mdb-radio>
  </div>
  <div class="align-self-stretch admin-booking-checkbox twice">
    <mdb-radio [(ngModel)]="day.mode" return-value="away"></mdb-radio>
  </div>
  <div class="align-self-stretch admin-booking-time">
    <booking-location-work-time [(ngModel)]="day.time" *ngIf="day.timeIsShow" [readonly]="day.timeIsReadOnly"></booking-location-work-time>
    <booking-location-reason [(ngModel)]="day.reason" *ngIf="!day.timeIsShow"></booking-location-reason>
  </div>
  <div class="align-self-stretch admin-booking-command">
    <a class="btn-floating btn-sm blue waves-effect waves-light" (click)="copy(day)" [ngClass]="{'orange': ( getCopyObj() ? getCopyObj().date : '') == day.date, 'blue': ( getCopyObj() ? getCopyObj().date : '') != day.date}"><i class="fa fa-copy"></i></a>
  </div>
  <div class="align-self-stretch admin-booking-command">
    <a class="btn-floating btn-sm blue waves-effect waves-light" *ngIf="canPaste()" (click)="paste(day)"><i class="fa fa-paste"></i></a>
  </div>
</div>
