<div>
  <common-list-item *ngFor="let item of list" [item]="item" (action)="executeAction($event)" [@itemAnim]></common-list-item>
</div>

<div class="row mt-1">
	<div class="push-lg-8 col-lg-4 hidden-md-down">
    <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect"
    [attr.hidden] ="withoutCreateButton"
    (click)="executeAdd()"
    *ngIf="!reportRow">{{'COMPONENT.COMMON-LIST.ADD'|translate}}
  </button>
	</div>
	<div class="col-xs-12 col-md-4 pull-lg-4">
		<button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()" *ngIf="!reportRow">{{'COMPONENT.COMMON-LIST.BACK'|translate}}</button>
	</div>
</div>
<div class="fixed-action-btn hidden-md-up" style="bottom: 15px; right: 15px;">
	<a class="btn-floating btn-large primary-color waves-effect waves-light" (click)="executeAdd()" *ngIf="!reportRow">
		<i class="fa fa-plus"></i>
	</a>
</div>
<div class="fixed-action-btn hidden-lg-up hidden-sm-down" style="bottom: 15px; right: calc((100% - 450px) / 4 - 30px);">
	<a class="btn-floating btn-large primary-color waves-effect waves-light" (click)="executeAdd()" *ngIf="!reportRow">
		<i class="fa fa-plus"></i>
	</a>
</div>
