.subaction_cta_title {
  ccolor: #2BBBAD;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0.2rem;
  margin-top: 0.6rem;
}

.errorMessage {
  padding: 10px;
  margin-left: 0;
  margin-right: 1;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #ffcccc;
}

$primary-color: #3F729B;

.btn-primary {
    background-color: $primary-color;
    &:hover,
    &:focus {
        background-color: lighten($primary-color, 5%);
    }
}

$secondary-color: #5EAEEF;

.btn-secondary {
    background-color: $secondary-color;
    &:hover,
    &:focus {
        background-color: lighten($secondary-color, 5%);
    }
}

.newTitle {
  margin-top: -35px;
  padding-top: 20px;
  margin-left: -36px;
  padding-left: 36px;
  margin-right: -36px;
  padding-right: 36px;
  background-color: #EAEAEA;
}

.btn {
     text-transform: none;
}

  .logo-in-title {
    display: inline-block !important;
    margin-top: -20px;
    height: 60px;
  }

.btn-with-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}
