<form #form="ngForm">
  <div class="card-block">
      <div class="text-left">
      <h3>{{'PAGE.LOGIN.LOGIN-FORM.TITLE'|translate}} <img class="logo-in-title pull-right" src="assets/logo.png"></h3>
      <hr/>
      </div>
      <div class="errorMessage" *ngIf="message != ''">
        {{message}}
      </div>
    <mdb-input id="login_form_email" title="{{'PAGE.LOGIN.LOGIN-FORM.EMAIL'|translate}}" icon="fa fa-envelope prefix" [(ngModel)]="model.email" name="email" required></mdb-input>
    <mdb-input title="{{'PAGE.LOGIN.LOGIN-FORM.PASSWORD'|translate}}" icon="fa fa-lock prefix" type="password" [(ngModel)]="model.password" name="password" required></mdb-input>
    <div class="text-xs-center">
      <div class="row">
        <div class="col-sm-7">
          <button type="button" class="btn btn-secondary btn-block btn-with-margin" (click)="reqpassword()" [disabled]="processing">Passwort vergessen?</button>
        </div>
        <div class="col-sm-5">
          <button type="button" class="btn btn-success btn-block btn-with-margin" (click)="login()" [disabled]="processing">{{'PAGE.LOGIN.LOGIN-FORM.LOGIN'|translate}}</button>
        </div>
      </div>
    </div>
    <div class="text-xs-left" style="font-size: 0.8em">
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
          <p class="subaction_cta_title">Sie haben noch kein Konto bei bluebamboo?</p>
          <button type="button" class="btn btn-secondary btn-block" (click)="registration()" [disabled]="processing">Konto eröffnen</button>
        </div>
      </div>
    </div>
  </div>
</form>
