<app-ui-snackbar
  [display]="snackState.display"
  [autoHide]="snackState.getAutohide()"
  [temper]= "snackState.getTemper()">
    <h1 class="snack-header">{{snackState.getHeader()}}</h1>
    <div class="snack-body">{{snackState.getMessage()}}</div>
</app-ui-snackbar>
<common-card-page>
  <mdb-card *ngFor="let item of list; let itemIndex= index">
    <h4 class="card-title">{{item.firstname}} {{item.name}}</h4>
    <div class="list-group" *ngFor="let case of item.cases; let caseIndex= index">
      <div class="list-group-item" *ngIf="case._selected.length">{{'PAGE.INVOICE-CREATE-REMINDER.SERVICES'|translate:{name: case.title, count: case.count, sum: formatNumber(case.price), count_total: case.bookings.length} }}</div>
      <div class="list-group-item" *ngIf="case._selected.length">
        <fieldset class="form-group">
          <mdb-checkbox
            title="{{'PAGE.INVOICE-CREATE-REMINDER.SEND_EMAIL'|translate}}"
            [(ngModel)]="case.sendEmail"
            (onCheckBoxClick) = "onEmailCheckboxClick(item, case.sendEmail, $event)" >
          </mdb-checkbox>
        </fieldset>
        <fieldset class="form-group">
          <mdb-checkbox
            title="{{'PAGE.INVOICE-CREATE-REMINDER.PRINT'|translate}}"
            [(ngModel)]="case.print">
          </mdb-checkbox>
        </fieldset>
      </div>
    </div>
  </mdb-card>
  <div class="invoices-print-priv-copy">
    <mdb-checkbox
      title="{{'PAGE.INVOICE-CREATE-REMINDER.PRINT_PRIV_COPY'|translate}}"
      [(ngModel)]="printPrivCopy">
    </mdb-checkbox>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-4 push-lg-8">
      <button type="submit"
        class="btn btn-success btn-block waves-effect waves-light"
        (click)="apply()">
          <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          {{'PAGE.INVOICE-CREATE-REMINDER.APPLY'|translate}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <button type="submit"
        class="btn btn-primary btn-block waves-effect waves-light"
        (click)="goToBooking()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.INVOICE-CREATE-REMINDER.BACK'|translate}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <button type="submit"
        class="btn btn-danger btn-block waves-effect waves-light"
        (click)="cancel()">
        <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.INVOICE-CREATE-REMINDER.CANCEL'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
