<div *ngIf="processResult">
  <h2>{{'PAGE.FRONT.BOOKING_MODAL.STEP_4.HEADER' |translate}}</h2>
  <p>{{'PAGE.FRONT.BOOKING_MODAL.STEP_4.MESSAGE' | translate}}</p>
  <p *ngIf="settings.auto_confirm === 0">{{'PAGE.FRONT.BOOKING_MODAL.STEP_4.MESSAGE_APPROVE_NEEDED' |translate}}</p>
  <p *ngIf="settings.auto_confirm > 0">{{'PAGE.FRONT.BOOKING_MODAL.STEP_4.MESSAGE_APPROVE_NEEDED_TIME' |translate}}</p>
</div>

<div *ngIf="!processResult">
  <h2>{{'PAGE.FRONT.BOOKING_MODAL.STEP_4.HEADER_FAIL' |translate}}</h2>
  <p *ngIf="processCode === 451">{{'MESSAGE_FAIL_ALREADY_BOOKED' |translate}}</p>
</div>
