//output:$1.html, doctype: html
include /jade/blocks_meik.pug
include ../locations/pages_locations.pug

ng-controller(ng-controller="LocationsController as ng")
	+modal_simple
	+admin_content("{{ng.ctrl.pagetitle}}")
		+pages_location_all
