//- ----------------------------------------------------------------------------
//- 700 - Location Pages
//- -------------------

mixin pages_location_all()
	+pages_location_index
	+pages_location_show_one
	+pages_location_show_all
	+pages_location_choose_one
	+pages_location_add
	+pages_location_edit

//- 700 - Location Index
//- -----------------------------------
mixin pages_location_index()
	+page_location_index

mixin page_location_index()
	- locals.page = "700"
	+page_header
		.row
			+admin_tile_ma_id("10", "Lokation erfassen","fa-home","ng.ctrl.modules.locations.addLocation()","badge-blue","")
			+admin_tile_ma_id("11", "Lokationen anzeigen","fa-map-marker","ng.ctrl.modules.locations.loadIndex()","badge-blue","")
		+buttonrow_1("zurück", "pageBack")

//- 710 - Location Show One
//- -----------------------------------
mixin pages_location_show_one()
	+page_location_show_one

mixin page_location_show_one()
	- locals.page = "710"
	+page_header
		+corner_button("modules.locations.editLocation(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_location_show_one")
			.card-block
				h4.card-title Standort: {{ng.ctrl.model.fields.title}}
				hr.mb-2
				+showonly_textarea("Beschreibung", "description", "fa-group")
				+showonly_textarea_adress()
				+showonly_input("Telefon", "phone_home", "fa-phone")
				+showonly_input("E-Mail", "email", "fa-envelope")

				//- Mitarbeiterliste
				//- Raumliste

				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Daten anpassen", "modules.locations.editLocation(ng.ctrl.model.fields.id)", "fa-pencil")
					+action_drop_position("Raum hinzufügen", "modules.rooms.addRoom()", "fa-plus")
					+action_drop_divider
					//- Location deaktivieren
					+action_drop_position("Standort löschen", "modules.locations.deleteLocation(ng.ctrl.model.fields.id)", "fa-remove")

//- 720 Location Show All
//- -----------------------------------
mixin pages_location_show_all()
	+page_location_show_all()

mixin page_location_show_all()
	- locals.page = "720"
	+page_header
		+corner_button("modules.locations.addLocation()", "fa-plus", "blue")
		+content_box_list_dynamic_iconbutton("modules.locations.contentBoxList", "modules.locations.showLocation(cblRow.id)", "modules.locations.showLocation(cblRow.id)", "fa-chevron-right")
		+buttonrow_1("Zurück", "back")

//- 730 - Location Choose One
//- -----------------------------------
mixin pages_location_choose_one()
	+page_location_choose_one

mixin page_location_choose_one()
	- locals.page = "730"
	+page_header
		//- +corner_button("modules.locations.addLocation()", "fa-plus", "blue")
		+content_box_list_dynamic_iconbutton("modules.locations.contentBoxList", "cta(cblRow)", "cta(cblRow)", "fa-chevron-right")
		//- +buttonrow_1("Zurück", "back")
		+buttonrow_2_floating("Zurück", "back()", "Neuen anlegen", "modules.locations.addLocation()", "fa-plus")

//- 740 - Location Add
//- -----------------------------------
mixin pages_location_add
	+page_location_add

mixin page_location_add()
	- locals.page = "740"
	+page_header
		+form_back("form_location_add", "Speichern")
			+string_input("Name", "title")
			+text_input("Beschreibung", "description")
			+string_input("Straße & Nr.", "street")
			+string_input("PLZ", "zip")
			+string_input("Ort", "city")
			+string_input("Kanton", "state")
			+string_input("Land", "country")
			+string_input("E-Mail", "email")
			+string_input("Telefon", "phone")
			+cb_input_checkbox("modules.locations.employeesCheckbox", "Mitarbeiter")
			//- Räume hinzufügen

//- 750 - Location Edit
//- -----------------------------------
mixin pages_location_edit()
	+page_location_edit

mixin page_location_edit()
	- locals.page = "750"
	+page_header
		+form_back("form_location_edit", "Speichern")
			+string_input("Name", "title")
			+text_input("Beschreibung", "description")
			+string_input("Straße & Nr.", "street")
			+string_input("PLZ", "zip")
			+string_input("Ort", "city")
			+string_input("Kanton", "state")
			+string_input("Land", "country")
			+string_input("E-Mail", "email")
			+string_input("Telefon", "phone")
			+cb_input_checkbox("modules.locations.employeesCheckbox", "Mitarbeiter")
			//- Räume hinzufügen
