<form #form="ngForm">
  <div class="card-block">
    <div *ngIf="subpage == 0">
      <div class="text-xs-center">
        <h3>{{'PAGE.LOGIN.LOGIN-PWDRESET-FORM.TITLE'|translate}}</h3>
        <hr/>
      </div>
      <div class="errorMessage" *ngIf="message != ''">
        {{message}}
      </div>
      <mdb-input title="{{'PAGE.LOGIN.LOGIN-FORM.PASSWORD'|translate}}" icon="fa fa-lock prefix" type="password" [(ngModel)]="model.password1" name="password1" required></mdb-input>
      <mdb-input title="{{'PAGE.LOGIN.LOGIN-FORM.PASSWORD'|translate}}" icon="fa fa-lock prefix" type="password" [(ngModel)]="model.password2" name="password2" required></mdb-input>
      <div class="text-xs-center">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-ins btn-lg" (click)="reset()" [disabled]="processing || !form.form.valid">{{'PAGE.LOGIN.LOGIN-PWDRESET-FORM.RESET'|translate}}</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="subpage == 1">
      <div class="text-xs-center">
        <h3>Passwort neu gesetzt</h3>
        <hr/>
      </div>
      <div class="text-xs-left">
        <p class="infoText">Sie können sich nun mit dem neuen Passwort anmelden.</p>
        <p class="infoText">Bei Fragen stehen wir Ihnen gerne zur Verfügung.</p>
        <p class="infoText"><b>Herzlichst, Ihr bluebamboo Team</b></p>
      </div>
      <div class="text-xs-center">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-ins btn-lg" (click)="login()">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
