
<div class="container help-container-closed" *ngIf="!showHelp">
</div>

<div class="container help-container" *ngIf="showHelp">

  <div class="row">
    <div class="col-md-6">


      Hilfe zu dieser Seite ({{context}})
      <div *ngFor="let entry of helpEntries" class="row">
        <div class="col-md-6">
          {{entry.question}}
        </div>
        <div class="col-md-6">
          {{entry.answer}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      Allgemeine Hilfe
    </div>
  </div>
</div>

