<common-form (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="object.id !== undefined">
  <mdb-input      title="Titel"     [(ngModel)]="object.title"      name=" 'object.title' "></mdb-input>
  <mdb-textarea   title="Text"      [(ngModel)]="object.message"    name=" 'object.message' "></mdb-textarea>

  <div class="text-left mt-2 mb-2">
    <mdb-checkbox title="Modal"     [(ngModel)]="object.modal"      name=" 'object.modal' "></mdb-checkbox>
  </div>

</common-form>


