<common-card-page>
  <div class="row mt-1">
    <div class="messageBody">
      <h1>{{'PAGE.MPRIME.PURCHASED.THANKS-MESSAGE.TITLE'|translate}}</h1>
      <p>{{'PAGE.MPRIME.PURCHASED.THANKS-MESSAGE.TEXT'|translate}}</p>
      <a href="#">
        <i class="fa fa-file-archive-o" aria-hidden="true"></i> {{'PAGE.MPRIME.PURCHASED.THANKS-MESSAGE.LINK'|translate}}
      </a>
    </div>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.DESKTOP.MESSAGES.BACK'|translate}}</button>
  </div>
</common-card-page>
