mixin _gsc_dialog(id)
	div.modal.fade(id="" + id tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					button(type="button" class="close" data-dismiss="modal" aria-label="Close")
						span.modal-header-close-button(aria-hidden="true") &times;
					h4#myModalLabel.modal-title 
						| {{ctrl.modal.title}}
				.modal-body
					block
				.modal-footer.bg-info
					.row
						.col-md-4
							button.btn.btn-block.btn-primary(ng-show="ctrl.modal.btn_2 != null" ng-click="ctrl.modal.btn_2.action()" type="button" data-dismiss="modal")
								| {{ctrl.modal.btn_2.label}}
						.col-md-4
							| &nbsp;
						.col-md-4
							button.btn.btn-block.btn-default(ng-show="ctrl.modal.btn_1 != null" ng-click="ctrl.modal.btn_1.action()" type="button" class="" data-dismiss="modal")
								| {{ctrl.modal.btn_1.label}}

mixin _gsc_dialog_confirm(id,obj)
	div.modal.fade.gsc_dialog_modal(id="" + id tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog.gsc_dialog_modal_dialog
			.modal-content
				.modal-header.gsc_dialog_modal_header
					button.close.gsc_dialog_modal_header_close(type="button" data-dismiss="modal" aria-label="Close")
						span.gsc_dialog_modal_header_close_button(aria-hidden="true") &times;
					h4#myModalLabel.modal-title= "{{" + obj + ".title}}"
				.modal-body.gsc_dialog_modal_body
					block
				.modal-footer.bg-info.gsc_dialog_modal_footer
					.row
						.col-md-4
							button.btn.btn-block.btn-primary(ng-show=obj + ".btn_2 != null" ng-click=obj + ".btn_2.action()" type="button" data-dismiss="modal")= "{{" + obj + ".btn_2.label}}"
						.col-md-4
							| &nbsp;
						.col-md-4
							button.btn.btn-block.btn-default(ng-show=obj + ".btn_1 != null" ng-click=obj + ".btn_1.action()" type="button" class="" data-dismiss="modal")= "{{" + obj + ".btn_1.label}}"

