//- --------------------------------------------------------------------------------------
//- message slider

mixin message_slide()
	.carousel.js-flickity(data-flickity-options!="{'setGallerySize': false }")
		.carousel-cell
			img(src!="/de/admin/slides/slide-1.jpg", alt="...")
		.carousel-cell
			img(src!="/de/admin/slides/slide-2.jpg", alt="...")
		.carousel-cell
			img(src!="/de/admin/slides/slide-3.jpg", alt="...")
		.carousel-cell
			img(src!="/de/admin/slides/slide-4.jpg", alt="...")
