- var debug = false

//- --------------------------------------------------------------------------------------
//- various blocks to build pages and forms
mixin admin_header(title)
	nav.navbar.navbar-default.navbar-fixed-top.gsc_container
		.container-fluid
			.row.c_admin.c_strong
				.col-md-1.text-center
					img.img-responsive(src="/admin/img/logo_moon.png", style="width: 75%;padding: 10px;")
				.col-md-1
					| &nbsp;
				.col-md-8.text-center
					h1!= title
				.col-md-2.text-center
					div(style="clear: both; margin: 10px; padding: 10px 0 10px 0; display: inline-block; font-size: 1.1em;")
						button.btn.btn-sm.btn-warning(ng-click="mc.logout()")
							i(class="fa fa-sign-out")
							| &nbsp;&nbsp;abmelden

mixin admin_header_no_logout(title)
	nav.navbar.navbar-default.navbar-fixed-top.gsc_container
		.container-fluid
			.row.c_admin.c_strong
				.col-md-1.hidden-xs.hidden-sm.text-center
					img.img-responsive(src="/admin/img/logo_moon.png", style="width: 75%;padding: 10px;")
				.col-md-1.hidden-xs.hidden-sm
					| &nbsp;
				.col-md-8.text-center
					h1!= title
				.col-md-2.hidden-xs.hidden-sm.text-center
					| &nbsp;

mixin admin_header_menu(title)
	nav.navbar.navbar-default.navbar-fixed-top.gsc_container
		.container-fluid
			.row.c_admin.c_strong
				.col-md-1
					img.img-responsive(src="/admin/img/logo_moon.png", style="width: 75%;padding: 10px;")
				.col-md-4
					div(style="padding-top: 15px; display: inline-block; font-size: 1.3em; font-weight: bold; line-height: 1.9em; margin-right: 15px; color: white;")
						|=title
				.col-md-7
					div(style="clear: both; margin: 10px; padding: 10px 0 10px 0; display: inline-block; font-size: 1.1em;")
						block

mixin admin_content(title)
	+admin_header(title)
	.container-fluid.gsc_container(style="padding: 62px 0 0 0; max-width: 1200px;")
		.row
			.col-md-offset-2.col-md-8(style="padding-top: 20px;")
				block

mixin admin_content_no_logout(title)
	+admin_header_no_logout(title)
	.container-fluid.gsc_container(style="padding: 62px 0 0 0; max-width: 1200px;")
		.row
			.col-md-offset-2.col-md-8(style="padding-top: 20px;")
				block

//- --------------------------------------------------------------------------------------
mixin tile(title,icon,cta)
	.col-xs-4.col-md-2
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
	.col-xs-8.col-md-4(style="padding-top: 15px;")
		block

mixin tile_small(title,icon,cta)
	.col-xs-4.col-md-2
		.c_tile_small.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
	.col-xs-8.col-md-4(style="padding-top: 25px;")
		block

mixin tile_small_border(title,icon,cta,color,badge,badgeText,stepNr)
	.row
		.col-xs-4.col-md-4
			div(style="border-radius:50%; border: 1px solid " + color + "; background-color: white; padding: 3px 10px 10px 9px; position: absolute; left: -20px; width: 30px; height: 30px; font-size: 16px; font-weight: 400; top: 25px;")
				| #{stepNr}
			.c_tile_small.text-center(ng-click=cta, style="cursor: pointer; border-left: solid 10px " + color)
				i(class="fa " + icon, style="color: " + color)
				h2= title
			if badgeText != ""
				span(class=badge)= badgeText
		.col-xs-8.col-md-8(style="padding-top: 25px;")
			block

//- --------------------------------------------------------------------------------------
mixin admin_tile_id(id,title,icon,cta,badge,badgeText)
	.col-xs-6.col-md-3
		.c_tile.text-center(id=id, ng-click=cta, ng-class="{'c_tile_guidance': ctrl.s_workflow.guidance.tile == '" + id + "'}" style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

mixin admin_tile(title,icon,cta,badge,badgeText)
	.col-xs-6.col-md-3
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

mixin admin_tile_col(title,icon,cta,badge,badgeText,colIcon,colLabel)
	.col-xs-6.col-md-3
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon,style="color: " + colIcon + ";")
			h2(style="color: " + colLabel + ";")=title
			if badgeText != ""
				span(class=badge)= badgeText



mixin admin_tile_cond(title,icon,cta,badge,badgeText,cond)
	.col-xs-6.col-md-3(ng-show=cond)
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

mixin admin_tile_wide_important(title,icon,cta,badge,badgeText)
	.col-xs-12.col-md-12
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;background-color: rgba(255, 50, 50, 0.4)")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

mixin admin_tile_wide_temp(title,icon,cta,badge,badgeText)
	.col-xs-12.col-md-12
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;background-color: rgba(50, 50, 255, 0.4)")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

//- --------------------------------------------------------------------------------------
//- form input hidden type
mixin hidden_input(name, value)
	input(name="ff_" + name type="hidden" ng-model="ctrl.model.fields." + name value=value)

//- --------------------------------------------------------------------------------------
//- form input string type
mixin string_input(label, name)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			else
				input.form-control(name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}

//- --------------------------------------------------------------------------------------
//- form input string type
mixin password_input(label, name)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name type="password" ng-model="ctrl.model.fields." + name)
			else
				input.form-control(name="ff_" + name type="password" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}

//- --------------------------------------------------------------------------------------
//- form input select type
mixin select_input(label, name, source, sourceLabel)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				select.form-control(auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
					option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			else
				select.form-control(name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
					option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}

//- --------------------------------------------------------------------------------------
//- form input select type
mixin select_list_input(label, name, source, sourceLabel, rows)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				select.form-control(size=rows auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
					option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			else
				select.form-control(size=rows name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
					option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}

//- --------------------------------------------------------------------------------------
//- form input text type
mixin text_input(label, name)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				textarea.form-control(style="height: 70px" auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			else
				textarea.form-control(style="height: 70px" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}


//- --------------------------------------------------------------------------------------
//- form checkbox type
mixin checkbox(label, name)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-xs-7.col-sm-4.control-label= label
		.col-xs-5.col-sm-8
			input(type="checkbox", style="margin-top: 10px", ng-model="ctrl.model.fields." + name)

//- --------------------------------------------------------------------------------------
//- form call to action
mixin form_cta(label)
	.form-group
		.col-sm-2(ng-show="ctrl.cancel !== undefined")
			button.btn.btn-sm.btn-default(type="submit" ng-click="ctrl.cancel()")
				i(class="fa fa-chevron-left")
				| &nbsp;{{ctrl.ctaLabel("abbrechen")}}
		.col-sm-2(ng-show="ctrl.cancel === undefined")
			| &nbsp;
		.col-sm-offset-2.col-sm-8
			button.btn.btn-success.btn-block(ng-disabled="!ctrl.isReady()" type="submit" ng-click="ctrl.cta()")
				i(class="fa fa-check-square-o")
				| &nbsp;{{ctrl.ctaLabel("#{label}")}}			

//- --------------------------------------------------------------------------------------
//- form info/error message block
mixin form_message
	.alert.alert-danger.form-feedback.text-center(role="alert" ng-show="ctrl.hasError()") {{ctrl.formMessage}}

//- --------------------------------------------------------------------------------------
//- form back-link
mixin form_back_link(label, func)
	button.btn.btn-sm.btn-default(ng-click="ctrl." + func)
		i(class="fa fa-chevron-left")
		| &nbsp;#{label}


//- --------------------------------------------------------------------------------------
//- add entry in table
mixin form_add_entry(label, func)
	button.btn.btn-default.btn-sm(ng-click="ctrl." + func)
		i(class="fa fa-plus")
		| &nbsp;#{label}
	hr

//- --------------------------------------------------------------------------------------
//- form
mixin form(ctaLabel)
	form.form-horizontal(style="background-color: rgba(1, 104, 178, 0.1); padding: 15px 15px 15px 15px;")
		+form_message
		block
		+form_cta(ctaLabel)

//- --------------------------------------------------------------------------------------
//- form
mixin form_login(ctaLabel)
	form.form-horizontal(style="background-color: rgba(255, 255, 255, 0.7); border-radius: 10px; box-shadow: 5px 5px 5px #555 ;padding: 25px 25px 25px 25px;")
		+form_message
		block
		+form_cta(ctaLabel)

mixin form_login_bottom()
	div(style="background-color: rgba(255, 255, 255, 0.7); border-radius: 10px; box-shadow: 5px 5px 5px #555 ; margin-top: 20px; padding: 15px 15px 15px 15px;")
		block

//- --------------------------------------------------------------------------------------
//- floating dialog for wizard
mixin wizard_dialog(title,action)
	.gsc_inpage_dialog
		.gsc_hidden.panel.draggable-panel.ui-draggable(id="toolbox-tools-todo-xyz")
			.panel-heading.text-center
				h3.panel-title!=title
			.panel-body
				!= action
				form
					block
			.panel-footer
				button.btn.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ctrl.panel.ctaShowDesktop()")
					i(class="fa fa-home")
					| &nbsp;&nbsp;zum Desktop
				button.btn.btn-default.btn-sm(type="button", ng-click="ctrl.s_sitewizard.prev()", ng-disabled="!ctrl.s_sitewizard.prevEnabled()", style="margin-left: 110px")
					i(class="fa fa-chevron-left")
					| &nbsp;&nbsp;zurück
				button.btn.btn-success.btn-sm(type="button", ng-click="ctrl.s_sitewizard.next()", ng-disabled="!ctrl.s_sitewizard.nextEnabled()", style="margin-left: 0px")
					| weiter&nbsp;&nbsp;
					i(class="fa fa-chevron-right")

//- --------------------------------------------------------------------------------------
//- floating dialog new component editor
mixin gsc_component_editor_v3()
	.gsc_component_edit_dialog
		.gsc_dialog.gsc_hidden.panel.draggable-panel.ui-draggable(id="gsc_dialog_edit_cta")
			.panel-heading
				.row
					.col-md-1.panel-title
					.col-md-10.text-center.panel-title Einstellungen
					.col-md-1
			#gsc_component_edit_dialog_body.panel-body
				block
			.panel-footer
				.row
					.col-md-8
						label.checkbox-inline
							input(type="checkbox",ng-model="ctrl.part_config.expertMode")
							| Expertinnen-Modus
							span(ng-show="ctrl.part_config.expertMode",style="font-size: 0.8em;")
								| &nbsp;({{ctrl.part_config.activeEditor.context.pageId}}-{{ctrl.part_config.activeEditor.context.widgetId}}-{{ctrl.part_config.activeEditor.context.aspectId}})
					.col-md-2(style="padding-right: 3px;")
						button.btn.btn-block.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ctrl.part_config.closeWindow()")
							i(class="fa fa-close")
							| &nbsp;Fenster schliessen
					.col-md-2(style="padding-left: 3px;")
						button.btn.btn-block.btn-success.btn-sm(type="button",ng-disabled="!ctrl.part_config.activeEditor.saveCtaVisible()", ng-click="ctrl.part_config.activeEditor.save()")
							i(class="fa fa-save")
							|  &nbsp;Speichern

mixin gsc_toolbar(editorClass)
	.row(ng-show="ctrl.part_config.activeEditor.mytype == '" + editorClass + "'")
		.col-md-12.toolbar
			block


mixin gsc_toolbar_button(id,icon,label,help)
	if attributes.expertMode == true
		a.toolbar-button(ng-show="ctrl.part_config.expertMode",ng-class="{'toolbar-button-active': ctrl.part_config.activeEditor.activeTab == '" + id + "'}",ng-click="ctrl.part_config.activeEditor.activateTab('" + id + "');",data-delay="1000",data-toggle="tooltip",data-placement="top",title=help)
			i.fa(class=icon,style="font-size: 0.9em",aria-hidden="true")
			| &nbsp;&nbsp;#{label}
	else
		a.toolbar-button(ng-class="{'toolbar-button-active': ctrl.part_config.activeEditor.activeTab == '" + id + "'}",ng-click="ctrl.part_config.activeEditor.activateTab('" + id + "');",data-delay="1000",data-toggle="tooltip",data-placement="top",title=help)
			i.fa(class=icon,style="font-size: 0.9em",aria-hidden="true")
			| &nbsp;&nbsp;#{label}


mixin gsc_toolbar_page(editorClass,id)
	.row(ng-if="ctrl.part_config.activeEditor.mytype == '" + editorClass + "' && ctrl.part_config.activeEditor.activeTab == '" + id + "'")
		.col-md-12.toolbar_page
			block

mixin gsc_toolbar_page_generic(id)
	.row(ng-if="ctrl.part_config.activeEditor.activeTab == '" + id + "'")
		.col-md-12.toolbar_page
			block



mixin gsc_modal_two_buttons()
	#gsc_modal_2btns.modal.fade(tabindex="-1" role="dialog")
		.modal-dialog(role="document" style="width: 600px; font-family: 'Open Sans'")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true")
							|	&times;
					h4.modal-title.text-center Bitte beachten Sie:
				.modal-body
					p Sie haben Änderungen, die noch nicht gespeichert sind.
					ul
						li Sie können auf der aktuellen Seite bleiben und diese speichern.
						li Oder ohne Speichern weiterfahren und Ihre Änderungen verwerfen.
				.modal-footer
					.row
						.col-md-6
							button.btn-block.btn.btn-sm.btn-default(type="button",ng-click="ctrl.part_config.ctaStayOnPage()")
								| Auf aktueller Seite bleiben.
						.col-md-6(ng-show="ctrl.part_config.activeEditor.buttonSel == 1")
							button.btn-block.btn.btn-sm.btn-default(type="button",ng-click="ctrl.part_config.ctaMoveToPage()")
								| Änderungen verwerfen und weiterfahren.
						.col-md-6(ng-show="ctrl.part_config.activeEditor.buttonSel == 2")
							button.btn-block.btn.btn-sm.btn-default(type="button",ng-click="ctrl.part_config.ctaCloseWindow()")
								| Änderungen verwerfen, Fenster schliessen.

//- --------------------------------------------------------------------------------------
//- floating dialog for wizard
mixin wizard_dialog_moveable(id,title,action)
	.gsc_inpage_dialog
		.gsc_dialog.gsc_hidden.panel.draggable-panel.ui-draggable(id=id)
			.panel-heading
				.row
					.col-md-1.panel-title
						a(title="Fenster wegklappen",ng-show="ctrl.stateWizard13 == 'open'",ng-click="ctrl.parkWizard13()",style="cursor:pointer;")
							i(class="fa fa-arrow-right")
						a(title="Fenster aufklappen",ng-show="ctrl.stateWizard13 == 'parked'",ng-click="ctrl.unparkWizard13()",style="cursor:pointer;")
							i(class="fa fa-arrow-left")
					.col-md-10.text-center.panel-title!=title
					.col-md-1
			.panel-body(ng-show="ctrl.stateWizard13 == 'open'")
				!= action
				block
			.panel-footer(ng-show="ctrl.stateWizard13 == 'open'")
				button.btn.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ctrl.panel.ctaShowDesktop()")
					i(class="fa fa-home")
					| &nbsp;&nbsp;zum Desktop
				button.btn.btn-success.btn-sm.pull-right(type="button", ng-click="ctrl.closeWizard13 ()")
					| schliessen

mixin wizard_dialog_moveable_15(id,title,action)
	.gsc_inpage_dialog
		.gsc_dialog.gsc_hidden.panel.draggable-panel.ui-draggable(id=id)
			.panel-heading
				.row
					.col-md-1.panel-title
						a(title="Fenster wegklappen",ng-show="ctrl.stateWizard15 == 'open'",ng-click="ctrl.parkWizard15()",style="cursor:pointer;")
							i(class="fa fa-arrow-right")
						a(title="Fenster aufklappen",ng-show="ctrl.stateWizard15 == 'parked'",ng-click="ctrl.unparkWizard15()",style="cursor:pointer;")
							i(class="fa fa-arrow-left")
					.col-md-10.text-center.panel-title!=title
					.col-md-1
			.panel-body(ng-show="ctrl.stateWizard15 == 'open'")
				!= action
				block
			.panel-footer(ng-show="ctrl.stateWizard15 == 'open'")
				button.btn.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ctrl.panel.ctaShowDesktop()")
					i(class="fa fa-home")
					| &nbsp;&nbsp;zum Desktop
				button.btn.btn-success.btn-sm.pull-right(type="button", ng-click="ctrl.closeWizard15 ()")
					| schliessen

mixin wizard_dialog_moveable_no_close(id,title,action)
	.gsc_inpage_dialog
		.gsc_dialog.gsc_hidden.panel.draggable-panel.ui-draggable(id=id)
			.panel-heading.text-center(style="cursor: move;")
				h3.panel-title!=title
			.panel-body
				!= action
				form
					block
			.panel-footer
				button.btn.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ctrl.panel.ctaShowDesktop()")
					i(class="fa fa-home")
					| &nbsp;&nbsp;zum Desktop
