//- --------------------------------------------------------------------------------------
//- form input hidden type

mixin new_hidden_input(name, value)
	input(name="ff_" + name type="hidden" ng-model="ctrl.model.fields." + name value=value)

//- --------------------------------------------------------------------------------------
//- form input string type

mixin new_string_input(label, name)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			else
				input.form-control(name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}

mixin new_string_input_4_8(label, name, label2, name2)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label #{label}/#{label2}
		.col-sm-2
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			else
				input.form-control(name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}
		.col-sm-6
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name2 type="text" ng-model="ctrl.model.fields." + name2)
			else
				input.form-control(name="ff_" + name2, type="text", ng-model="ctrl.model.fields." + name2)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name2 + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name2 + "') != ''") {{ctrl.fieldMessage("#{name2}")}}


mixin new_string_input_10_2(label, name, label2, name2)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label #{label}/#{label2}
		.col-sm-6
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			else
				input.form-control(name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}
		.col-sm-2
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name2 type="text" ng-model="ctrl.model.fields." + name2)
			else
				input.form-control(name="ff_" + name2 type="text" ng-model="ctrl.model.fields." + name2)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name2 + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name2 + "') != ''") {{ctrl.fieldMessage("#{name2}")}}

mixin new_string_input_5_5(label, name, label2, name2)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label #{label}/#{label2}
		.col-sm-4
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			else
				input.form-control(name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}
		.col-sm-4
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name2 type="text" ng-model="ctrl.model.fields." + name2)
			else
				input.form-control(name="ff_" + name2 type="text" ng-model="ctrl.model.fields." + name2)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name2 + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name2 + "') != ''") {{ctrl.fieldMessage("#{name2}")}}

//- --------------------------------------------------------------------------------------
//- form input string type
mixin new_password_input(label, name)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				input.form-control(auto-focus="true" name="ff_" + name type="password" ng-model="ctrl.model.fields." + name)
			else
				input.form-control(name="ff_" + name type="password" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}

//- --------------------------------------------------------------------------------------
//- form input select type
mixin new_select_input(label, name, source, sourceLabel)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				select.form-control(auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
					option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			else
				select.form-control(name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
					option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}

//- --------------------------------------------------------------------------------------
//- form input select type
mixin new_select_list_input(label, name, source, sourceLabel, rows)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				select.form-control(size=rows auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
					option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			else
				select.form-control(size=rows name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
					option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}

//- --------------------------------------------------------------------------------------
//- form input text type
mixin new_text_input(label, name)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			if attributes.autofocus == true
				textarea.form-control(style="height: 70px" auto-focus="true" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			else
				textarea.form-control(style="height: 70px" name="ff_" + name type="text" ng-model="ctrl.model.fields." + name)
			span.glyphicon.glyphicon-remove.form-control-feedback(ng-show="ctrl.fieldHasError('" + name + "')" aria-hidden="true")
			span.help-block(ng-show="ctrl.fieldMessage('" + name + "') != ''") {{ctrl.fieldMessage("#{name}")}}


//- --------------------------------------------------------------------------------------
//- form checkbox type
mixin new_checkbox(label, name)
	.form-group(ng-class="{'required': " + attributes.required + ", 'has-error': ctrl.fieldHasError('" + name + "'), 'has-feedback': ctrl.fieldHasError('" + name + "')}")
		label.col-xs-7.col-sm-4.control-label= label
		.col-xs-5.col-sm-8
			input(type="checkbox", style="margin-top: 10px", ng-model="ctrl.model.fields." + name)

//- --------------------------------------------------------------------------------------
//- form call to action
mixin new_form_cta(label)
	.form-group
		.col-sm-2(ng-show="ctrl.cancel !== undefined")
			button.btn.btn-sm.btn-default(type="submit" ng-click="ctrl.cancel()")
				i(class="fa fa-chevron-left")
				| &nbsp;{{ctrl.ctaLabel("abbrechen")}}
		.col-sm-2(ng-show="ctrl.cancel === undefined")
			| &nbsp;
		.col-sm-offset-2.col-sm-8
			button.btn.btn-success.btn-block(ng-disabled="!ctrl.isReady()" type="submit" ng-click="ctrl.cta()")
				i(class="fa fa-check-square-o")
				| &nbsp;{{ctrl.ctaLabel("#{label}")}}			

//- --------------------------------------------------------------------------------------
//- form info/error message block
mixin new_form_message
	.alert.alert-danger.form-feedback.text-center(role="alert" ng-show="ctrl.hasError()") {{ctrl.formMessage}}

//- --------------------------------------------------------------------------------------
//- form back-link
mixin new_form_back_link(label, func)
	button.btn.btn-sm.btn-default(ng-click="ctrl." + func)
		i(class="fa fa-chevron-left")
		| &nbsp;#{label}


//- --------------------------------------------------------------------------------------
//- add entry in table
mixin new_form_add_entry(label, func)
	button.btn.btn-default.btn-sm(ng-click="ctrl." + func)
		i(class="fa fa-plus")
		| &nbsp;#{label}
	hr

//- --------------------------------------------------------------------------------------
//- form
mixin new_form(ctaLabel)
	form.form-horizontal.gsc_form
		+form_message
		block
		+form_cta(ctaLabel)

