- var debug = false

//- --------------------------------------------------------------------------------------
//- various blocks to build pages and forms
mixin admin_header(title)
	nav.navbar.navbar-default.navbar-fixed-top.gsc_container
		.container-fluid
			.row.c_admin.c_strong
				.col-sm-1.text-center
				.col-sm-8.text-center
					h1!= title
				.col-sm-3.text-center
					div(style="clear: both; margin: 10px; padding: 10px 0 10px 0; display: inline-block; font-size: 1.1em;")
						button.btn.btn-sm.btn-warning(ng-click="mc.logout()")
							i(class="fa fa-sign-out")
							| &nbsp;&nbsp;abmelden

mixin admin_header_menu(title)
	nav.navbar.navbar-default.navbar-fixed-top.gsc_container
		.container-fluid
			.row.c_admin.c_strong
				.col-md-1
				.col-md-4
					div(style="padding-top: 15px; display: inline-block; font-size: 1.3em; font-weight: bold; line-height: 1.9em; margin-right: 15px; color: white;")
						|=title
				.col-md-7
					div(style="clear: both; margin: 10px; padding: 10px 0 10px 0; display: inline-block; font-size: 1.1em;")
						block

mixin admin_content(title)
	+admin_header(title)
	.container-fluid.gsc_container(style="padding: 62px 0 0 0; max-width: 1200px;")
		.row
			.col-md-offset-2.col-md-8(style="padding-top: 20px;")
				block

//- --------------------------------------------------------------------------------------
mixin tile(title,icon,cta)
	.col-xs-4.col-md-2
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
	.col-xs-8.col-md-4(style="padding-top: 15px;")
		block

mixin tile_small(title,icon,cta)
	.col-xs-4.col-md-2
		.c_tile_small.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
	.col-xs-8.col-md-4(style="padding-top: 25px;")
		block

mixin tile_small_border(title,icon,cta,color,badge,badgeText,stepNr)
	.row
		.col-xs-4.col-md-4
			div(style="border-radius:50%; border: 1px solid " + color + "; background-color: white; padding: 3px 10px 10px 9px; position: absolute; left: -20px; width: 30px; height: 30px; font-size: 16px; font-weight: 400; top: 25px;")
				| #{stepNr}
			.c_tile_small.text-center(ng-click=cta, style="cursor: pointer; border-left: solid 10px " + color)
				i(class="fa " + icon, style="color: " + color)
				h2= title
			if badgeText != ""
				span(class=badge)= badgeText
		.col-xs-8.col-md-8(style="padding-top: 25px;")
			block

//- --------------------------------------------------------------------------------------
mixin admin_tile_id(id,title,icon,cta,badge,badgeText)
	.col-xs-6.col-md-3
		.c_tile.text-center(id="" + id, ng-click=cta, ng-class="{'c_tile_guidance': ng.ctrl.s_workflow.guidance.tile == '' + id}" style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

mixin admin_tile(title,icon,cta,badge,badgeText)
	.col-xs-6.col-md-3
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText


mixin admin_tile_cond(title,icon,cta,badge,badgeText,cond)
	.col-xs-6.col-md-3(ng-show=cond)
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

mixin admin_tile_wide_important(title,icon,cta,badge,badgeText)
	.col-xs-12.col-md-12
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;background-color: rgba(255, 50, 50, 0.4)")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

mixin admin_tile_wide_temp(title,icon,cta,badge,badgeText)
	.col-xs-12.col-md-12
		.c_tile.text-center(ng-click=cta, style="cursor: pointer;background-color: rgba(50, 50, 255, 0.4)")
			i(class="fa " + icon)
			h2= title
			if badgeText != ""
				span(class=badge)= badgeText

//- --------------------------------------------------------------------------------------
//- form input hidden type
mixin hidden_input(name, value)
	input(name=name type="hidden" ng-model="ng.ctrl.model.fields." + name value=value)

//- --------------------------------------------------------------------------------------
//- form input string type
mixin string_input(label, name)
	- var form = locals.formname
	.form-group(ng-class="{'required': ng.ctrl.isRequired('" + name + "'), 'has-error': ng.ctrl.showMessages('" + form + "', '" + name + "'), 'has-feedback': ng.ctrl.showMessages('" + form + "', '" + name + "')}")
		label.col-sm-4.control-label= label
		.col-sm-8
			input.form-control(name=name type="text" ng-model="ng.ctrl.model.fields." + name ng-required="ng.ctrl.isRequired('" + name + "')" auto-focus="ng.ctrl.hasAutofocus('" + name + "')")
			+form_error_messages(label, name)

//- --------------------------------------------------------------------------------------
//- form input string type
mixin password_input(label, name)
	- var form = locals.formname
	.form-group(ng-class="{'required': ng.ctrl.isRequired('" + name + "'), 'has-error': ng.ctrl.showMessages(" + form + ", " + name + "), 'has-feedback': ng.ctrl.showMessages(" + form + ", " + name + ")}")
		label.col-sm-4.control-label= label
		.col-sm-8
			input.form-control(name=name type="password" ng-model="ng.ctrl.model.fields." + name ng-required="ng.ctrl.isRequired('" + name + "')" auto-focus="ng.ctrl.hasAutofocus('" + name + "')")
			+form_error_messages(label, name)

//- --------------------------------------------------------------------------------------
//- form input select type
mixin select_input(label, name, source, sourceLabel)
	- var form = locals.formname
	.form-group(ng-class="{'required': ng.ctrl.isRequired('" + name + "'), 'has-error': ng.ctrl.showMessages(" + form + ", " + name + "), 'has-feedback': ng.ctrl.showMessages(" + form + ", " + name + ")}")
		label.col-sm-4.control-label= label
		.col-sm-8
			select.form-control(name=name type="text" ng-model="ng.ctrl.model.fields." + name ng-required="ng.ctrl.isRequired('" + name + "')" auto-focus="ng.ctrl.hasAutofocus('" + name + "')")
				option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			+form_error_messages(label, name)

//- --------------------------------------------------------------------------------------
//- form input select type
mixin select_list_input(label, name, source, sourceLabel, rows)
	- var form = locals.formname
	.form-group(ng-class="{'required': ng.ctrl.isRequired('" + name + "'), 'has-error': ng.ctrl.showMessages(" + form + ", " + name + "), 'has-feedback': ng.ctrl.showMessages(" + form + ", " + name + ")}")
		label.col-sm-4.control-label= label
		.col-sm-8
			select.form-control(size=rows name=name type="text" ng-model="ng.ctrl.model.fields." + name  ng-required="ng.ctrl.isRequired('" + name + "')" auto-focus="ng.ctrl.hasAutofocus('" + name + "')")
				option(ng-repeat="o in " + source value="{{o.id}}") {{o.#{sourceLabel}}}
			+form_error_messages(label, name)

//- --------------------------------------------------------------------------------------
//- form input text type
mixin text_input(label, name)
	- var form = locals.formname
	.form-group(ng-class="{'required': ng.ctrl.isRequired('" + name + "'), 'has-error': ng.ctrl.showMessages(" + form + ", " + name + "), 'has-feedback': ng.ctrl.showMessages(" + form + ", " + name + ")}")
		label.col-sm-4.control-label= label
		.col-sm-8
			textarea.form-control(style="height: 70px" name=name type="text" ng-model="ng.ctrl.model.fields." + name ng-required="ng.ctrl.isRequired('" + name + "')" auto-focus="ng.ctrl.hasAutofocus('" + name + "')")
			+form_error_messages(label, name)


//- --------------------------------------------------------------------------------------
//- form checkbox type
mixin checkbox(label, name)
	- var form = locals.formname
	.form-group(ng-class="{'required': ng.ctrl.isRequired('" + name + "'), 'has-error': ng.ctrl.showMessages(" + form + ", " + name + "), 'has-feedback': ng.ctrl.showMessages(" + form + ", " + name + ")}")
		label.col-xs-7.col-sm-4.control-label= label
		.col-xs-5.col-sm-8
			input(name=name type="checkbox", style="margin-top: 10px", ng-model="ng.ctrl.model.fields." + name ng-required="ng.ctrl.isRequired('" + name + "')")

//- --------------------------------------------------------------------------------------
//- form checkbox type with int values
mixin checkbox_int(label, name)
	- var form = locals.formname
	.form-group(ng-class="{'required': ng.ctrl.isRequired('" + name + "'), 'has-error': ng.ctrl.showMessages(" + form + ", " + name + "), 'has-feedback': ng.ctrl.showMessages(" + form + ", " + name + ")}")
		label.col-xs-7.col-sm-4.control-label= label
		.col-xs-5.col-sm-8
			input(name=name type="checkbox", style="margin-top: 10px", ng-model="ng.ctrl.model.fields." + name ng-true-value="1" ng-false-value="0" ng-required="ng.ctrl.isRequired('" + name + "')")


//- --------------------------------------------------------------------------------------
//- form call to action
mixin form_cta(label)
	.form-group
		.col-sm-2(ng-show="ng.ctrl.cancel !== undefined")
			button.btn.btn-default(type="submit" ng-click="ng.ctrl.cancel()")
				i.fa.fa-chevron-left
				| &nbsp;{{ng.ctrl.ctaLabel("abbrechen")}}
		.col-sm-2(ng-show="ng.ctrl.cancel === undefined")
			| &nbsp;
		.col-sm-offset-2.col-sm-8
			button.btn.btn-success.btn-block(type="submit" ng-click="ng.ctrl.cta()")
				i.fa.fa-check-square-o
				| &nbsp;{{ng.ctrl.ctaLabel("#{label}")}}

//- --------------------------------------------------------------------------------------
//- form info/error message block
mixin form_message
	.alert.alert-danger.form-feedback.text-center(role="alert" ng-show="ng.ctrl.hasError()") {{ng.ctrl.formMessage}}

//- --------------------------------------------------------------------------------------
//- form back-link
mixin form_back_link(label, func)
	button.btn.btn-sm.btn-default(ng-click="ng.ctrl." + func)
		i(class="fa fa-chevron-left")
		| &nbsp;#{label}


//- --------------------------------------------------------------------------------------
//- add entry in table
mixin form_add_entry(label, func)
	button.btn.btn-default.btn-sm(ng-click="ng.ctrl." + func)
		i(class="fa fa-plus")
		| &nbsp;#{label}
	hr

//- --------------------------------------------------------------------------------------
//- form
mixin form(name, ctaLabel)
	- locals.formname = name
	form.form-horizontal(style="background-color: rgba(1, 104, 178, 0.1); padding: 15px 15px 15px 15px;" name="ng.ctrl.forms." + name novalidate)
		+form_message
		block
		+form_cta(ctaLabel)

//- --------------------------------------------------------------------------------------
//- form
mixin form_login(name, ctaLabel)
	- locals.formname = name
	form.form-horizontal(style="background-color: rgba(1, 104, 178, 0.1); padding: 15px 15px 15px 15px;" name="ng.ctrl.forms." + name)
		+form_message
		block
		+form_cta(ctaLabel)

//- --------------------------------------------------------------------------------------
//- floating dialog for wizard
mixin wizard_dialog(title,action)
	.gsc_inpage_dialog
		.gsc_hidden.panel.draggable-panel.ui-draggable(id="toolbox-tools-todo-xyz")
			.panel-heading.text-center
				h3.panel-title!=title
			.panel-body
				!= action
				form
					block
			.panel-footer
				button.btn.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ng.ctrl.ctaShowDesktop()")
					i(class="fa fa-home")
					| &nbsp;&nbsp;zum Desktop
				button.btn.btn-default.btn-sm(type="button", ng-click="ng.ctrl.s_sitewizard.prev()", ng-disabled="!ng.ctrl.s_sitewizard.prevEnabled()", style="margin-left: 110px")
					i(class="fa fa-chevron-left")
					| &nbsp;&nbsp;zurück
				button.btn.btn-success.btn-sm(type="button", ng-click="ng.ctrl.s_sitewizard.next()", ng-disabled="!ng.ctrl.s_sitewizard.nextEnabled()", style="margin-left: 0px")
					| weiter&nbsp;&nbsp;
					i(class="fa fa-chevron-right")

//- --------------------------------------------------------------------------------------
//- floating dialog for wizard
mixin wizard_dialog_moveable(id,title,action)
	.gsc_inpage_dialog
		.gsc_dialog.gsc_hidden.panel.draggable-panel.ui-draggable(id="" + id)
			.panel-heading
				.row
					.col-md-1.panel-title
						a(title="Fenster wegklappen",ng-show="ng.ctrl.stateWizard13 == 'open'",ng-click="ng.ctrl.parkWizard13()",style="cursor:pointer;")
							i(class="fa fa-arrow-right")
						a(title="Fenster aufklappen",ng-show="ng.ctrl.stateWizard13 == 'parked'",ng-click="ng.ctrl.unparkWizard13()",style="cursor:pointer;")
							i(class="fa fa-arrow-left")
					.col-md-10.text-center.panel-title!=title
					.col-md-1
			.panel-body(ng-show="ng.ctrl.stateWizard13 == 'open'")
				!= action
				block
			.panel-footer(ng-show="ng.ctrl.stateWizard13 == 'open'")
				button.btn.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ng.ctrl.ctaShowDesktop13()")
					i(class="fa fa-home")
					| &nbsp;&nbsp;zum Desktop
				button.btn.btn-success.btn-sm.pull-right(type="button", ng-click="ng.ctrl.closeWizard13 ()")
					| schliessen

mixin wizard_dialog_moveable_15(id,title,action)
	.gsc_inpage_dialog
		.gsc_dialog.gsc_hidden.panel.draggable-panel.ui-draggable(id="" + id)
			.panel-heading
				.row
					.col-md-1.panel-title
						a(title="Fenster wegklappen",ng-show="ng.ctrl.stateWizard15 == 'open'",ng-click="ng.ctrl.parkWizard15()",style="cursor:pointer;")
							i(class="fa fa-arrow-right")
						a(title="Fenster aufklappen",ng-show="ng.ctrl.stateWizard15 == 'parked'",ng-click="ng.ctrl.unparkWizard15()",style="cursor:pointer;")
							i(class="fa fa-arrow-left")
					.col-md-10.text-center.panel-title!=title
					.col-md-1
			.panel-body(ng-show="ng.ctrl.stateWizard15 == 'open'")
				!= action
				block
			.panel-footer(ng-show="ng.ctrl.stateWizard15 == 'open'")
				button.btn.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ng.ctrl.ctaShowDesktop15()")
					i(class="fa fa-home")
					| &nbsp;&nbsp;zum Desktop
				button.btn.btn-success.btn-sm.pull-right(type="button", ng-click="ng.ctrl.closeWizard15 ()")
					| schliessen

mixin wizard_dialog_moveable_no_close(id,title,action)
	.gsc_inpage_dialog
		.gsc_dialog.gsc_hidden.panel.draggable-panel.ui-draggable(id="" + id)
			.panel-heading.text-center(style="cursor: move;")
				h3.panel-title!=title
			.panel-body
				!= action
				form
					block
			.panel-footer
				button.btn.btn-default.btn-sm(type="button", style="margin-left: 0px", ng-click="ng.ctrl.ctaShowDesktop13()")
					i(class="fa fa-home")
					| &nbsp;&nbsp;zum Desktop
