//- --------------------------------------------------------------------------------------
//- form elements for properties

mixin prop_form
	.row
		.col-md-12
			form.form-horizontal
				block

mixin prop_string(title, model)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-8
			input.form-control(type="text", placeholder=title, ng-model=model)



mixin prop_int_an(title, model)
	.form-group.form-group-sm
		label.col-sm-5.control-label(style="font-family: 'Arial Narrow'; font-size: 0.9em; font-weight: normal;")=title
		.col-sm-3
			input.form-control(type="text", ng-model=model)
		label.col-sm-2.control-label(style="padding-left: 0; margin-left: -10px; font-family: 'Arial Narrow'; font-size: 0.9em; font-weight: normal;") px

mixin prop_text_an(title, model)
	.form-group.form-group-sm
		label.col-sm-5.control-label(style="font-family: 'Arial Narrow'; font-size: 0.9em; font-weight: normal;")=title
		.col-sm-5
			input.form-control(type="text", ng-model=model)

mixin prop_radio_2_an(title, model, option1, labelOption1, option2, labelOption2)
	.form-group.form-group-sm
		label.col-sm-5.control-label(style="font-family: 'Arial Narrow'; font-size: 0.9em; font-weight: normal;")=title
		.col-sm-3
			label.radio-inline.cathy
				input(type="radio",ng-value=option1, ng-model=model)
				| #{labelOption1}
		.col-sm-3
			label.radio-inline
				input(type="radio",ng-value=option2, ng-model=model)
				| #{labelOption2}


mixin prop_text_an_wide(title, model)
	.form-group.form-group-sm
		label.col-sm-2.control-label(style="font-family: 'Arial Narrow'; font-size: 0.9em; font-weight: normal;")=title
		.col-sm-8
			input.form-control(type="text", ng-model=model)

mixin prop_radio_2_an_wide(title, model, option1, labelOption1, option2, labelOption2)
	.form-group.form-group-sm
		label.col-sm-2.control-label(style="font-family: 'Arial Narrow'; font-size: 0.9em; font-weight: normal;")=title
		.col-sm-3
			label.radio-inline
				input(type="radio",ng-value=option1, ng-model=model)
				| #{labelOption1}
		.col-sm-3
			label.radio-inline
				input(type="radio",ng-value=option2, ng-model=model)
				| #{labelOption2}

mixin prop_radio_3_an_wide(title, model, option1, labelOption1, option2, labelOption2, option3, labelOption3)
	.form-group.form-group-sm
		label.col-sm-2.control-label(style="font-family: 'Arial Narrow'; font-size: 0.9em; font-weight: normal;")=title
		.col-sm-3
			label.radio-inline
				input(type="radio",ng-value=option1, ng-model=model)
				| #{labelOption1}
		.col-sm-3
			label.radio-inline
				input(type="radio",ng-value=option2, ng-model=model)
				| #{labelOption2}
		.col-sm-3
			label.radio-inline
				input(type="radio",ng-value=option3, ng-model=model)
				| #{labelOption3}







mixin i_string(model)
	.form-group.form-group-sm
		.col-sm-12
			input.form-control(type="text", ng-model=model)

mixin prop_text(title, model)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-8
			textarea.form-control(rows="3", placeholder=title, ng-model=model)

mixin i_text(model)
	.form-group.form-group-sm
		.col-sm-12
			textarea.form-control(rows="2", ng-model=model)

mixin prop_checkbox(title, model)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-8
			label.checkbox-inline
				input(type="checkbox",value="true", ng-model=model)

mixin prop_radio_2(title, model, option1, labelOption1, option2, labelOption2)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-4
			label.radio-inline
				input(type="radio",ng-value=option1, ng-model=model)
				| #{labelOption1}
		.col-sm-4
			label.radio-inline
				input(type="radio",ng-value=option2, ng-model=model)
				| #{labelOption2}

mixin prop_string_unit(title, model, modelUnits, units)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-4
			input.form-control(type="text", ng-model=model)
		.col-sm-4
			select.form-control(ng-model=modelUnits)
				each item in units
					option(value=item.val)= item.label

mixin prop_intro(title)
	.form-group.form-group-sm
		label.col-sm-12.control-label=title

mixin prop_option(title, model, options, id, label)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-8
			select.form-control(ng-model=model)
				option(ng-repeat="o in " + options, value="{{o." + id + "}}") {{o.#{label}}}

mixin prop_list(title, model, options, id, label)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-8
			select.form-control(ng-model=model,size="5",multiple)
				option(ng-repeat="o in " + options, value="{{o." + id + "}}") {{o.#{label}}}

mixin prop_cblist(title, model, options, id, label, maxHeight)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-7(style="max-height: " + maxHeight + "; overflow-y: scroll; background-color: rgb(250, 250, 250); border: 1px solid #ccc; margin-right: 10px;")
			label.checkbox-inline(ng-repeat="o in " + options, style="margin-left: 10px; display:block;")
				input(type="checkbox",value="true", ng-model=model + "[$index].selected")
				| {{o.#{label}}}

mixin prop_fontlist(title, model, options, id, label, maxHeight)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-7(style="max-height: " + maxHeight + "; overflow-y: scroll; background-color: rgb(250, 250, 250); border: 1px solid #ccc; margin-right: 10px;")
			label.checkbox-inline(ng-repeat="o in " + options, style="padding-left: 0; margin-left: 0; display:block;")
				input(type="radio",value="{{$index}}", ng-model=model)
				span(style="padding-left: 10px; font-family: {{o.font_family}}; font-weight: {{o.font_weight}}") {{o.#{label}}}

mixin prop_color(title, key, model, resetAction)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-4
			input.gsc_color_picker(id="gsc_color_picker_field_" + key, type="text", style="margin-top: 3px;", data-key="#{key}", ng-model=model)
		.col-sm-4
			button.btn.btn-sm.btn-default(ng-click=resetAction) entfernen

mixin prop_color_form(title, model)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-3
			input.gsc_color_picker_form(type="text", style="margin-top: 3px;", ng-model=model)
		.col-sm-5(style="font-size: 0.8em")
			| {{#{model}}}

mixin prop_bgimage(title, action)
	.form-group.form-group-sm
		label.col-sm-4.control-label=title
		.col-sm-4
			button.btn.btn-sm.btn-default(ng-click=action) setzen/entfernen

mixin prop_cta(okTitle, okAction)
	.col-sm-offset-4.col-sm-8
		.button.btn.btn-sm.btn-primary(ng-click=okAction) #{okTitle}

mixin prop_cta2(okTitle, okAction, cancelTitle, cancelAction)
	.col-sm-offset-4.col-sm-8
		.button.btn.btn-sm.btn-primary(ng-click=okAction) #{okTitle}
		.button.btn.btn-sm.btn-default(ng-click=cancelAction) #{cancelTitle}
