
mixin test(title, key, obj)
	h3(style="color: white; margin-top: 10px; font-weight: bold;")=title
	span(style="cursor:pointer; ", ng-show="ctrl.hide['" + key + "'] != false", ng-click="ctrl.hide['" + key + "'] = false")=title
	| {{=obj.title}}

	| Hugo: #{obj}

+test("Mein-Titel", "Mein-Schlüssel", "xyz")

