mixin file_upload(subpage,model,accept,label1,percentage)

	.row(ng-show=subpage + " == 'upload'", style="min-height: 200px;")
		.col-md-12
			.row
				.col-md-offset-3.col-md-6(style="text-align:center")
					.gsc_drop_box(style="height: 100px;", ngf-select, ngf-multiple="true", ng-model=model, ngf-pattern="'image/*'", ngf-accept="'image/*'", ngf-max-size="20MB")
						| Datei auf diese Fläche ziehen oder hier klicken

	.row(ng-show=subpage + " == 'upload_progress'", style="min-height: 200px;")
		.col-md-12
			.row
				.col-md-12.text-center
					p= "{{" + label1 + "}}"
			.row
				.col-md-12.text-center
					.progress
						.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="{{" + percentage + "}}" aria-valuemin="0" aria-valuemax="100" style="width:{{" + percentage + "}}%")= "{{" + percentage + "}}% hochgeladen"
			.row
				.col-md-12.text-center
					button.btn-primary.btn-sm(ng-click=subpage + " = 'upload'") zurück