<div>
  <div class="container">
      <div class="text-center">
          <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-circle pg-blue mb-0">
              <li *ngIf="showFirstLink" [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                  <a (click)="setPage(1)" class="page-link">{{'COMPONENT.GRID.PAGER.FIRST'|translate}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                  <a (click)="setPage(pager.currentPage - 1)" class="page-link">
                      <i class="fa fa-chevron-left"></i>
                  </a>
              </li>
              <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                  <a (click)="setPage(page)" class="page-link">{{page}}</a>
              </li>
              <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                  <a (click)="setPage(pager.currentPage + 1)" class="page-link">
                      <i class="fa fa-chevron-right"></i>
                  </a>
              </li>
              <li *ngIf="showLastLink" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                  <a (click)="setPage(pager.totalPages)" class="page-link">{{'COMPONENT.GRID.PAGER.LAST'|translate}}</a>
              </li>
          </ul>
      </div>
  </div>
</div>
