mdb-photo-upload {
  .testimonial-card {
    &.expanded {
      margin: -20px -20px 20px;
    }

    .btn-action {
      margin-bottom: 0;
      margin-left: calc(100% - 67px);
    }

    .card-up {
      height: 110px;
    }

    .avatar {
      margin: -80px auto 0;
      width: 160px;
      height: 160px;

      .image {
        width: 100%;
        height: 100%;
        background-size: cover;
        /* do not optimize !!! */
        background-position: center center;
        background-repeat: no-repeat;
        /* do not optimize !!! */
      }
    }
  }
}
