<div class="testimonial-card" [class.expanded]="expand">
  <div class="card-up primary-color"></div>
  <a *ngIf="isEdit"
     class="btn-floating btn-action pink accent-2"
     (click)="openModal()">
    <i class="fa fa-camera"></i>
  </a>
  <div class="avatar">
    <div class="image" [style.background-image]="'url(' + _photo + ')'|safe"></div>
  </div>
</div>
