/* You can add global styles to this file, and also import other style files */
@import "style/site";


html,
.view {
  height: 100%;
}

/* Navigation*/

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #154771;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #154771;
  }
}
/*Intro*/

.view {
  background: url("https://bluebamboo.blob.core.windows.net/public/background.jpg") no-repeat center center fixed;
  xbackground: url("/admin/login/slide3.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (max-width: 768px) {
  .full-bg-img,
  .view {
    height: auto;
    position: relative;
  }
}

.description {
  padding-top: 8%;
  padding-bottom: 3rem;
  color: #fff
}

@media (max-width: 992px) {
  .description {
    padding-top: 7rem;
    text-align: center;
  }
}

/*Footer*/
.footer{
  position: fixed !important;
}

@media (max-width: 768px) {
  .flex-center {
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .flex-center {
    align-items: left;
  }
}
footer.page-footer {
  background-color: #275C88;
}
