app-module-purchased {

  .messageBody, .customerInvites {
    background-color: #e9f7fd;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 20px;
  }

  .customerInvites{
    background-color: #ecf0e3;
    padding:20px !important;
  }

  .invitesList > div{
    margin-bottom:15px;
  }

  .invitesList > div > div > a{
    font-size: 15px;
    font-weight:bold;
    display:block;
  }

  .invitesList > div > div{
    text-align:center;
    background-color: #fcf7f7;
    padding:15px;
  }

  .invitesList > div > div:hover{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.16), 0 4px 10px 0 rgba(0,0,0,.12)
  }
}
