<common-card-page>
  <div class="row mt-1">
    <div class="messageBody">
      <h1>{{'PAGE.PURCHASED.THANKS-MESSAGE.TITLE'|translate}}</h1>
      <p [innerHTML]="'PAGE.PURCHASED.THANKS-MESSAGE.TEXT'|translate"></p>
    </div>
    <div class="customerInvites" *ngIf="invitesList.length">

      <div *ngIf="invitesList.length && invitesList.length === 1">
        <p [innerHTML]="'PAGE.PURCHASED.INVITE-LIST.ONE_INVITE'|translate"></p>
      </div>

      <div class="row invitesList" *ngIf="invitesList.length && invitesList.length > 1">
        <p [innerHTML]="'PAGE.PURCHASED.INVITE-LIST.MANY_INVITERS'|translate"></p>

        <div class="col-md-6 col-lg-4" *ngFor="let invite of invitesList">
          <div>
            <a (click)="acceptInvite(invite.id)">{{invite.email}}</a>
            <button (click)="acceptInvite(invite.id)" type="button" class="btn btn-secondary">
              {{'PAGE.PURCHASED.INVITE-LIST.ACCEPT_INVITATION'|translate}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="messageBody">
      <p [innerHTML]="'PAGE.PURCHASED.INVITE-OTHERS.QUESTION'|translate"></p>
      <button class="btn btn-mdb"
        (click)="redirectToInvitePage()">{{'PAGE.PURCHASED.INVITE-OTHERS.GOTO_PAGE'|translate}}</button>
    </div>

    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" (click)="back()">{{'PAGE.DESKTOP.MESSAGES.BACK'|translate}}</button>
    </div>
  </div>
</common-card-page>


