<div>
  <div class="md-form input-group" *ngIf="!showSingle && invoiceRow == null">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input
      type="text"
      class="form-control"
      placeholder="{{'PAGE.INVOICE-LIST.SEARCH'|translate}}"
      aria-describedby="basic-addon1"
      [(ngModel)]="search"
      [disabled]="invoiceRow != null"
    >
  </div>
  <bb-grid #grid [class.selected-row]="invoiceRow != null" [class.single-row]="showSingle" [modules]="gridModules" [sort-column]="0" [sort-order]="'desc'">
    <bb-grid-column title="{{'PAGE.INVOICE-PAID.GRID.DATE'|translate}}" field="date" pipe="momentDate"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-PAID.GRID.NAME'|translate}}" field="customer_name"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-PAID.GRID.FIRST_NAME'|translate}}" field="customer_firstname"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-PAID.GRID.INVOICE_NUM'|translate}}" field="number"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-PAID.GRID.AMOUNT'|translate}}" field="value" pipe="number:'1.2'"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.STATUS'|translate}}" field="status" [cell-template]="templateState"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-PAID.GRID.ACTION'|translate}}" [cell-template]="templateAction"></bb-grid-column>
    <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
  </bb-grid>
  <a class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()" *ngIf="invoiceRow == null && !showSingle">{{'PAGE.INVOICE-PAID.BACK'|translate}}</a>
</div>
<common-card-page *ngIf="invoiceRow != null || showSingle" class="form">
  <div class="form-text">
    <mdb-select title="{{'PAGE.INVOICE-PAID.FORM.PAYMENT_METHOD'|translate}}" select-option="{{'PAGE.INVOICE-PAID.FORM.SELECT_OPTION'|translate}}" icon="fa fa-money prefix" [(ngModel)]="invoicePaid.payed_by">
      <mdb-select-item code="0" title="{{'PAGE.INVOICE-PAID.FORM.METHOD.CASH'|translate}}"></mdb-select-item>
      <mdb-select-item code="1" title="{{'PAGE.INVOICE-PAID.FORM.METHOD.BANK_ACCOUNT'|translate}}"></mdb-select-item>
      <mdb-select-item code="2" title="{{'PAGE.INVOICE-PAID.FORM.METHOD.DEBIT_CARD'|translate}}"></mdb-select-item>
      <mdb-select-item code="3" title="{{'PAGE.INVOICE-PAID.FORM.METHOD.CREDIT_CARD'|translate}}"></mdb-select-item>
    </mdb-select>
    <mdb-input-datepicker icon="fa fa-calendar prefix" title="{{'PAGE.INVOICE-PAID.FORM.PAYMENT_DATE'|translate}}" [(ngModel)]="invoicePaid.payed_at"></mdb-input-datepicker>
    <mdb-textarea icon="fa fa-comment-o prefix" title="{{'PAGE.INVOICE-PAID.FORM.COMMENTS'|translate}}" [(ngModel)]="invoicePaid.comment"></mdb-textarea>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-4 push-lg-8">
      <button type="submit" class="btn btn-success btn-block waves-effect waves-light" (click)="apply()">
        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.INVOICE-PAID.FORM.APPLY'|translate}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <button type="submit" class="btn btn-danger btn-block waves-effect waves-light" (click)="cancel()">
        <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.INVOICE-PAID.FORM.CANCEL'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
