<div class="md-form">
  <i *ngIf="icon" [ngClass]="icon"></i>
  <input [id]="id" [type]="type" class="form-control" [(ngModel)]="value" (focus)="onTouched()" [name]="name" [readonly]="readonly == 'true'" #inputElem>
  <label [for]="id" class="" [innerHtml]="title"></label>
</div>
