mdb-input{
  text-align: left;

  &.ng-invalid{
    &.ng-touched {
      .prefix{
        color: #E57373;
      }

      .form-control {
        border-bottom-color: #E57373;
        box-shadow: 0 1px 0 0 #E57373;;
      }
    }
  }
}
