<ul class="nav nav-tabs md-pills pills-ins" role="tablist">
  <li class="nav-item" *ngFor="let tab of tabs" (click)="selectTab(tab)">
    <a class="nav-link" data-toggle="tab" href="#" role="tab" [class.active]="tab.active">{{tab.title}}</a>
  </li>
</ul>
<ng-content></ng-content>
