<div class="report-designer-navigation navbar navbar-toggleable-md navbar-dark bg-primary hidden-md-down">
  <div class="container pl-0">
    <span class="navbar-brand m-0 p-0"></span>
    <div class="collapse navbar-collapse" id="collapseEx12">
      <ul class="navbar-nav">
        <!--
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" (click)="save()">
            <i class="fa fa-floppy-o"></i>
          </a>
        </li>
        -->
        <li class="nav-item btn-group dropdown" [class.active]="menuOpen" *ngIf="report.info.editable">
          <a class="nav-link dropdown-toggle" id="reportDesignerItemCreate" data-toggle="dropdown"><i class="fa fa-plus"></i>&nbsp;&nbsp;{{'PAGE.REPORT-FORM.ADD_ELEMENT'|translate}}&nbsp;&nbsp;</a>
          <div class="dropdown-menu" aria-labelledby="reportDesignerItemCreate">
            <a class="dropdown-item" (click)="createStringElement()">{{'PAGE.REPORT-FORM.COMMAND.STRING'|translate}}</a>
            <a class="dropdown-item" (click)="createRectElement()">{{'PAGE.REPORT-FORM.COMMAND.RECT'|translate}}</a>
            <a class="dropdown-item" (click)="createHLineElement()">{{'PAGE.REPORT-FORM.COMMAND.HL'|translate}}</a>
            <a class="dropdown-item" (click)="createDataMatrixElement()">{{'PAGE.REPORT-FORM.COMMAND.DATAMATRIX'|translate}}</a>
            <a class="dropdown-item" (click)="createImageElement()">{{'PAGE.REPORT-FORM.COMMAND.IMAGE'|translate}}</a>
          </div>
        </li>
        <!-- TODO
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" (click)="settings()">
            <i class="fa fa-cog"></i>
          </a>
        </li>
        -->
        <li class="nav-item" *ngIf="isCanRemove">
          <a class="nav-link waves-effect waves-light" (click)="removeElement()">
            <i class="fa fa-trash"></i>
          </a>
        </li>
      </ul>
      <form class="form-inline" style="color: white;">
        <input
          class="form-control"
          type="text"
          placeholder="{{'PAGE.REPORT-FORM.FORM.TITLE'|translate}}"
          [(ngModel)]="report.info.title"
          [ngModelOptions]="{standalone: true}"
        >
        <mdb-checkbox
          [(ngModel)]="report.info.active"
          [ngModelOptions]="{standalone: true}"
          title="{{'PAGE.REPORT-CONFIGURATION.FORM.ACTIVE'|translate}}"
        ></mdb-checkbox>
      </form>
    </div>
  </div>
</div>

<div class="report-designer-main hidden-md-down">
  <div class="report-designer-page">
    <report-designer-page [schema]="report.schema" [data]="report.data" (on-selected)="setSelectedElement($event)" #page></report-designer-page>
  </div>
  <div class="report-designer-property" *ngIf="report.info.editable">
    <div class="report-holder">
      <report-designer-property-editor [elements]="elements" [page]="page" #property></report-designer-property-editor>
    </div>
  </div>
</div>

<div class="report-designer-navigation navbar navbar-toggleable-xl navbar-dark bg-primary hidden-lg-up">
  <div class="container pl-0">
    <span class="navbar-brand m-0 p-0"></span>
    <div class="collapse navbar-collapse" id="collapseEx12">
      <form class="form-inline" style="color: white;">
        <div class="row w-100">
          <div class="col-xs-8">
            <input
              class="form-control w-100"
              type="text"
              placeholder="{{'PAGE.REPORT-FORM.FORM.TITLE'|translate}}"
              [(ngModel)]="report.info.title"
              [ngModelOptions]="{standalone: true}"
            >
          </div>
          <div class="col-xs-4">
            <mdb-checkbox
              [(ngModel)]="report.info.active"
              [ngModelOptions]="{standalone: true}"
              title="{{'PAGE.REPORT-CONFIGURATION.FORM.ACTIVE'|translate}}"
            ></mdb-checkbox>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="hidden-lg-up">
  <h1>{{'PAGE.REPORT-FORM.NO_EDIT_ON_MOBILE'|translate}}</h1>
</div>

<div class="row mt-1">
  <div class="col-xs-12 col-lg-4 push-lg-8">
    <button class="btn btn-success btn-block waves-effect waves-light" type="submit" (click)="save()">
      <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.REPORT-FORM.SAVE'|translate}}
    </button>
    <div class="hidden-lg-up mb-1"></div>
  </div>
  <div class="col-xs-12 col-lg-4">
    <button class="btn btn-primary btn-block btn-text-ellipsis waves-effect" type="button" (click)="pdf()">
      <i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.REPORT-FORM.PDF'|translate}}
    </button>
    <div class="hidden-lg-up mb-1"></div>
  </div>
  <div class="col-xs-12 col-lg-4 pull-lg-8">
    <button class="btn btn-primary btn-block btn-text-ellipsis waves-effect" type="button" (click)="back()">
      <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.REPORT-FORM.BACK'|translate}}
    </button>
  </div>
</div>