admin-report-form{
  .report-designer-main {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 255px);

    .report-designer-page {
      flex-grow: 2;
      margin-right: 0;
      background-color: #A59B9B;
      padding: 20px;
      text-align: center;
      overflow: auto;
      height: 100%;
    }

    .report-designer-property {
      width: 400px;
      border: solid 1px color('grey', 'lighten-1');
      overflow-y: scroll;
    }

    .report-holder {
      margin-top: 0;
      background-color:#FFFFFF;
    }

    .relative-container {
      position:relative;
    }
  }

  .nav-item{
    &.active {
      .dropdown-menu {
        display: block;
      }
    }
  }

  .form-inline {
    width: 600px;
    display: inline-flex;

    input {
      flex-grow: 2;
    }

    mdb-checkbox {
      width: 60px;
      input[type="checkbox"] + label:before {
        border-color: #fff;
      }
      input[type="checkbox"]:checked + label:before {
        border-left-color: transparent;
        border-top-color: transparent;
      }
    }
  }
}
