<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" (click)="setPrevPage()"><a class="page-link" [style.visibility]="(page == 0 ? 'hidden' : 'visible')">&laquo;</a></li>
    <li class="page-item" *ngFor="let p of pageList" [class.active]="page == p" (click)="setPage(p)" [style.visibility]="pageList.length !== 1 ? 'visible' : 'hidden'"><a class="page-link">{{p+1}}</a></li>
    <li class="page-item" (click)="setNextPage()"><a class="page-link" [style.visibility]="(page + 1 == pageCount || pageList.length == 0 ? 'hidden' : 'visible')">&raquo;</a></li>
  </ul>
</nav>
