admin-product-form {
  .card {
    text-align: center;
  }

  .price {
    display: flex;
    flex-flow: row;

    mdb-input {
      flex-grow: 2;
    }

    .radio {
      height: 55px;
      width: 50px;
      background-color: rgb(204, 204, 204);
    }

    .text {
      height: 3.45rem;
      padding: 0.5rem 0.75rem;
      background-color: #e0e0e0;
      font-weight: normal;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Roboto, sans-serif;
      font-size: 1rem;
    }
  }

  common-card-page {
    .card {
      text-align: left;
    }

    [readonly] {
      color: #55595c;
      font-weight: 600;
    }
  }

  .table-list {
    td.icon {
      border-top: 0;
      width: 20px;
    }

    td.title {
      border-top: 0;
      border-bottom: 1px solid #d3d3d3;
    }
  }
}
