<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="product.id !== undefined">
  <mdb-input title="{{'PAGE.PRODUCT-FORM.FORM.NAME'|translate}} *" [(ngModel)]="product.title" [name] = " 'product.title' " required></mdb-input>

  <div class="text-center">
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="addPart()">
      <i class="fa fa-plus mr-2"></i>{{'PAGE.PRODUCT-FORM.FORM.ADD-PART'|translate}}
    </button>
  </div>

  <div class="mb-2 mt-3" *ngFor="let service of product.productparts; let i = index">
    <div class="card">
      <a class="btn-floating btn-action red waves-effect waves-light float-right" (click)="removePart(i)">
        <i class="fa fa-minus"></i>
      </a>
      <div class="card-block">
        <div class="text-center">
          <h4 translate [translateParams]="{pos: i+1}">PAGE.PRODUCT-FORM.FORM.PARTS.FORM-TITLE</h4>
          <hr class="mb-2 mt-2">
        </div>
        <mdb-input title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.TITLE'|translate}}" [(ngModel)]="service.title" [name] = " 'service.title' + i "></mdb-input>
        <mdb-select title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.TARIFF'|translate}}" [(ngModel)]="service.tariff" [name] = " 'service.tariff' + i">
          <mdb-select-item title="590" code="590"></mdb-select-item>
          <mdb-select-item title="999" code="999"></mdb-select-item>
        </mdb-select>
        <mdb-select
          *ngIf="service.tariff !== '999'"
          title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.TARIFF-POSITION'|translate}}"
          [(ngModel)]="service.tariffposition_id"
          [options]="tariffPositions"
          [name] = " 'service.tariffposition_id' + i"
        ></mdb-select>
        <mdb-input title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.DURATION'|translate}} *" type="number" [(ngModel)]="service.duration" [name] = " 'service.duration' + i " required></mdb-input>
        <div class="price">
          <mdb-input title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.PRICE'|translate}} *" type="number" [(ngModel)]="service.price" [name] = " 'service.price' + i" required></mdb-input>
          <div class="text" translate [translateParams]="{price: calculatePriceFor5Min(service.price, service.duration)}">PAGE.PRODUCT-FORM.FORM.PARTS.PRICE-5MIN</div>
        </div>
        <mdb-select *ngIf="mwstEnable" title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.MWST'|translate}} *" select-option="{{'PAGE.PRODUCT-FORM.FORM.PARTS.SELECT_MWST'|translate}}"
        [(ngModel)]="service.mwst_group" [name] = " 'service.mwst_group' + i " required>
          <mdb-select-item title="0%" code="0"></mdb-select-item>
          <mdb-select-item title="2.5%" code="1"></mdb-select-item>
          <mdb-select-item title="8%" code="2"></mdb-select-item>
        </mdb-select>
      </div>
    </div>
  </div>

  <div class="text-center mb-2">
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="addPart()">
      <i class="fa fa-plus mr-2"></i>{{'PAGE.PRODUCT-FORM.FORM.ADD-PART'|translate}}
    </button>
  </div>

  <mdb-input title="{{'PAGE.PRODUCT-FORM.FORM.BREAK'|translate}}"  type="number" [(ngModel)]="product.breakAfter" name= " 'product.breakAfter' "></mdb-input>
  <mdb-color-picker [(ngModel)]="product.color" title="{{'PAGE.PRODUCT-FORM.FORM.COLOR'|translate}}" [name]= " 'product.color' "></mdb-color-picker>

  <common-selected
    headerName="{{'PAGE.PRODUCT-FORM.FORM.ROOM'|translate}}"
    [list]="rooms"
    [(ngModel)]="selectedRooms"
    [name] = " 'selectedRooms' "
    [selectFirst] = "!this.product.id"
  ></common-selected>

  <common-selected
    headerName="{{'PAGE.PRODUCT-FORM.FORM.EMPLOYEE'|translate}}"
    [list]="employees"
    [(ngModel)]="selectedEmployees"
    [name] = " 'selectedEmployees' "
    [selectFirst] = "!this.product.id"
  ></common-selected>

  <mdb-textarea title="{{'PAGE.PRODUCT-FORM.FORM.DESCRIPTION'|translate}}" [(ngModel)]="product.description" name= " 'product.description' "></mdb-textarea>
  <hr class="mb-2 mt-2">

  <div class="text-left mt-2 mb-2">
    <mdb-checkbox title="{{'PAGE.PRODUCT-FORM.FORM.ACTIVE'|translate}}" [(ngModel)]="product.active" name= " 'product.active' "></mdb-checkbox>
  </div>
  <div class="text-left mt-2 mb-2">
    <mdb-checkbox title="{{'PAGE.PRODUCT-FORM.FORM.BOOKING'|translate}}" [(ngModel)]="product.online_booking_available" name= " 'product.online_booking_available' "></mdb-checkbox>
  </div>
</common-form>
<common-card-page *ngIf="isView && product.id">
  <h4 class="card-title">{{product.title}}</h4>
  <hr class="mb-2" />
  <mdb-textarea
    title="{{'PAGE.PRODUCT-FORM.FORM.DESCRIPTION'|translate}}"
    icon="prefix fa fa-sticky-note-o"
    readonly="true"
    [ngModel]="product.description">
  </mdb-textarea>
  <mdb-input
    title="{{'PAGE.PRODUCT-FORM.FORM.DURATION'|translate}}"
    readonly="true"
    icon="prefix active fa fa-clock-o"
    [ngModel]="product.duration|valuePrefix:('PAGE.PRODUCT-FORM.FORM.MIN'|translate)">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.PRODUCT-FORM.FORM.BREAK'|translate}}"
    readonly="true"
    icon="prefix active fa fa-coffee"
    [ngModel]="product.breakAfter|valuePrefix:('PAGE.PRODUCT-FORM.FORM.MIN'|translate)">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.PRODUCT-FORM.FORM.PRICE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-money"
    [ngModel]="(product.price || 0).toFixed(2)|valuePrefix:('PAGE.PRODUCT-FORM.FORM.CHF'|translate)">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.PRODUCT-FORM.FORM.IS_ACTIVE.TITLE'|translate}}"
    readonly="true"
    icon="prefix active fa fa-info-circle"
    [ngModel]="('PAGE.PRODUCT-FORM.FORM.IS_ACTIVE.' + (product.active ? 'YES' : 'NO'))|translate">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.PRODUCT-FORM.FORM.IS_AVAILABLE.TITLE'|translate}}"
    readonly="true"
    icon="prefix active"
    [ngModel]="('PAGE.PRODUCT-FORM.FORM.IS_AVAILABLE.' + (product.online_booking_available ? 'YES' : 'NO'))|translate">
  </mdb-input>
  <div class="text-xs-center">
    <h4>{{'PAGE.PRODUCT-FORM.FORM.PARTS.SERVICE-TITLE'|translate}}</h4>
    <hr class="mb-2" />
    <mdb-card *ngFor="let service of product.productparts; let i = index">
      <h4 *ngIf="service.title" class="text-center">{{service.title}}</h4>
      <h4 *ngIf="!service.title" class="text-center" translate="PAGE.PRODUCT-FORM.FORM.PARTS.FORM-TITLE" [translateParams]="{pos: i + 1}"></h4>
      <hr class="mt-2 mb-2" />
      <mdb-input
        title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.TARIFF'|translate}}"
        readonly="true"
        icon="prefix active fa fa-wpforms"
        [ngModel]="service.tariff">
      </mdb-input>
      <mdb-input
        title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.TARIFF-POSITION'|translate}}"
        readonly="true"
        icon="prefix active"
        [ngModel]="getProductTariffText(service.tariffposition_id)">
      </mdb-input>
      <mdb-input
        title="{{'PAGE.PRODUCT-FORM.FORM.DURATION'|translate}}"
        readonly="true"
        icon="prefix active fa fa-clock-o"
        [ngModel]="service.duration|valuePrefix:('PAGE.PRODUCT-FORM.FORM.MIN'|translate)">
      </mdb-input>
      <mdb-input
        title="{{'PAGE.PRODUCT-FORM.FORM.PRICE'|translate}}"
        readonly="true"
        icon="prefix active fa fa-money"
        [ngModel]="getPricePartText(service.price, service.duration)">
      </mdb-input>
      <mdb-input
        *ngIf="mwstEnable"
        title="{{'PAGE.PRODUCT-FORM.FORM.PARTS.MWST'|translate}}"
        readonly="true"
        icon="prefix active"
        [ngModel]="getMWSTGroupText(service.mwst_group)">
      </mdb-input>
    </mdb-card>
  </div>
  <h3 class="mt-2 h3-responsive">{{'PAGE.PRODUCT-FORM.FORM.ROOM'|translate}}:</h3>
  <hr class="mb-2" />
  <table class="table table-sm table-list" *ngIf="viewRooms.length">
    <tbody>
    <tr *ngFor="let room of viewRooms">
      <td class="text-left align-top icon">
          <span class="fa-stack fa-lg text-primary">
            <i class="fa fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-stack-1x fa-inverse fa-cube"></i>
          </span>
      </td>
      <td class="align-middle title">{{room.title}}</td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="!viewRooms.length">{{'PAGE.PRODUCT-FORM.FORM.NO_ROOMS'|translate}}</p>
  <h3 class="mt-2 h3-responsive">{{'PAGE.PRODUCT-FORM.FORM.EMPLOYEE'|translate}}:</h3>
  <hr class="mb-2" />
  <table class="table table-sm table-list" *ngIf="viewEmployees.length">
    <tbody>
    <tr *ngFor="let employee of viewEmployees">
      <td class="text-left align-top icon">
        <span class="fa-stack fa-lg text-primary">
          <i class="fa fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-1x fa-inverse fa-user"></i>
        </span>
      </td>
      <td class="align-middle title">{{employee.firstname}} {{employee.name}}</td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="!viewEmployees.length">{{'PAGE.PRODUCT-FORM.FORM.NO_EMPLOYEES'|translate}}</p>
  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
          <a class="dropdown-item" (click)="delete()">
            <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.DELETE'|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
      </div>
    </div>
</common-card-page>
