<admin-system-links *ngIf="!hasModalMessage"></admin-system-links>

<admin-system-messages
  (onMessageClose)="closeMessage($event)"
  [messages]="messages"
  [trialPeriod]="trialPeriod"></admin-system-messages>

<div class="row" *ngIf="!hasModalMessage">
  <div class="col-xs-6 col-sm-3 col-md-3" *ngFor="let module of modules">
    <admin-desktop-module [module]="module" (action)="executeAction($event)"></admin-desktop-module>
  </div>
</div>
