<common-card-page>

  <div class="row mt-1">
    <div class="messageBody">
      <h1>{{'PAGE.INVITE.THANKS-MESSAGE.TITLE'|translate}}</h1>
      <p [innerHtml]="'PAGE.INVITE.THANKS-MESSAGE.TEXT'|translate"></p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" routerLink="../../">{{'PAGE.DESKTOP.MESSAGES.TO_DESKTOP'|translate}}</button>
      <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" routerLink="../">{{'PAGE.DESKTOP.MESSAGES.BACK'|translate}} / {{'PAGE.INVITE.THANKS-MESSAGE.BTN_NEW_INVITE'|translate}}</button>
    </div>
  </div>

</common-card-page>
