<header>
  <nav class="navbar navbar-dark elegant-color double-nav navbar-fixed-top">

<!--
<div (click)="toggle()" style="position: fixed; z-index: 1000; margin-left: 0px; margin-top: 0px;">
  <div style="color: black; font-size: 20x; font-weight: bold; width: 36px; height: 36px; background-color: yellow; text-align: center; border-radius:50%; box-shadow: 2px 2px #EAEAEA;">
    <div style="padding-top: 10px; padding-left: 2px;">
      <i class="fa fa-lightbulb-o" aria-hidden="true" style="font-size: 1.2em; font-weight: bold;"></i>
    </div>
  </div>
</div>
-->

    <div class="img-fluid logo hidden-md-down" (click)="home()" #logoElement>
      <h2 class="title" #titleElement>{{title|translate}}</h2>
    </div>
    <div class="img-fluid logo-middle hidden-lg-up" (click)="home()">
    </div>
    <div class="user-menu hidden-md-down">
        {{appInfo}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;{{'COMPONENT.COMMON-PAGE.USER.LOGOUT'|translate}}</a>
        <!--
        <ul class="navbar-nav mr-auto">
          <li class="nav-item btn-group">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" (click)="logout()">{{'COMPONENT.COMMON-PAGE.USER.LOGOUT'|translate}}</a>
            </div>
          </li>
        </ul>
        -->
      </div>
    <div class="user-menu hidden-lg-up">
      <a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
    </div>
    <!--
    <div class="container">
      <div class="img-fluid logo" (click)="home()" #logoElement>
        <h2 class="title hidden-sm-down" #titleElement>{{title|translate}}</h2>
      </div>
      <div class="user-menu">
        {{appInfo}}&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;{{'COMPONENT.COMMON-PAGE.USER.LOGOUT'|translate}}</a>

      </div>
    </div>
    <h5 class="title hidden-md-up" style="text-align: center; color: white; font-size: 18px; padding-top: 5px;">{{title|translate}}</h5>
  -->
  </nav>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<div class="footer-placeholder hidden-sm-down"></div>
