$logo-height: 35px;

@-webkit-keyframes move-header-left {
  from {
    background-position: 50% center;
  }
  to {
    background-position: 30px center;
  }
}

@-webkit-keyframes move-header-center {
  from {
    background-position: 30px center;
  }
  to {
    background-position: 50% center;
  }
}

@-webkit-keyframes show-header-title {
  from {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hide-header-title {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes swap-header-title {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

common-page{
  display: block;
  /* padding-top: 10px; */
  padding-top: 70px;

  header {
    .double-nav {
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }
    .logo {
      position: relative;
      cursor: pointer;
      height: $logo-height;
      background-image: url('logo_white.png');
      background-position: 50% center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;

      .title {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: #ffffff;
        text-align: center;
        line-height: $logo-height;
        opacity: 0;

        &.title-show {
          opacity: 1;
          -webkit-animation-name: show-header-title;
          -webkit-animation-duration: 1s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: 1;
        }

        &.title-hide {
          opacity: 0;
          -webkit-animation-name: hide-header-title;
          -webkit-animation-duration: 0.25s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: 1;
        }

        &.title-swap {
          -webkit-animation-name: swap-header-title;
          -webkit-animation-duration: 0.5s;
          -webkit-animation-timing-function: linear;
          -webkit-animation-iteration-count: 1;
        }
      }

      &.logo-left{
        -webkit-animation-name: move-header-left;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        /* background-position: 70px center; */
        background-position: 40px center;
      }

      &.logo-center{
        -webkit-animation-name: move-header-center;
        -webkit-animation-duration: 0.5s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        background-position: 50% center;
      }
    }
    .user-menu {
      position: absolute;
      right: 15px;
      top: 14px;
      color: white;
    }
    .logo-middle {
      position: relative;
      cursor: pointer;
      height: $logo-height;
      background-image: url('logo_white.png');
      background-position: 50% center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: #154771;
    }
  }

  .footer-placeholder {
    width: 100%;
    height: 2.5rem;
    display: block;
  }
}
