<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="insurance.id !== undefined">
  <mdb-input title="{{'PAGE.INSURANCE-FORM.FORM.NAME'|translate}} *" [(ngModel)]="insurance.name" name= " 'insurance.name' " required></mdb-input>
</common-form>
<common-card-page *ngIf="isView && insurance.id">
  <mdb-input
    title="{{'PAGE.INSURANCE-FORM.FORM.NAME'|translate}} *"
    [ngModel]="insurance.name"
    readonly=true>
  </mdb-input>
  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
          <a class="dropdown-item" (click)="delete()">
            <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.DELETE'|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
