//- ----------------------------------------------------------------------------
//- 1000 - Room Pages
//- -------------------

mixin pages_room_all()
	+pages_room_index
	+pages_room_show_one
	+pages_room_show_all
	+pages_room_choose_one
	+pages_room_add
	+pages_room_edit

//- 1000 - Room Index
//- -----------------------------------
mixin pages_room_index()
	+page_room_index

mixin page_room_index()
	- locals.page = "1000"
	+page_header
		.row
			+admin_tile_ma_id("10", "Raum erfassen","fa-home","ng.ctrl.modules.rooms.addRoom()","badge-blue","")
			+admin_tile_ma_id("11", "Raum anzeigen","fa-map-marker","ng.ctrl.modules.rooms.loadIndex()","badge-blue","")
		+buttonrow_1("Zurück", "back")

//- 1010 - Room Show One
//- -----------------------------------
mixin pages_room_show_one()
	+page_room_show_one

mixin page_room_show_one()
	- locals.page = "1010"
	+page_header
		+corner_button("modules.rooms.editRoom(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_room_show_one")
			.card-block
				h4.card-title {{ng.ctrl.model.fields.title}}
				hr.mb-2
				+showonly_textarea("Beschreibung", "description", "fa-group")
				+showonly_input_unit("Grundfläche", "area", "fa-arrows-alt", "m²")
				+showonly_textvar_input("Standort", "modules.rooms.labelLocation('show')", "fa-map-marker")
				//- Produktliste
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Daten anpassen", "modules.rooms.editRoom(ng.ctrl.model.fields.id)", "fa-pencil")
					//- +action_drop_divider
					//- Raum deaktivieren
					+action_drop_position("Raum löschen", "modules.rooms.deleteRoom(ng.ctrl.model.fields.id)", "fa-remove")

//- 1020 Room Show All
//- -----------------------------------
mixin pages_room_show_all()
	+page_room_show_all()

mixin page_room_show_all()
	- locals.page = "1020"
	+page_header
		//- +corner_button("modules.rooms.addRoom()", "fa-plus", "blue")
		+content_box_list_dynamic_iconbutton("modules.rooms.contentBoxList", "modules.rooms.showRoom(cblRow.id)", "modules.rooms.showRoom(cblRow.id)", "fa-chevron-right")
		//- +buttonrow_1("Zurück", "back")
		+buttonrow_2_floating("Zurück", "back()", "Neuen anlegen", "modules.rooms.addRoom()", "fa-plus")

//- 1030 - Room Choose One
//- -----------------------------------
mixin pages_room_choose_one()
	+page_room_choose_one

mixin page_room_choose_one()
	- locals.page = "1030"
	+page_header
		//- +corner_button("modules.rooms.addRoom()", "fa-plus", "blue")
		+content_box_list_dynamic_iconbutton("modules.rooms.contentBoxList", "cta(cblRow)", "cta(cblRow)", "fa-chevron-right")
		//- +buttonrow_1("Zurück", "pageBack")
		+buttonrow_2_floating("Zurück", "back()", "Neuen anlegen", "modules.rooms.addRoom()", "fa-plus")

//- 1040 - Room Add
//- -----------------------------------
mixin pages_room_add
	+page_room_add

mixin page_room_add()
	- locals.page = "1040"
	+page_header
		+form_back("form_room_add", "Speichern")
			+content_box_list_form()
				+content_box_forward("{{ng.ctrl.modules.rooms.labelLocation()}}", "modules.locations.chooseLocation()")
			+string_input("Name", "title")
			+text_input("Beschreibung", "description")
			+number_input_unit("Grundfläche", "area", "m²")
			+cb_input_checkbox("modules.rooms.productsCheckbox", "Leistungen")

//- 1050 - Room Edit
//- -----------------------------------
mixin pages_room_edit()
	+page_room_edit

mixin page_room_edit()
	- locals.page = "1050"
	+page_header
		+form_back("form_room_edit", "Speichern")
			+content_box_list_form()
				+content_box_forward("{{ng.ctrl.modules.rooms.labelLocation()}}", "modules.locations.chooseLocation()")
			+string_input("Name", "title")
			+text_input("Beschreibung", "description")
			+number_input_unit("Grundfläche", "area", "m²")
			+cb_input_checkbox("modules.rooms.productsCheckbox", "Leistungen")
