include /jade/blocks_meik.pug
include ../locations/pages_locations.pug
include ../rooms/pages_rooms.pug

ng-controller(ng-controller="RoomsController as ng")
	+modal_simple
	+admin_content("{{ng.ctrl.pagetitle}}")
		+pages_room_all
		+pages_location_choose_one
