<div class="form-inline">
  <div class="md-form form-group">
    <a class="btn-floating btn-small blue waves-effect waves-light" (click)="prev()"><i class="fa fa-arrow-left"></i></a>
    <span class="admin-booking-period-selector-title">{{title}}</span>
    <a class="btn-floating btn-small blue waves-effect waves-light" (click)="next()"><i class="fa fa-arrow-right"></i></a>
  </div>
</div>
