<div *ngIf="isEdit; else noPhoto" class="md-form">
  <div class="d-flex align-items-center text-xs-left pb-1">
    <div *ngIf="!_photo" class="d-flex align-items-center icon">
      <i class="fa fa-camera fa-4x"></i>
    </div>
    <div *ngIf="_photo" class="d-flex align-items-center mr-1">
      <div class="image" [style.background-image]="'url(' + _photo + ')'|safe"></div>
    </div>
    <div class="file-field">
      <div class="btn btn-primary btn-sm" (click)="input.click()">
        <span>Ändern</span>
        <input type="file" [accept]="accept" (change)="onChange($event)" #input>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload your file">
      </div>
    </div>
  </div>
  <label class="active">Bild</label>
</div>
<ng-template #noPhoto>
  <div class="md-form">
    <i class="prefix fa fa-camera active"></i>
    <input *ngIf="!_photo" type="text" class="form-control" value="Noch kein Bild." [readonly]="true">
    <div class="form-control image-static">
      <div *ngIf="_photo" class="image" [style.background-image]="'url(' + _photo + ')'|safe"></div>
    </div>
    <label class="active">Bild</label>
  </div>
</ng-template>
