mdb-upload {
  display: block;
  margin-bottom: 1.5rem;

  .file-path-wrapper {
    display: none;
  }

  .icon {
    width: 100px;
  }

  .image {
    width: 75px;
    height: 75px;
    background-size: cover;
    /* do not optimize !!! */
    background-position: center center;
    background-repeat: no-repeat;
    /* do not optimize !!! */
  }

  .md-form {
    .btn {
      margin: 0;
    }

    .image-static {
      border: none;
      margin-left: 3rem;
      width: calc(100% - 3rem);
    }
  }
}
