<div>
    <div class="md-form input-group" *ngIf="!showSingle && invoiceRow == null">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input
                type="text"
                class="form-control"
                placeholder="{{'PAGE.INVOICE-LIST.SEARCH'|translate}}"
                aria-describedby="basic-addon1"
                [(ngModel)]="search"
        >
    </div>

    <div class="row mt-1">
        <div class="push-lg-8 col-lg-4 hidden-md-down">
            <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect"
                    (click)="goToImportFilePage()">
                Import data
                <i class="fa fa-chevron-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
        </div>
        <div class="col-xs-12 col-md-4 pull-lg-4">
            <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()">
                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                {{'COMPONENT.COMMON-LIST.BACK'|translate}}
            </button>
        </div>
    </div>

    <div class="row mt-1">
        <h3>List of previous imports</h3>
    </div>

    <bb-grid #grid [modules]="gridModules" [sort-column]="0" [sort-order]="'desc'" *ngIf="list && list.length">
        <bb-grid-column title="id" field="id"></bb-grid-column>
        <bb-grid-column title="created_at" field="created_at" pipe="momentDate"></bb-grid-column>
        <bb-grid-column title="filename" field="filename"></bb-grid-column>
        <bb-grid-column title="target.label" field="target.label"></bb-grid-column>
        <!--<bb-grid-column title="ip_address" field="ip_address"></bb-grid-column>-->
        <!--<bb-grid-column title="gender" field="gender"></bb-grid-column>-->
        <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
    </bb-grid>

    <app-ui-preloader *ngIf="isLoading"></app-ui-preloader>
</div>
