bb-grid {
  .error_message {
    color: #CC0000;
    background-color: #ffcdd2;
  }
  table {
    thead {
      th {
        cursor: pointer;
        position: relative;
        user-select: none;

        &:hover{
          background-color: rgba(0,0,0,.02);
        }

        &.sort-asc {
          &:after{
            position: absolute;
            right: 10px;
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f160";
          }
        }

        &.sort-desc {
          &:after{
            position: absolute;
            right: 10px;
            font: normal normal normal 14px/1 FontAwesome;
            content: "\f161";
          }
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;
      }
    }
  }
}
