<mdb-card>

    <mdb-dragndrop id="dragndrop" [url]="uploadUrl" (onSuccess)="onFileUpload($event)"
                   (onError)="onFileUploadFail($event)"></mdb-dragndrop>

    <div class="row mt-2 ng-tns-c32-26">
        <div class="col-xs-12 col-sm-6 col-lg-6" style="margin: 0 auto">
            <button class="btn btn-primary btn-block waves-effect waves-light" type="button" (click)="back()">
                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                {{'PAGE.INVOICE-PRE-PRINT.BACK'|translate}}
            </button>
        </div>
    </div>

</mdb-card>