booking-employee-plan {
  @import "../style/common";

  .admin-booking-employee-select{
    flex-grow: 2;
  }

  .admin-booking-employee-title{
    font-weight: bold;
  }

  .btn-back {
    width: 200px;
  }
}
