<div class="d-flex">
  <div class="p-2 admin-booking-employee-select">
    <mdb-select [options]="employees" [(ngModel)]="employeeId" title="{{'PAGE.BOOKING-EMPLOYEE-PLAN.EMPLOYEE'|translate}}"></mdb-select>
  </div>
  <div class="p-2">
    <button type="button" class="btn btn-default waves-effect waves-light" (click)="page.save()">{{'PAGE.BOOKING-EMPLOYEE-PLAN.SAVE'|translate}}</button>
  </div>
</div>
<mdb-tabs>
  <mdb-tab tabTitle="{{'PAGE.BOOKING.WEEKLY'|translate}}" [active]="true" #tab1>
    <booking-employee-plan-weekly (onInit)="setActivePage($event)" *ngIf="tab1.active" [employee-id]="employeeId" [locations]="locations"></booking-employee-plan-weekly>
  </mdb-tab>
  <mdb-tab tabTitle="{{'PAGE.BOOKING.DAILY'|translate}}" #tab2>
    <booking-employee-plan-daily (onInit)="setActivePage($event)" *ngIf="tab2.active" [employee-id]="employeeId"></booking-employee-plan-daily>
  </mdb-tab>
</mdb-tabs>
<div class="d-flex">
  <div class="p-2 admin-booking-employee-select">
  </div>
  <div class="p-2">
    <button type="button" class="btn btn-default waves-effect waves-light" (click)="page.save()">{{'PAGE.BOOKING-EMPLOYEE-PLAN.SAVE'|translate}}</button>
  </div>
</div>


<button type="button" class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()">{{'PAGE.BOOKING-EMPLOYEE-PLAN.BACK'|translate}}</button>
