include /jade/blocks_meik.pug
include ../configuration/pages_configuration.pug

ng-controller(ng-controller="ConfigurationController as ng")
	+admin_content("{{ng.ctrl.pagetitle}}")
		+pages_config_all
		
