//- ----------------------------------------------------------------------------
//- 1100 - Configuration Pages
//- -------------------
mixin pages_config_all()
	+page_config_index

mixin page_config_index()
	- locals.page = "1100"
	+page_header
		.row
			+admin_tile_ma_id("1",	"Organisation",		"fa-address-card-o",	"ng.ctrl.modules.configuration.configOrganization()",	"badge-blue",	"")
			+admin_tile_ma_id("2",	"Standorte",		"fa-map-marker",		"ng.ctrl.modules.configuration.configLocations()",		"badge-blue",	"")
			+admin_tile_ma_id("3",	"Räume",			"fa-cube",				"ng.ctrl.modules.configuration.configRooms()",			"badge-blue",	"")
			+admin_tile_ma_id("4",	"Mitarbeiter",		"fa-users",				"ng.ctrl.modules.configuration.configEmployees()",		"badge-blue",	"")
			+admin_tile_ma_id("5",	"Leistungen",		"fa-signing",			"ng.ctrl.modules.configuration.configProducts()",		"badge-blue",	"")
			+admin_tile_ma_id("6",	"Versicherungen",	"fa-medkit",			"ng.ctrl.modules.configuration.configInsurances()",		"badge-blue",	"")
		+buttonrow_1("Zurück", "back")
