<section *ngIf="importItem">

    <h1>Target: {{importItem.target.label}}</h1>

    <div class="cards">

        <div class="card" *ngFor="let columnKey of recordsKey; let i = index;">
            <h6>{{'Column ' + (i + 1)}}</h6>

            <p>Example Content: <b>{{importItem.records[0][columnKey]}}</b></p>

            <!--@todo fix issue "one field can be mapped to one import column"-->
            <mdb-select title="Map to field"
                        [options]="selectOptions"
                        [(ngModel)]="importItem[columnKey + '_target_field']"></mdb-select>
        </div>

    </div>

    <footer>
        <div class="row mt-2 ng-tns-c32-26">
            <div class="col-xs-12 col-sm-6 col-lg-6">
                <button class="btn btn-primary btn-block waves-effect waves-light" type="button"
                        (click)="router.navigate(['../../import'], {relativeTo: activeRoute})">
                    Cancel
                </button>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-6">
                <button class="btn btn-primary btn-block waves-effect waves-light" type="button"
                        (click)="saveMappings()">
                    Save / Next step
                </button>
            </div>
        </div>
    </footer>

</section>

<app-ui-snackbar
        [display]="snackState.display"
        [autoHide]="snackState.autoHide"
        [eventData]="snackState.eventData"
        [temper]="snackState.temper">
    <h1 class="snack-header">{{snackState.header}}</h1>
    <div class="snack-body">{{snackState.message}}</div>
</app-ui-snackbar>