<slide-panel>
    <div slide-panel-type="title">
      {{'PAGE.REPORT-FORM.PROPERTIES.GRID_COMMON'|translate}}
    </div>
    <div slide-panel-type="content">
        <mdb-input title="{{'PAGE.REPORT-FORM.PROPERTIES.GRID_COLUMN_COUNT'|translate}}" [(ngModel)]="colcount"></mdb-input>
    </div>
</slide-panel>
<slide-panel>
    <div slide-panel-type="title">
      {{'PAGE.REPORT-FORM.PROPERTIES.GRID_HEADER'|translate}}
    </div>
    <div slide-panel-type="content">
        <report-designer-grid-section-editor [show]="show" [section]="element.header"></report-designer-grid-section-editor>
    </div>
</slide-panel>
<slide-panel>
    <div slide-panel-type="title">
      {{'PAGE.REPORT-FORM.PROPERTIES.GRID_FOOTER'|translate}}
    </div>
    <div slide-panel-type="content">
        <report-designer-grid-section-editor [show]="show" [section]="element.footer"></report-designer-grid-section-editor>
    </div>
</slide-panel>
