<div [style.display]="(showMainScreen ? 'block': 'none')">
  <div class="md-form input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text"
        class="form-control"
        placeholder="{{'PAGE.INVOICE-LIST.SEARCH'|translate}}"
        aria-describedby="basic-addon1"
        [(ngModel)]="search">
  </div>
  <bb-grid  #grid [modules]="gridModules" [sort-column]="0" [sort-order]="'desc'" class="compundInvoicesGrid">
    <bb-grid-column
        title="{{'PAGE.INVOICEREQUESTS.GRID.CREATED_AT'|translate}}"
        field="createdAt" pipe="momentDate">
      </bb-grid-column>
    <bb-grid-column
        title="{{'PAGE.INVOICEREQUESTS.GRID.TYPE'|translate}}"
        pipe="invoiceFormatType | translate"
        field="type">
      </bb-grid-column>
    <bb-grid-column
        title="{{'PAGE.INVOICEREQUESTS.GRID.DATE'|translate}}"
        field="invoicecount">
      </bb-grid-column>
      <bb-grid-column
          title="{{'PAGE.INVOICEREQUESTS.GRID.ACTIONS.ACTIONTITLE'|translate}}"
          [cell-template]="templateAction">
        </bb-grid-column>
    <bb-grid-data-source-array [data]="gridData">
    </bb-grid-data-source-array>
  </bb-grid>
  <a class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect"
      (click)="back()">{{'PAGE.INVOICE-LIST.BACK'|translate}}
  </a>
</div>
<!--  For future routing
  <router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
 -->
