<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="false">

  <mdb-input title="Bezeichnung" [(ngModel)]="item.name" name=" 'item.name' " required></mdb-input>
  <mdb-input title="ISO-Code" [(ngModel)]="item.code" name=" 'item.code' " required></mdb-input>


</common-form>

