<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="false">

  <mdb-input title="Datum" [(ngModel)]="item.name" name=" 'item.name' " required></mdb-input>
  <mdb-input title="Beleg" [(ngModel)]="item.section" name=" 'item.section' " required></mdb-input>
  <mdb-input title="Buchungssatz" [(ngModel)]="item.maingroup" name=" 'item.maingroup' " required></mdb-input>
  <mdb-input title="Betrag" [(ngModel)]="item.subgroup" name=" 'item.subgroup' " required></mdb-input>
  <mdb-textarea title="Notizen" [(ngModel)]="item.parent" name=" 'item.parent' "></mdb-textarea>
  <mdb-textarea title="Haben" [(ngModel)]="item.number" name=" 'item.number' "></mdb-textarea>
  <mdb-textarea title="Kontenrahmen" [(ngModel)]="item.accountscodes_id" name=" 'item.accountscodes_id' "></mdb-textarea>


</common-form>

