<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="false">

  <mdb-input title="Datum" [(ngModel)]="item.book_date" name=" 'item.book_date' " required></mdb-input>
  <mdb-input title="Beleg" [(ngModel)]="item.doc_number" name=" 'item.doc_number' " required></mdb-input>
  <mdb-input title="Buchungssatz" [(ngModel)]="item.description" name=" 'item.description' " required></mdb-input>
  <mdb-input title="Betrag" [(ngModel)]="item.amount" name=" 'item.amount' " required></mdb-input>
  <mdb-textarea title="Notizen" [(ngModel)]="item.notes" name=" 'item.notes' "></mdb-textarea>
  <mdb-textarea title="Haben" [(ngModel)]="item.acc_debit_id" name=" 'item.acc_debit_id' "></mdb-textarea>
  <mdb-textarea title="Soll" [(ngModel)]="item.acc_credit_id" name=" 'item.acc_credit_id' "></mdb-textarea>


</common-form>

