<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="false">

  <mdb-input title="Bezeichnung" [(ngModel)]="item.name" name=" 'item.name' " required></mdb-input>
  <mdb-textarea title="Notizen" [(ngModel)]="item.notes" name=" 'item.notes' "></mdb-textarea>


</common-form>

