<div>

  <bb-grid (on-row-click)="gridRowClick($event)" [modules]="gridModules" #grid [class.selected-row]="itemRow != null">
    <bb-grid-column title="Datum" field="book_date"></bb-grid-column>
    <bb-grid-column title="Haben" field="acc_debit_id"></bb-grid-column>
    <bb-grid-column title="Soll" field="acc_credit_id"></bb-grid-column>
    <bb-grid-column title="Betrag" field="amount"></bb-grid-column>

    <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
    <bb-grid-column title="Aktionen" [cell-template]="templateAction"></bb-grid-column>
  </bb-grid>

  <div class="row mt-1">
	  <div class="push-lg-8 col-lg-4 hidden-md-down">
		  <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="addCTA()">hinzufügen</button>
	  </div>

	  <div class="col-xs-12 col-md-4 pull-lg-4">
		  <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="backCTA()">zurück</button>
	  </div>
  </div>

</div>
