h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

app-myportal {
  ul {
    padding: 25px;
    list-style-type: circle;
  }

  ul li {
    list-style-type: circle;
  }

  .btn-back {
    width: 200px;
    margin-top: 10px;
    display: inline-block;
  }

  .btn-create-site {
    width: 300px;
    margin-top: 10px;
    display: inline-block;
  }

  .btn-create-first-site {
    margin: 50px 50px 50px 0;
  }

  .btn-command {
    margin: 0;
    margin-left: 10px;
    i {
      color: rgba(0,0,0,0.5);
    }
  }

  bb-grid {
    &.selected-row {
      table {
        tbody {
          tr {
            display: none;

            &.selected-row {
              display: table-row;
              .btn-command {
                display: none;
              }
            }
          }
        }
      }

      bb-grid-pagination {
        display: none;
      }
    }
  }

  .command{
    position: fixed;
    top: 0px;
    right: 100px;
    left: 0;
    z-index: 10000;
  }
}
