<div>
	<div class="row">
		<div class="col">
			<h1>Web Auftritt(e)</h1>
		</div>
	</div>

	<div class="row" *ngIf="hasSites">
		<div class="col">
      <bb-grid (on-row-click)="gridRowClick($event)" [modules]="gridModules" #grid [class.selected-row]="reportRow != null">
        <bb-grid-column title="Bezeichnung" field="name"></bb-grid-column>
        <bb-grid-column title="Domain(s)" field="domains"></bb-grid-column>
        <bb-grid-column title="Aktionen" [cell-template]="templateAction"></bb-grid-column>
        <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
      </bb-grid>
		</div>
	</div>

	<div class="row" *ngIf="!hasSites">
		<div class="col">
      <p>
        Hier legen Sie Ihren Web-Auftritt an. Wenn Sie mehrere unterschiedliche Web-Auftritte pflegen möchten, dann ist das ebenfalls möglich.
      </p>
      <p>
        Hinweis: ein Web-Auftritt besteht normalerweise aus mehreren Seiten, wie z.B.
      </p>
        <ul>
          <li>der Willkommen (Home) Seite</li>
          <li>einer über-mich-Seite</li>
          <li>Leistungsbeschreibung</li>
          <li>Kontaktseite / Lagebeschreibung</li>
          <li>Kundenstimmen</li>
          <li>und vielem mehr, wenn Sie das mögen</li>
        </ul>
      <p>
        Wir bezeichnen als einen Web-Auftritt Ihre Präsenz im Internet, die mit einer Domain a la www.ihre-internet-adresse.ch aufgerufen werden kann.
        <br />
        Sollten Sie mehrere Domains haben und unterschiedliche Web-Auftritte, dann können Sie dies hier ebenfalls tun.
      </p>
      <p>
        Um zu einem Web-Auftritt neue Seiten hinzuzufügen oder bestehende zu bearbeiten, wählen Sie den Web-Auftritt aus und gelangen dann in die Live-Ansicht mit Bearbeitungsmöglichkeit.
      </p>
		</div>
	</div>
	<div class="row" *ngIf="!hasSites">
		<div class="col-md-4">
      <a class="btn btn-primary btn-create-first-site btn-block btn-text-ellipsis waves-effect" (click)="createEmptySite()">Neuen leeren Web-Auftritt anlegen</a>
    </div>
		<div class="col-md-4">
      <a class="btn btn-primary btn-create-first-site btn-block btn-text-ellipsis waves-effect" (click)="createSite()">Neuen Web-Auftritt mit Vorlage anlegen</a>
    </div>
  </div>

	<div class="row">
		<div class="col-md-4">
        <a class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()">Zurück</a>
    </div>
		<div class="col-md-4" *ngIf="hasSites" >
        <a class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="createEmptySite()">Neuen leeren Web-Auftritt anlegen</a>
    </div>
		<div class="col-md-4" *ngIf="hasSites" >
        <a class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="createSite()">Neuen Web-Auftritt mit Vorlage anlegen</a>
    </div>
  </div>

</div>
