<div>
  <admin-faq-module *ngFor="let module of modules" [module]="module" (action)="executeAction($event)"></admin-faq-module>
</div>
<a class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()">{{'PAGE.FAQ.BACK'|translate}}</a>
