<common-card-page>
  <mdb-select
    title="{{'PAGE.HOURLY-RATES-CONFIGURATION.FORM.INSURANCE'|translate}}"
    [options]="insuranceList"
    [ngModel]="insuranceId"
    (ngModelChange)="onInsuranceChange($event)">
  </mdb-select>
  <div class="text-left mt-2 mb-2">
    <mdb-checkbox
      title="{{'PAGE.HOURLY-RATES-CONFIGURATION.FORM.ENABLE'|translate}}"
      [ngModel]="enableHourlyRates"
      (ngModelChange)="onEnableHourlyRatesChange($event)">
    </mdb-checkbox>
  </div>
  <div [hidden]="!enableHourlyRates">
    <div class="text-left mt-2 mb-2">
      <mdb-checkbox
        title="{{'PAGE.HOURLY-RATES-CONFIGURATION.FORM.SAME-RATE'|translate}}"
        [ngModel]="useTheSameHourlyRate"
        (ngModelChange)="onUseTheSameHourlyRateChange($event)">
      </mdb-checkbox>
    </div>
    <div class="mb-2 mt-3" *ngFor="let hourlyRate of hourlyRates; let i = index">
      <div class="card">
        <a *ngIf="!useTheSameHourlyRate || hourlyRates.length > 1" class="btn-floating btn-action red waves-effect waves-light float-right" (click)="removePart(i)">
          <i class="fa fa-minus"></i>
        </a>
        <div class="card-block">
          <mdb-select
            [hidden]="useTheSameHourlyRate"
            title="{{'PAGE.HOURLY-RATES-CONFIGURATION.FORM.PARTS.TARIFF-POSITION'|translate}} *"
            [(ngModel)]="hourlyRate.tariffposition_id"
            [options]="tariffPositionsList"
            required>
          </mdb-select>
          <mdb-input
            title="{{'PAGE.HOURLY-RATES-CONFIGURATION.FORM.PARTS.RATE'|translate}} *"
            type="number"
            [(ngModel)]="hourlyRate.max_pph"
            required>
          </mdb-input>
          <mdb-checkbox
            title="{{'PAGE.HOURLY-RATES-CONFIGURATION.FORM.PARTS.INCLUDE-MWST'|translate}}"
            [(ngModel)]="hourlyRate.includeMWST">
          </mdb-checkbox>
        </div>
      </div>
    </div>
    <div *ngIf="!useTheSameHourlyRate" class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="addPart()">
        <i class="fa fa-plus mr-2"></i>{{'PAGE.HOURLY-RATES-CONFIGURATION.FORM.ADD-PART'|translate}}
      </button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-xs-12 col-sm-6 col-lg-6 push-sm-6">
      <button type="submit" class="btn btn-success btn-block waves-effect waves-light"
              (click)="save()" [disabled]="disableSave">
        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.SAVE'|translate}}
      </button>
      <div class="mb-1 hidden-sm-up"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6 pull-sm-6">
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
