#ratingContainer:focus {
  outline: none !important;
}

.ratingElement {
  font-size: 36px;
  font-style: normal !important;
  cursor: pointer;
  margin-right: 10px;
}

.unrated {
  color: grey;
}

.rated {
  color: orange;
}
