<common-form [hidden]="isView" (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="room.id !== undefined">
  <mdb-select
    [options]="locationList"
    [(ngModel)]="room.location_id"
    title="{{'PAGE.ROOM-FORM.FORM.LOCATION'|translate}} *"
    name=" 'room.location_id' "
    required>
  </mdb-select>
  <mdb-input title="{{'PAGE.ROOM-FORM.FORM.NAME'|translate}} *" [(ngModel)]="room.title" name=" 'room.title' " required></mdb-input>
  <mdb-textarea title="{{'PAGE.ROOM-FORM.FORM.DESCRIPTION'|translate}}" [(ngModel)]="room.description" name=" 'room.description' "></mdb-textarea>
  <mdb-input title="{{'PAGE.ROOM-FORM.FORM.AREA'|translate}}" type="number" [(ngModel)]="room.area" name=" 'room.area' "></mdb-input>
  <!-- weird definition of 'name' property. Not sure if this is working the way it should be -->
  <common-selected
  headerName="{{'PAGE.ROOM-FORM.FORM.SERVICE'|translate}}"
  [list]="productList"
  [selectFirst] = "!this.room.id"
  key-field="id"
  text-field="title"
  search-field="product_id"
  [(ngModel)]="room.products">
</common-selected>
</common-form>
<common-card-page *ngIf="isView && room.id">
  <h4 class="card-title">{{room.title}}</h4>
  <hr class="mb-2" />
  <mdb-textarea
    title="{{'PAGE.ROOM-FORM.FORM.DESCRIPTION'|translate}}"
    icon="prefix fa active fa-group"
    readonly=true
    [ngModel]="room.description">
  </mdb-textarea>
  <mdb-input
    title="{{'PAGE.ROOM-FORM.FORM.AREA'|translate}}"
    icon="prefix active fa fa-arrows-alt"
    readonly=true
    [ngModel]="room.area">
  </mdb-input>
  <mdb-input
    title="{{'PAGE.ROOM-FORM.FORM.LOCATION'|translate}}"
    icon="prefix active fa fa-map-marker"
    readonly=true
    [ngModel]="locationTitle">
  </mdb-input>
  <div class="row">
    <div class="col-xs-12 col-sm-6 push-sm-6 col-lg-4 push-lg-8">
      <div class="dropdown dropup">
        <button class="btn btn-primary btn-block dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aktionen &nbsp;&nbsp;&nbsp;
        </button>
        <div class="dropdown-menu dropdown-primary dropdown">
          <a class="dropdown-item" (click)="isView = false">
            <i class="fa fa-pencil"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.EDIT'|translate}}
          </a>
          <a class="dropdown-item" (click)="delete()">
            <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'COMPONENT.COMMON-FORM.DELETE'|translate}}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 pull-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>
</common-card-page>



