<div class="md-form">
  <i *ngIf="icon" [ngClass]="icon"></i>
  <input
    [id]="id"
    class="form-control"
    [ngModel]="value | momentDate"
    (ngModelChange)="value = $event"
    (focus)="onTouched()"
    [name]="name"
    mdbDatepicker
    #inputElem
    type="text"
    (change)="console.log($event)"
  >
  <label [for]="id" class="" [innerHtml]="title"></label>
</div>
