<h4 class="card-title text-center">{{'PAGE.BOOKING-CARD.TITLE'|translate}}</h4>
<hr class="mb-2" />
<mdb-card-collapse>
  <span card-header>{{booking.title}}</span>
  <div card-block>
    <hr class="mb-2">
    <mdb-input
      title="{{'PAGE.BOOKING-CARD.DATE'|translate}}"
      icon="fa fa-clock-o prefix active"
      [ngModel]="booking.date|date:'d.MM.y'"
      readonly="true">
    </mdb-input>
    <mdb-input
      title="{{'PAGE.BOOKING-CARD.START-TIME'|translate}}"
      icon="prefix active"
      [ngModel]="booking.startTime|momentTime:'HH:mm'"
      readonly="true">
    </mdb-input>
    <mdb-input
      title="{{'PAGE.BOOKING-CARD.ROOM'|translate}}"
      icon="fa fa-map-marker prefix active"
      [ngModel]="booking.room.title"
      readonly="true">
    </mdb-input>
    <mdb-textarea
      title="{{'PAGE.BOOKING-CARD.ADDRESS'|translate}}"
      icon="prefix active"
      [ngModel]="booking.location ? (booking.location|shortAddress) : ''"
      readonly="true">
    </mdb-textarea>
    <mdb-input
      title="{{'PAGE.BOOKING-CARD.EMPLOYEE'|translate}}"
      icon="prefix active fa fa-user"
      [ngModel]="booking.employee.firstname + ' ' + booking.employee.name"
      readonly="true">
    </mdb-input>
  </div>
</mdb-card-collapse>
