<!--div class="command" *ngIf="showMainScreen">
  <div class="container">
    <a class="btn-floating btn-small blue float-right waves-effect" (click)="executeAdd()"><i class="fa fa-plus"></i></a>
  </div>
</div-->
<div *ngIf="showMainScreen">
  <div class="md-form input-group" *ngIf="!reportRow">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="{{'PAGE.REPORT-CONFIGURATION.SEARCH'|translate}}" aria-describedby="basic-addon1" [(ngModel)]="search">
  </div>
  <bb-grid (on-row-click)="gridRowClick($event)" [modules]="gridModules" #grid [class.selected-row]="reportRow != null">
    <bb-grid-column title="{{'PAGE.REPORT-CONFIGURATION.GRID.NAME'|translate}}" field="title"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.REPORT-CONFIGURATION.GRID.GROUP'|translate}}" field="group.title"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.REPORT-CONFIGURATION.GRID.ROLE'|translate}}" field="role.title"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.REPORT-CONFIGURATION.GRID.ACTIVE'|translate}}" [cell-template]="templateActive"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.REPORT-CONFIGURATION.GRID.ACTION'|translate}}" [cell-template]="templateAction"></bb-grid-column>
    <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
  </bb-grid>

  <div class="row mt-1">
	  <div class="push-lg-8 col-lg-4 hidden-md-down">
		  <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="executeAdd()" *ngIf="!reportRow">{{'PAGE.REPORT-CONFIGURATION.ADD'|translate}}</button>
	  </div>
	  <div class="col-xs-12 col-md-4 pull-lg-4">
		  <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()" *ngIf="!reportRow">{{'PAGE.REPORT-CONFIGURATION.BACK'|translate}}</button>
	  </div>
  </div>
  <div class="fixed-action-btn hidden-md-up" style="bottom: 15px; right: 15px;">
	  <a class="btn-floating btn-large primary-color waves-effect waves-light" (click)="executeAdd()" *ngIf="!reportRow">
		  <i class="fa fa-plus"></i>
	  </a>
  </div>
  <div class="fixed-action-btn hidden-lg-up hidden-sm-down" style="bottom: 15px; right: calc((100% - 450px) / 4 - 30px);">
	  <a class="btn-floating btn-large primary-color waves-effect waves-light" (click)="executeAdd()" *ngIf="!reportRow">
		  <i class="fa fa-plus"></i>
	  </a>
  </div>
</div>

<common-card-page *ngIf="!!reportRow && showMainScreen" class="form">
  <div class="form-text">
    <mdb-input
      icon="fa fa-file-o prefix"
      title="{{'PAGE.REPORT-CONFIGURATION.NAME'|translate}}"
      [(ngModel)]="editRow.title"
    ></mdb-input>

    <mdb-select title="{{'PAGE.REPORT-CONFIGURATION.TITLE_SELECT_ROLE'|translate}}"
      [(ngModel)]="editRow.role_id"
      [ngClass]="{'hidenElement':!editRow.editable}">
         <mdb-select-item *ngFor="let role of editRow.roles.roles"
          title={{role.title}}
          code={{role.id}}>
        </mdb-select-item>
    </mdb-select>
    <mdb-checkbox
      title="{{'PAGE.REPORT-CONFIGURATION.STATE'|translate}}"
      [(ngModel)]="editRow.active"
    ></mdb-checkbox>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-lg-4 push-lg-8">
      <button type="submit" class="btn btn-success btn-block waves-effect waves-light" (click)="apply()">
        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.REPORT-CONFIGURATION.FORM.APPLY'|translate}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <button type="submit" class="btn btn-danger btn-block waves-effect waves-light" (click)="cancel()">
        <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.REPORT-CONFIGURATION.FORM.CANCEL'|translate}}
      </button>
    </div>
  </div>
</common-card-page>

<router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
