//- ----------------------------------------------------------------------------
//- 800 - Product Pages
//- -------------------

mixin pages_product_all()
	+pages_product_index
	+pages_product_show_one
	+pages_product_show_all
	+pages_product_choose_one
	+pages_product_add

//- Index
//- -----------------------------------
mixin pages_product_index()
	+page_product_index

mixin page_product_index()
	- locals.page = "800"
	+page_header
		.row
			+admin_tile_ma_id("10", "Leistungen erfassen","fa-plus","ng.ctrl.addProduct()","badge-blue","")
			+admin_tile_ma_id("11", "Leistungen anzeigen","fa-shopping-basket","ng.ctrl.loadPage(820)","badge-blue","")
		+buttonrow_1("zurück", "pageBack")

//- Show One
//- -----------------------------------
mixin pages_product_show_one()
	+page_product_show_one
	
mixin page_product_show_one()
	- locals.page = "810"
	+page_header
		+corner_button("editProduct(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_product_show_one")
			.card-block
				h4.card-title {{ng.ctrl.model.fields.title}}
				hr.mb-2
				+showonly_textarea("Beschreibung", "description", "fa-sticky-note-o")
				+showonly_input_unit("Dauer", "duration", "fa-clock-o", "min.")
				+showonly_input_unit("Pause nach Behandlung", "breakAfter", "fa-coffee", "min.")
				+showonly_input_unit("Preis", "price.toFixed(2)", "fa-money", "CHF")
				+showonly_textvar_input("Aktive Leistung?", "activeLabel()", "fa-info-circle")
				+showonly_check_yn("Verfügbar für Online Booking?", "online_booking_available", "")
				.text-xs-center
					h4 Teilleistungen
					hr.mb-2
					.mb-2.mt-3(ng-repeat="part in ng.ctrl.model.fields.productparts track by $index")
						.card
							.card-block
								.text-center
									ng-if(ng-if="part.title!=undefined")
										h4 {{part.title}}
									ng-if(ng-if="part.title==undefined")
										h4 Teilleistung {{$index + 1}}
									hr.mt-2.mb-2
								+showonly_textvar_input("Tarif", "productTariffLabel(part.tariff)", "fa-wpforms")
								span(ng-show="part.tariff == 590")
									+showonly_textvar_input("Tarifposition", "tariffPostionLabel(part.tariffposition_id)", "")
								+showonly_input_repeat("Dauer", "duration", "productparts", "fa-clock-o", "min.")
								+showonly_input_price_repeat("Preis", "price.toFixed(2)", "productparts", "fa-money", "CHF", "ng.ctrl.pricePerFiveMin(ng.ctrl.model.fields.productparts[$index].price, ng.ctrl.model.fields.productparts[$index].duration)")
								span(ng-show="ng.ctrl.settings.organization.mwst == true")
									+showonly_textvar_input("MWST", "mwstGroupLabel(part.mwst_group)", "")
				+showonly_relation_list_icon("rooms", "Diese Leistung kann in keinem Raum erbracht werden!", "fa-cube", "Räume, in denen die Leistung erbracht werden kann:", "row")
					| {{row.room.title}}
				+showonly_relation_list_icon("employees", "Diese Leistung kann von keinem Mitarbeiter erbracht werden!", "fa-user", "Mitarbeiter, die die Leistung erbringen können:", "row")
					| {{row.employee.firstname}} {{row.employee.name}}
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Daten anpassen", "editProduct(ng.ctrl.model.fields.id)", "fa-pencil")
					+action_drop_position("Leistung löschen", "deleteProduct(ng.ctrl.model.fields.id)", "fa-remove")

//- Show All
//- -----------------------------------
mixin pages_product_show_all()
	+page_product_show_all

mixin page_product_show_all()
	- locals.page = "820"
	+page_header
		+content_box_list_dynamic("cblServices", "showProduct(cblRow.id)", "Leistungen")
		//- +content_box_list_dynamic("cblProducts", "editProduct(cblRow.id)", "Produkte")
		+buttonrow_1("zurück", "pageBack")

//- Choose
//- -----------------------------------
mixin pages_product_choose_one()
	+page_product_choose_one

mixin page_product_choose_one()
	- locals.page = "830"
	+page_header
		+content_box_list_dynamic_iconbutton("modules.products.contentBoxList", "cta(cblRow)", "cta(cblRow)", "fa-chevron-right")
		+buttonrow_1("Zurück", "pageBack")
		//- +buttonrow_2("Neue Leistung erfassen", "addNewProduct", "Zurück", "pageBack")

//- Add
//- -----------------------------------
mixin pages_product_add()
	+page_product_addedit

mixin page_product_addedit()
	- locals.page = "840"
	+page_header
		+form("form", "speichern")
			//- span(ng-if="ng.ctrl.model._newObj")
				+radio_pageswitch("pageSwitch", "type")
			span.animate-if(ng-if="ng.ctrl.model.fields.type == 10")
				+string_input("Titel der Leistung", "title")
				.text-xs-center
					h4 Teilleistungen
					hr.mb-2
					a.btn.btn-primary(ng-click="ng.ctrl.addProductpart(0)")
						i.fa.fa-plus
						| &nbsp;&nbsp;Teilleistung hinzufügen
					.mb-2.mt-3(ng-repeat="part in ng.ctrl.model.fields.productparts track by $index")
						.card
							a.btn-floating.btn-action.red(ng-click="ng.ctrl.removeProductpart($index)")
								i.fa.fa-minus
							.card-block
								.text-center
									h4 Teilleistung {{$index + 1}}
									hr.mt-2.mb-2
								+string_input_repeat("Titel", "title", "productparts")
								+select_input_int_repeat("Tarif", "tariff", "productTariffs", "label", "productparts")
								span(ng-show="ng.ctrl.model.fields.productparts[$index].tariff == 590")
									+select_input_int_repeat("Tarifposition", "tariffposition_id", "tariffpositions", "label", "productparts")
								+number_input_unit_repeat("Dauer", "duration", "productparts", "min.", "0")
								+float_input_price_repeat("Preis", "price", "productparts", "ng.ctrl.pricePerFiveMin(ng.ctrl.model.fields.productparts[$index].price, ng.ctrl.model.fields.productparts[$index].duration)", "CHF", "0")
								span(ng-show="ng.ctrl.settings.organization.mwst == true")
									+select_input_int_repeat("MWST", "mwst_group", "mwstGroups", "label", "productparts")
					a.btn.btn-primary.mb-2(ng-click="ng.ctrl.addProductpart()" ng-if="ng.ctrl.model.fields.productparts.length > 0")
						i.fa.fa-plus
						| &nbsp;&nbsp;Teilleistung hinzufügen
				+number_input_unit("Pause nach Behandlung", "breakAfter", "min.", "0")
				+cb_input_checkbox("roomsCheckbox", "Räume")
				+cb_input_checkbox("employeesCheckbox", "Mitarbeiter")
				+text_input("Beschreibung", "description")
				+checkbox("Leistung aktiv?", "active")
				+checkbox("Leistung verfügbar für Online Booking?", "online_booking_available")
			span.animate-if(ng-if="ng.ctrl.model.fields.type == 20")
				+string_input("Name des Produktes", "title")
				+number_input("Preis", "price", "0")
				+text_input("Beschreibung", "description")
				+checkbox("Produkt aktiv?", "active")
