include /jade/blocks_meik.pug
include ../products/pages_products.pug

ng-controller(ng-controller="ProductsController as ng")
	+modal_simple
	+admin_content("{{ng.ctrl.pagetitle}}")
		+pages_product_all
