<common-form (back)="back()" (save)="save()" can-delete="false">
  <h3>Ein herzliches Grüezi und danke dass Sie bluebamboo verwenden!</h3>
  <p>
  Bei Fragen nutzen Sie bitte nachfolgendes Formular und wir rufen Sie gerne zurück!<br>
  Kennen Sie unsere Anleitung? Sie ist <a target="_blank" href="https://bluebamboo.blob.core.windows.net/public/bluebamboo-die-anleitung.pdf">hier</a> als PDF verfügbar.<br>
  Es ist gerade dringend? Für allgemeine Fragen: <a href="tel:+41435438118">+41 43 543 81 18</a> und für die Unterstützung bei der Nutzung: <a href="tel:+41435438119">+41 43 543 81 19</a>
  </p>
  <p>&nbsp;</p>
  <mdb-input
    title="{{'PAGE.DESKTOP.SUPPORT.NAME'|translate}}"
    [(ngModel)]="supportMessage.name"
    name="name"
    required>
  </mdb-input>

  <mdb-input
    title="{{'PAGE.DESKTOP.SUPPORT.PHONE-NUMBER'|translate}}"
    [(ngModel)]="supportMessage.phone"
    name="phone"
    required>
  </mdb-input>

  <mdb-input
    title="{{'PAGE.DESKTOP.SUPPORT.E-MAIL'|translate}}"
    [(ngModel)]="supportMessage.email"
    name="email"
    required>
  </mdb-input>

  <div>
    <mdb-radio
      return-value="urgent"
      title="Dringend"
      [(ngModel)]="supportMessage.urgency"
      name="urgency">
    </mdb-radio>

    <mdb-radio
      return-value="normal"
      title="Normal"
      [(ngModel)]="supportMessage.urgency"
      name="urgency">
    </mdb-radio>

    <mdb-radio
      return-value="non-urgent"
      title="Nicht dringend"
      [(ngModel)]="supportMessage.urgency"
      name="urgency">
    </mdb-radio>
  </div>

  <mdb-textarea
    title="{{'PAGE.DESKTOP.SUPPORT.COMMENT'|translate}}"
    [(ngModel)]="supportMessage.comment"
    name="comment"
    required>
  </mdb-textarea>

  <mdb-textarea
    title="{{'PAGE.DESKTOP.SUPPORT.ADDITIONAL-INFO' | translate}}"
    [(ngModel)]="supportMessage.info"
    name="info">
  </mdb-textarea>
</common-form>

