calendar{
  display: inline-block;
  width: 350px;

  .calendar-row
  {
    display: flex;
    flex-flow: row;
    width: 100%;

    &.calendar-month{
      button{
        background-color: transparent;
        border: none;
      }
    }
    &.calendar-title{
      font-size: .75em;
      padding-bottom: .25em;
      color: #999999;
      font-weight: 500;
    }

    .calendar-weekend{
      color: #299ed4;
    }
    .calendar-selected{
      border:2px solid #076d99 !important;
      padding-top:2px;
    }

    @for $i from 1 through 7 {
      .calendar-col-#{$i}{
        width: #{($i* 100 / 7) + '%'};
        text-align: center;
      }
    }

    .calendar-day{
      cursor: pointer;
      border: solid 3px transparent;

      &.calendar-selected{
        border-color: color('red','lighten-2');;
        border-radius: 40px;
      }

      &.calendar-day-off{
        color: #999999;
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}
