<div class="calendar-row calendar-month">
    <div class="calendar-col-1">
        <button (click)="prevMonth()"><i class="fa fa-angle-left">  </i></button>
    </div>
    <div class="calendar-col-5">
        {{currentMonth.month}} {{currentMonth.year}}
    </div>
    <div class="calendar-col-1">
        <button (click)="nextMonth()"><i class="fa fa-angle-right"> </i></button>
    </div>
</div>
<div class="calendar-row calendar-title">
    <div class="calendar-col-1" [ngClass]="{'calendar-weekend': d.isWeekend}" *ngFor="let d of weekdays">{{d.day}}</div>
</div>
<div class="calendar-row" *ngFor="let week of currentMonth.weeks">
    <div class="calendar-col-1 calendar-day" [ngClass]="{'calendar-weekend': d && d.isWeekend, 'calendar-selected': d ? d.isSame(selectedDay) : false, 'calendar-day-off': d ? !d.state.isEnabled : true}" *ngFor="let d of week" (click)="select(d)">{{(d ? d.day : ' ')}}</div>
</div>
