<div class="booking-step mt-1">
  <mdb-select [options]="locations" [(ngModel)]="location_id" title="{{'PAGE.FRONT.BOOKING_MODAL.STEP_1.HEADER_LOCATION' |translate}}"></mdb-select>
  <mdb-select #employeeselect [disabled]="!locationSelected" [options]="employees" [(ngModel)]="employee_id" title="{{'PAGE.FRONT.BOOKING_MODAL.STEP_1.HEADER_EMPLOYEE' |translate}}"></mdb-select>
  <calendar
    [get-day-state]="getDayState"
    [max-date]="endDate"
    [min-date]="startDate"
    [(ngModel)]="order.date"
    (monthChanged)="onCalendarNewMonth($event)">
  </calendar>
</div>
