<div [style.display]="(showMainScreen ? 'block': 'none')">
  <div class="md-form input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="{{'PAGE.INVOICE-LIST.SEARCH'|translate}}" aria-describedby="basic-addon1" [(ngModel)]="search">
  </div>
  <bb-grid (on-row-click)="gridRowClick($event)" #grid [modules]="gridModules" [sort-column]="0" [sort-order]="'desc'">
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.DATE'|translate}}" field="date" pipe="momentDate"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.NAME'|translate}}" field="customer_name"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.FIRST_NAME'|translate}}" field="customer_firstname"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.INVOICE_NUM'|translate}}" field="number"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.AMOUNT'|translate}}" field="value" pipe="number:'1.2'"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.STATUS'|translate}}" field="status" [cell-template]="templateState"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.ACTION'|translate}}" [cell-template]="templateAction"></bb-grid-column>
    <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
  </bb-grid>
  <a class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()">{{'PAGE.INVOICE-LIST.BACK'|translate}}</a>
</div>
<router-outlet (activate)='onActivate($event)' (deactivate)='onDeactivate($event)'></router-outlet>
