<div class="row">
  <div class="col-xs-12 mb-1 font-weight-bold">
    {{'PAGE.INVOICE-CREATE-FINISH.TEXT'|translate}}
  </div>
  <div class="col-xs-12 mb-1" *ngIf="result.sentMails">
    {{'PAGE.INVOICE-CREATE-FINISH.TEXT_MAIL'|translate}}
  </div>
</div>
<div class="row" *ngIf="result.hasFile">
  <div class="col-xs-12">
    {{'PAGE.INVOICE-CREATE-FINISH.HEADER_DOWNLOAD'|translate}}<br />
    <a class="text-primary btn btn-flat btn-lg waves-effect waves-light" style="color: #0275d8 !important;" target="_blank" [href]="result.url">
      <i class="fa fa-file-pdf-o mr-1"></i>{{'PAGE.INVOICE-CREATE-FINISH.DOWNLOAD_LINK'|translate}}
    </a>
  </div>
</div>
<div class="row mt-1">
  <div class="col-xs-12 col-sm-6 col-lg-4">
    <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect waves-light" (click)="close()">
      {{'PAGE.INVOICE-CREATE-FINISH.OK'|translate}}
    </button>
  </div>
</div>
