<div class="modal fade show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100">Bild ändern</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="file-field hidden-md-up col-xs-12 mb-1">
            <div class="btn btn-primary btn-block"><span>Foto aufnehmen</span>
              <input type="file" accept="image/*" capture="camera" (change)="change($event)" />
            </div>
          </div>
          <div class="file-field col-xs-12">
            <div class="btn btn-primary btn-block"><span>Bild auswählen</span>
              <input type="file" accept="image/*" (change)="change($event)" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal" (click)="close()">Abbrechen</button>
      </div>
    </div>
  </div>
</div>
