<div class="card" *ngIf="selectOptions.length">
  <h6>{{title}}</h6>

  <p>Example Content: <b>{{content}}</b></p>

  <!--<mdb-select title="Map to field" [options]="selectOptions" [(ngModel)]="value"></mdb-select>-->

</div>
