report-designer-common-editor{
  display: block;
  .mb20 {
    margin-bottom:20px;
  }

  .lastSelect .md-form {
    margin-bottom: 0.5rem;
  }

  .lastSelect input {
    margin-bottom: 0 !important;
  }

}

