<slide-panel>
  <div slide-panel-type="title">
    {{'PAGE.REPORT-FORM.PROPERTIES.COMMON_TITLE'|translate}}
  </div>
  <div slide-panel-type="content">
    <mdb-select
      title="{{'PAGE.REPORT-FORM.PROPERTIES.VAR_GROUP_SELECT'|translate}}"
      [options]="groups"
      [(ngModel)]="selectedGroup"
      name=" 'groups-select' "
      (ngModelChange)= "changedGroup()"
      *ngIf="show.showProperty('common','content')"
    >
    </mdb-select>
   <mdb-select
      title="{{'PAGE.REPORT-FORM.PROPERTIES.VAR_PROP_SELECT'|translate}}"
      [options]="elements"
      [(ngModel)]="selectedProperty"
      (ngModelChange)= "changedPropSelect()"
      class="lastSelect"
      *ngIf="show.showProperty('common','content')"
      >
    </mdb-select>
    <div *ngIf= "templateVar" class="mb-2">
      <label class="mt-0">{{'PAGE.REPORT-FORM.PROPERTIES.VAR_PROP_DESC_HEADER'|translate}}</label>
      <p>{{templateVar.description}}</p>
      <button type="button"
        class="btn btn-blue-grey waves-light mbottom"
        (click)="onAddToElement()"
        >{{'PAGE.REPORT-FORM.PROPERTIES.VAR_PROP_ADD'|translate}}</button>
    </div>
    <div class="mb-1"></div>
    <mdb-input title="{{'PAGE.REPORT-FORM.PROPERTIES.URL'|translate}}" *ngIf="show.showProperty('common','url')" [(ngModel)]="url"></mdb-input>
    <mdb-image-upload title="{{'PAGE.REPORT-FORM.PROPERTIES.UPLOAD'|translate}}" *ngIf="show.showProperty('common','url')" [(ngModel)]="upload"></mdb-image-upload>
    <mdb-textarea title="{{'PAGE.REPORT-FORM.PROPERTIES.CONTENT'|translate}}" *ngIf="show.showProperty('common','content')" [(ngModel)]="content"></mdb-textarea>
    <mdb-textarea title="{{'PAGE.REPORT-FORM.PROPERTIES.CONTENT'|translate}}" *ngIf="show.showProperty('common','value')" [(ngModel)]="value"></mdb-textarea>
    <mdb-textarea title="{{'PAGE.REPORT-FORM.PROPERTIES.CONTENT'|translate}}" *ngIf="show.showProperty('common','type')" [(ngModel)]="type"></mdb-textarea>
    <mdb-input [type]="'number'" title="{{'PAGE.REPORT-FORM.PROPERTIES.WIDTH'|translate}}" *ngIf="show.showProperty('common','width')" [(ngModel)]="width"></mdb-input>
    <mdb-input [type]="'number'" title="{{'PAGE.REPORT-FORM.PROPERTIES.COLSPAN'|translate}}" *ngIf="show.showProperty('common','colspan')" [(ngModel)]="colspan"></mdb-input>
  </div>
</slide-panel>
