	<div class="row" style="margin-bottom: 20px;">
		<div class="col">
			<h2>{{title}}</h2>
			<table class="table">
				<tr *ngFor="let obj of objects">
				  <td><a (click)="selectObject(obj)">{{label(obj)}}</a></td>
				  <td></td>
				</tr>
			</table>
		</div>
	</div>
