<div class="row">
    <div class="col col-7 align-self-center">{{service.title}}</div>
    <div class="col col-2 text-center align-self-center"><i class="fa fa-clock-o"></i> {{service.duration}}</div>
    <div class="col col-3 text-right align-middle"><button class="btn btn-default wow fadeInRight" (click)="makeBooking()">{{service.currency}} {{service.price}}.-</button></div>
</div>