<common-card-page>
  <p [innerHTML]="'PAGE.INVITE.INFO'|translate"></p>
</common-card-page>


<div class="row mikee">
  <div>
    <mdb-card>
<form #form="ngForm" name="form">

    <div class="form-group row" [ngClass]="{'has-danger':myMailError}">
      <label for="my_email" class="col-md-4 col-form-label">Ihre E-Mail Adresse</label>
      <div class="col-md-8">
        <input type="email" class="form-control form-control-danger" id="my_email" [(ngModel)]="myMail" name="myMail" required>
        <div class="form-control-feedback" *ngIf="myMailError">{{myMailMessage}}</div>
      </div>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger':otherMailError}">
      <label for="other_email" class="col-md-4 col-form-label">E-Mail Adresse der einzuladenden Person</label>
      <div class="col-md-8">
        <input type="email" class="form-control form-control-danger" id="other_email" [(ngModel)]="otherMail" name="otherMail" required placeholder="vorname.nachname@domain.ch">
        <div class="form-control-feedback" *ngIf="otherMailError">{{otherMailMessage}}</div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-4">
      <label>Betreff-Zeile der Einladung</label>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control"
        [(ngModel)]="inviteMessage.subject"
        name="subject"
        required>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label>Anrede der Einladung</label>
    </div>
    <div class="col-md-8">
      <input type="text" class="form-control"
        [(ngModel)]="inviteMessageAddress"
        name="messageAddress"
        required>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <label>Mitteilung</label>
      <p style="font-size: 0.8em;font-style: italic;">Unterhalb Ihrer Mitteilung werden automatisch Links von bluebamboo eingefügt.</p>
      <p style="font-size: 0.8em;font-style: italic;">Klickt die eingeladene Person auf einen dieser Links, dann erkennt das System, dass die Einladung von Ihnen stammt.</p>
    </div>
    <div class="col-md-8">
      <textarea class="form-control"
        [(ngModel)]="inviteMessageBody"
        name="messageBody"
        required>
      </textarea>
    </div>
  </div>

  </form>

  <div class="row">
    <div class="col-xs-12 col-lg-4 push-lg-8">
      <button type="submit" class="btn btn-success btn-block waves-effect waves-light"
        (click)="invite()" [disabled]="!form.valid || myMailError || otherMailError">
         <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
         Einladen
      </button>
      <div class="mb-1 hidden-xs-down"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
  </div>

    </mdb-card>
  </div>
</div>

<common-card-page>
      <h4>Ihre bisherigen Empfehlungen</h4>

      <table class="table">
        <thead class="mdb-color bg-bluebamboo">
          <tr class="text-white">
            <th>E-Mail der Empfängerin, des Empfängers</th>
            <th>Eingeladen am</th>
            <!--<th>Status</th>-->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invitation of invitations">
            <td>
              {{ invitation.receiver }}
            </td>
            <td>
              {{ invitation.created | date:"hh:mm, dd.MM.yyyy" }}
            </td>
<!--
            <td>
              offen
            </td>
-->
          </tr>
        </tbody>
      </table>

</common-card-page>
