admin-invite {

}

  .form-control {
    margin-top: 0 !important;
    padding-top: 0 !important;
    font-weight: 700 !important;
    color: black;
  }

  label {
    font-size: 16px;
  }

  h3 {
    font-size: 15px;
    color: #4284f4;
  }

  textarea {
    height: 13em;
    padding: 5px !important;
  }


    .row.mikee {
      > {
        div {
          width: 100%;
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }

.bg-bluebamboo  {
  background-color: #b1d9ef;
}
