admin-invoice-reminder-list {
  .btns {
    width: 200px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0 !important;
  }

  .form-text {
    padding: 10px;
    text-align: left;
    padding-left: 220px;
  }

  bb-grid{
    &.single-row {
      table {
        tbody {
          tr {
            .btn {
              display: none;
            }
          }
        }
      }

      bb-grid-pagination {
        display: none;
      }
    }

  }
}
