<div>
  <div class="md-form input-group" *ngIf="!showSingle">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="{{'PAGE.INVOICE-LIST.SEARCH'|translate}}" aria-describedby="basic-addon1" [(ngModel)]="search">
  </div>
  <bb-grid #grid [modules]="gridModules" [class.single-row]="showSingle" [sort-column]="0" [sort-order]="'desc'">
    <bb-grid-column title="{{'PAGE.INVOICE-REMINDER.GRID.DATE'|translate}}" field="date" pipe="momentDate"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-REMINDER.GRID.NAME'|translate}}" field="customer_name"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-REMINDER.GRID.FIRST_NAME'|translate}}" field="customer_firstname"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-REMINDER.GRID.INVOICE_NUM'|translate}}" field="number"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-REMINDER.GRID.AMOUNT'|translate}}" field="value" pipe="number:'1.2'"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-LIST.GRID.STATUS'|translate}}" field="status" [cell-template]="templateState"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-REMINDER.GRID.CHECKBOX.EMAIL'|translate}}" [cell-template]="templateEMail"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-REMINDER.GRID.CHECKBOX.PRINT'|translate}}" [cell-template]="templatePrint"></bb-grid-column>
    <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
  </bb-grid>
  <div class="form-text">
    {{'PAGE.INVOICE-REMINDER.FORM.TEXT'|translate}}
  </div>
  <button type="button" class="btn btn-primary btn-block btn-text-ellipsis btns waves-effect" (click)="back()">{{'PAGE.INVOICE-REMINDER.BACK'|translate}}</button>
  <button type="submit" class="btn btn-success btn-block waves-effect waves-light btns" (click)="apply()" [disabled]="selected.length == 0">
    <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
    {{'PAGE.INVOICE-REMINDER.FORM.APPLY'|translate}}
  </button>
</div>
