<div class="row">
  <div class="col">
    <h1>Bitte erfassen Sie die Grunddaten Ihres neuen Web-Auftritts</h1>
    <p>Die Bezeichnung ist für Sie bestimmt und wird nicht publiziert.<br>Bitte geben Sie mindestens eine Bezeichnung ein. <br/>Sie können die URL auch später angeben.</p>
    <p>Nach dem Anlegen Ihres Web-Auftritts kommen Sie zur Liste Ihrer Web-Auftritte und können mit dem Bearbeiten loslegen.</p>
    <p>Viel Spass und Erfolg!</p>
    <p>&nbsp;</p>
  </div>
</div>

<common-card-page>
  <mdb-input title="Bezeichnung" [(ngModel)]="model.title"></mdb-input>
  <!--
  <mdb-input title="Beschreibung" [(ngModel)]="model.desc"></mdb-input>
  -->
  <mdb-input title="URL(s) - z.B. www.ihre-firma.ch" [(ngModel)]="model.url"></mdb-input>

  <div class="row">
    <div class="col">
        <a class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="back()">Zurück</a>
    </div>
    <div class="col">
        <a class="btn btn-primary btn-block btn-text-ellipsis waves-effect" (click)="createEmptySite()">Web-Auftritt anlegen</a>
    </div>
  </div>
</common-card-page>
