<common-card-page>
  <!-- TITLE ========================================================================= -->
  <div class="row">
    <div class="col-xs-12">
      <h1>Modul "Administration" buchen</h1>
    </div>
  </div>

  <!-- INTRO text ==================================================================== -->
  <div class="row teaser">
    <div class="col-xs-12">
      <p>Wenn Sie das Administrations-Modul heute buchen:</p>
      <ul>
        <li>können Sie das Modul den Rest des Jahres 2017 kostenfrei nutzen</li>
        <li>bezahlen Sie nur 199.- CHF statt 234.- CHF</li>
        <li>bekommen Sie von uns Ende Dezember eine Rechnung, welche Sie bitte bis Mitte Januar 2018 begleichen</li>
        <li>werden Ihnen erfolgreiche Weiterempfehlungen gutgeschrieben</li>
      </ul>
    </div>
  </div>

  <!-- PAYMENT-SCHEME ================================================================ -->
  <div class="row">
    <div class="col-xs-12 col-md-4">
        <mdb-radio title="Jährlich (199.- CHF / Jahr)" [(ngModel)]="paymentScheme" return-value="1"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-4">
        <mdb-radio title="Halbjährlich (105.- CHF / Semester)" [(ngModel)]="paymentScheme" return-value="2"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-4">
        <mdb-radio title="Monatlich (19.50 CHF / Monat)" [(ngModel)]="paymentScheme" return-value="3"></mdb-radio>
    </div>
  </div>

  <!-- PAYMENT-METHOD ================================================================ -->
  <div class="row">
    <div class="col-xs-12 col-md-6" *ngIf="paymentScheme != 3">
        <mdb-radio title="Rechnung" [(ngModel)]="paymentMethod" return-value="inv"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-6">
        <mdb-radio title="Kreditkarte" [(ngModel)]="paymentMethod" return-value="cc"></mdb-radio>
    </div>
  </div>

  <!-- MEMBER-SHIP =================================================================== -->
  <div class="row">
    <div class="col-xs-12 col-md-12">
      Wenn Sie Mitglied in einem Verband sind, dann lassen Sie uns bitte wissen in welchem.<br>
      Falls wir eine Partnerschaft mit diesem Verband haben oder bald abschliessen, bekommen Sie einen entsprechenden Rabatt.
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-xs-12 col-md-12">
      <mdb-input
        title="Verbandsmitgliedschaft(en)"
        [(ngModel)]="association"
        name="name"
      >
      </mdb-input>
    </div>
  </div>

  <!-- AGB =========================================================================== -->
  <div class="row">
    <div class="col-xs-12 col-md-6">

        <mdb-checkbox
          name="agb"
          title="{{'COMPONENT.MY_ACCOUNT.COMMON.READ_AGB' | translate}}"
          [(ngModel)]="agb">
        </mdb-checkbox>

    </div>
    <div class="col-xs-12 col-md-6" [innerHTML]="'COMPONENT.MY_ACCOUNT.COMMON.LABEL_AGB' | translate"></div>
  </div>

  <!-- LICENCE ======================================================================= -->
  <div class="row">
    <div class="col-xs-12 col-md-6">

        <mdb-checkbox
          name="licence"
          title="{{'COMPONENT.MY_ACCOUNT.COMMON.READ_LICENCE' | translate}}"
          [(ngModel)]="licence">
        </mdb-checkbox>

    </div>
    <div class="col-xs-12 col-md-6" [innerHTML]="'COMPONENT.MY_ACCOUNT.COMMON.LABEL_LICENCE' | translate"></div>
  </div>

  <!-- CTA =========================================================================== -->
  <div class="row order_row">
    <div class="col-xs-12 col-md-4">
      <button type="button"
              class="btn btn-success btn-block waves-effect waves-light"
              [disabled]="btnOrderDisabled()"
              (click)="executeOrder()"
      >
        <i class="fa fa-cart-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.MY_ACCOUNT.COMMON.ORDER' | translate}}
      </button>
    </div>
    <div class="col-xs-12 col-md-8">Fragen? Rufen Sie uns an: +41 43 543 81 18</div>
  </div>


</common-card-page>

  <!-- BACK button =================================================================== -->
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <button type="button" class="btn btn-primary btn-block waves-effect waves-light" (click)="executeBack()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK' | translate}}
      </button>
    </div>
  </div>

