app-module-admin {

  .order_row {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .teaser {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  ul li:before {
    font-family: "Arial";
    content: '✔';
    margin-left: -1em;
    margin-right: 1em;
  }

  ul {
   padding-left: 2.3em;
   text-indent: -0.9em;
   list-style: none;
   list-style-position: outside;
  }

}
