report-designer-page{
  display: inline-block;
  position: relative;
  width: 210mm;
  height: 297mm;
  background-color: white;
  text-align: left;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
