<slide-panel>
    <div slide-panel-type="title">
      {{'PAGE.REPORT-FORM.PROPERTIES.FONT-STYLE'|translate}}
    </div>
    <div slide-panel-type="content">
        <report-designer-font-list-editor [(ngModel)]="face"></report-designer-font-list-editor>
        <report-designer-font-size-editor [(ngModel)]="size"></report-designer-font-size-editor>
        <mdb-color-picker [(ngModel)]="color" title="{{'PAGE.REPORT-FORM.PROPERTIES.COLOR'|translate}}"></mdb-color-picker>
        <mdb-color-picker [(ngModel)]="backgroundcolor" title="{{'PAGE.REPORT-FORM.PROPERTIES.BGCOLOR'|translate}}"></mdb-color-picker>
        <mdb-input title="{{'PAGE.REPORT-FORM.PROPERTIES.LINE-HEIGHT'|translate}}" [(ngModel)]="lineheight"></mdb-input>
        <mdb-input title="{{'PAGE.REPORT-FORM.PROPERTIES.LETTER-SPACING'|translate}}" [(ngModel)]="letterspacing"></mdb-input>
        <report-designer-text-align-editor [(ngModel)]="textalign"></report-designer-text-align-editor>
        <mdb-checkbox title="{{'PAGE.REPORT-FORM.PROPERTIES.BOLD'|translate}}" [(ngModel)]="bold"></mdb-checkbox>
    </div>
</slide-panel>
