<fieldset class="form-group">
  <input name="{{id}}" type="radio" [id]="id" [value]="returnValue" [(ngModel)]="value" [ngClass]="{'with-gap': withGap}">
  <label [for]="id" [innerHtml]="title"></label>
</fieldset>
