<div>
  <div class="md-form input-group" *ngIf="!showSingle && invoiceRow == null">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input
            type="text"
            class="form-control"
            placeholder="{{'PAGE.INVOICE-LIST.SEARCH'|translate}}"
            aria-describedby="basic-addon1"
            [(ngModel)]="search"
    >
  </div>
  <bb-grid #grid [class.selected-row]="invoiceRow != null" [class.single-row]="showSingle" [modules]="gridModules" [sort-column]="0" [sort-order]="'desc'">
    <bb-grid-column title="id" field="id"></bb-grid-column>
    <bb-grid-column title="creditor_iban" field="creditor_iban"></bb-grid-column>
    <bb-grid-column title="amount" field="amount"></bb-grid-column>
    <bb-grid-column title="currency" field="currency"></bb-grid-column>
    <bb-grid-column title="booking_date" field="booking_date"></bb-grid-column>
    <bb-grid-column title="value_date" field="value_date"></bb-grid-column>
    <!--<bb-grid-column title="xml_tree" field="xml_tree"></bb-grid-column>-->
    <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
  </bb-grid>
</div>