<div class="modal fade show">
    <div class="modal-dialog">
        <div class="modal-content" style="width:100%;" *ngIf="step === 1">
            <div class="modal-body">
                <booking-step-location [order]="order" [settings]="settings"></booking-step-location>
            </div>
            <div class="modal-footer px-0">
                <div class="row w-100 m-0 p-0">
                    <div class="col-xs-12 col-sm-4"></div>
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="next()" class="btn btn-primary btn-block waves-effect waves-light" [disabled]="nextStepIsDisabled()">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_NEXT' |translate}}</button>
                        <div class="mb-1 hidden-sm-up"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="close()" class="btn btn-danger btn-block waves-effect waves-light">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_CLOSE' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content" style="width:100%;" *ngIf="step === 2">
            <div class="modal-body">
                <booking-step-time [order]="order" [settings]="settings"></booking-step-time>
            </div>
            <div class="modal-footer px-0">
                <div class="row w-100 m-0 p-0">
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="prev()" class="btn btn-primary btn-block waves-effect waves-light">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_PREV' |translate}}</button>
                        <div class="mb-1 hidden-sm-up"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="next()" class="btn btn-primary btn-block waves-effect waves-light" [disabled]="nextStepIsDisabled()">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_NEXT' |translate}}</button>
                        <div class="mb-1 hidden-sm-up"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="close()" class="btn btn-danger btn-block waves-effect waves-light">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_CLOSE' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content" style="width:100%;" *ngIf="step === 3">
            <div class="modal-body">
                <booking-step-client-info #clientinfo [order]="order" [settings]="settings"></booking-step-client-info>
            </div>
            <div class="modal-footer px-0">
                <div class="row w-100 m-0 p-0" *ngIf="!clientinfo.show_agb">
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="prev()" class="btn btn-primary btn-block waves-effect waves-light">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_PREV' |translate}}</button>
                        <div class="mb-1 hidden-sm-up"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="booking()" class="btn btn-success btn-block waves-effect waves-light" [disabled]="nextStepIsDisabled()">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_BOOK' |translate}}</button>
                        <div class="mb-1 hidden-sm-up"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="close()" class="btn btn-danger btn-block waves-effect waves-light">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_CLOSE' |translate}}</button>
                    </div>
                </div>
                <div class="row w-100 m-0 p-0" *ngIf="clientinfo.must_accept && clientinfo.show_agb">
                    <div class="col-xs-12">
                        <button (click)="clientinfo.hideAGB()" class="btn btn-primary btn-block waves-effect waves-light">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_CLOSE' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content" style="width:100%;" *ngIf="step === 4">
            <div class="modal-body">
                <booking-step-notification *ngIf="step === 4" [order]="order" [settings]="settings" [processSuccess] = "orderProcessSuccess" [processCode] = "orderProcessCode"></booking-step-notification>
            </div>
            <div class="modal-footer px-0">
                <div class="row w-100 m-0 p-0">
                    <div class="col-xs-12 col-sm-4"></div>
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="bookingAnother()" class="btn btn-primary btn-block waves-effect waves-light">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_ANOTHER' |translate}}</button>
                        <div class="mb-1 hidden-sm-up"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <button (click)="close()" class="btn btn-danger btn-block waves-effect waves-light">{{'PAGE.FRONT.BOOKING_MODAL.BUTTON_CLOSE' |translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div>
