<common-form (back)="back()" (save)="save()" (delete)="delete()" [can-delete]="room.id !== undefined">
  <mdb-input title="{{'PAGE.ROOM-FORM.FORM.NAME'|translate}}" [(ngModel)]="room.title"></mdb-input>
  <mdb-input title="{{'PAGE.ROOM-FORM.FORM.AREA'|translate}}" [(ngModel)]="room.area"></mdb-input>
</common-form>