<common-form (back)="back()" (save)="save()" can-delete="false">
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.NAME'|translate}}" [(ngModel)]="organization.name"></mdb-input>
  <div class="md-form text-xs-left organization-logo">
    <div class="row align-middle">
      <div class="col-xs-3">
        <i class="fa fa-camera"></i>
      </div>
      <div class="col-xs-8 align-middle">
        <mdb-upload accept="image/*"></mdb-upload>
      </div>
    </div>
  </div>
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.STREET'|translate}}" [(ngModel)]="organization.street"></mdb-input>
  <mdb-input title="{{'PAGE.ORGANIZATION-FORM.FORM.ZIP'|translate}}" [(ngModel)]="organization.zip"></mdb-input>
  <mdb-checkbox title="{{'PAGE.ORGANIZATION-FORM.FORM.MWST'|translate}}" [(ngModel)]="organization.mwst"></mdb-checkbox>
</common-form>
