<slide-panel>
    <div slide-panel-type="title">
      {{'PAGE.REPORT-FORM.PROPERTIES.BORDER-STYLE'|translate}}
    </div>
    <div slide-panel-type="content">
        <mdb-color-picker [(ngModel)]="color" title="{{'PAGE.REPORT-FORM.PROPERTIES.COLOR'|translate}}"></mdb-color-picker>
        <mdb-input title="{{'PAGE.REPORT-FORM.PROPERTIES.BORDER-WIDTH'|translate}}" [(ngModel)]="width"></mdb-input>
    </div>
</slide-panel>
