<div class="row" *ngIf="pdfURL">
    <div class="col-xs-12">
      {{'PAGE.INVOICE-REMINDER.RESULT.WITHPDF'|translate}}
    </div>
</div>
<div class="row" *ngIf="!pdfURL">
  <div class="col-xs-12">
    {{'PAGE.INVOICE-REMINDER.RESULT.WITHOUTPDF'|translate}}
  </div>
</div>
  <div class="row" *ngIf="pdfURL">
    <div class="col-xs-12">
      <a class="btn btn-default btn-lg waves-effect waves-light" target="_blank" [href]="pdfURL">
        <i class="fa fa-file-pdf-o"></i>
        {{'PAGE.INVOICE-REMINDER.RESULT.LINK'|translate}}
      </a>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <button type="button" class="btn btn-primary btn-block btn-text-ellipsis waves-effect waves-light" (click)="close()">
          {{'PAGE.INVOICE-CREATE-REMINDER.BACK'|translate}}
      </button>
    </div>
  </div>
