<div class="md-form input-group colorpicker-component">
    <input type="text" class="form-control" [id]="id" [(ngModel)]="value" #inputElement>
    <label [for]="id" [innerHtml]="title"></label>
    <span class="input-group-addon"><i></i></span>
</div>