<div class="container p-0 mt-2">
  <h1 class="text-center">{{'PAGE.CANCELATION.TITLE'|translate}}</h1>
  <hr class="mt-2 mb-2" />
  <div class="row" *ngIf="!settingsLoading && !error">
    <div class="col-xs-12 col-lg-6 text-center">
      <div class="card mb-1 mx-auto text-left">
        <h4 class="card-header primary-color white-text">{{'PAGE.CANCELATION.BOOKING_INFO.HEADER'|translate}}</h4>
        <div class="card-block">
          <table>
            <tbody>
              <tr>
                <th class="pr-1">{{'PAGE.CANCELATION.BOOKING_INFO.TITLE'|translate}}</th>
                <td>{{booking.title}}</td>
              </tr>
              <tr>
                <th class="pr-1">{{'PAGE.CANCELATION.BOOKING_INFO.DATE'|translate}}</th>
                <td>{{booking.date}}</td>
              </tr>
              <tr>
                <th class="pr-1">{{'PAGE.CANCELATION.BOOKING_INFO.TIME'|translate}}</th>
                <td>{{booking.startTime}}</td>
              </tr>
              <tr>
                <th class="pr-1">{{'PAGE.CANCELATION.BOOKING_INFO.DURATION'|translate}}</th>
                <td>{{booking.duration}}</td>
              </tr>
              <tr>
                <th class="pr-1">{{'PAGE.CANCELATION.BOOKING_INFO.PRICE'|translate}}</th>
                <td>{{booking.price}} CHF</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 
    </div>

    <div class="col-xs-12 col-lg-6 info text-center" [ngSwitch]="setting.cancellable">
      <div class="card mx-auto text-left" *ngSwitchCase="true">
        <h4 class="card-header success-color white-text" *ngIf="!setting.pay">{{'PAGE.CANCELATION.IS_CANCELLABLE.HEADER' |translate}}</h4>
        <h4 class="card-header warning-color white-text" *ngIf="setting.pay">{{'PAGE.CANCELATION.IS_CANCELLABLE.HEADER_PAY' |translate}}</h4>
        <div class="card-block">
            <p class="card-text" *ngIf="setting.pay">{{'PAGE.CANCELATION.IS_CANCELLABLE.MESSAGE_PAY' | translate:{ price: booking.price } }}</p>
            <p class="card-text">{{'PAGE.CANCELATION.IS_CANCELLABLE.QUESTION' | translate}}</p>
            <button type="button"
              class="btn btn-primary btn-block waves-effect"
              (click)="cancelBooking()">{{'PAGE.CANCELATION.IS_CANCELLABLE.CANCEL_BUTTON'|translate}}
            </button>
        </div>   
      </div>
      <div class="card mx-auto text-left" *ngSwitchCase="false">
        <h4 class="card-header danger-color-dark white-text">{{'PAGE.CANCELATION.IS_NOT_CANCELLABE.HEADER' |translate}}</h4>
        <div class="card-block">
          <p class="card-text" *ngIf="setting.reason === 1">{{'PAGE.CANCELATION.IS_NOT_CANCELLABE.MESSAGE_ALREADY' |translate}}</p>
          <p class="card-text" *ngIf="setting.reason === 2">{{'PAGE.CANCELATION.IS_NOT_CANCELLABE.MESSAGE_LATE' |translate}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!settingsLoading && error">
    <div class="col-xs-12 info text-center">
      <div class="card mx-auto text-left">
        <h4 class="card-header danger-color-dark white-text">{{'PAGE.CANCELATION.ERROR.HEADER' |translate}}</h4>
        <div class="card-block">
          <p class="card-text">{{'PAGE.CANCELATION.ERROR.MESSAGE' |translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
