admin-invoice-cancel-list {
  .btn-back {
    width: 200px;
  }

  bb-grid {
    &.selected-row {
      table {
        thead {
          tr {
            th:last-child {
              display: none;
            }
          }
        }

        tbody {
          tr {
            display: none;

            &.selected-row {
              display: table-row;

              td:last-child {
                display: none;
              }
            }
          }
        }
      }

      bb-grid-pagination {
        display: none;
      }
    }

    &.single-row {
      table {
        thead {
          tr {
            th:last-child {
              display: none;
            }
          }
        }

        tbody {
          tr {
            td:last-child {
              display: none;
            }
          }
        }
      }

      bb-grid-pagination {
        display: none;
      }
    }
  }

  .form-checkbox {
    display: flex;
    flex-flow: row;
    .form-checkbox-left {
      flex-grow: 2;
    }

    .form-checkbox-right {
      mdb-checkbox {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}
