<div>
  <div class="md-form input-group" *ngIf="!showSingle && invoiceRow == null">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="{{'PAGE.INVOICE-LIST.SEARCH'|translate}}" aria-describedby="basic-addon1" [(ngModel)]="search">
  </div>
  <bb-grid #grid [class.selected-row]="invoiceRow != null" [class.single-row]="showSingle" [modules]="gridModules" [sort-column]="0" [sort-order]="'desc'">
    <bb-grid-column title="{{'PAGE.INVOICE-CANCEL.GRID.DATE'|translate}}" field="date" pipe="momentDate"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-CANCEL.GRID.NAME'|translate}}" field="customer_name"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-CANCEL.GRID.FIRST_NAME'|translate}}" field="customer_firstname"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-CANCEL.GRID.INVOICE_NUM'|translate}}" field="number"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-CANCEL.GRID.AMOUNT'|translate}}" field="value" pipe="number:'1.2'"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-CANCEL.GRID.STATUS'|translate}}" field="status" [cell-template]="templateState"></bb-grid-column>
    <bb-grid-column title="{{'PAGE.INVOICE-CANCEL.GRID.ACTION'|translate}}" [cell-template]="templateAction"></bb-grid-column>
    <bb-grid-data-source-array [data]="list"></bb-grid-data-source-array>
  </bb-grid>
  <a class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()" *ngIf="invoiceRow == null && !showSingle">{{'PAGE.INVOICE-CANCEL.BACK'|translate}}</a>
</div>
<common-card-page *ngIf="invoice != null" class="form">
  <mdb-card *ngIf="invoice != null">
    <h4>{{'PAGE.INVOICE-CANCEL.POSITIONS.TITLE'|translate}}</h4>
    <hr class="mb-2">
    <table class="table table-sm">
      <thead>
      <tr>
        <th>{{'PAGE.INVOICE-CANCEL.POSITIONS.DATE'|translate}}</th>
        <th>{{'PAGE.INVOICE-CANCEL.POSITIONS.DESCRIPTION'|translate}}</th>
        <th>{{'PAGE.INVOICE-CANCEL.POSITIONS.DURATION'|translate}}</th>
        <th>{{'PAGE.INVOICE-CANCEL.POSITIONS.AMOUNT'|translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let position of invoice.invoicepositions">
        <td>{{position.date|momentDate}}</td>
        <td>{{position.title || position.tariffposition_title}}</td>
        <td>{{position.duration}}</td>
        <td>{{position.total_price|number:'1.2'}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4"><span  innerHtml="{{'PAGE.INVOICE-CANCEL.POSITIONS.TOTAL'|translate}}"></span> {{invoice.positions_total_price|number:'1.2'}}</td>
      </tr>
      </tfoot>
    </table>
  </mdb-card>
  <div class="form-text">
    <mdb-textarea icon="fa fa-comment-o prefix" title="{{'PAGE.INVOICE-CANCEL.FORM.DESCRIPTION'|translate}}" [(ngModel)]="comment"></mdb-textarea>
    <div class="form-checkbox">
      <div class="form-checkbox-left">
      </div>
      <!--div class="form-checkbox-right">
        <mdb-checkbox title="{{'PAGE.INVOICE-CANCEL.FORM.EMAIL'|translate}}"></mdb-checkbox>
        <mdb-checkbox title="{{'PAGE.INVOICE-CANCEL.FORM.PRINT'|translate}}"></mdb-checkbox>
      </div-->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-4 push-lg-8">
      <button type="submit" class="btn btn-success btn-block waves-effect waves-light" (click)="apply()">
        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.INVOICE-CANCEL.FORM.APPLY'|translate}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <button type="submit" class="btn btn-danger btn-block waves-effect waves-light" (click)="cancel()">
        <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.INVOICE-CANCEL.FORM.CANCEL'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
