<app-ui-grid
        [headersOfTable]="nickNamesForRows"
        [withControlls]="true"
        [withSorting]="true"
        [elementsToDisplay]="10"
        [withSearch]="true">
    <ng-template #controlls let-data>
        <td>
            <button (click)="editAction(data)">edit</button>
            <a href="">x</a>
        </td>
        <td>{{data.id}}</td>
        <td>{{data.import}}</td>
        <td>{{data.imported}}</td>
        <td>{{data.col01}}</td>
        <td>{{data.col02}}</td>
        <td>{{data.col03}}</td>
        <td>{{data.col04}}</td>
        <td>{{data.col05}}</td>
        <td>{{data.col06}}</td>
        <td>{{data.col07}}</td>
    </ng-template>
</app-ui-grid>