<span *ngFor="let time of list" class="admin-booking-work-time-time-list">
  <input type="text" [(ngModel)]="time.start" time [disabled]="isReadonly">
  <input type="text" [(ngModel)]="time.end" time [disabled]="isReadonly">
  <span mdbTooltip title="{{'PAGE.BOOKING-EMPLOYEE-WORK-TIME.ONLINE-BOOKING-AVAILABLE'|translate}}" data-toggle="tooltip" data-placement="top">
    <mdb-checkbox
      class="filled-in"
      [(ngModel)]="time.online_booking_available"
      readonly="isReadonly">
    </mdb-checkbox>
  </span>
</span>
<a class="btn-floating btn-sm blue waves-effect waves-light" *ngIf="canAdd && !isReadonly" (click)="add()">
  <i class="fa">+</i>
</a>
<a class="btn-floating btn-sm blue waves-effect waves-light" *ngIf="canRemove && !isReadonly" (click)="remove()">
  <i class="fa fa-trash"></i>
</a>
