  <input type="file" ng2FileSelect [uploader]="uploader" [disabled]="uploader.isUploading" (change)="onFileSelected()"/>
<div class="mdb-image-upload">
  <!-- <p>Queue length: {{ uploader?.queue?.length }}</p> -->
</div>
