booking-open-hours {
  @import "../style/common";
  .admin-booking-location-select{
    flex-grow: 2;
  }

  .admin-booking-location-title{
    font-weight: bold;
  }

  .btn-back {
    width: 200px;
  }
}
