<app-ui-snackbar
[display]="snackState.display"
[autoHide]="snackState.getAutohide()">
  <h1 class="snack-header">{{snackState.getHeader()}}</h1>
  <div class="snack-body">{{snackState.getMessage()}}</div>
</app-ui-snackbar>

<div class="d-flex">
  <div class="p-2 admin-booking-location-select">
    <mdb-select [options]="locations" [(ngModel)]="locationId" title="{{'PAGE.BOOKING-OPEN-HOURS.LOCATION'|translate}}"></mdb-select>
  </div>
  <div class="p-2">
    <button type="button" class="btn btn-default waves-effect waves-light" (click)="page.save()">{{'PAGE.BOOKING-OPEN-HOURS.SAVE'|translate}}</button>
  </div>
</div>
<mdb-tabs>
  <mdb-tab tabTitle="{{'PAGE.BOOKING.WEEKLY'|translate}}" [active]="true" #tab1>
    <booking-location-plan-weekly
      (onInit)="setActivePage($event)"
      (onSave) = "onTimeSave($event)"
      *ngIf="tab1.active"
      [location-id]="locationId">
    </booking-location-plan-weekly>
  </mdb-tab>
  <mdb-tab tabTitle="{{'PAGE.BOOKING.DAILY'|translate}}" #tab2>
    <booking-location-plan-daily
      (onInit)="setActivePage($event)"
      (onSave) = "onTimeSave($event)"
      *ngIf="tab2.active"
      [location-id]="locationId">
    </booking-location-plan-daily>
  </mdb-tab>
</mdb-tabs>
<div class="d-flex">
  <div class="p-2 admin-booking-location-select">
  </div>
  <div class="p-2">
    <button type="button" class="btn btn-default waves-effect waves-light" (click)="page.save()">{{'PAGE.BOOKING-OPEN-HOURS.SAVE'|translate}}</button>
  </div>
</div>
<button type="button" class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()">{{'PAGE.BOOKING-OPEN-HOURS.BACK'|translate}}</button>
