<!--
  <div class="bg-danger trial-period mb-1" *ngIf="trialPeriod && trialPeriod.days >= 0">
    <div translate [translateParams]="{ days: trialPeriod.days }">PAGE.DESKTOP.SYSTEM-MESSAGES.TRIAL-PERIOD.DAYS</div>
    <div>{{'PAGE.DESKTOP.SYSTEM-MESSAGES.TRIAL-PERIOD.TEXT'|translate}}</div>
    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light pull-right" (click)="pay()">
      {{'PAGE.DESKTOP.SYSTEM-MESSAGES.TRIAL-PERIOD.PAY'|translate}}
    </button>
  </div>
-->
<div class="row message_row" *ngFor="let message of messages">
  <div class="col-md-12">
    <message-item
      [message]="message"
      (onMessageSkip)="removeMessage($event)"
      (onMessageRead)="removeMessage($event)"
      (onMessageClose)="closeMessage($event)"
    >
    </message-item>
  </div>
</div>
