<div ng-controller="CustomersController as ctrl">

<div class="row c_admin c_strong">
	<div class="col-md-12 text-center">
		<h1>Kunde erfassen</h1>
	</div>
</div>

<div class="row" ng-show="ctrl.step == 1">
	<div class="col-md-offset-2 col-md-8">
		<form class="form-horizontal">
			<div class="alert alert-danger form-feedback text-center" role="alert" ng-show="ctrl.hasError()">
				{{ctrl.formMessage}}
			</div>
			<div class="form-group required" ng-class="{'has-error': ctrl.fieldHasError('email'), 'has-feedback': ctrl.fieldHasError('email')}">
				<label class="col-sm-4 control-label">Nachname</label>
				<div class="col-sm-8">
					<input auto-focus="true" name="myemail" type="text" class="form-control" ng-model="ctrl.fields.name">
					<span ng-show="ctrl.fieldHasError('email')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span ng-show="ctrl.fieldMessage('email') != ''" class="help-block">{{ctrl.fieldMessage('email')}}</span>
				</div>
			</div>
			<div class="form-group required" ng-class="{'has-error': ctrl.fieldHasError('email'), 'has-feedback': ctrl.fieldHasError('email')}">
				<label class="col-sm-4 control-label">Vorname</label>
				<div class="col-sm-8">
					<input name="myemail" type="text" class="form-control" ng-model="ctrl.fields.firstname">
					<span ng-show="ctrl.fieldHasError('email')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span ng-show="ctrl.fieldMessage('email') != ''" class="help-block">{{ctrl.fieldMessage('email')}}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button ng-disabled="!ctrl.isReady()" type="submit" class="btn btn-success btn-block" ng-click="ctrl.nextStep()">{{ctrl.cta("weiter")}}</button>
				</div>
			</div>
		</form>
	</div>		
</div>

<div class="row" ng-show="ctrl.step == 2">
	<div class="col-md-offset-2 col-md-8">
		{{ctrl.fields.name}} {{ctrl.fields.firstname}}, {{ctrl.fields.street}}, {{ctrl.fields.zip}} {{ctrl.fields.city}}
		<form class="form-horizontal">
			<div class="alert alert-danger form-feedback text-center" role="alert" ng-show="ctrl.hasError()">
				{{ctrl.formMessage}}
			</div>
			<div class="form-group required" ng-class="{'has-error': ctrl.fieldHasError('email'), 'has-feedback': ctrl.fieldHasError('email')}">
				<label class="col-sm-4 control-label">Strasse</label>
				<div class="col-sm-8">
					<input auto-focus="true" name="myemail" type="text" class="form-control" ng-model="ctrl.fields.street">
					<span ng-show="ctrl.fieldHasError('email')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span ng-show="ctrl.fieldMessage('email') != ''" class="help-block">{{ctrl.fieldMessage('email')}}</span>
				</div>
			</div>
			<div class="form-group required" ng-class="{'has-error': ctrl.fieldHasError('email'), 'has-feedback': ctrl.fieldHasError('email')}">
				<label class="col-sm-4 control-label">PLZ</label>
				<div class="col-sm-8">
					<input name="myemail" type="text" class="form-control" ng-model="ctrl.fields.zip">
					<span ng-show="ctrl.fieldHasError('email')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span ng-show="ctrl.fieldMessage('email') != ''" class="help-block">{{ctrl.fieldMessage('email')}}</span>
				</div>
			</div>
			<div class="form-group required" ng-class="{'has-error': ctrl.fieldHasError('email'), 'has-feedback': ctrl.fieldHasError('email')}">
				<label class="col-sm-4 control-label">Ort</label>
				<div class="col-sm-8">
					<input name="myemail" type="text" class="form-control" ng-model="ctrl.fields.city">
					<span ng-show="ctrl.fieldHasError('email')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span ng-show="ctrl.fieldMessage('email') != ''" class="help-block">{{ctrl.fieldMessage('email')}}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button ng-disabled="!ctrl.isReady()" type="submit" class="btn btn-success btn-block" ng-click="ctrl.nextStep()">{{ctrl.cta("weiter")}}</button>
				</div>
			</div>
		</form>
	</div>		
</div>
<div class="row" ng-show="ctrl.step == 3">
	<div class="col-md-offset-2 col-md-8">
		{{ctrl.fields.name}} {{ctrl.fields.firstname}}, {{ctrl.fields.street}}, {{ctrl.fields.zip}} {{ctrl.fields.city}}
		<form class="form-horizontal">
			<div class="alert alert-danger form-feedback text-center" role="alert" ng-show="ctrl.hasError()">
				{{ctrl.formMessage}}
			</div>
			<div class="form-group required" ng-class="{'has-error': ctrl.fieldHasError('email'), 'has-feedback': ctrl.fieldHasError('email')}">
				<label class="col-sm-4 control-label">Telefon</label>
				<div class="col-sm-8">
					<input auto-focus="true" name="myemail" type="text" class="form-control" ng-model="ctrl.fields.phone">
					<span ng-show="ctrl.fieldHasError('email')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span ng-show="ctrl.fieldMessage('email') != ''" class="help-block">{{ctrl.fieldMessage('email')}}</span>
				</div>
			</div>
			<div class="form-group required" ng-class="{'has-error': ctrl.fieldHasError('email'), 'has-feedback': ctrl.fieldHasError('email')}">
				<label class="col-sm-4 control-label">Mobile</label>
				<div class="col-sm-8">
					<input name="myemail" type="text" class="form-control" ng-model="ctrl.fields.mobile">
					<span ng-show="ctrl.fieldHasError('email')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span ng-show="ctrl.fieldMessage('email') != ''" class="help-block">{{ctrl.fieldMessage('email')}}</span>
				</div>
			</div>
			<div class="form-group required" ng-class="{'has-error': ctrl.fieldHasError('email'), 'has-feedback': ctrl.fieldHasError('email')}">
				<label class="col-sm-4 control-label">E-Mail</label>
				<div class="col-sm-8">
					<input name="myemail" type="text" class="form-control" ng-model="ctrl.fields.email">
					<span ng-show="ctrl.fieldHasError('email')" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
					<span ng-show="ctrl.fieldMessage('email') != ''" class="help-block">{{ctrl.fieldMessage('email')}}</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-8">
					<button ng-disabled="!ctrl.isReady()" type="submit" class="btn btn-success btn-block" ng-click="ctrl.nextStep()">{{ctrl.cta("weiter")}}</button>
				</div>
			</div>
		</form>
	</div>		
</div>

<div class="row" ng-show="ctrl.step == 4">
	<div class="col-md-offset-2 col-md-8">
		Glückwunsch
		{{ctrl.fields.name}} {{ctrl.fields.firstname}}, {{ctrl.fields.street}}, {{ctrl.fields.zip}} {{ctrl.fields.city}}
		<button ng-disabled="!ctrl.isReady()" type="submit" class="btn btn-success btn-block" ng-click="ctrl.nextStep()">{{ctrl.cta("Buchung erfassen")}}</button>
	</div>		
</div>



</div>