<div ng-controller="CustomersController as ctrl">

<div class="row c_admin c_strong">
	<div class="col-md-12 text-center">
		<h1>Kunden</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
	
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<div class="c_tile text-center" ng-click="ctrl.addCustomer()">
					<i class="fa fa-user"></i>
					<h2>Kunde erfassen</h2>
				</div>
			</div>
			<div class="col-xs-6 col-md-3">				
				<div class="c_tile text-center">
					<i class="fa fa-users"></i>
					<h2>Kunden anzeigen</h2>
					<span class="badge-blue">45</span>
				</div>
			</div>
		</div>
		
	</div>
		
</div>



</div>