include /jade/blocks_meik.pug
include ../employees/pages_employees.pug

ng-controller(ng-controller="EmployeesController as ng")
	+modal_simple
	+admin_content("{{ng.ctrl.pagetitle}}")
		+ng_conditional_page_header("1")
			+page_employee_index
		+ng_conditional_page_header("2")
			+page_employee_show_all
		//- +ng_conditional_page_header("3")
		+page_employee_show_one
		+ng_conditional_page_header("4")
			+page_employee_addedit
