//- ----------------------------------------------------------------------------
//- 600 - Employee Pages
//- --------------------

mixin page_employee_index()
	.row
		+admin_tile_ma_id("10", "Mitarbeiter erfassen","fa-user-plus","ng.ctrl.addEmployee()","badge-blue","")
		+admin_tile_ma_id("11", "Mitarbeiter anzeigen","fa-users","ng.ctrl.loadPage(2)","badge-blue","")
	+buttonrow_1("zurück", "pageBack")

mixin page_employee_show_all()
	+content_box_list_dynamic_iconbutton("contentBoxList", "showEmployee(cblRow.id)", "showEmployee(cblRow.id)", "fa-chevron-right")
	+buttonrow_1("zurück", "pageBack")

mixin page_employee_show_one()
	- locals.page = "3"
	+page_header
		+corner_button("editEmployee(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_employee_show_one")
			+form_image_header_contact("foto")
			.card-block
				h4.card-title {{ng.ctrl.model.fields.address}} {{ng.ctrl.model.fields.firstname}} {{ng.ctrl.model.fields.name}}
				hr.mb-2
				+showonly_textvar_input("Geschlecht", "genderLabel(ng.ctrl.model.fields.gender)", "fa-venus-mars")
				+showonly_input_birthday("birth_day", "birth_month", "birth_year")
				+showonly_textarea_adress()
				+showonly_input("Telefon privat", "phone_home", "fa-phone")
				+showonly_input("Telefon mobil", "phone_mobile", "")
				+showonly_input("Telefon geschäftlich", "phone_work", "")
				+showonly_block("E-Mail privat", "fa-envelope")
					p {{ng.ctrl.model.fields.email}}&nbsp;
						ng-if(ng-if="ng.ctrl.model.fields.email_primary == 1") (Primär)
				+showonly_block("E-Mail geschäftlich", "")
					p {{ng.ctrl.model.fields.email_2}}&nbsp;
						ng-if(ng-if="ng.ctrl.model.fields.email_primary == 2") (Primär)
				+showonly_input("AHV-Nr.", "ahv", "fa-address-card-o ")
				+showonly_input("ZSR-Nr.", "zsr", "")
				+showonly_input("EGK-Nr.", "egk", "")
				+showonly_textarea("Ausbildungen", "experience", "fa-graduation-cap")
				+showonly_textarea("Spezialgebiete", "specialty", "fa-key")
				+showonly_textarea("Werdegang", "career", "fa-history")
				+showonly_relation_list_icon("products", "Der Mitarbeiter kann folgende Leistungen erbringen:", "fa-signing", "Räume, in denen die Leistung erbracht werden kann:", "row")
					| {{row.product.title}}
					br
					small {{row.product.duration}} min., {{row.product.price.toFixed(2)}} CHF
				+showonly_relation_list_icon("locations", "Der Mitarbeiter arbeitet an folgenden Standorten:", "fa-map-marker", "Räume, in denen die Leistung erbracht werden kann:", "row")
					| {{row.location.title}}
					br
					small {{row.location.street}}, {{row.location.zip}} {{row.location.city}}
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Daten anpassen", "editEmployee(ng.ctrl.model.fields.id)", "fa-pencil")
					+action_drop_position("Mitarbeiter löschen", "deleteEmployee(ng.ctrl.model.fields.id)", "fa-remove")

mixin page_employee_addedit ()
	+form_back("form", "speichern")
		+string_input("Anrede", "address")
		+string_input("Nachname", "name")
		+string_input("Vorname", "firstname")
		+select_input("Geschlecht", "gender", "genders", "label")
		+birthday_input("Geburtstag", "birth_day", "birth_month", "birth_year")
		+string_input("Zweite Adresszeile", "address_line")
		+string_input("Strasse & Nr.", "street")
		+string_input("Postleitzahl", "zip")
		+string_input("Ort", "city")
		+string_input("Kanton", "state")
		+string_input("Land", "country")
		+phone_input("Telefon Privat", "phone_home")
		+phone_input("Telefon Mobil", "phone_mobile")
		+phone_input("Telefon Arbeit", "phone_work")
		//- +email_input("Email", "email")
		//- +email_input("Email 2", "email_2")
		+email_input_standardcheck("E-Mail privat", "email", "email_primary", "1", "Primär")
		+email_input_standardcheck("E-Mail geschäftlich", "email_2", "email_primary", "2", "Primär")
		+string_input("AHV-Nr.", "ahv")
		+string_input("ZSR-Nr.", "zsr")
		+string_input("EGK-Nr.", "egk")
		+cb_input_checkbox("locationsCheckbox", "Lokationen")
		+cb_input_checkbox("productsCheckbox", "Produkte")
		+text_input("Ausbildungen", "experience")
		+text_input("Spezialgebiete", "specialty")
		+text_input("Werdegang", "career")

mixin page_employee_choose_one()
	+content_box_list_dynamic_iconbutton("modules.employees.contentBoxList", "cta(cblRow)", "cta(cblRow)", "fa-chevron-right")
	+buttonrow_1("Zurück", "pageBack")
	//- +buttonrow_2("Neuen Mitarbeiter erfassen", "addNewEmployee", "Zurück", "pageBack")
