admin-invoice-pre-print-list {
  .select-all {
    margin-bottom: 10px;
  }

  .btns {
    width: 200px;
    display: inline-block;
    margin-right: 20px;
    margin-top: 0 !important;
  }

  .right{
    float: right;
  }

  .form-text {
    text-align: left;
    padding: 10px 10px 10px 220px;
  }
}
