<p>
  {{'PAGE.INVOICE-PRE-PRINT.DESCRIPTION'|translate}}
</p>
<div class="select-all">
  <span innerHtml="{{'PAGE.INVOICE-PRE-PRINT.TODAY'|translate}}"></span>
  <mdb-checkbox
    title="{{'PAGE.INVOICE-PRE-PRINT.SELECT-ALL'|translate}}"
    class="right"
    [indeterminate]="isAllTodayIndeterminate"
    (onCheckBoxClick)="onAllTodayClick($event)"
    readonly="{{isAllTodayReadOnly}}"
    [(ngModel)]="selectAllToday">
  </mdb-checkbox>
</div>
<bb-grid #gridToday [modules]="gridModules" [sort-column]="0" [sort-order]="'desc'">
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.DATE'|translate}}" field="date" pipe="momentDate"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.NAME'|translate}}" field="customer_name"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.FIRST_NAME'|translate}}" field="customer_firstname"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.TITLE'|translate}}" field="title"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.AMOUNT'|translate}}" field="price" pipe="number:'1.2'"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.ACTION'|translate}}" [cell-template]="templateAction"></bb-grid-column>
  <bb-grid-data-source-array [data]="listToday"></bb-grid-data-source-array>
</bb-grid>
<div class="select-all">
  <span innerHtml="{{'PAGE.INVOICE-PRE-PRINT.TOMORROW'|translate}}"></span>
  <mdb-checkbox
    title="{{'PAGE.INVOICE-PRE-PRINT.SELECT-ALL'|translate}}"
    class="right"
    [indeterminate]="isAllTomorrowIndeterminate"
    (onCheckBoxClick)="onAllTomorrowClick($event)"
    readonly="{{isAllTomorrowReadOnly}}"
    [(ngModel)]="selectAllTomorrow">
  </mdb-checkbox>
</div>
<bb-grid #gridTomorrow [modules]="gridModules" [sort-column]="0" [sort-order]="'desc'">
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.DATE'|translate}}" field="date" pipe="momentDate"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.NAME'|translate}}" field="customer_name"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.FIRST_NAME'|translate}}" field="customer_firstname"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.TITLE'|translate}}" field="title"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.AMOUNT'|translate}}" field="price" pipe="number:'1.2'"></bb-grid-column>
  <bb-grid-column title="{{'PAGE.INVOICE-PRE-PRINT.GRID.ACTION'|translate}}" [cell-template]="templateAction"></bb-grid-column>
  <bb-grid-data-source-array [data]="listTomorrow"></bb-grid-data-source-array>
</bb-grid>
<div class="form-text">
  {{'PAGE.INVOICE-PRE-PRINT.FORM.TEXT'|translate}}
</div>
<button type="button" class="btn btn-primary btn-block btn-text-ellipsis btns waves-effect" (click)="back()">{{'PAGE.INVOICE-PRE-PRINT.BACK'|translate}}</button>
<button
  type="submit"
  class="btn btn-success btn-block waves-effect waves-light btns"
  [disabled]="selected.length == 0"
  (click)="generatePrePrint()"
>
  <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{'PAGE.INVOICE-PRE-PRINT.FORM.APPLY'|translate}}
</button>
