<div class="message_item_class">

  <h3>{{message.title}}</h3>

  <div [innerHTML]="message.message"></div>

  <div *ngIf="!message.read && !message.modal">
    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light pull-right" (click)="markAsRead()">
      {{'PAGE.DESKTOP.SYSTEM-MESSAGES.MESSAGE.READ'|translate}}
    </button>
    <button *ngIf="canSkip" type="submit" class="btn btn-primary btn-sm waves-effect waves-light pull-right" (click)="skipMessage()">
      {{'PAGE.DESKTOP.SYSTEM-MESSAGES.MESSAGE.SKIP'|translate}}
    </button>
  </div>

  <div *ngIf="message.modal">
    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light pull-right" (click)="closeMessage()">
      {{'PAGE.DESKTOP.SYSTEM-MESSAGES.MESSAGE.CLOSE'|translate}}
    </button>
  </div>

</div>
