message-item {
  .message_item_class {
    background-color: #e9f7fd;
  }

  .message_item_class > h3 {
    padding-bottom: 20px;
  }

  > div {
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
  }
}
