<common-card-page>
  <div class="row">
    <div class="col-xs-12 push-xs-8 col-md-2 push-md-10 selectAllCheckboxes">
      <mdb-checkbox
        [(ngModel)] = "selectedAllCheckboxes"
        (ngModelChange) = "onSelecedAllCheckboxesChange($event)">
      </mdb-checkbox>
      <span *ngIf="!selectedAllCheckboxes">{{'PAGE.INVOICE-CREATE-BOOKING.SELECT-ALL'|translate}}</span>
      <span *ngIf="selectedAllCheckboxes">{{'PAGE.INVOICE-CREATE-BOOKING.DESELECT-ALL'|translate}}</span>
    </div>
  </div>
  <mdb-card *ngFor="let item of list">
    <h4 class="card-title">{{item.firstname}} {{item.name}}</h4>

    <common-selected
      *ngFor="let case of item.cases"
      title="{{'PAGE.INVOICE-CREATE-BOOKING.SERVICES'|translate:{name: case.title, count: case.count, sum: formatNumber(case.price), count_total: case.bookings.length} }}"
      [list]="case.bookings"
      key-field="id"
      search-field="id"
      text-field="name"
      [(ngModel)]="case.selected"
    ></common-selected>
  </mdb-card>
  <div class="invoices-total">
    {{'PAGE.INVOICE-CREATE-BOOKING.TOTAL'|translate:{sum: formatNumber(price)} }}
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 push-md-6">
      <button type="submit" class="btn btn-success btn-block waves-effect waves-light" (click)="goToReminder()">
        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.INVOICE-CREATE-BOOKING.APPLY'|translate}}
      </button>
    </div>
    <div class="col-xs-12 mb-1 hidden-md-up"></div>
    <div class="col-xs-12 col-md-6 pull-md-6">
      <button type="submit" class="btn btn-danger btn-block waves-effect waves-light" (click)="cancel()">
        <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.INVOICE-CREATE-BOOKING.CANCEL'|translate}}
      </button>
    </div>
  </div>
</common-card-page>
