<div [ngClass] = "{notDisplayed: show_agb }">
  <mdb-input title="{{'PAGE.FRONT.BOOKING_MODAL.STEP_3.FIRSTNAME' |translate}}<i class='required-label'></i>" icon="fa fa-user prefix" [(ngModel)]="order.firstName" required></mdb-input>
  <mdb-input title="{{'PAGE.FRONT.BOOKING_MODAL.STEP_3.NAME' |translate}}<i class='required-label'></i>" icon="fa  prefix" [(ngModel)]="order.surname" required></mdb-input>
  <mdb-input title="{{'PAGE.FRONT.BOOKING_MODAL.STEP_3.EMAIL' |translate}}<i class='required-label'></i>" icon="fa fa-envelope prefix" [(ngModel)]="order.email" required email></mdb-input>
  <mdb-input title="{{'PAGE.FRONT.BOOKING_MODAL.STEP_3.PHONE' |translate}}" icon="fa fa-phone prefix" [(ngModel)]="order.phone"></mdb-input>
  <mdb-textarea title="{{'PAGE.FRONT.BOOKING_MODAL.STEP_3.COMMENT' |translate}}" icon="fa fa-pencil prefix" [(ngModel)]="order.comment"></mdb-textarea>
  <div class="row" [ngClass] = "{notDisplayed: !must_accept }">
    <div class="col-xs-12 col-md-7">
      <fieldset class="form-group" >
        <input type="checkbox" id="checkbox1" [(ngModel)]="order.agree">
        <label for="checkbox1">
          {{'PAGE.FRONT.TERMS_OF_USE.AGREE' |translate}}
        </label>
      </fieldset>
    </div>
    <div class="col-xs-12 col-md-5">
      <button (click)="showAGB()" class="btn btn-primary btn-block waves-effect waves-light">{{'PAGE.FRONT.TERMS_OF_USE.BUTTON' |translate}}</button>
    </div>
  </div>
</div>

<div *ngIf="show_agb" class="md-form">
  <h3 class="text-center">{{'PAGE.FRONT.TERMS_OF_USE.HEADER' |translate}}</h3>
  <textarea class="form-control legalTextArea">
  {{terms_of_use}}
  </textarea>
</div>


