
<div>
  <expenses-type-item *ngFor="let item of types" [item]="item" resource-path="PAGE.EXPENSES_ADD.DESKTOP.ITEMS" (action)="executeAction($event)"></expenses-type-item>
</div>

<div class="common-menu-page-command">
  <a class="btn btn-primary btn-block btn-text-ellipsis btn-back waves-effect" (click)="back()">{{'COMPONENT.COMMON-MENU-PAGE.BACK'|translate}}</a>
</div>
