<common-card-page>
  <div class="row mt-1">
    <div class="messageBody">
      <h1>{{'PAGE.DESKTOP.SUPPORT_THANKS.HEADER'|translate}}</h1>
      <p>{{'PAGE.DESKTOP.SUPPORT_THANKS.MESSAGE'|translate}}</p>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" routerLink="../../">{{'PAGE.DESKTOP.SUPPORT_THANKS.BACK'|translate}}</button>
    </div>
  </div>
</common-card-page>
