<div *ngIf="withSearch" class="md-form input-group">
  <span class="input-group-addon">
    <i class="fa fa-search"></i>
  </span>
  <input
    type= "text"
    class="form-control"
    placeholder="{{'PAGE.REPORT-CONFIGURATION.SEARCH'|translate}}"
    aria-describedby="basic-addon1"
    [(ngModel)]="filterWord"
    (ngModelChange)="reloadChunk()"
    #ctrl="ngModel" />
</div>
<table class="table uiGridTable">
<tr>
  <th *ngFor="let header of headersOfTable">
    {{header.displayName || header.colName | translate}}
    <a [hidden]="Direction==-1 || !withSorting || !header.sortable"
                 [class.faided] ="header.colName !== SortBy"
                (click)="Sort(header.colName,-1)">
                ▲
    </a>
    <a [hidden]="Direction==1 || !withSorting || !header.sortable"
                [class.faided] ="header.colName !== SortBy"
                (click)="Sort(header.colName,1)">
                ▼
    </a>
  </th>
</tr>
<tr *ngFor="let row of spliceOfData; let i = index;">
      <ng-container *ngTemplateOutlet="controllsTemplate; context: { $implicit: row}"></ng-container>
</tr>
</table>
<app-ui-pager
[pager]="pager"
(onChangedPage)="setPage($event)">
</app-ui-pager>
