<common-card-page>
  <mdb-radio title="show all" return-value="all" [(ngModel)]="status"></mdb-radio>
  <mdb-radio title="show unread" return-value="unread" [(ngModel)]="status"></mdb-radio>
  <message-item
    *ngFor="let message of messages"
    class="mb-1 d-flex"
    [message]="message"
    [canSkip]="false"
    (onMessageRead)="onMessageRead($event)">
  </message-item>
  <div *ngIf="!messages.length">
    <span *ngIf="status === 'all'">{{'PAGE.DESKTOP.MESSAGES.NO_MESSAGES'|translate}}</span>
    <span *ngIf="status === 'unread'">{{'PAGE.DESKTOP.MESSAGES.NO_UNREAD_MESSAGES'|translate}}</span>
  </div>
  <div class="row mt-1">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-text-ellipsis waves-effect" routerLink="../">{{'PAGE.DESKTOP.MESSAGES.BACK'|translate}}</button>
    </div>
  </div>
</common-card-page>
