<common-card-page>

  <!-- TITLE ========================================================================= -->
  <div class="row">
    <div class="col-xs-12">
      <h1>Modul "Webseite" buchen</h1>
    </div>
  </div>

  <!-- INTRO text ==================================================================== -->
  <div class="row teaser">
    <div class="col-xs-12">
      <p>Wenn Sie das Webseiten-Modul heute buchen:</p>
      <ul>
        <li>bezahlen Sie nur 199.- CHF statt 234.- CHF</li>
        <li>wählen Sie zwischen der Teilnahme an einem Workshop (299.- CHF) oder der Erstellung Ihrer Webseite durch unseren Premium-Partner directcom.swiss (490.- CHF) - für Detailinformationen klicken Sie bitte <a href="http://www.directcom.swiss/de/home" target="_blank">hier</a></li>
        <li>bekommen Sie von uns die Rechnung, sobald Sie den Workshop oder die Erstellung gebucht haben</li>
        <li>werden Ihnen erfolgreiche Weiterempfehlungen gutgeschrieben (gilt für die Lizenzkosten)</li>
        <li>WICHTIG: falls Sie Ihre Webseite lieber selbst erstellen wollen - ab 1.2.2018 steht Ihnen die Do-it-yourself Lösung von bluebamboo zur Verfügung.</li>
      </ul>
    </div>
  </div>

  <!-- OFFER-SELECTION =============================================================== -->
  <h2>Wählen Sie eine Leistung für die Website-Erstellung:</h2>
  <div class="row">
    <div class="col-xs-12 col-md-6">
        <mdb-radio title="Webseiten-Erstellungs Workshop (299.- CHF)" [(ngModel)]="offerSelection" return-value="1"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-6">
        <mdb-radio title="Webseiten-Erstellung durch directcom.swiss (490.- CHF)" [(ngModel)]="offerSelection" return-value="2"></mdb-radio>
    </div>
  </div>

  <!-- PAYMENT-SCHEME ================================================================ -->
  <h2>Bezahlung des Modules “Web Seite» (Basis für Webseitenerstellung):</h2>
  <div class="row">
    <div class="col-xs-12 col-md-4">
        <mdb-radio title="Jährlich (199.- CHF / Jahr)" [(ngModel)]="paymentScheme" return-value="1"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-4">
        <mdb-radio title="Halbjährlich (105.- CHF / Semester)" [(ngModel)]="paymentScheme" return-value="2"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-4">
      <mdb-radio title="Monatlich (19.50 CHF / Monat)" [(ngModel)]="paymentScheme" return-value="3"></mdb-radio>
  </div>
  </div>

  <!-- PAYMENT-METHOD ================================================================ -->
  <h2>Wie möchten Sie zahlen?</h2>
  <div class="row">
    <div class="col-xs-12 col-md-6" *ngIf="paymentScheme != 3">
        <mdb-radio title="Rechnung" [(ngModel)]="paymentMethod" return-value="inv"></mdb-radio>
    </div>
    <div class="col-xs-12 col-md-6">
        <mdb-radio title="Kreditkarte" [(ngModel)]="paymentMethod" return-value="cc"></mdb-radio>
    </div>
  </div>

  <!-- MEMBER-SHIP =================================================================== -->
  <div class="row">
    <div class="col-xs-12 col-md-12">
      Wenn Sie Mitglied in einem Verband sind, dann lassen Sie uns bitte wissen in welchem.<br>
      Falls wir eine Partnerschaft mit diesem Verband haben oder bald abschliessen, bekommen Sie einen entsprechenden Rabatt.
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-xs-12 col-md-12">
      <mdb-input
        title="Verbandsmitgliedschaft(en)"
        [(ngModel)]="association"
        name="name"
      >
      </mdb-input>
    </div>
  </div>

  <!-- AGB =========================================================================== -->
  <div class="row">
    <div class="col-xs-12 col-md-6">

        <mdb-checkbox
          name="agb"
          title="{{'COMPONENT.MY_ACCOUNT.COMMON.READ_AGB' | translate}}"
          [(ngModel)]="agb">
        </mdb-checkbox>

    </div>
    <div class="col-xs-12 col-md-6" [innerHTML]="'COMPONENT.MY_ACCOUNT.COMMON.LABEL_AGB' | translate"></div>
  </div>

  <!-- LICENCE ======================================================================= -->
  <div class="row">
    <div class="col-xs-12 col-md-6">

        <mdb-checkbox
          name="agb"
          title="{{'COMPONENT.MY_ACCOUNT.COMMON.READ_LICENCE' | translate}}"
          [(ngModel)]="licence">
        </mdb-checkbox>

    </div>
    <div class="col-xs-12 col-md-6" [innerHTML]="'COMPONENT.MY_ACCOUNT.COMMON.LABEL_LICENCE' | translate"></div>
  </div>

  <!-- CTA =========================================================================== -->
  <div class="row order_row">
    <div class="col-xs-12 col-md-4">
      <button type="button" class="btn btn-success btn-block waves-effect waves-light" [disabled]="btnOrderDisabled()" (click)="executeOrder()">
        <i class="fa fa-cart-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.MY_ACCOUNT.COMMON.ORDER' | translate}}
      </button>
    </div>
    <div class="col-xs-12 col-md-8">Fragen? Rufen Sie uns an: +41 43 543 81 18</div>
  </div>


</common-card-page>

  <!-- BACK button =================================================================== -->
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <button type="button" class="btn btn-primary btn-block waves-effect waves-light" (click)="executeBack()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK' | translate}}
      </button>
    </div>
  </div>

