<div class="card-wrapper" style="height: 15em; cursor: pointer;" (click)="click()">
  <div class="card-rotating effect__click">
    <div class="face front card">
      <div class="card-up grey lighten-4">
        <i class="align-middle fa fa-3x black-text" [ngClass]="module.icon"></i>
      </div>
      <div class="content">
        <h4 [innerHtml]="'PAGE.FAQ.ITEMS.'+module.code+'.TITLE'|translate"></h4>
        <div class="text-xs-center"><a class="btn btn-block btn-blue-grey" (click)="click()">{{'PAGE.FAQ.ITEMS.ACTION'|translate}}</a></div>
      </div>
    </div>
  </div>
</div>
