admin-faq-module {
  float: none !important;
  display: inline-block;

  .card-wrapper{
    .face {
      .card-up {
        height: 80px;
        padding-top: 20px;
      }
    }

    .content{
      h4{
        min-height: 2.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}
