<!-- <help></help> -->

<app-ui-fake-window
  *ngIf="urlToDisplay"
  [fakeUrl] ="urlToDisplay">
</app-ui-fake-window>

<app-ui-preloader
  *ngIf="preLoaderActive > 0">
</app-ui-preloader>

<router-outlet *ngIf="!urlToDisplay">
  </router-outlet>

<modal-placeholder>
  </modal-placeholder>

<footer id="gsc_admin_footer" class="footer primary-color hidden-sm-down" style="color: white;">
  <div class="container text-xs-center">{{'FOOTER'|translate}}</div>
</footer>
