app-root {

  #gsc_admin_footer {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    background: #2BBBAD !important;
    display: flex;
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.5;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }

}
