<common-card-page>
  <h4 class="text-center">{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING-INFO.TITLE'|translate}}</h4>
  <hr class="mt-2 mb-2" />
  <table class="mb-2">
    <tbody>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING-INFO.DATE'|translate}}</th>
        <td>{{booking.date|date:'dd.MM.y'}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING-INFO.TIME'|translate}}</th>
        <td>{{booking.startTime|momentTime:'HH:mm'}} - {{booking.endTime|momentTime:'HH:mm'}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING-INFO.SERVICE'|translate}}</th>
        <td>{{booking.product.title}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING-INFO.EMPLOYEE'|translate}}</th>
        <td>{{booking.employee.fullName}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING-INFO.LOCATION'|translate}}</th>
        <td>{{booking.location.title}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING-INFO.ROOM'|translate}}</th>
        <td>{{booking.room.title}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING-INFO.STATUS.TITLE'|translate}}</th>
        <td>{{statusText|translate}}</td>
      </tr>
    </tbody>
  </table>

  <h4 class="text-center">{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER-INFO.TITLE'|translate}}</h4>
  <hr class="mt-2 mb-2" />
  <table class="mb-2">
    <tbody>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER-INFO.FIRSTNAME'|translate}}</th>
        <td>{{booking.firstname}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER-INFO.NAME'|translate}}</th>
        <td>{{booking.name}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER-INFO.EMAIL'|translate}}</th>
        <td>{{booking.email}}</td>
      </tr>
      <tr>
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER-INFO.PHONE'|translate}}</th>
        <td>{{booking.phone}}</td>
      </tr>
      <tr *ngIf="booking.comment">
        <th>{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER-INFO.COMMENT'|translate}}</th>
        <td>{{booking.comment}}</td>
      </tr>
    </tbody>
  </table>

  <mdb-card *ngIf="!booking.customer">
    <h4 class="text-center">{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER.MATCHES'|translate}}</h4>
    <hr class="mt-2 mb-2" />
    <table>
      <tbody>
        <tr *ngFor="let item of booking.customer_match">
          <td>
            <span [class.match]="item.match.firstname">{{item.firstname}} </span>
            <span [class.match]="item.match.name">{{item.name}}</span>
            <span *ngIf="item.email" [class.match]="item.match.email">, {{item.email}}</span>
            <span *ngIf="item.phone" [class.match]="item.match.phone">, {{item.phone}}</span>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary waves-effect waves-light"
              (click)="assignToCustomer(item.id)">
              {{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER.ASSIGN'|translate}}
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row mt-2">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="selectExistingCustomer()">
            {{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER.SELECT-EXISTING'|translate}}
        </button>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 push-lg-4">
        <div class="mt-1 hidden-sm-up"></div>
        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="addNewCustomer()">
          {{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER.ADD'|translate}}
        </button>
      </div>
    </div>
  </mdb-card>

  <mdb-card *ngIf="booking.customer">
    <h4 class="text-center">{{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER-CARD.TITLE'|translate}}</h4>
    <hr class="mt-2 mb-2" />
    <common-customer-card [customer]="booking.customer"> </common-customer-card>

    <div class="row mt-2">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="selectExistingCustomer()">
          {{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER.RESELECT-EXISTING'|translate}}
        </button>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4 push-lg-4">
        <div class="mt-1 hidden-sm-up"></div>
        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="addNewCustomer()">
          {{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.CUSTOMER.ADD'|translate}}
        </button>
      </div>
    </div>
  </mdb-card>

  <div class="row mt-2">
    <div class="col-xs-12 col-lg-4 push-lg-8">
      <button type="submit" class="btn btn-success btn-block waves-effect waves-light" (click)="approveBooking()">
        <i class="fa fa-check"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING.APPROVE'|translate}}
      </button>
      <div class="mb-1 hidden-xs-down"></div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-primary btn-block waves-effect waves-light" (click)="back()">
        <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'COMPONENT.COMMON-FORM.BACK'|translate}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 pull-lg-4">
      <div class="mt-1 hidden-sm-up"></div>
      <button type="submit" class="btn btn-danger btn-block waves-effect waves-light" (click)="declineBooking()">
        <i class="fa fa-remove"></i>&nbsp;&nbsp;&nbsp;&nbsp;
        {{'PAGE.UNHANDLED-BOOKINGS.UNHANDLED-BOOKING.BOOKING.DECLINE'|translate}}
      </button>
    </div>
  </div>
</common-card-page>

<app-ui-snackbar
  [display]="snackState.display"
  [autoHide]="snackState.autoHide"
  [eventData]="snackState.eventData"
  (animationStatusChange) = "animationStatusChange($event)">
    <h1 class="snack-header">{{snackState.header}}</h1>
    <div class="snack-body">{{snackState.message}}</div>
</app-ui-snackbar>

