include /jade/blocks_meik.pug
include ../calendar/pages_calendar.pug
include ../products/pages_products.pug
include ../employees/pages_employees.pug
include ../rooms/pages_rooms.pug
include ../customers/pages_customers.pug
include ../customers/pages_dossiers.pug

ng-controller(ng-controller="BookingsController as ng")
	+modal_simple
	+modal_info
	+loadingSpinner
	+admin_content("{{ng.ctrl.pagetitle}}")
		+pages_booking_all
		+pages_dossier_report
		+pages_dossier_case
		+pages_customer_choose_one
		+pages_customer_add
		+ng_conditional_page_header("630")
			+page_employee_choose_one
		+pages_room_choose_one
		+pages_product_choose_one
