//- ----------------------------------------------------------------------------
//- 100 - Booking Pages
//- -------------------

mixin pages_booking_all()
	+pages_booking_index
	+pages_booking_show_one
	+pages_booking_add
	+pages_booking_edit
	+pages_booking_delete
	+pages_booking_calendar

//- Index
//- -----------------------------------
mixin pages_booking_index()
	+page_booking_index

mixin page_booking_index()
	- locals.page = "100"
	+page_header
		.row
			+admin_tile_ma_id("10", "Termin erfassen","fa-calendar-plus-o","ng.ctrl.modules.bookings.addBooking()","badge-blue","")
			+admin_tile_ma_id("11", "Kalender","fa-calendar","ng.ctrl.modules.bookings.loadCalendar()","badge-blue","")
		+buttonrow_1("zurück", "pageBack")

//- 210 - Booking Show One
//- -----------------------------------
mixin pages_booking_show_one()
	+page_booking_show_one_business
	+page_booking_show_one_private
	+page_booking_show_one_onlinebooking

mixin page_booking_show_one_business()
	- locals.page = "110"
	+page_header
		+corner_button("modules.bookings.editBooking(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_booking_show_one_business")
			.card-block
				h4.card-title {{ng.ctrl.model.fields.title}}
				hr.mb-2
				+customer_card_collapse("model.fields.customer")
				+date_input_showonly("Datum", "date", "fa-calendar")
				+time_input_showonly("Zeit", "startTime", "fa-clock-o")
				+showonly_input_unit("Dauer", "duration", "fa-hourglass-o", "Min.")
				+showonly_input_unit("Pause nach Termin", "breakAfter", "fa-coffee", "Min.")
				+showonly_input_unit("Preis", "price", "fa-money", "CHF")
				+showonly_input_unit("Rabatt", "discount", "fa-percent", "%")

				+showonly_div("Fall", "{{ng.ctrl.modules.bookings.labelCaseShowpage()}}", "fa-folder-open")
				+showonly_div("Mitarbeiter", "{{ng.ctrl.modules.bookings.labelEmployeeShowpage()}}", "fa-user")
				+showonly_div("Raum", "{{ng.ctrl.modules.bookings.labelRoomShowpage()}}", "fa-cube")

				.text-xs-center
					h4 Leistungen
					hr.mb-2
					.mb-2.mt-3(ng-repeat="part in ng.ctrl.model.fields.bookingparts track by $index")
						.card
							.card-block
								.text-center
									ng-if(ng-if="part.title!=undefined")
										h4 {{part.title}}
									ng-if(ng-if="part.title==undefined")
										h4 Leistung {{$index + 1}}
									hr.mt-2.mb-2
								+showonly_textvar_input("Tarif", "productTariffLabel(part.tariff)", "fa-wpforms")
								span(ng-show="part.tariff == 590")
									+showonly_textvar_input("Tarifposition", "modules.bookings.tariffPostionLabel(part.tariffposition_id)", "")
								+showonly_input_repeat("Dauer", "duration", "bookingparts", "fa-clock-o", "Min.")
								span(ng-show="ng.ctrl.settings.organization.mwst == true")
									+showonly_textvar_input("MWST", "mwstGroupLabel(part.mwst_group)", "fa-percent")
				+showonly_div("Status", "{{ng.ctrl.modules.bookings.statusLabel(ng.ctrl.model.fields.status)}}", "fa-info-circle")
				ng-show(ng-if="ng.ctrl.model.fields.status == 'can' || ng.ctrl.model.fields.status == 'cao' || ng.ctrl.model.fields.status == 'cai' || ng.ctrl.model.fields.status == 'cas' || ng.ctrl.model.fields.status == 'cso'")
					+showonly_div("Absagegrund", "{{ng.ctrl.modules.bookings.cancelReasonLabel(ng.ctrl.model.fields.cancel_reason)}}", "")
				+showonly_textarea("Bemerkungen", "comment", "fa-sticky-note-o")
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Termin Bearbeiten", "modules.bookings.editBooking(ng.ctrl.model.fields.id)", "fa-pencil")
					+action_drop_position("Bericht schreiben", "modules.dossiers.addReport(ng.ctrl.model.fields)", "fa-file-text-o")(ng-if="ng.ctrl.modules.dossiers.hasReport(ng.ctrl.model.fields) == false")
					+action_drop_position("Bericht bearbeiten", "modules.dossiers.editReport(ng.ctrl.model.fields)", "fa-file-text-o")(ng-if="ng.ctrl.modules.dossiers.hasReport(ng.ctrl.model.fields) == true")
					//- +action_drop_position("Kopie an anderem Datum erstellen", "modules.bookings.addBooking(ng.ctrl.model.fields)", "fa-file-text-o")
					+action_drop_divider
					+action_drop_position("Termin absagen", "modules.bookings.cancelOneBooking()", "fa-remove")
					+action_drop_position("Termin nicht verrechnen", "modules.bookings.notinvoiceBooking(ng.ctrl.model.fields.id)", "fa-money")
	
mixin page_booking_show_one_private()
	- locals.page = "111"
	+page_header
		+corner_button("modules.bookings.editBooking(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_booking_show_one_private")
			.card-block
				h4.card-title {{ng.ctrl.model.fields.title}}
				hr.mb-2
				+date_input_showonly("Datum", "date", "fa-calendar")
				+time_input_showonly("Zeit", "startTime", "fa-clock-o")
				+showonly_input_unit("Dauer", "duration", "fa-hourglass-o", "Min.")
				+showonly_input("Ort", "location_title", "")
				+showonly_div("Mitarbeiter", "{{ng.ctrl.modules.bookings.labelEmployeeShowpage()}}", "fa-user")
				ng-if(ng-if="ng.ctrl.model.fields.status != 'nti' && ng.ctrl.model.fields.status != 'ope'")
					+showonly_div("Status", "{{ng.ctrl.modules.bookings.statusLabel(ng.ctrl.model.fields.status)}}", "fa-info-circle")
				ng-if(ng-if="ng.ctrl.model.fields.status == 'can' || ng.ctrl.model.fields.status == 'cao' || ng.ctrl.model.fields.status == 'cai' || ng.ctrl.model.fields.status == 'cas' || ng.ctrl.model.fields.status == 'cso'")
					+showonly_div("Absagegrund", "{{ng.ctrl.modules.bookings.cancelreasonLabel(ng.ctrl.model.fields.cancel_reason)}}")
				+showonly_textarea("Bemerkungen", "comment", "fa-sticky-note-o")
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Termin Bearbeiten", "modules.bookings.editBooking(ng.ctrl.model.fields.id)", "fa-pencil")
					+action_drop_position("Termin löschen", "modules.bookings.deleteBooking(ng.ctrl.model.fields.id)", "fa-remove")
					+action_drop_divider
					+action_drop_position("Termin absagen", "modules.bookings.cancelOneBooking()", "fa-remove")

mixin page_booking_show_one_onlinebooking()
	- locals.page = "112"
	+page_header
		+corner_button("modules.bookings.editBooking(ng.ctrl.model.fields.id)", "fa-pencil", "primary-color")
		+form_wo_cardblock("form_booking_show_one_onlinebooking")
			.card-block
				h4.card-title {{ng.ctrl.model.fields.title}}
				hr.mb-2
				+customer_card_collapse("model.fields.customer")
				+date_input_showonly("Datum", "date", "fa-calendar")
				+time_input_showonly("Zeit", "startTime", "fa-clock-o")
				+showonly_input_unit("Dauer", "duration", "fa-hourglass-o", "Min.")
				+showonly_input_unit("Pause nach Termin", "breakAfter", "fa-coffee", "Min.")
				+showonly_input_unit("Preis", "price", "fa-money", "CHF")
				+showonly_input_unit("Rabatt", "discount", "fa-percent", "%")

				+showonly_div("Fall", "{{ng.ctrl.modules.bookings.labelCaseShowpage()}}", "fa-folder-open")
				+showonly_div("Mitarbeiter", "{{ng.ctrl.modules.bookings.labelEmployeeShowpage()}}", "fa-user")
				+showonly_div("Raum", "{{ng.ctrl.modules.bookings.labelRoomShowpage()}}", "fa-cube")

				.text-xs-center
					h4 Leistungen
					hr.mb-2
					.mb-2.mt-3(ng-repeat="part in ng.ctrl.model.fields.bookingparts track by $index")
						.card
							.card-block
								.text-center
									ng-if(ng-if="part.title!=undefined")
										h4 {{part.title}}
									ng-if(ng-if="part.title==undefined")
										h4 Leistung {{$index + 1}}
									hr.mt-2.mb-2
								+showonly_textvar_input("Tarif", "productTariffLabel(part.tariff)", "fa-wpforms")
								span(ng-show="part.tariff == 590")
									+showonly_textvar_input("Tarifposition", "modules.bookings.tariffPostionLabel(part.tariffposition_id)", "")
								+showonly_input_repeat("Dauer", "duration", "bookingparts", "fa-clock-o", "Min.")
								span(ng-show="ng.ctrl.settings.organization.mwst == true")
									+showonly_textvar_input("MWST", "mwstGroupLabel(part.mwst_group)", "fa-percent")
				+showonly_div("Status", "{{ng.ctrl.modules.bookings.statusLabel(ng.ctrl.model.fields.status)}}", "fa-info-circle")
				ng-show(ng-if="ng.ctrl.model.fields.status == 'can' || ng.ctrl.model.fields.status == 'cao' || ng.ctrl.model.fields.status == 'cai' || ng.ctrl.model.fields.status == 'cas' || ng.ctrl.model.fields.status == 'cso'")
					+showonly_div("Absagegrund", "{{ng.ctrl.modules.bookings.cancelReasonLabel(ng.ctrl.model.fields.cancel_reason)}}", "")
				+showonly_textarea("Bemerkungen", "comment", "fa-sticky-note-o")
				+buttonrow_action_dropup_back("Aktionen")
					+action_drop_position("Termin Bearbeiten", "modules.bookings.editBooking(ng.ctrl.model.fields.id)", "fa-pencil")
					+action_drop_position("Bericht schreiben", "modules.dossiers.addReport(ng.ctrl.model.fields)", "fa-file-text-o")(ng-if="ng.ctrl.modules.dossiers.hasReport(ng.ctrl.model.fields) == false")
					+action_drop_position("Bericht bearbeiten", "modules.dossiers.editReport(ng.ctrl.model.fields)", "fa-file-text-o")(ng-if="ng.ctrl.modules.dossiers.hasReport(ng.ctrl.model.fields) == true")
					//- +action_drop_position("Kopie an anderem Datum erstellen", "modules.bookings.addBooking(ng.ctrl.model.fields)", "fa-file-text-o")
					+action_drop_divider
					+action_drop_position("Onlinebuchung annehmen", "modules.bookings.approveOnlineBooking(ng.ctrl.model.fields.onlinebooking.id)", "fa-check")(ng-if="ng.ctrl.model.fields.onlinebooking.status == 'ope' || ng.ctrl.model.fields.onlinebooking.status == 'opa'")
					+action_drop_position("Onlinebuchung ablehnen", "modules.bookings.declineOnlineBooking(ng.ctrl.model.fields.onlinebooking.id)", "fa-close")(ng-if="ng.ctrl.model.fields.onlinebooking.status == 'ope' || ng.ctrl.model.fields.onlinebooking.status == 'opa'")
					+action_drop_divider
					+action_drop_position("Termin absagen", "modules.bookings.cancelOnlineBooking()", "fa-remove")
					+action_drop_position("Termin nicht verrechnen", "modules.bookings.notinvoiceBooking(ng.ctrl.model.fields.id)", "fa-money")

//- Booking Add
//- -----------------------------------
mixin pages_booking_add()
	+page_booking_add

mixin page_booking_add()
	- locals.page = "140"
	+page_header
		+form_wo_card("form_booking_add")
			.tabs-wrapper
				ul.nav.classic-tabs.primary-color(role="tablist")
					li.nav-item(style="margin-left: 0px;")
						a.nav-link.waves-light.active(data-toggle="tab" role="tab" href="#tab-geschaeftlich" ng-click="ng.ctrl.modules.bookings.switchPage($event, 100)") Geschäftlich
					li.nav-item
						a.nav-link.waves-light(data-toggle="tab" role="tab" href="#tab-privat" ng-click="ng.ctrl.modules.bookings.switchPage($event, 200)") Privat
			//- +radio_pageswitch("modules.bookings.pageSwitch", "type")(ng-change="ng.ctrl.modules.bookings.onSubpageChange()")
			.card.tab-content.pt-1
				.tab-pane.fade.in.show.active.pt-1#tab-geschaeftlich(ng-show="ng.ctrl.model.fields.type == 100" style="border:0px; padding:0px;")
					+choose_input("Kunde *", "customer_id", "modules.bookings.addLabelCustomer()", "modules.customers.chooseCustomer()", "fa-chevron-right")
					+choose_input("Leistung *", "product_id", "modules.bookings.addLabelProduct()", "modules.products.chooseProduct('', '?type=10&active=1')", "fa-chevron-right")
					+date_input("Datum *", "date")
					+time_input("Zeit *", "startTime")
					ng-if.animate-if(ng-show="ng.ctrl.model.fields.product_id > 0")
						.text-xs-center
							h4 Leistungen
							hr.mb-2
							.mb-3
								.card(ng-repeat="part in ng.ctrl.model.fields.bookingparts track by $index")
									.card-block
										h4 Leistung {{$index + 1}}
										hr.mb-2
										+select_input_int_repeat("Tarif", "tariff", "productTariffs", "label", "bookingparts")
										// +number_input_repeat("Tarif", "tariff", "bookingparts")
										span(ng-show="ng.ctrl.model.fields.bookingparts[$index].tariff == 590")
											+select_input_int_repeat("Tarifposition", "tariffposition_id", "modules.bookings.tariffpositions", "label", "bookingparts")
										span(ng-show="ng.ctrl.model.fields.bookingparts[$index].tariff == 999")
											+string_input_repeat("Tariftitel", "title", "bookingparts")
										//- +individual_input_changecheck_repeat("Dauer", "duration", "number", "modules.bookings.updatePriceDuration()", "bookingparts")
										+number_input_unit_repeat("Dauer *", "duration", "bookingparts", "Min.", "0")(ng-change="ng.ctrl.modules.bookings.updatePriceDuration()")
										span(ng-show="ng.ctrl.settings.organization.mwst == true")
											+select_input_int_repeat("MWST *", "mwst_group", "mwstGroups", "label", "bookingparts")
											//- +showonly_textvar_input("MWST", "mwstGroupLabel(part.mwst_group)")
						+form_show_modelvar_unit("Gesamtdauer des Termins", "duration", "Min.")
						+number_input_unit("Pause nach Termin", "breakAfter", "Min.", "0")
						+number_input_unit("Rabatt", "discount", "%", "0")(ng-change="ng.ctrl.modules.bookings.updatePriceDuration()")
						//- +individual_input_changecheck("Rabatt", "discount", "number", "modules.bookings.updatePriceDuration()")
						+form_show_modelvar_unit("Preis", "price", "CHF")
					+choose_input("Fall *", "case_id", "modules.bookings.labelCase()", "modules.dossiers.chooseCase(ng.ctrl.model.fields.customer_id)", "fa-chevron-right")(ng-if="ng.ctrl.modules.bookings.showCaseChoose() == 2")
					+choose_input("Fall *", "case_id", "modules.bookings.labelCase()", "modules.dossiers.addCase(ng.ctrl.model.fields.customer.id)", "fa-plus")(ng-if="ng.ctrl.modules.bookings.showCaseChoose() == 1")
					+choose_input("Mitarbeiter *", "employee_id", "modules.bookings.addLabelEmployee()", "modules.bookings.chooseEmployeeForBooking()", "fa-chevron-right")(ng-if="ng.ctrl.modules.bookings.showEmpChoose()")
					+choose_input("Raum *", "room_id", "modules.bookings.addLabelRoom()", "modules.bookings.chooseRoomForBooking()", "fa-chevron-right")(ng-if="ng.ctrl.modules.bookings.showRoomChoose()")
					//- +required_error("Mitarbeiter", "employee_id")
					//- +required_error("Raum", "room_id")
					//- +required_error("Kunde", "customer_id")
					+text_input("Bemerkungen", "comment")
				.tab-pane.fade.in.show.pt-1#tab-privat(ng-show="ng.ctrl.model.fields.type == 200" style="border:0px; padding:0px;")
					+string_input("Titel des Termins *", "title")
					+date_input("Datum *", "date")
					+time_input("Zeit *", "startTime")
					+number_input("Dauer (in Min.) *", "duration", "0")
					+string_input("Ort", "location_title")
					+text_input("Bemerkungen", "comment")
				+buttonrow_cta_cancel("Speichern", "")

//- Booking Edit
//- -----------------------------------
mixin pages_booking_edit()
	+page_booking_edit
	
mixin page_booking_edit()
	- locals.page = "150"
	+page_header
		+form("form", "speichern")
			ng-if(ng-if="ng.ctrl.model.fields.type == 100")
				+choose_input("Kunde *", "customer_id", "modules.bookings.addLabelCustomer()", "modules.customers.chooseCustomer()", "fa-chevron-right")
				+choose_input("Leistung *", "product_id", "modules.bookings.addLabelProduct()", "modules.products.chooseProduct('', '?type=10&active=1')", "fa-chevron-right")
				//-
					+content_box_list_form()
						+content_box_forward("{{ng.ctrl.modules.bookings.addLabelCustomer()}}", "modules.customers.chooseCustomer()")
						+content_box_forward("{{ng.ctrl.modules.bookings.addLabelProduct()}}", "modules.products.chooseProduct('', '?type=10&active=1')")
					+required_error("Leistung", "product_id")
				+date_input("Datum *", "date")
				+time_input("Zeit *", "startTime")

				+choose_input("Fall *", "case_id", "modules.bookings.labelCase()", "modules.dossiers.chooseCase(ng.ctrl.model.fields.customer_id)", "fa-chevron-right")(ng-if="ng.ctrl.modules.bookings.showCaseChoose() == 2")
				+choose_input("Fall *", "case_id", "modules.bookings.labelCase()", "modules.dossiers.addCase(ng.ctrl.model.fields.customer.id)", "fa-plus")(ng-if="ng.ctrl.modules.bookings.showCaseChoose() == 1")
				+choose_input("Mitarbeiter *", "employee_id", "modules.bookings.addLabelEmployee()", "modules.bookings.chooseEmployeeForBooking()", "fa-chevron-right")(ng-if="ng.ctrl.modules.bookings.showEmpChoose()")
				+choose_input("Raum *", "room_id", "modules.bookings.addLabelRoom()", "modules.bookings.chooseRoomForBooking()", "fa-chevron-right")(ng-if="ng.ctrl.modules.bookings.showRoomChoose()")

				ng-if(ng-show="ng.ctrl.model.fields.product_id > 0")
					.text-xs-center
						h4 Leistungen
						hr.mb-2
						.mb-3
							.card(ng-repeat="part in ng.ctrl.model.fields.bookingparts track by $index")
								.card-block
									h4 Leistung {{$index + 1}}
									hr.mb-2
									+select_input_int_repeat("Tarif", "tariff", "productTariffs", "label", "bookingparts")
									// +number_input_repeat("Tarif", "tariff", "bookingparts")
									span(ng-show="ng.ctrl.model.fields.bookingparts[$index].tariff == 590")
										+select_input_int_repeat("Tarifposition", "tariffposition_id", "modules.bookings.tariffpositions", "label", "bookingparts")
									span(ng-show="ng.ctrl.model.fields.bookingparts[$index].tariff == 999")
										+string_input_repeat("Tariftitel", "title", "bookingparts")
									+individual_input_changecheck_repeat("Dauer (in Min.) *", "duration", "number", "modules.bookings.updatePriceDuration()", "bookingparts")
									span(ng-show="ng.ctrl.settings.organization.mwst == true")
										+select_input_int_repeat("MWST *", "mwst_group", "mwstGroups", "label", "bookingparts")
										//- +showonly_textvar_input("MWST", "mwstGroupLabel(part.mwst_group)")
					+form_show_modelvar_unit("Gesamtdauer des Termins", "duration", "Min.")
					+number_input("Pause nach Termin (in Min.)", "breakAfter", "0")
					+individual_input_changecheck("Rabatt (in %)", "discount", "number", "modules.bookings.updatePriceDuration()")
					+form_show_modelvar_unit("Preis", "price", "CHF")
				//-
					ng-if(ng-if="ng.ctrl.modules.bookings.showEmpChoose() || ng.ctrl.modules.bookings.showRoomChoose() || ng.ctrl.modules.bookings.showCaseChoose() > 0")
						+content_box_list_form()
							ng-if(ng-if="ng.ctrl.modules.bookings.showCaseChoose() == 2")
								+content_box_forward("{{ng.ctrl.modules.bookings.labelCase()}}", "modules.dossiers.chooseCase(ng.ctrl.model.fields.customer.id)")
							ng-if(ng-if="ng.ctrl.modules.bookings.showCaseChoose() == 1")
								+content_box_forward("Neuen Fall eröffnen", "modules.dossiers.addCase(ng.ctrl.model.fields.customer.id)")
							ng-if(ng-if="ng.ctrl.modules.bookings.showEmpChoose()")
								+content_box_forward("{{ng.ctrl.modules.bookings.addLabelEmployee()}}", "modules.bookings.chooseEmployeeForBooking()")
							ng-if(ng-if="ng.ctrl.modules.bookings.showRoomChoose()")
								+content_box_forward("{{ng.ctrl.modules.bookings.addLabelRoom()}}", "modules.bookings.chooseRoomForBooking()")
				+text_input("Bemerkungen", "comment")
			ng-if(ng-if="ng.ctrl.model.fields.type == 200")
				+string_input("Titel des Termins *", "title")
				+date_input("Datum *", "date")
				+time_input("Zeit *", "startTime")
				+number_input("Dauer (in Min.) *", "duration", "0")
				+choose_input("Mitarbeiter", "employee_id", "modules.bookings.addLabelEmployee()", "modules.bookings.chooseEmployeeForBooking()", "fa-chevron-right")
				+choose_input("Raum", "room_id", "modules.bookings.addLabelRoom()", "modules.bookings.chooseRoomForBooking()", "fa-chevron-right")
				+string_input("Ort", "location_title")
				+text_input("Bemerkungen", "comment")
			ng-if(ng-if="ng.ctrl.model.fields.type == 300")
				+customer_card_collapse("model.fields.customer")

				+choose_input("Fall *", "case_id", "modules.bookings.labelCase()", "modules.dossiers.chooseCase(ng.ctrl.model.fields.customer_id)", "fa-chevron-right")(ng-if="ng.ctrl.modules.bookings.showCaseChoose() == 2")
				+choose_input("Fall *", "case_id", "modules.bookings.labelCase()", "modules.dossiers.addCase(ng.ctrl.model.fields.customer.id)", "fa-plus")(ng-if="ng.ctrl.modules.bookings.showCaseChoose() == 1")
				+choose_input("Raum *", "room_id", "modules.bookings.addLabelRoom()", "modules.bookings.chooseRoomForBooking()", "fa-chevron-right")(ng-if="ng.ctrl.modules.bookings.showRoomChoose()")

				+number_input("Pause nach Termin (in Min.)", "breakAfter", "0")
				+individual_input_changecheck("Rabatt (in %)", "discount", "number", "modules.bookings.updatePriceDuration()")
				+text_input("Bemerkungen", "comment")

				.text-xs-center
					h4 Informationen
					hr.mb-2
				+showonly_div("Leistung", "{{ng.ctrl.model.fields.product.title}}", "fa-shopping-basket")
				+showonly_div("Mitarbeiter", "{{ng.ctrl.modules.bookings.labelEmployeeShowpage()}}", "fa-user")
				+date_input_showonly("Datum", "date", "fa-calendar")
				+time_input_showonly("Zeit", "startTime", "fa-clock-o")
				+showonly_input_unit("Gesamtdauer des Termins", "duration", "fa-hourglass-o", "Min.")
				+showonly_input_unit("Preis", "price", "fa-money", "CHF")
				
				ng-if(ng-show="ng.ctrl.model.fields.product_id > 0")
					.text-xs-center
						h4 Leistungen
						hr.mb-2
						.mb-3
							.card(ng-repeat="part in ng.ctrl.model.fields.bookingparts track by $index")
								.card-block
									h4 Leistung {{$index + 1}}
									hr.mb-2
									+select_input_int_repeat("Tarif", "tariff", "productTariffs", "label", "bookingparts")
									//- +number_input_repeat("Tarif", "tariff", "bookingparts")
									span(ng-show="ng.ctrl.model.fields.bookingparts[$index].tariff == 590")
										+select_input_int_repeat("Tarifposition", "tariffposition_id", "modules.bookings.tariffpositions", "label", "bookingparts")
									span(ng-show="ng.ctrl.model.fields.bookingparts[$index].tariff == 999")
										+string_input_repeat("Tariftitel", "title", "bookingparts")
									+individual_input_changecheck_repeat("Dauer (in Min.) *", "duration", "number", "modules.bookings.updatePriceDuration()", "bookingparts")
									span(ng-show="ng.ctrl.settings.organization.mwst == true")
										+select_input_int_repeat("MWST *", "mwst_group", "mwstGroups", "label", "bookingparts")
										//- +showonly_textvar_input("MWST", "mwstGroupLabel(part.mwst_group)")
					
			+buttonrow_1("Termin absagen", "cancelOneBooking")

//- Calendar Booking Cancel One
//- -----------------------------------
mixin pages_booking_delete()
	+page_booking_cancel_one
	+page_booking_cancel_onlinebooking
	
mixin page_booking_cancel_one()
	- locals.page = "160"
	+page_header
		+form("form_booking_cancel", "Absagen")
			+date_input("Datum der Absage *", "cancelledAt")
			+select_input_int("Absagegrund", "cancel_reason", "ng.ctrl.modules.bookings.cancelReasons", "label")
			ng-show(ng-show="ng.ctrl.model.fields.status != 'nti'")
				+checkbox("Termin verrechnen? *", "invoiceable")
			ng-show(ng-show="ng.ctrl.model.fields.invoiceable == true")
				+number_input("Verrechnungspreis (in CHF) *", "price")
			+text_input("Bemerkungen", "comment")

mixin page_booking_cancel_onlinebooking()
	- locals.page = "161"
	+page_header
		+form("form_booking_cancel_onlinebooking", "Absagen")
			+date_input("Datum der Absage *", "cancelledAt")
			+select_input_int("Absagegrund", "cancel_reason", "ng.ctrl.modules.bookings.cancelReasons", "label")
			ng-show(ng-show="ng.ctrl.model.fields.status != 'nti'")
				+checkbox("Termin verrechnen? *", "invoiceable")
			ng-show(ng-show="ng.ctrl.model.fields.invoiceable == true")
				+number_input("Verrechnungspreis (in CHF) *", "price")
			+text_input("Bemerkungen", "comment")

//- Calendar
//- -----------------------------------
mixin pages_booking_calendar()
	+page_booking_calendar
	
mixin page_booking_calendar()
	- locals.page = "170"
	+page_header_show()
		+sideNav(locals.page)
			+sideNavMenu("Kalender Ansicht", "fa-calendar-o", true, true)
				li(style="text-align:center; margin-bottom: 5px; margin-top:-5px;")
					.switch.same-color
						label
							i.fa.fa-calendar.mt-1.ml-0.mr-1
							input(type="checkbox" ng-model="ng.ctrl.modules.bookings.calendarViewStyle" ng-change="ng.ctrl.modules.bookings.onCalendarStyleChange()")
							span.lever(style="margin-top:-6px;")
							i.fa.fa-list.mt-1.ml-1.mr-0
				li
					a.waves-effect(ng-click="ng.ctrl.modules.bookings.changeCalendarViewType(1)")
						.form-group
							input.filled-in.bb-checkbox-blue(id="calSideNavDay" type="checkbox" ng-model="ng.ctrl.modules.bookings.calendarViewActive.day" ng-click="ng.ctrl.modules.bookings.changeCalendarViewType(1)")
							label(for="calSideNavDay") Tag
				li.hidden-lg-up
					a.waves-effect(ng-click="ng.ctrl.modules.bookings.changeCalendarViewType(2)")
						.form-group
							input.filled-in.bb-checkbox-blue(id="calSideNav3Day" type="checkbox" ng-model="ng.ctrl.modules.bookings.calendarViewActive.threeday" ng-click="ng.ctrl.modules.bookings.changeCalendarViewType(2)")
							label(for="calSideNav3Day") 3-Tage
				li
					a.waves-effect(ng-click="ng.ctrl.modules.bookings.changeCalendarViewType(3)")
						.form-group
							input.filled-in.bb-checkbox-blue(id="calSideNavWeek" type="checkbox" ng-model="ng.ctrl.modules.bookings.calendarViewActive.week" ng-click="ng.ctrl.modules.bookings.changeCalendarViewType(3)")
							label(for="calSideNavWeek") Woche
				li.hidden-md-down
					a.waves-effect(ng-click="ng.ctrl.modules.bookings.changeCalendarViewType(4)")
						.form-group
							input.filled-in.bb-checkbox-blue(id="calSideNavMonth" type="checkbox" ng-model="ng.ctrl.modules.bookings.calendarViewActive.month" ng-click="ng.ctrl.modules.bookings.changeCalendarViewType(4)")
							label(for="calSideNavMonth") Monat
			+sideNavMenu("Mitarbeiter", "fa-user", true, true)(ng-show="ng.ctrl.modules.bookings.calendarSettings.employeeCount > 1")
				li(ng-repeat="emp in ng.ctrl.modules.bookings.calendarSettings.employees track by $index")
					a.waves-effect(ng-click="ng.ctrl.modules.bookings.showHideEmployee(emp.id)")
						.form-group
							input.filled-in.bb-checkbox-blue(id="sideNav_emp_{{emp.id}}" type="checkbox" ng-model="emp.show")
							label(for="sideNav_emp_{{emp.id}}") {{emp.firstname || ""}} {{emp.name || ""}}
			+sideNavMenu("Räume", "fa-cube", true, true)(ng-show="ng.ctrl.modules.bookings.calendarSettings.roomCount > 1")
				li(ng-repeat="room in ng.ctrl.modules.bookings.calendarSettings.rooms track by $index")
					a.waves-effect(ng-click="ng.ctrl.modules.bookings.showHideRoom(room.id)")
						.form-group
							input.filled-in.bb-checkbox-blue(id="sideNav_room_{{room.id}}" type="checkbox" ng-model="room.show")
							label(for="sideNav_room_{{room.id}}") {{room.title || ""}}
		.md-form.input-group.pb-0.mb-1
			.w-100(style="display:table-row;")
				span.input-group-btn.hidden-md-down(style="width:11rem;")
					button.btn.btn-primary.btn-block.btn-lg.mb-0(type="button" ng-click="ng.ctrl.pageBack()")
						| Desktop
				input.form-control.hidden-md-down(type="text" ng-value="ng.ctrl.modules.bookings.calendarTitle()" style=" text-align: center; padding-bottom: 0.4rem; padding-top: 0.5rem; font-size: 1.8rem; color: #000; padding-left: 0; padding-right: 0; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;" placeholder="" readonly)
				span.input-group-btn.hidden-md-down(style="width:8rem;")
					button.btn.btn-primary.btn-block.btn-lg.mr-0.mb-0(type="button" ng-click="ng.ctrl.modules.bookings.calendarToday()") Heute
				span.input-group-btn
					button.btn.btn-primary.btn-block.btn-lg.mb-0(type="button" ng-click="ng.ctrl.modules.bookings.calendarPrev()")
						i.fa.fa-chevron-left
				span.input-group-btn.hidden-lg-up.w-100
					button.btn.btn-primary.btn-block.btn-lg.mb-0(type="button" ng-click="ng.ctrl.modules.bookings.calendarToday()") Heute
				span.input-group-btn
					button.btn.btn-primary.btn-block.btn-lg.mb-0(type="button" ng-click="ng.ctrl.modules.bookings.calendarNext()")
						i.fa.fa-chevron-right
		div(ui-calendar="ng.ctrl.modules.bookings.calendar" ng-model="ng.ctrl.modules.bookings.eventSource" calendar="bookingCalendar")
		.row.mt-1(class="hidden-lg-up")
			.col-xs-12.col-lg-4(ng-if="ng.ctrl.pageBack !== undefined")
				button.btn.btn-primary.btn-block.btn-text-ellipsis(ng-click="ng.ctrl.pageBack()" type="button") Zurück
