//output:$1.html
include /jade/blocks_meik.pug
include ../insurances/pages_insurances.pug

ng-controller(ng-controller="InsurancesController as ng")
	+modal_simple
	+admin_content("{{ng.ctrl.pagetitle}}")
		+ng_conditional_page_header("1")
			+page_insurance_show_all
		+ng_conditional_page_header("2")
			+page_insurance_addedit
