//- ----------------------------------------------------------------------------
//- 900 - Insurance Pages
//- -------------------

mixin page_insurance_show_all()
	.row
		.col-xs-12.col-sm-6.col-lg-4
			button.btn.btn-block.btn-primary(type="button" ng-click="ng.ctrl.addInsurance()")
				i.fa.fa-plus
				| &nbsp;&nbsp;&nbsp;Neue Krankenkasse hinzufügen
	.row(style="padding: 15px 0 15px 0")
		.col-md-12
			table.table
				thead
					tr.row
						th.col-xs-9 Name
						th.col-xs-3 Aktionen
				tbody
					tr.row(ng-repeat="r in ng.ctrl.models")
						td.col-xs-9 {{r.name}}
						td.col-xs-3
							a.teal-text(ng-click="ng.ctrl.editInsurance(r.id);")
								i.fa.fa-pencil
							a.red-text(ng-click="ng.ctrl.deleteInsurance(r.id);")
								i.fa.fa-times
	+buttonrow_1("zurück", "pageBack")

mixin page_insurance_addedit()
	+form("form", "speichern")
		+string_input("Name", "name")
