<div class="row hidden-md-down">
<!--
  <div class="col-md-3 syslinks_col" *ngFor="let link of links">
    <button type="button" class="button btn-sm btn-block btn-primary" routerLink="./{{link.code}}" [innerHtml]="'PAGE.DESKTOP.SYSTEM-LINKS.' + link.code.toUpperCase() + '.TITLE'|translate"></button>
  </div>
-->
  <div class="col-md-3 syslinks_col">
    <button type="button" class="button btn-sm btn-block btn-primary" (click)="showMyModulesPage()"><i class="fa fa-table" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_MY_MODULES'|translate}}</button>
  </div>
  <div class="col-md-3 syslinks_col">
    <button type="button" class="button btn-sm btn-block btn-warning" (click)="showRecommendPage()"><i class="fa fa-heart" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_RECOMMEND'|translate}}</button>
  </div>
  <div class="col-md-3 syslinks_col">
    <button type="button" class="button btn-sm btn-block btn-primary" (click)="showSupportPage()"><i class="fa fa-medkit" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_SUPPORT'|translate}}</button>
  </div>
  <div class="col-md-3 syslinks_col">
    <button type="button" class="button btn-sm btn-block btn-primary" (click)="showFeedbackPage()"><i class="fa fa-star-half-full" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_FEEDBACK'|translate}}</button>
  </div>
</div>

<div class="row syslinks_row hidden-md-down">
  <div class="col-md-3 syslinks_col">
    <button type="button" class="button btn-sm btn-block btn-primary" (click)="showPdfPreisblatt()"><i class="fa fa-cubes" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_PDF_PRICING'|translate}}</button>
  </div>
  <div class="col-md-3 syslinks_col">
    <button type="button" class="button btn-sm btn-block btn-primary" (click)="showPdfManual()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_PDF_MANUAL'|translate}}</button>
  </div>
  <div class="col-md-3 syslinks_col">
    <button type="button" class="button btn-sm btn-block btn-primary" (click)="showVideosPage()"><i class="fa fa-video-camera" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_VIDEOS'|translate}}</button>
  </div>
  <div class="col-md-3 syslinks_col">
    &nbsp;
  </div>
</div>

<div class="hidden-lg-up">
  <div *ngIf="!showMenu">
    <button type="button" class="btn btn-sm btn-block btn-outline-primary" (click)="toggleMenu()">Support, Handbuch, Preise, Feedback etc. anzeigen</button>
  </div>
  <div *ngIf="showMenu">
    <button type="button" class="btn btn-sm btn-block btn-outline-primary" (click)="toggleMenu()">Support, Handbuch, Preise, Feedback etc. verbergen</button>
    <div class="row" style="margin-top: 15px;">
      <div class="col-md-3 syslinks_col">
        <button type="button" class="button btn-sm btn-block btn-primary" (click)="showMyModulesPage()"><i class="fa fa-table" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_MY_MODULES'|translate}}</button>
      </div>
      <div class="col-md-3 syslinks_col">
        <button type="button" class="button btn-sm btn-block btn-warning" (click)="showRecommendPage()"><i class="fa fa-heart" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_RECOMMEND'|translate}}</button>
      </div>
      <div class="col-md-3 syslinks_col">
        <button type="button" class="button btn-sm btn-block btn-primary" (click)="showSupportPage()"><i class="fa fa-medkit" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_SUPPORT'|translate}}</button>
      </div>
      <div class="col-md-3 syslinks_col">
        <button type="button" class="button btn-sm btn-block btn-primary" (click)="showFeedbackPage()"><i class="fa fa-star-half-full" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_FEEDBACK'|translate}}</button>
      </div>
    </div>

    <div class="row syslinks_row" style="margin-bottom: 10px;">
      <div class="col-md-3 syslinks_col">
        <button type="button" class="button btn-sm btn-block btn-primary" (click)="showPdfPreisblatt()"><i class="fa fa-cubes" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_PDF_PRICING'|translate}}</button>
      </div>
      <div class="col-md-3 syslinks_col">
        <button type="button" class="button btn-sm btn-block btn-primary" (click)="showPdfManual()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_PDF_MANUAL'|translate}}</button>
      </div>
      <div class="col-md-3 syslinks_col">
        <button type="button" class="button btn-sm btn-block btn-primary" (click)="showVideosPage()"><i class="fa fa-video-camera" aria-hidden="true"></i>{{'PAGE.DESKTOP.SYSTEM-LINKS.BTN_VIDEOS'|translate}}</button>
      </div>
    </div>

  </div>
</div>
