admin-system-links {
  .syslinks_row {
    margin-bottom: 20px;
  }

  .syslinks_col {
    background-color: #EAEAEA;
    padding: 10px 20px 10px 20px;
  }

  .syslinks_col > button > i {
    margin-right: 10px;
  }

  a, a:visited, a:focus, a:hover {
    color: #373a3c;
    text-decoration: underline;
    font-size: 0.8rem;
  }
}
